.container {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
    padding: 5px;
}

.container div {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.range_status_container {
    width: 10.5px;
    height: 10.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */

    background: rgba(235, 235, 255, 0.25);
    border-radius: 50%;
}
.inner_circle_1 {
    width: 8.5px;
    height: 8.5px;

    display: flex;
    justify-content: center;

    background: #71d7ad;
    border-radius: 50%;
}

.inner_circle_positive {
    width: 7.5px;
    height: 7.5px;
    background: var(--positive);
    border-radius: 50%;
}
.inner_circle_negative {
    width: 7.5px;
    height: 7.5px;
    background: var(--negative);
    border-radius: 50%;
}
.inner_circle_ambient {
    width: 7.5px;
    height: 7.5px;
    background: var(--title-gradient);
    border-radius: 50%;
}
