#fee_rate_chart , #tvl_chart{
    display: grid;
    grid-template-rows: minmax(1em, max-content) auto 1fr auto;
    grid-template-columns: auto 1fr auto minmax(1em, max-content);
    height: 15%;
    min-height: 3rem;
}

