.selector_select {
  
  
    color: white;
    border: 0;
    border-radius: var(--border-radius);
    background: transparent;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    letter-spacing: -0.02em;
    color: var(--text-grey-light);
  }
  .selector_select_container {
    position: relative;
  
  }
  
  
  
  
  
  .custom_arrow {
    position: absolute;
    top: 0;
    right: 0;
  
    display: block;
  
    width: 3rem;
    height: 1rem;
    height: 100%;
  
    pointer-events: none;
  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    
  }
  
  .selector_icon {
    width: 10px;
  }
  
  .menu_content{
   
    /* background:var(--dark3); */
  
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: var(--border);
    border-radius: 4px;
    padding: 12px;
    overflow: hidden;
    z-index: 2;
width: 200px;
    background: rgba(110, 90, 169, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

  .menu_content ul, .menu_content li{
    text-decoration: none;
    list-style-type: none;
  }
  .network_item{

    /* display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; */
    transition: background 500ms;
   /* background:var(--dark3); */
   padding: 8px 0;
   cursor: pointer;
   text-decoration: none;
  }

  .network_item:hover{
    background-color: var(--dark2);
  }