.dropdown_menu_container {
    min-width: 100px;
    z-index: 99999;
    background-color: var(--dark2);
   
    border-radius: 4px;
    grid-gap: 4px;
    gap: 4px;
    height: 31px;
}

.selector_select {
    color: var(--text1);
    border: 0;
    border-radius: var(--border-radius);
    background: transparent;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    letter-spacing: -0.02em;
    color: var(--text2);
    z-index: 999;
}
.selector_select_container {
    position: relative;
}

.custom_arrow {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    width: 3rem;
    height: 1rem;
    height: 100%;

    pointer-events: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.selector_icon {
    width: 10px;
}

.menu_content {
    width: 200px;
    padding: 12px;
    overflow: hidden;
    z-index: 2;
    background: var(--dark2);
    border-radius: var(--border-radius);
    z-index: 999;
}

.menu_content ul,
.menu_content li {
    text-decoration: none;
    list-style-type: none;
}
.network_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background 500ms;
    padding: 8px 0;
    cursor: pointer;
    text-decoration: none;
}

.network_item:hover {
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 4px;
}

.icon_button {
    width: 25px;
    margin-right: 0.5rem;
    background: var(--dark1);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.icon_button:hover {
    filter: none;
}

.chain_name_status {
    padding: 0.6rem 0;
    font-size: var(--header2-size);
    width: 100%;
    color: var(--text1);
    z-index: 9999;
}

.chain_name_status:hover, .chain_name_status:focus-visible {
    filter: drop-shadow(0 0 5px var(--text1));
}

.chain_name_status img {
    margin-right: 0.5em;
    vertical-align: middle;
}
