.menu{
    z-index: 999;
    position: relative;
}

.menu ul, .menu li{
    list-style: none;
    margin: 0;
    padding: 10px;
    color: white;
}

.menu ul{
    display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
}
.main_container{
    position: absolute;
    top: 60px;
    right: 0;
    
}

.main_container li{
  
        color: white;
        display: block;
        color: blue;
      
}

.main_button{
    -webkit-appearance: button;
  background: white;
  color: blue;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}

.main_button path {
    fill: blue;
  }