.mainSection {
    display: grid;
    gap: initial;
    grid-template-columns: auto 390px;
    padding: 0 8px;
    height: 100%;
    height: calc(100dvh - 75px);
}

.chartSection {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--dark3);
}

@media (max-width: 1200px) {
    .mainSection {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .mainSection {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
