.main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--header1-size);
    color: var(--text2);
}

.main_container svg {
    color: var(--text2);
    height: 20px;
    width: 20px;
}

.main_container svg:hover {
    color: var(--accent1) !important;
}

.title {
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: var(--text1);
}

.settings_icon {
    margin: 0.5rem 0 0.5rem 1rem;
    cursor: pointer;
    /* height: 30px;
    width: 30px; */
}

.close_icon {
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0;
    height: 30px;
    width: 30px;
}
