.remove_range_container {
    max-width: 400px;
}

.main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.remove_range_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.settings_button {
    cursor: pointer;
}

.remove_range_settings_container {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 40px;
}
.header_container {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 10px;
    align-items: center;
}

.settings_icon {
    cursor: pointer;
    padding: 1rem;
    animation: all 500ms ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.confirmation_container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* align-items: center; */
}

.button {
    cursor: pointer;
}

.confirmation_content {
    width: 100%;
}

/* gasless container */

.gasless_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
}
.gasless_container h3 {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

/* tooltip explanation */
.explanation_details {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 1px solid var(--dark2);

    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 0.2rem 0.5rem;
}

.extra_row {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.align_center {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 5px;
}
