.token_list_card_container {
    padding: 0 1rem;
}

.token_list_card_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    transition: all var(--animation-speed) ease-in-out;
    border-radius: var(--border-radius);
    background: var(--dark1);
}

.token_list_card_content:hover {
    background: var(--dark2);
    color: var(--text1);
}

.left_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.token_list_card_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1rem;
}

.token_list_card_name span {
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.token_list_card_name .token_count {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.token_list_card_name .token_count svg {
    margin: 0 5px;
    cursor: pointer;
}

.token_list_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.bottom_container_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.popover_container {
    background: var(--dark1);
    padding: 10px;
}

.popover_content {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    color: var(--text1);
    font-size: 12px;
}

.popover_content a {
    text-decoration: none;
    color: var(--text1);
    cursor: pointer;
}

.popover_content span {
    cursor: pointer;
    margin: 5px 0;
}

.menu {
    color: var(--text1);
}
