.token_list_card_container{
    padding: 0 1rem;
   
}


.token_list_card_content{  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem ;
    margin: 1rem 0;
    transition: all var(--animation-speed) ease 0s;
    border-radius: var(--border-radius);
    background: rgba( 23, 29, 39, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17px );
-webkit-backdrop-filter: blur( 17px );
border: 1px solid rgba( 255, 255, 255, 0.18 );



background: linear-gradient(#7371FC  0 0) no-repeat calc(200% - var(--p, 0%))
100% / 200% var(--p, 0.08em);
transition: var(--animation-speed)var(--t, 0s),
background-position 0.3s calc(0.3s - var(--t, 0s));

    
}

.token_list_card_content:hover{
   
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

.left_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.token_list_card_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1rem;
}
.token_list_card_name span{
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    
}

.token_list_card_name .token_count{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light)
}
.token_list_card_name .token_count svg{
    margin:  0 5px;
    cursor: pointer;
}

.bottom_container_menu{
    display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

.popover_container{
    background: #17191c;
    padding: 10px;

}

.popover_content{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;

    color: white;
    font-size: 12px;


}

.popover_content a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.popover_content span{
    cursor: pointer;
    margin: 5px 0;
}



.menu{
    color: white;
}