


.header_container{
    padding: 0.4rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.accordion_content{
    background: rgba(37, 46, 62, 0.5);
    
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
   
    padding: 0 1rem;

   

    overflow-y: scroll;
   
}

.main_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* wallet display */
.wallet_display , .price_display, .side_display, .type_display, .value_display, .base_display, .quote_display{
    display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px; 
}

 .price_display, .side_display, .type_display, .value_display{
    display: none;
}
.wallet_display{
    width: 150px;
}
.base_display, .quote_display{
   
    width: 110px;
    
}


.wallet_display span{
    background:  var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}
/* ------------------------MIN MAX RANGE DISPLAY */
@media only screen and (min-width: 768px) {
    .value_display, .base_display, .quote_display, .price_display, .type_display{
        display: flex;
    }
    .type_display, .side_display{
        width: 120px;
        display: flex;
        justify-content: space-between;
       align-items: center;
        
    }

    .value_display, .price_display{
        width: 80px;
    }

   

}