

/* options control */
.option_control_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.options_control_display_container{
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.control_title{
    color: var(--text-grey-light)
}

.url_link{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 8px;
    color: var(--text-highlight)
}

.url_link div{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 0 4px;
    
}

.url_link input{
    outline: none;
    border: none;
    color: var(--text-grey-light);
    background: var(--dark1);
    padding: 8px 1rem;
    border-radius: var(--border-radius);
    

}

.share_links_container{
display: flex;
flex-direction: row;
align-items: center;
gap: 4px;
}

.social_link_container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}