/* options control */
.option_control_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    padding-top: 16px;
}
.options_control_display_container {
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.control_title {
    padding: 0 8px;
    color: var(--text2);
}

.url_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--text2);
    border-radius: 4px;
}

.url_link div {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 0 4px;
    padding: 0;
}

.url_link input {
    flex: 1;
    outline: none;
    border: none;
    color: var(--text2);
    background: var(--dark2);
    padding: 8px;
    border-radius: var(--border-radius);
    text-overflow: ellipsis;
}

.url_link input::placeholder {
    color: var(--text2);
}

.share_links_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.social_link_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 130px;
    color: var(--text2);
    margin-bottom: 12px;

    transition: all var(--animation-speed) ease-in-out;
}

.social_link_container:hover,
.social_link_container:focus-visible {
    color: var(--text1);
    background: var(--dark2);
    border-radius: 4px;
}

.social_link_container:focus-visible svg {
    color: var(--text2);
}

.copy_button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 2px;
}

.copy_button svg {
    color: var(--text2);
}
