.recent_token {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0 6px;
    margin: 3px;
    /* width: 50px; */
    gap: 4px;

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.recent_token:hover {
    cursor: pointer;
    background-color: var(--dark2);
    transition: all var(--animation-speed) ease-in-out;
}
.recent_token > * {
    margin: 2px !important;
}

.recent_token img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
