.slippage_tolerance_container {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
    margin-top: 0.2rem;
    padding: 1rem 8px;
}
.slippage_title {
    display: flex;

    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    margin-bottom: 0.2em;
}

.help_guide {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.slippage_box {
    background-color: var(--dark2);
    border-radius: 4px;
    /* border: 1px solid var(--text3); */
    padding: 0.5rem;
}
.slippage_content {
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.slippage_content input {
    height: 100%;
    border: 0px;
    border-radius: 4px;
    background: none;
    font-size: 16px;
    width: auto;
    outline: none;
    color: rgb(255, 255, 255);
    text-align: left;
}

.input_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.slippage_content button {
    background: var(--dark1);
    cursor: pointer;
    height: 2rem;
    width: auto;
    min-width: 3.5rem;

    margin-right: 8px;
    border: 1px solid var(--dark3);
    border-radius: 50px;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);

    padding: 0.5rem 1rem;
}

.slippage_content button:hover {
    box-shadow: none;
    cursor: pointer;
    color: var(--text1);
}

.ambient_control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    padding: 0 1rem;
}
