

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b; */
    /* margin: 2rem 1rem; */
    /* padding: .7rem 1rem; */
    font-weight: 700;

    font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
display: flex;
text-align: center;
align-items: center;
/* text-align: right; */
padding-bottom: 8px;
padding-left: 5px;

display: grid;
grid-template-columns: 1fr 1fr repeat(5, 0.5fr) 1fr 1fr 0.5fr;
grid-gap: 10px;
/* text/grey light */

color: #BDBDBD;

border-bottom: 1px solid rgb(42, 40, 40);

}



.hide_desktop{
    display: none;
}









/* Conversely, using max-width, is desktop-first then adds queries to make styles mobile-friendly

 */

/* THIS IS FOR TABLETS */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /* .hide_mobile {
        display: none;
    } */

    .hide_desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hide_ipad{
        display: none;
    }

    .position_row{
        display: grid;
        grid-template-columns: 1fr repeat(3, 0.5fr) 1fr 1fr 0.5fr;
     }
}
/* THIS IS FOR PHONES */
/* Mobile Landscape Screen Sizes */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)  {

.hide_mobile{
    display: none;
}
.position_row{
    display: flex;
}
 
    }
