

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b; */
    /* margin: 2rem 1rem; */
    /* padding: .7rem 1rem; */
    font-weight: 700;

    font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
display: flex;
text-align: center;
align-items: center;
/* text-align: right; */
padding-bottom: 8px;
padding-left: 5px;

display: grid;
grid-template-columns:repeat(3, 1fr) repeat(3, 100px) 1fr repeat(2, 100px);
grid-gap: 10px;
/* text/grey light */

color: #BDBDBD;

border-bottom: 1px solid rgb(42, 40, 40);

}



.heading{
    /* grid-template-columns: 1fr 1fr repeat(5, 0.5fr) 1fr 1fr 0.5fr; */
    grid-template-columns:repeat(3, 1fr) repeat(3, 100px) 1fr repeat(2, 100px)
}
.column_display, .range_icon, .mobile_display{
    display: none;
}


@media screen and (max-width: 1600px){
    .heading{
        background: red;
        /* grid-template-columns: 1fr 1fr repeat(5, 0.5fr) 1fr 1fr 0.5fr; */
        grid-template-columns:repeat(2, 1fr) repeat(2, 100px)  repeat(2, 1fr) 100px;
    }

    .large_device{
        display: none;
    }

    .column_display{
        display: flex;
        flex-direction: column;
    } 
}

@media screen and (max-width: 1080px){
    .heading{
        background: blue;

        grid-template-columns :repeat(2, 1fr) 0.7fr 130px 70px 50px
    }
    .apy{
        background: red;
        display: none;
    }
}
@media screen and (max-width: 840px){
    .heading{
        background: green;
      

         grid-template-columns :1fr repeat(2, 0.5fr) 10px 70px 50px
    }

    .range_icon{
        display: flex;
    }
    .full_range{
        display: none;
    }
   
   
}
@media screen and (max-width: 670px){
    .heading{
        background: purple;


    /* grid-template-columns :repeat(2, 0.5fr) 1fr 10px 70px 50px; */
    grid-template-columns : 0.5fr repeat(2, 1fr) 10px 70px 50px
    }

    .mobile_display{
        display: flex;
        flex-direction: column;
    }

    .account_displays{
        display: none;
    }

}
@media screen and (max-width: 400px){
    .heading{
        background: rgb(2, 0, 2);
   
    grid-template-columns :repeat(3, 0.7fr) 10px 50px
    }

    .option_button{
        display: none;
    }

}