.denomination_switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    min-height: 33px;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: right;
    color: var(--text2);
}

.denomination_switch button {
    cursor: pointer;
    background: var(--dark2);
    min-width: 2rem;
    /* padding: 0.1rem; */
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text2);
    outline: none;
    border: solid 0.2px transparent;
    border-radius: 50px;
    padding: 5px 8px;
    transition: all var(--animation-speed) ease-in-out;
}

.denomination_switch button:hover {
    background: var(--title-gradient);
    /* transition: all var(--animation-speed) ease-in-out; */
    color: var(--dark2);
}

.denomination_switch .active_button {
    border: solid 0.2px transparent;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, var(--accent1), var(--accent5), var(--accent1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;
}
