.token_amount {
    position: relative;
}

.currency_quantity {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: var(--text1);
    text-align: start;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    max-height: 23px;
    margin: 8.5px 0;
    margin-left: 32px;
    border: none;
    outline: 0;
    background-color: transparent;
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

    font-family: var(--mono);
}
.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.overlay_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    background: var(--dark2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

.disabled_text {
    font-size: 10px;
    line-height: var(--body-lh);
    text-align: center;
    font-weight: 100;
}

.warning_text {
    font-weight: 300;
    color: var(--accent1);
}
