.settings_container {
    height: 405px;
    /* max-width: 407px; */
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 12px;
    margin-top: 0.2rem;
    position: relative;
    padding: 20px;
    
}
.settings_title {
    display: flex;
    justify-content: center;
    font-size: var(--header-size);
    line-height: var(--header2-lh);
    margin-bottom: 1rem;
}
.button_container {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    /* padding: 0 2rem; */
}
