.networkButton {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  
    display: block;
  
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0.75rem;
  
    cursor: pointer;
    transition: color 0.15s ease-in-out;
    text-align: center;
  
    color: white;
    border: 1px solid #565656;
    border-radius: 4px;
    outline: none;
    border: none;
  }
  .networkButton:hover {
    transition: all 0.3s ease-out;
  
    filter: brightness(85%);
  }
  