/* .container {
    background: url('../../../assets/futa/images/futaCover.svg') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 64px);
    padding: 8px;
} */

.container h1 {
    font-family: 'Roboto Mono';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 20%;
    text-shadow: 0px 0px 70px rgba(12, 205, 255, 0.6);
    color: var(--accent1, #0ccdff);
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .container h1 {
        font-size: 156px;
    }
}
