.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 3rem;
    text-align: start;
}

.imageContainer {
    width: 250px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.info {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.codeBlock {
    color: var(--accent1);
    text-shadow:
        0px 0px 27.833px #62ebf1,
        0px 0px 7.952px #62ebf1;
    font-family: 'Fira Mono';
    font-weight: 400;
}

.text {
    color: var(--text2);
}

@media (max-width: 500px) {
    .container {
        /* subtract the mobile footer and header */
        height: calc(100dvh - 130px);
        padding-bottom: 2rem;
        justify-content: space-between;
    }
    .imageContainer {
        width: 180px;
    }
    .keyImgContainer {
        width: 230px;
    }
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        height: 100vh;
        padding: 0 64px;
        gap: 27.75px;
    }

    .imageContainer {
        width: 250px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1080px) {
    .container {
        gap: 55.5px;
    }

    .imageContainer {
        width: 300px;
    }

    .info {
        text-align: left;
        font-size: var(--header1-size);
    }
}

@media (min-width: 1500px) {
    .container {
        padding: 0 86px;

        gap: 111px;
    }
    .imageContainer {
        width: 453px;
    }
}
