.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 135px;
    position: fixed;
    bottom: 0;
    background: var(--dark1);
    padding: 0 16px;

    transition: all var(--animation-speed) ease-in-out;

}


.desktopFuta{
    display: none;
    
}

.leftSection {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.verticalText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--borders, #5c6f72);
    font-family: var(--mainFont, 'Fira Mono');
    font-size: var(--fontSizes-fontSize_extraSmall, 10px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.centerSection {
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    justify-content: flex-end;
    flex: 1;
    gap: 16px;

   
    
}

.mainText {
    display: flex;
    align-items: baseline;
    font-size: 50px;
    font-family: 'Fira Mono', monospace;
    color: #aacfd1;
}

.fuText,
.taText,
.mainText span {
    color: var(--borders, #5c6f72);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Fira Mono';
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.mainText{
 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
margin-bottom: -8px;
}
.enterButton {
    display: flex;
  
    justify-content: end;
    align-items: end;
    gap: var(--fontSizes-fontSize_extraSmall, 10px);

    color: var(--base-dark1, #0d0f13);
    text-align: center;

    /* Mono 12 */
    font-family: var(--mainFont, 'Fira Mono');
    font-size: var(--body-size, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 6px;
    transition: all var(--animation-speed) ease-in-out;
    
}

.enterButton button{
    background: var(--text1, #AACFD1);
    display: inline-flex;
    padding: 8px 16px;
    outline: none;
    border: none;
    width: 119px;
    height: 45px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.enterButton:hover > button{
background: var(--text2);
cursor: pointer !important;
transition: all var(--animation-speed) ease-in-out;
}

.rightSection {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.numberList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.numberList button {
    background: transparent;
    outline: none;
    border: none;

    color: var(--borders, #5c6f72);
    text-align: center;

    font-family: 'Fira Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    cursor: pointer !important;

  
}

.navButton:hover{
transition: all var(--animation-speed) ease-in-out;
color: #AACFD1;
}


@media only screen and (min-width: 768px) {

    .container{
        padding-bottom: 2rem;
        background: transparent;
    }
    .desktopFuta{
        display: flex;
    }

    .mainText{
 
     
    margin-bottom: -20px;
    }

    .leftSection{
        display: flex;
        align-items: flex-end;
        gap: 34px;
    }
    .fuText,
    .taText,
    .mainText span {
    font-size:96px ;
}

.enterButton button{
   padding: 12px 24px;
}

.verticalText{
    font-size: 14px;
}

.numberList button{
    font-size: 24px;
}

.centerSection{
    gap: 39px;
}

}

@media only screen and (min-width: 1280px) {
.container{
   
    padding-left: 128px;
    padding-right: 128px;
   
}

}