.main_container {
    font-family: var(--font-logo);
    font-weight: 100;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container .apr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    line-height: 60px;
}

.apr_text {
    font-size: 24px;
    line-height: 30px;
}

.apr_green {
    /* apr/green */

    background: var(--apr-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}

.apr_red {
    background: var(--red-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75);
}
