.cqwlBw {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    border-radius: 16px;
    padding: 1rem;
    background: var(--dark2);
}

.jnaQPQ {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ktegKV {
    display: grid;
    grid-auto-rows: auto;
}

.cPYVNT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 180px;
    padding: 1px;
    background: rgb(44, 47, 54);
    border-radius: 12px;
    border: 2px solid rgb(44, 47, 54);
    cursor: pointer;
    outline: none;
    color: rgb(195, 197, 203);
}

.eJnjNO {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
}

.v4m1wv {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    height: 20px;
    font-size: 12px;
}

.settings_container button,
.right_side button {
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 4px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    padding: 4px;
    box-shadow: rgba(12, 13, 14, 0.2) 0px 8px 24px;
    border-radius: 40px;
}
