/* .test_page_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.token_list_selects_ul {
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 280px;
    outline: 3px solid green;
}

.token_list_li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 8px;
    list-style-type: none;
    outline: 2px solid yellow;
} */

.main {
    background: var(--dark1);
    
    height: 100vh;
    padding-left: 50px;
}

.menu_container {
    width: 800px;
    display: flex;
}

.animation_container {
    width: 100px;
    margin: 1rem 0;
}

.example_container {
    max-width: 400px;
}

.rectangle {
    width: 300px;
    margin: 1rem;
    background: rgb(3, 3, 96);
    height: 50px;
    color: white;
    font-size: 20px;
}
