


.token_container {
    /* ... */
    /* padding: 4rem; */
    width: 250px;
    height: 200px;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;

    display: flex;
    flex-direction: column;;
    cursor: pointer;
   
    
}

.token_container:hover {
    transform: translateY(-1rem);
    color: var(--text-white);
}

.token_container:hover~.token_container {
    transform: translateX(130px);
    color: var(--text-grey-white);
}


.token_container:not(:first-child) {
    margin-left: -130px;
}


.token_container img{
width: 25px;
height: 25px;
border-radius: 50%;
}

/* token row container */
.token_rows_container{
    display: flex;

   
    padding: 3rem;
    overflow-x: scroll;
   
}

.token_rows_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.token_rows_container::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.token_rows_container::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);

    border-radius: 50px;
}



/* inner */

.align_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
  
}
.row{
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
   
    
}
.row:first-child{
    color: var(--text-grey-white);
    font-weight: bold;
}
.row:not(:first-child){
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}