.token_display_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.token_display_container img{
width: 12.5px;

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    .token_display_container img{
        width: 22.5px;

        }
}


