.main_content {
    width: 400px;
    height: 100%;
    transition: all var(--animation-speed) ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.2rem;
    background: var(--dark1);
    /* padding: 1rem; */
    /* padding: 0 2rem; */
}

.remove_range_container {
    position: relative;
}

.settings_button {
    cursor: pointer;
}

.remove_range_settings_container {
    position: absolute;

    top: 40px;
}
.header_container {
    /* display: grid;
    grid-template-columns: auto 50px;
    gap: 10px;
    align-items: center; */
    height: 50px;
}

.settings_icon {
    cursor: pointer;
    animation: all 500ms ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.confirmation_container {
    width: 400px;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark1);
    /* padding: 1rem; */
    /* align-items: center; */
}

.confirmation_content {
    padding: 1rem;
}

.button {
    cursor: pointer;
}

.confirmation_container header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.confirmation_container header div {
    cursor: pointer;
}

.gas_pump {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 4px;
}
