.main_container{

    font-family: var(--font-logo);
    font-weight: 100;

  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container .apy{

    display: flex;
    flex-direction: column;
    align-items: center;
font-size: 48px;
line-height: 60px;
}

.apy_text{
    font-size: 24px;
    line-height: 30px;
}

.apy_green {
    /* apy/green */

    background: linear-gradient(90deg, #15be6f 32.38%, #8fe9bf 51.39%, #15be6f 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}

.apy_red  {
    /* apy/green */

    background: linear-gradient(90deg, #be4515 32.38%, #de5a2e 51.39%, #be5315 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75);
}