.main_container {
    width: 380px;
    padding: 0 1rem;

    display: none;
    overflow: visible;
    position: relative;
}

.modal_body {
    flex-direction: column-reverse;
    border: solid 1px transparent;
    background: var(--dark2);
    cursor: default;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    color: white;
    position: sticky;
    aspect-ratio: 5/6;
    transition: all var(--animation-speed) ease-in-out;
    overflow: auto;
    box-shadow: 0px 0px 12px rgba(205, 193, 255, 0.2);
    border-top: 0.5px solid var(--accent1);
    border-left: 0.5px solid var(--accent1);
    border-right: 0.5px solid var(--accent1);
}



.chat_body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    order: 0;
    align-self: stretch;
}

.chat_header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px 4px 10px;
    letter-spacing: 1px;
    color: white;
    background: var(--dark2);
    cursor: pointer;
    position: relative;
}

.chat_header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.chat_header h2 {
    font-size: var(--header2-size);
    line-height: var(--body-lh);
    font-weight: 100;
    font-family: var(--font-logo);
    color: var(--text1);
}

.chat_header svg {
    color: var(--text2);
}

.chat_notification {
    
    position: absolute;
    top: 26rem;
    left: 19.5rem;
    width: 95%;
    height: 1%;
    cursor: default;
       
}
.pop_up {
    padding: 5px 81px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border-radius: 5px;
    background: var(--dark3);
}

.scroll_up
{
    position: absolute;
    right: 1rem;
    top: 5rem;
    z-index: 15;
}

.text {
    display: block;
    margin-top: -32px;
    margin-left: 9px;
}

.scrollable_div {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 9999 auto;
    width: 100%;
    height: 80%;
    max-height: unset;
    order: 0;
    align-self: stretch;
    cursor: default;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 10px;
    height: 5px;

    /* dark/primary */
    background-image: var(--primary-gradient);
    border-radius: 8px;
    transform: rotate(-90deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media only screen and (min-width: 1280px) {
    .main_container {
        display: flex;
    }
}


@keyframes opaAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.ment_skip_button{
    position: absolute;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--accent1);
    border-radius: 10rem;
    bottom: 45%;
    right: 1.4rem; 
    z-index: 2;   
    cursor: pointer;
    opacity: 0;
    animation: opaAnim .4s ease-in-out forwards;
}


.ment_skip_button_down, .ment_skip_button_last{
    position: absolute;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--accent1);
    border-radius: 10rem;
    bottom: 37%;
    right: 1.4rem; 
    z-index: 2;   
    cursor: pointer;
    opacity: 0;
    animation: opaAnim .4s ease-in-out forwards;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.ment_skip_button_last{
    bottom: 30%;
    width: auto;
    bottom: 10%;
    text-align: center;
    padding: 0 1rem;
    font-size: .82rem;
    height: auto;
    left: 50%;
    color: black;
    font-weight: 600;
    right: auto;
    transform: translateX(-50%);
}

.ment_skip_button_last svg{

    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.ment_skip_button svg, .ment_skip_button_down svg, .ment_skip_button_last svg{
    color: black;
}



.verify_button{
    display: block;
    text-align: center;
    background: rgba(0,0,0, .2);
    border-radius: .4rem;
    position: absolute;
    top: .5rem;
    right: 2.5rem;
    font-size: .72rem;
    color: rgba(255,255,255, .5);
    border: 1px solid rgba(255,255,255, .1);
    padding: 0 .4rem;
}


.verify_button.verified{
    border-color: rgba(21, 190, 111, 0.75);
    cursor: default;
    color: var(--positive);
}


.verify_button_icon{
    margin: 0 .2rem; 
}

/* 
#chatReactionWrapper aside.emoji-picker-react{
    background-color: transparent !important;
    background: transparent !important;
    backdrop-filter: blur(20px);

}

#chatReactionWrapper  aside.emoji-picker-react .emoji-group:before{
    background: transparent !important;
} */


@keyframes scaleAnim{
    from    { transform: scale(0); opacity: 0; }
    to      { transform: scale(1);  opacity: 1;}

}

.reaction_picker_wrapper{
    display: block;
    position: absolute;
    transform: scale(0);
    bottom: 10%;
    width: 80%;
    height: 50%;
    z-index: 1;
    left: 10%;
    animation: scaleAnim .3s ease-in-out forwards;
    box-shadow: 0px 0px 30px var(--accent1);
    overflow: hidden;
    border-radius: 1rem;
    z-index: 4;
    opacity: 0;
    background: var(--dark2);
    /* height: 4rem; */

}


.reaction_picker_close{
    display: block;
    font-size: 1rem;
    color: white;
    padding: .5rem;
    margin-right: 1rem;
    float: right;
    cursor: pointer;
}