.main_container {
    width: 380px;
    padding: 0 1rem;

    display: none;
    overflow: visible;
    position: relative;
}

.modal_body {
    flex-direction: column-reverse;
    border: solid 1px transparent;
    background: var(--dark2);
    cursor: default;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    color: white;
    position: sticky;
    aspect-ratio: 5/6;
    /* transition: var(--transition); */
    overflow: auto;
    box-shadow: 0px 0px 12px color-mix(in srgb, var(--accent1) 20%, transparent);
    border-top: 0.5px solid var(--accent1);
    border-left: 0.5px solid var(--accent1);
    border-right: 0.5px solid var(--accent1);
    bottom: 26px;
    right: 21px;
}

.chat_body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    order: 0;
    align-self: stretch;
}

.chat_header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px 4px 10px;
    letter-spacing: 1px;
    color: white;
    background: var(--dark2);
    cursor: pointer;
    position: relative;
}

.chat_header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.chat_header h2 {
    font-size: var(--header2-size);
    line-height: var(--body-lh);
    font-weight: 100;
    font-family: var(--font-logo);
    color: var(--text1);
}

.chat_header svg {
    color: var(--text2);
}

.chat_notification {
    position: absolute;
    top: 25rem;
    right: 1rem;

    cursor: default;
}
.pop_up {
    padding: 5px 81px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border-radius: 5px;
    background: var(--dark3);
}

.scroll_up {
    position: absolute;
    right: 1rem;
    top: 5rem;
    z-index: 15;
}

.text {
    display: block;
    margin-top: -32px;
    margin-left: 9px;
}

.scrollable_div {
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 9999 auto;
    width: 100%;
    height: 80%;
    max-height: unset;
    order: 0;
    align-self: stretch;
    cursor: default;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
    scrollbar-3dlight-color: transparent;
    /* transition: opacity .5s ease-in-out; */
}

@media only screen and (min-width: 1280px) {
    .main_container {
        display: flex;
    }
}

@keyframes opaAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ment_skip_button {
    position: absolute;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 10rem;
    bottom: 45%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    animation: opaAnim 0.4s ease-in-out forwards;
    right: 2rem;
}

.ment_skip_button_down,
.ment_skip_button_last {
    position: absolute;
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 10rem;
    bottom: 37%;
    right: 2rem;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    animation: opaAnim 0.4s ease-in-out forwards;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.ment_skip_button,
.ment_skip_button_down,
.ment_skip_button_last {
    transition: all 0.2s ease-in-out;
    background-color: color-mix(in srgb, var(--accent1) 20%, transparent);
    border: 1px solid var(--accent1);
    color: var(--accent1);
    backdrop-filter: blur(10px);
    /* opacity: .5 !important; */
}
.ment_skip_button:hover,
.ment_skip_button_down:hover,
.ment_skip_button_last:hover {
    /* opacity: 1 !important; */
}

.ment_skip_button_last {
    bottom: 30%;
    width: auto;
    bottom: 10%;
    text-align: center;
    padding: 0 1rem;
    font-size: 0.82rem;
    height: auto;
    left: 50%;
    font-weight: 600;
    right: auto;
    transform: translateX(-50%);
    border: 1px solid var(--accent1);
}

.ment_skip_button svg,
.ment_skip_button_down svg,
.ment_skip_button_last svg {
    fill: var(--accent1);
}

.ment_skip_button_last svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.ment_skip_button svg,
.ment_skip_button_down svg,
.ment_skip_button_last svg {
    color: black;
}

@keyframes yellowFlash {
    0%,
    100% {
        box-shadow: 0px 0px 28px #f3bc4144;
        border: 1px solid #f3bc4188;
        color: #f3bc41cc;
        background: transparent;
    }
    50% {
        box-shadow: 0px 0px 28px #f3bc4188;
        border: 1px solid #f3bc41aa;
        color: white;
        background: #f3bc41cc;
    }
}

.purple_flashed {
    animation: purpleFlash 1s 3 ease-in-out !important;
}

@keyframes purpleFlash {
    0%,
    100% {
        box-shadow: 0px 0px 28px
            color-mix(in srgb, var(--accent1) 12%, transparent);
        background: color-mix(in srgb, var(--accent1) 6%, transparent);
        border: 1px solid color-mix(in srgb, var(--accent1) 20%, transparent);
    }
    50% {
        box-shadow: 0px 0px 28px
            color-mix(in srgb, var(--accent1) 40%, transparent);
        background: color-mix(in srgb, var(--accent1) 20%, transparent);
        border: 1px solid color-mix(in srgb, var(--accent1) 10%, transparent);
    }
}

.verify_button {
    transition: all 0.2s ease-in-out;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    position: absolute;
    top: 0.5rem;
    right: 2.5rem;
    font-size: 0.72rem;
    /* color: rgba(255,255,255, .5);
    border: 1px solid rgba(255,255,255, .1); */
    box-shadow: 0px 0px 28px #f3bc4122;
    border: 1px solid #f3bc4188;
    color: #f3bc41cc;
    padding: 0 0.4rem;
}

.verify_button:not(.verified) svg {
    color: #f3bc41cc;
    cursor: default !important;
}

.verify_button:not(.verified):hover {
    box-shadow: 0px 0px 28px #f3bc4188;
    border: 1px solid #f3bc41aa;
    color: white;
    background: #f3bc41cc;
}

.verify_button.flashed {
    animation: yellowFlash 0.5s 3 ease-in-out;
}

.verify_button.verified svg {
    cursor: default !important;
}
.verify_button.verified {
    border-color: rgba(21, 190, 111, 0.75);
    cursor: default;
    box-shadow: 0px 0px 28px rgba(21, 190, 111, 0.35);
    color: var(--positive);
}

.not_connected {
    color: var(--text3) !important;
    border-color: var(--text3) !important;
    box-shadow: 0px 0px 28px rgb(255 255 255 / 32%);
}
.not_connected svg {
    color: var(--text2);
}

.verify_button_icon {
    margin: 0 0.2rem;
}
.verify_button_mod_icon {
    margin-top: 0.1rem;
}

/* 
#chatReactionWrapper aside.emoji-picker-react{
    background-color: transparent !important;
    background: transparent !important;
    backdrop-filter: blur(20px);

}

#chatReactionWrapper  aside.emoji-picker-react .emoji-group:before{
    background: transparent !important;
} */

@keyframes scaleAnim {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.reaction_picker_wrapper {
    transition:
        opacity 0.2s ease-in-out,
        max-width 0.2s ease-in-out;
    display: block;
    position: absolute;
    transform: scale(0);
    bottom: 10%;
    width: 96%;
    z-index: 1;
    left: auto;
    right: 2%;
    animation: scaleAnim 0.3s ease-in-out forwards;
    box-shadow: 0px 0px 40px color-mix(in srgb, var(--accent1) 20%, transparent);
    overflow: hidden;
    border-radius: 100vw;
    z-index: 4;
    opacity: 0;
    background: var(--dark2);
    overflow: hidden;
    max-width: 0;
    border: none;
}

.reaction_picker_wrapper.active {
    max-width: 96%;
    border: 1px solid color-mix(in srgb, var(--accent1) 66%, transparent);
    opacity: 1;
}

.reaction_picker_close {
    display: block;
    font-size: 1rem;
    color: white;
    padding: 0.5rem;
    margin-right: 1rem;
    float: right;
    cursor: pointer;
    padding-bottom: 0;
    opacity: 0.5;
    margin-top: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reaction_picker_close:hover {
    opacity: 1;
}

.scroll_to_icon {
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    border-radius: 10rem;
    background: color-mix(in srgb, var(--accent1) 20%, transparent);
    border: 1px solid color-mix(in srgb, var(--accent1) 45%, transparent);
    backdrop-filter: blur(10px);
}

.scroll_to_icon:hover {
    background: color-mix(in srgb, var(--accent1) 22%, transparent);

    border: 1px solid color-mix(in srgb, var(--accent1) 66%, transparent);
}

.btn_go_to_chart {
    transition: all 0.2s ease-in-out;
    font-size: 0.7rem;
    border: 1px solid color-mix(in srgb, var(--accent1) 20%, transparent);
    background-color: color-mix(in srgb, var(--accent1) 10%, transparent);
    backdrop-filter: blur(10px);
    border-radius: 0.4rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    color: var(--accent1);
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    border-radius: 10rem;
    font-size: 0.78rem;
}

.btn_go_to_chart.active {
    top: 5rem;
}

.btn_go_to_chart:hover {
    background-color: var(--accent1);
    color: white;
}

@media only screen and (max-width: 600px) {
    .chat_notification {
        position: absolute;
        top: auto;
        left: auto;
        width: auto;
        right: 1.4rem;
        bottom: 6rem;
    }

    .ment_skip_button {
        bottom: 50%;
    }

    .ment_skip_button_down {
        bottom: 42%;
    }

    .ment_skip_button,
    .ment_skip_button_down {
        right: 1.8rem;
        transform: scale(1.2);
    }

    .ment_skip_button_last {
        bottom: 5rem;
    }
}

.chat_closed {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 25px !important;
    overflow: visible !important;
  }
  
 
  .chat_closed .modal_body {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    overflow: visible !important;
    aspect-ratio: unset !important;
  }
  
 
  
 
  .closedChatHeader {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;        
    border-radius: 50%;       
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #7371FC;     
    box-sizing: border-box;   
    padding: 0;               
    margin: 0;                
  }
  
  
  
  