.main_container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 380px;
    padding: 0 1rem;

    display: none;
}

/* .full_screen_wrapper{
    max-height: calc(100vh - 8rem);
    width: 100vw;
    padding: 1rem;
} */

.modal_body {
    flex-direction: column-reverse;
    border: solid 1px transparent;
    background: var(--dark3);
    cursor: pointer;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    color: white;
    position: sticky;
    aspect-ratio: 5/6;
    transition: all var(--animation-speed) ease-in-out;

    overflow: auto;

    background: rgba(23, 29, 39, 1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    border-top: 1px solid var(--text-highlight-dark);
    border-left: 1px solid var(--text-highlight-dark);
    border-right: 1px solid var(--text-highlight-dark);

}

.chat_body {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 100%;
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    order: 0;
    align-self: stretch;
}

.chat_header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0px 4px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    background: var(--dark3);
    /* border-top: 2px solid var(--text-highlight-dark);
      border-left: 2px solid var(--text-highlight-dark);
      border-right: 2px solid var(--text-highlight-dark); */
    /* background: var(--text-highlight-dark); */
}

.chat_header section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.chat_header h2 {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 300;
}

.chat_notification {
    display: flex;
    position: relative;
    justify-content: right;
    width: 95%;
    height: 1%;
}

.text {
    display: block;
    margin-top: -32px;
    margin-left: 9px;
}

/* .chat_wrapper_full {
      display: flex;
      flex-direction: column-reverse;
      border: solid 1px transparent;
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px #171d27 inset;
      transition: box-shadow var(--animation-speed) ease-in-out;
      cursor: pointer;
      height: 89%;
      width: 83% !important;
      border-radius: var(--border-radius);
      color: white;
      position: static;
      aspect-ratio: 5/6;
      margin-bottom: 2% !important;
      margin-top: 0;
      overflow: scroll;

      bottom: 0;
      width: 100%;
      
  }
   */

.scrollable_div {
    overflow-y: auto;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1 9999 auto;
    flex: 1 9999 auto;
    width: 100%;
    height: 80%;
    max-height: unset;
    order: 0;
    align-self: stretch;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 10px;
    height: 5px;

    /* dark/primary */

    background-image: linear-gradient(
        to right top,
        #7371fc,
        #887ffd,
        #9a8efe,
        #ab9dfe,
        #baacff,
        #baacff,
        #baacff,
        #baacff,
        #ab9dfe,
        #9a8efe,
        #887ffd,
        #7371fc
    );
    border-radius: 8px;
    border-radius: 8px;
    transform: rotate(-90deg);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

@media only screen and (min-width: 768px) {
    .main_container {
        display: flex;
    }
}
