.loader{

    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}
/* .ball_container{
    background: url('../../../../assets/images/waveform.svg')
} */