.no_results{
    width: 100%;
    height: 200px;
   
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--header2-size);
    gap: 8px;
}

.no_results button{
    width: 100%;
    max-width: 200px;
   
    height: auto;
    outline: none;
    padding: 4px 8px;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    display: block;
    cursor: pointer;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    transition: var(--transition);
    border: 1px solid var(--accent1);
    background: var(--accent1);
    color: var(--text1);
}


.no_results button:hover{
    color: var(--text2)
}

@media only screen and (min-width: 768px) {
.no_results{
    height: 70%;
}

}