.gridContainer{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    min-height: 64px;
   
    gap: 4px;
   
    white-space: nowrap; 
    /* padding: 0 8px; */
   

    
}

.gridItem{
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    /* background: var(--dark2); */
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
    align-items: stretch;
    font-size: 12px;
    width: 60px;
    justify-content: center;
    
   
   
}

.tokenIcon{
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
}

.tradeButton{
    width: 25px;
   
}


.poolName{
   justify-content: flex-start;
   width: 30px;
  
  
}

.tradeIcon{
    width: 25px;
    height: 25px;
    background: var(--dark2);
    border: 1px solid var(--dark3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

@media only screen and (min-width: 768px) {

    .gridContainer{
        gap: 8px;
    }

    .gridItem{
        width: 70px;
        justify-content: flex-end;
    }
    .tradeButton, .poolName{
width: 70px;
    }

   
    }

    @media only screen and (min-width: 1024px) {
        .gridItem, .tradeButton, .tradeButton, .poolName{
            width: 133px;
        }

        .gridItem{
            font-size: 14px;
        }
    }