.icon svg {
    color: var(--text2);
    transition: var(--transition);
}
.icon svg:hover {
    color: white;
}

.icon {
    display: flex;
    justify-content: center;
}

.mobilePopupContainer {
    background: var(--dark2);
    position: absolute;
    bottom: 0;
    height: 55%;
    width: 100%;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-right: 8px;
}

.futaStyleSvg{
    color: var(--text3) !important;
}