.token_amount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.currency_quantity {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: var(--text1);
    text-align: start;
    width: 80%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    max-height: 23px;
    margin: 8.5px 0;
    margin-left: 32px;
    border: none;
    outline: 0;
    background-color: transparent;
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

    font-family: var(--mono);
}

/* shimmer animation effects */

.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}


.circular_progress{
  
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   margin: 8px 2rem;
    
}
