.menu_button {
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_button svg {
    transition: transform var(--animation-speed) ease-in-out;
}
.menu_button svg:hover {
    transform: rotate(45deg);
}

.menu_wrapper,
.menu_wrapper_active {
    max-width: 400px;
    padding: 20px;
    backdrop-filter: blur(6px);

    position: absolute;
    /* background: #171d27; */
    border-radius: 4px;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 20px;
}
.menu_wrapper {
    bottom: 0px;

    opacity: 0;
    pointer-events: none;
}

.menu_wrapper_active {
    opacity: 1;

    bottom: 85px;
    pointer-events: auto;
}

.action_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action_items div {
    width: 40px;
    height: 40px;
    background: var(--dark2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}
