.loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(
        45deg,
        transparent,
        transparent 40%,
        var(--accent5)
    );

    animation: animate 2s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    max-width: 100%;
    z-index: 3;
    opacity: 0;
}

.loader:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: var(--body-bg);
    border-radius: 50%;
    z-index: 2;
}
.loader:after {
    background: linear-gradient(
        45deg,
        transparent,
        transparent 40%,
        var(--accent5)
    );

    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    border-radius: 50%;
    z-index: 1;
    filter: blur(60px);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(10deg);
    }
}
