.range_column {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.range_sing {
    white-space: nowrap;
    display: none;
}

.range_column p,
.range_sing p {
    font-size: 10px;
    line-height: 12px;
    color: var(--accent3);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .range_column {
        display: none;
    }
    .range_column p {
        font-size: 12px;
        line-height: 15px;
    }

    .range_sing {
        display: flex;
    }
}
