.button {
    width: 100%;
    max-width: 500px;
    height: auto;
    outline: none;
    padding: 12px 16px;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    display: block;
    cursor: pointer;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    transition: var(--transition);
    border: 1px solid var(--accent1);
}

.flat {
    background: var(--accent1);
    color: var(--text1);
}

.flat:hover,
.flat:focus-visible {
    background: var(--dark2);
    color: var(--accent1);
}

.gradient {
    color: var(--accent5);
    background: var(--title-gradient);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
}

.gradient:hover,
.gradient:focus-visible {
    color: var(--text1);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}

.disabled {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text2);
    border: none;
    transition: color var(--animation-speed) ease-in-out;
    background-color: var(--dark2);
    pointer-events: none;
}

.warning {
    background: var(--dark2);
    color: var(--accent1);
}

.isFuta {
    background: var(--accent1, #0ccdff);
    color: var(--dark1);
    border: none;
    text-transform: uppercase !important;
    border-radius: 0;
    font-size: 24px;
}

.isFuta:hover,
.isFuta:focus-visible {
    background: var(--accent2);
    color: var(--dark1);
}

.isFutaDisabled {
    pointer-events: none;
    background: var(--dark3);
    border: none;
    color: var(--text3);
}
