.container {
    width: 100%;
    height: 330px;
}

@media only screen and (max-height: 790px) {
    .container {
        height: 300px;
    }
}
@media only screen and (max-height: 680px) {
    .container {
        height: 270px;
    }
}
