.toolbar_container {
    display: flex;
    grid-column: 2;
    grid-row: 3;
    width: 9px;
    transition: all 600ms ease-in-out;
}

.toolbar_container.toolbar_container_active {
    width: 38px;
}

.icon_card {
    flex-direction: row-reverse;
    display: flex;
}


.icon_active_container,.icon_inactive_container img:hover {
    cursor: pointer;
}

@keyframes identifier {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.divider_container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.drawlist_container {
    display: flex;
    width: 0%;
}

.drawlist_container.drawlist_container_active {
    animation: identifier 600ms ease-in-out forwards;
    opacity: 0;
    width: 70%;
}

.divider {
    background: #242f3f;
    width: 1px;
}

.icon_active_container {
    margin-bottom: 10px;
    display: flex;
    width: Fixed (24px);
    height: Fixed (24px);
    padding: 2px;
    border-radius: 4px;
    gap: 10px;
}

.icon_inactive_container {
    margin-bottom: 10px;
    display: flex;
    width: Fixed (24px);
    height: Fixed (24px);
    padding: 2px;
    border-radius: 4px;
    gap: 10px;
}

.icon_active_container:hover {
    background: #242f3f;
}

.icon_inactive_container:hover {
    background: #242f3f;
}

.icon_active {
    filter: invert(45%) sepia(99%) saturate(2440%) hue-rotate(220deg)
        brightness(100%) contrast(98%);
}

.icon_inactive {
    filter: invert(70%) sepia(14%) saturate(341%) hue-rotate(169deg)
        brightness(100%) contrast(100%);
}

.close_divider_button {
    justify-content: end;
}

.divider_button {
    justify-content: start;
}

.close_divider_button,
.divider_button {
    position: relative;
    width: 8px;
    height: 30px;
    top: 70%;
    left: 5px;
    padding: 0px 2px 0px 2px;
    border-radius: 4px;
    background: var(--dark1);
    border: 1px solid #242f3f;
    cursor: pointer;
    display: grid;
    align-items: center;
    z-index: 999;
}

.arrow_right {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    transition: all 600ms;
    transform: rotate(45deg);
}

.arrow_left {
    transform: rotate(225deg);
}
