.main_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price_info_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}

.info_container {

    width: 100%;
    background: rgba(23, 29, 39, 0.3);
backdrop-filter: blur(20px);
/* Note: backdrop-filter has minimal browser support */
/* background: red; */
border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius);
    padding: 1rem;

    font-weight: 300;
    color: var(--text-grey-white);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.divider{
    height: 1px;
    margin: 1rem 0;

/* dark/secondary */

background: #171D27;

}
.info_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.125em;
}

.info_text img {
    width: 15px;
}
.graph_image_container {
    width: 48%;
}
.graph_image_container img {
    width: 100%;
}
.min_max_price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
 background: var(--dark2)
}

.min_max_price p{
    font-weight: 300;
    color: var(--text-grey-white);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}
.min_max_content {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);
}
.min_price,
.max_price {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
    letter-spacing: -0.02em;
}

.max_price {
    color: #7371fc;
}
.min_price {
    color: #cdc1ff;
}


/* TOKEN PAIR DETAILS */
.token_pair_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.token_pair_details p{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
    font-weight: 100;
}
.tx_details{
    background: var(--dark2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
   
    padding: 0 1rem;

   
    /* gap: 8px; */
}
.tx_details div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);
}
.tx_details p{
    color: var(--text-grey-white);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 300;

}

.token_pair_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.token_pair_images img{
width: 30px;
}

.align_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}