.transaction_submitted {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.transaction_submitted h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.transaction_submitted p a {
    cursor: pointer;
    text-decoration: none;
    /* font-size: var(--body-size);
  line-height: var(--body-lh); */
}
.completed_animation {
    display: flex;
    min-height: 190px;
    /* min-width: 400px;
    max-width: 400px; */

    justify-content: center;
    align-items: center;
}

.arrow {
    position: relative;
    z-index: 1;
    left: calc(50% - 16px);

    width: 32px;
    height: 32px;
    margin-top: -14px;
    margin-bottom: -14px;
    padding: 4px;

    border: 4px solid var(--header-color);
    border-radius: var(--border-radius);
    background-color: var(--dark3);
}

.view_etherscan {
    padding: 0.3rem;
    background: var(--title-gradient);
    text-decoration: none;
    color: black;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    margin: 8px 0;
}

.view_etherscan:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #6361d7 0%, #b0a6db 49.48%, #6361d7 100%);

    transition: all var(--animation-speed) ease-in-out;
}
