.transaction_submitted {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    /* padding: 20px; */
}
.transaction_submitted h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.noAnimation_submitted h2 {
    color: var(--text1);
}
.transaction_submitted p a {
    cursor: pointer;
    text-decoration: none;
    /* font-size: var(--body-size);
  line-height: var(--body-lh); */
}
.completed_animation {
    display: flex;
    min-height: 200px;

    justify-content: center;
    align-items: center;
}

.arrow {
    position: relative;
    z-index: 1;
    left: calc(50% - 16px);

    width: 32px;
    height: 32px;
    margin-top: -14px;
    margin-bottom: -14px;
    padding: 4px;

    border: 4px solid var(--header-color);
    border-radius: var(--border-radius);
    background-color: var(--dark2);
}

.action_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.view_etherscan {
    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;
    background: var(--accent1);

    text-decoration: none;
    color: var(--text1);
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all var(--animation-speed) ease-in-out;
}

.bypass_buttons a,
.bypass_buttons button {
    padding: 3px 4px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.view_etherscan:hover,
.view_etherscan:focus-visible {
    color: var(--text1);
    box-shadow: 4px 4px var(--accent5);
}
