.transaction_submitted {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
   
}
.transaction_submitted h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.transaction_submitted p a {
    cursor: pointer;
    text-decoration: none;
    /* font-size: var(--body-size);
  line-height: var(--body-lh); */
}
.completed_animation {
    display: flex;
    min-height: 100px;
    /* min-width: 400px;
    max-width: 400px; */

    justify-content: center;
    align-items: center;
}

.arrow {
    position: relative;
    z-index: 1;
    left: calc(50% - 16px);

    width: 32px;
    height: 32px;
    margin-top: -14px;
    margin-bottom: -14px;
    padding: 4px;

    border: 4px solid var(--header-color);
    border-radius: var(--border-radius);
    background-color: var(--dark3);
}

.action_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.view_etherscan {
    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;
    background: var(--text-highlight-dark);

    text-decoration: none;
    color: black;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all var(--animation-speed) ease-in-out;
}

.view_etherscan:hover {
    color: var(--text-grey-white);
    box-shadow: 4px 4px var(--text-highlight);
}