.close_icon_container {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.close_icon_container button {
    background: transparent;
    outline: none;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--accent5);
    cursor: pointer;
    border: 1px solid var(--dark3);
    transition: all var(--animation-speed) ease-in-out;
    border-radius: 50px;
    padding: 3px 8px;
}

.close_icon_container button:hover {
    color: var(--accent1);
    border: 1px solid var(--accent1);
}
.button_container .button_content {
    width: 100%;
    outline: none;

    padding: 12px 8px;
    font-size: 12px;

    line-height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;
    /* background: var(--accent5); */
    background: var(--dark2);
    color: var(--text1);

    border-radius: 4px;
}

.extra_info_container {
    padding: 12px;
    background: var(--dark2);
    margin-top: 8px;
}

.button_content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
