/* 

/* .swap{
    height: 100vh;
    width: 100vw;
} */

/* .footer{
    position: relative;
    position: absolute;
    right: 0;
    bottom: 0;
} */

/* .container{
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

.swap_page {
    /* height: calc(100vh - var(--footer-height));  */
    height: 100%;

    background: url(../../assets/images/backgrounds/background.png) no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.swap_page_container {
    margin-top: 64px;
}
.scrollable_container {
    height: auto;
    overflow-y: scroll;
}
.price_impact_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_impact {
    border: 1px solid var(--border);
    margin: 5px 5px;

    border-radius: var(--border-radius);

    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 300;

    color: var(--other-red) !important;
}

.price_impact svg {
    color: var(--other-red) !important;
}

.scrollable_container::-webkit-scrollbar {
    display: none;
}

.header_container {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* options control */
.option_control_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.options_control_display_container {
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.control_title {
    color: var(--text2);
}

.url_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--accent5);
}

.url_link div {
    cursor: pointer;
}

.authenticate_button {
    width: 100%;
    outline: none;

    padding: 12px 16px;

    font-size: 16px;

    line-height: 24px;

    display: block;

    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: box-shadow var(--animation-speed) ease-in-out;

    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark2);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authenticate_button:hover,
.authenticate_button:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.bypass_confirm_button {
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: block;

    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;

    border: none;
    background: var(--accent1);
    color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out;
}

.tutorial_button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
}
.tutorial_button {
    outline: none;
    background: var(--dark2);
    border: 1px solid var(--accent1);
    color: var(--text2);
    border-radius: 4px;
    padding: 0 4px;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;

    box-shadow: var(--trade-box-shadow);
}
.tutorial_button:hover {
    color: var(--text1);
}

.extra_row {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.align_center {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 5px;
}

.acknowledge_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border: 1px var(--border);
    border-radius: var(--border-radius);
    border: 0.1px solid var(--text3);
    text-align: center;
    padding: 4px;
    margin-top: 8px;
}

.acknowledge_etherscan_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
}

.acknowledge_etherscan_links a {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--accent1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all var(--animation-speed) ease-in-out;
}
.acknowledge_etherscan_links a:hover {
    color: var(--text1);
    border: 1px solid var(--accent1);
}

/* pool not initialized */

.pool_not_initialialized_container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin-top: 3rem;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.pool_not_initialialized_content {
    position: relative;

    margin: 0 auto;

    background: rgba(23, 29, 39, 0.95);

    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 1px solid var(--accent5);

    padding: 3rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.pool_not_initialialized_content h2 {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text1);
}
.pool_not_initialialized_content h3 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text3);
}

.initialize_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;

    max-height: 3rem;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: uppercase;

    color: var(--accent5);
    border-radius: 4px;
    transition: all var(--animation-speed) ease-out;
    background: var(--title-gradient);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid var(--accent1);
}

.initialize_link:hover {
    color: black;
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}
.initialize_link img {
    width: 20px;
    height: 20px;
}

.close_init {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.no_thanks {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--accent5);
}

@media only screen and (min-width: 700px) {
    .align_center {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        text-align: start;
    }
    .extra_info_content {
        padding: 0 2%;
    }
    .data {
        text-align: end;
    }

    .extra_details {
        padding: 0.1rem 1rem;
    }
    .price_impact {
        padding: 0.1rem 1rem;
    }

    .extra_row {
        flex-direction: row;
    }
}
