/* 

/* .swap{
    height: 100vh;
    width: 100vw;
} */

/* .footer{
    position: relative;
    position: absolute;
    right: 0;
    bottom: 0;
} */

/* .container{
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

.swap_page {
    /* height: calc(100vh - var(--footer-height));  */
    height: 100%;

    background: url(../../assets/images/backgrounds/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.swap_page_container {
    margin-top: 64px;
 
}

.header_container {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}




/* options control */
.option_control_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.options_control_display_container{
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.control_title{
    color: var(--text-grey-light)
}

.url_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--text-highlight)
}

.url_link div{
    cursor: pointer;
    
}

.authenticate_button{
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: block;

   height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: box-shadow var(--animation-speed) ease-in-out;


    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark3);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authenticate_button:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2),
    0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2),
    0px 0px 4px #cdc1ff, 0px 0px 2px rgba(205, 193, 255, 0.2);

    
}