/* 

/* .swap{
    height: 100vh;
    width: 100vw;
} */ 

/* .footer{
    position: relative;
    position: absolute;
    right: 0;
    bottom: 0;
} */

/* .container{
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

.swap_page{
    height: 100vh;
    

    background: url(../../assets/images/backgrounds/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.swap_page_container{
    margin-top: 64px;
}

.header_container{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 4px
}

