.swap_page {
    height: 100%;
    background: url(../../assets/images/backgrounds/swap_bg.png) no-repeat
      ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--dark2);
}

.swap_page_container {
    margin-top: 64px;
}

.scrollable_container {
    height: auto;
    overflow-y: scroll;
}
.price_impact_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price_impact {
    border: 1px solid var(--dark3);
    border-radius: var(--border-radius);

    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 300;

    color: var(--other-red) !important;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.price_impact svg {
    color: var(--other-red) !important;
}

.scrollable_container::-webkit-scrollbar {
    display: none;
}

.header_container {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* options control */
.option_control_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.options_control_display_container {
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.control_title {
    color: var(--text2);
}

.url_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--accent5);
}

.url_link div {
    cursor: pointer;
}

.authenticate_button {
    width: 100%;
    outline: none;

    padding: 12px 16px;

    font-size: 16px;

    line-height: 24px;

    display: block;

    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: box-shadow var(--animation-speed) ease-in-out;

    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark2);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authenticate_button:hover,
.authenticate_button:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.bypass_confirm_button {
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: block;

    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;

    border: none;
    background: var(--accent1);
    color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out;
}

.tutorial_button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
}
.tutorial_button {
    outline: none;
    background: var(--dark2);
    border: 1px solid var(--accent1);
    color: var(--text2);
    border-radius: 4px;
    padding: 0 4px;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;

    box-shadow: var(--trade-box-shadow);
}
.tutorial_button:hover {
    color: var(--text1);
}

.extra_row {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    justify-content: space-between;
    align-items: center;
}

.align_center {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 4px;
}

.acknowledge_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border: 1px var(--border);
    border-radius: var(--border-radius);
    border: 0.1px solid var(--text3);
    text-align: center;
    padding: 4px;
    margin-top: 8px;
}

.acknowledge_etherscan_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
}

.acknowledge_etherscan_links a {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--accent1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all var(--animation-speed) ease-in-out;
}
.acknowledge_etherscan_links a:hover {
    color: var(--text1);
    border: 1px solid var(--accent1);
}

/* pool not initialized */

.pool_not_initialialized_container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin-top: 3rem;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.pool_init_bg{
    width: 430px;
    height: 204px;
    background: var(--title-gradient);
    border-radius: var(--border-radius);
    padding: 1px;
}

.pool_not_initialialized_content {

padding-top: 8px;
    border-radius: var(--border-radius);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
   width: 100%;
   height: 100%;
    background: var(--dark1)
}
.pool_not_init_inner{

    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 8px;

   justify-content: center;
    align-items: center;
    padding: 0 2rem;

   width: 100%;
   height: 100%;
  
}


.pool_not_initialialized_content h2 {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text1);
    font-weight: 200;
}
.pool_not_initialialized_content h3 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text3);
    font-weight: 200;
}

.initialize_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px 3rem;
    font-size: 16px;
    line-height: 24px;

   height: 48px;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    color: var(--text1);
    border-radius: 4px;
    transition: all var(--animation-speed) ease-out;

    background: linear-gradient(
        90deg,
        rgba(115, 113, 252, 0) 0%,
        rgba(115, 113, 252, 0) 71.21%,
        var(--accent1) 100%
    );
    text-decoration: none;
    border: 1px solid var(--accent1);
}

.initialize_link:hover {
    color: var(--dark1);
    background: linear-gradient(to left, var(--accent1) 34%, var(--accent5) 65%) right;
    background-size: 300% 100%;
}

.close_init {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    padding: 0 1rem;
}

.no_thanks {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--accent1);

    font-size: var(--header2-size);
    line-height: var(--header2-lh);
   
    font-weight: 200;
}

@media only screen and (min-width: 700px) {
    .align_center {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        text-align: start;
    }
    .extra_info_content {
        padding: 0 2%;
    }
    .data {
        text-align: end;
    }

    .extra_details {
        padding: 0.1rem 1rem;
    }

    .extra_row {
        flex-direction: row;
    }
}
