.modal_container {
    width: 400px;
    padding: 1rem;
    background: var(--dark1);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.arrow_container {
    width: 100%;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.currency_row_container {
    width: 100%;
    background: var(--dark2);
    display: grid;
    grid-template-columns: auto 140px;
    align-items: center;

    border-radius: var(--border-radius);
    padding: 0 2rem;
    height: 40px;
}

.currency_row_container h2 {
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    letter-spacing: -0.02em;
}

.logo_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.extra_info_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 4px;
}
.extra_info_container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.extra_info_container > div p {
    font-weight: 300;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.extra_note {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--accent2);
    text-align: center;
}
