.main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--header1-size);
    color: var(--text2);
}

.main_container svg {
    color: var(--text2);
    height: 20px;
    width: 20px;
}

.main_container svg:hover {
    color: var(--accent1) !important;
}

.mobile_container {
    width: 100%;

    align-items: center;
    height: 35px;

    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 8px;
}

.icon_container {
    outline: transparent;
    border: transparent;
    background: var(--dark2);
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 2px 0;
    border-radius: var(--border-radius);
}

.token_pair {
    color: var(--text1);
    font-size: var(--header1-size);
    cursor: pointer;
}
.swap_title {
    color: var(--text1);
}
.settings_button_futa{
    width: 44px;
    height: 36px;
    display: flex;
padding: 0px 12px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border: 1px solid var(--dark2, #14161A);
background: var(--dark2, #14161A);
}
.settings_button_futa:hover{
    border: 1px solid var(--dark3);

}