.swap_page_header {
    padding-bottom: 16px;
}

.title {
    color: var(--text1);
}

.hoverable_icon {
    fill: var(--text2) !important;
    color: var(--text2) !important;
}
.hoverable_icon:hover {
    fill: var(--accent1) !important;
}
.token_info {
    cursor: pointer;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    letter-spacing: -0.02em;
    font-weight: 300;
    color: var(--text1);
}

.share_button {
    background: transparent;
    outline: none;
    border: none;
    height: 20px;
}
.share_button:hover {
    color: var(--accent1) !important;
}
.settings_icon,
.share_button {
    cursor: pointer;
}
