.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.trade_link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text1);
    font-size: 18px;
    border-radius: var(--border-radius);
    transition: all var(--animation-speed) ease-in-out;
    background: var(--dark2);
}

/* Futa active trade link */
.trade_link_futa_active {
    border: 1px solid var(--accent1, #AACFD1);
    background: var(--dark2, #14161A);
    color: var(--accent1, #AACFD1);
    text-align: center;
  
    font-family: "Fira Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  
  /* Futa inactive trade link (no borders) */
  .trade_link_futa {
    color: var(--text2, #939C9E);
    text-align: center;
    border: 1px solid transparent;
    
    font-family: "Fira Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
.trade_link_active {
    background: var(--accent1);
}

.trade_link:hover {
    background: var(--accent1);
}

@media only screen and (min-width: 769px) {
    .trade_link {
        width: 116px;
        height: 25px;
    }

    .container {
        height: 25px;
        margin: 0 0 16px 0;
    }
}
