.token_input_container {
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;

    gap: 8px;
}

.operation_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.disabled svg:hover {
    cursor: wait !important;
}

.operation_container img {
    cursor: pointer;
}

.operation_container img:hover > path {
    transition: box-shadow var(--animation-speed) ease-in-out;
    display: none;
}

.inactive {
    cursor: default !important;
}

.overlay_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    background: var(--dark2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
}

.disabled_text {
    font-size: 10px;
    line-height: var(--body-lh);
    text-align: center;
    font-weight: 100;
}

.warning_text {
    font-weight: 300;
    color: var(--accent1);
}
