.wallet_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    justify-content: space-between;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);

    padding: 8px 16px;
    padding-bottom: 0px;
}

.balance_with_pointer {
    display: flex;
    flex-direction: row;

    align-items: center;
    /* margin-right: 4px; */
    gap: 4px;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.balance_column {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: var(--text1);
}

.ambient_logo {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-left: 4px;
    padding-right: 5px;
    padding-top: 2.5px;
}

.wallet_logo {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-top: 1.5px;
}

.enabled_logo img {
    filter: contrast(1) brightness(1) saturate(1);
}

.grey_logo img {
    filter: grayscale(100%);
}

.max_button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    outline: none;
    border: none;
    background: transparent;

    width: 25px;
    max-height: 20px;
    transition: all var(--animation-speed) ease-in-out;
}

.max_button_enable {
    border-radius: 4px;
}

.max_button:hover {
    color: var(--accent1);
}

.refresh_button {
    justify-content: flex-end;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.refresh_button:hover > svg{
    color: var(--accent1)
}

.refresh_button:focus-visible {
    color: var(--text1);
    cursor: pointer;
}