.token_input_container {
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    
    gap: 8px;
}

.operation_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.disabled svg:hover {
    cursor: wait !important;
}

.operation_container img {
    cursor: pointer;
}

.operation_container img:hover > path {
    transition: box-shadow var(--animation-speed) ease-in-out;
    display: none;
}
