.selected_range {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* Switch buttons */
/* JR: TODO: TURN ON BORDER AND FIX SPACE ISSUE */
.button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    min-height: 33px;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: right;
    color: var(--text2);
    margin: 8px 0;
}

.button_container button {
    cursor: pointer;
    background: var(--dark2);
    min-width: 2rem;
    /* padding: 0.1rem; */
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text2);
    outline: none;
    border: solid 0.2px transparent;
    border-radius: 50px;
    padding: 5px 8px;
}

/* .button_container button:hover{
    background: var(--title-gradient);
    transition: all var(--animation-speed) ease-in-out;
   
} */
.button_container .non_active_button:hover {
    transition: all var(--animation-speed) ease-in-out;
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.button_container .active_button {
    border: solid 0.2px transparent;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, var(--accent1), var(--accent5), var(--accent1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;
}

/* price range container */
.price_range_container {
    width: 100%;

    background: var(--dark2);

    border-radius: var(--border-radius);
}
.price_range_content {
    padding: 12px;
    display: grid;

    grid-auto-rows: auto;
    row-gap: 4px;
    justify-items: center;
    cursor: pointer;
}

.price_range_title,
.currentPrice_title {
    font-size: var(--body-size);
    line-height: var(--body-lh);

    color: var(--text2);
}
.price_range_amount,
.currentPrice_amount {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-weight: 200;

    text-align: center;
}

.price_range_info,
.currentPrice_info {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 300;

    text-align: center;

    color: var(--accent5);
}

/* SELECTED RANGE */
.selected_range_display {
    display: grid;
    grid-gap: 0.5rem;
    margin-top: 0.5rem;
}

.extra_info_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--dark3);
    border-radius: 4px;
    margin-top: 0.5rem;
}
.extra_info_container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.extra_info_container .row p {
    font-weight: 300;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .selected_range_display {
        grid-template-columns: 1fr 1fr;
    }
}
