.header_container{
    
    height: 41px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background: red; */
}

.header_container svg{
    cursor: pointer;
    color: var(--text-grey-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container h2{
    font-weight: 300;
font-size: var(--header1-size);
line-height: 30px;
display: flex;
/* align-items: center;
text-align: center; */
letter-spacing: -0.02em;

color: var(--text-grey-white)
}

.align_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}