.range_details_container{
    /* max-width: 800px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 16px 0px;
}

.main_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
}