.scrollable_container {
    height: auto;
    overflow-y: scroll;
}

.scrollable_container::-webkit-scrollbar {
    display: none;
}

.denomination_switch_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* options control */
.option_control_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.options_control_display_container {
    display: flex;
    flex-direction: column;
}

.options_control_display_container ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.info_button_container {
    margin-top: 8px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info_container {
    margin-top: 8px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.advanced_info_container {
    padding: 0 32px;
}

.control_title {
    color: var(--text2);
}

.url_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--accent5);
}

.url_link div {
    cursor: pointer;
}

.tutorial_button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
}
.tutorial_button {
    outline: none;
    background: var(--dark2);
    border: 1px solid var(--accent1);
    color: var(--text2);
    border-radius: 4px;
    padding: 0 4px;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;

    box-shadow: var(--trade-box-shadow);
}
.tutorial_button:hover {
    color: var(--text1);
}

.acknowledge_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border: 1px var(--dark3);
    border-radius: var(--border-radius);
    border: 0.1px solid var(--text3);
    text-align: center;
    padding: 4px;
    margin-top: 8px;
}

.acknowledge_etherscan_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 4px 0;
}

.acknowledge_etherscan_links a {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--accent1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all var(--animation-speed) ease-in-out;
}
.acknowledge_etherscan_links a:hover {
    color: var(--text1);
    border: 1px solid var(--accent1);
}
@media only screen and (min-width: 1280px) {
    .scrollable_container {
        height: 100vh;
        overflow-y: scroll;
    }
}
