.container {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 4rem 0;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);
}
.title:focus-visible{
    text-decoration: underline;
    text-decoration-color:var(--text-grey-white) ;
    border: none;
    outline: none;
    }
.content {
    max-width: 1200px;
    margin: 0 auto;


    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   

    
}

.stat_card_container {
    background: var(--dark3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 350px;
    height: 100px;
    border-radius: 4px;
    cursor: default;
    transition: all var(--animation-speed) ease-in-out;
}
.stat_card_container:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #cdc1ff,
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);
}
.value {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);
    font-family: var(--mono);
}

