.dropdown {
    position: absolute;
    top: 25px;
    width: 100px;
    transform: translateX(-45%);

    background: var(--dark2);

    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: var(--border);
    border-radius: 4px;
    padding: 12px;
    overflow: hidden;
    transition: height 500ms ease;

    z-index: 2;
}
