.dropdown{
    position: absolute;
    top: 50px;
    width: 100px;
    /* transform: translateX(-45%); */
    background-color: blue;
    border: var(--border);
    border-radius: 4px;
    padding: 12px;
    overflow: hidden;
    transition: height 500ms ease;
}