.liqtype_buttons_container {
    font-size: 0;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.liqtype_buttons_container button {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);

    width: 48%;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    padding: 3px 0;

    border: none;

    outline: none;
    border-radius: var(--border-radius);
}

.liqtype_buttons_container button:hover {
    color: var(--text2);
}
.active_button {
    color: var(--dark1);

    background: var(--title-gradient);
}
.non_active_button {
    color: var(--text1);
    background: var(--dark2);
}
