.pool_card {
    cursor: pointer;
    position: relative;
    list-style: none;
    border-radius: 4px;
}

.main_container {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--dark2);
    padding: 8px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    transition: all var(--animation-speed) ease-in-out;
}
.pool_card:hover, .pool_card:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #cdc1ff,
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.row {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.column {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.row div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.row img {
    width: 30px;
}
.token_images {
    margin-top: 3px;
}
.tokens_name {
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    color: var(--text-grey-white);
}

.pool_price_change {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.pool_price_title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-grey-white);
}

.row_title {
    width: 50%;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
    align-items: flex-start;

    /* text/grey light */

    color: #bdbdbd;
}

.apr {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;

    background: linear-gradient(
        90deg,
        #15be6f 32.38%,
        #8fe9bf 51.39%,
        #15be6f 68.17%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.vol {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;

    /* text/white */

    color: var(--text-grey-white);
}
.change_positive {
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: -0.02em;

    /* other/positive */

    color: var(--positive);
}
.change_negative {
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: -0.02em;

    /* other/positive */

    color: var(--negative);
}
.price {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.02em;
    color: var(--text-grey-white);
    font-family: sans-serif;
    /* font-family: var(--mono); */
}

.full_width {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.full_width_center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vol,
.apr {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
}
