.pool_card {
    cursor: pointer;
    position: relative;
    list-style: none;
    border-radius: 4px;
}

.main_container {
    background: var(--dark2);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    transition: all var(--animation-speed) ease-in-out;
}
.pool_card:hover,
.pool_card:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}

.row {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.column {
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
}

.row div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.row img {
    width: 30px;
}
.token_images {
    margin-top: 3px;
}
.tokens_name {
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    color: var(--text1);
}

.pool_price_change {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.pool_price_title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: var(--text1);
}

.row_title {
    width: 50%;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
    align-items: flex-start;

    /* text/grey light */

    color: var(--text2);
}

.apr {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;

    background: var(--apr-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.vol {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;

    /* text/white */

    color: var(--text1);
}
.change_positive {
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: -0.02em;

    /* other/positive */

    color: var(--positive);
}
.change_negative {
    font-weight: 200;
    font-size: 12px;
    line-height: 22px;

    letter-spacing: -0.02em;

    /* other/positive */

    color: var(--negative);
}
.price {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.02em;
    color: var(--text1);
    font-family: sans-serif;
    /* font-family: var(--mono); */
}

.full_width {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.full_width_center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vol,
.apr {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
}

@media only screen and (max-width: 600px)  {
    .pool_card{
        padding: 0 1rem;
    }
.pool_card, .main_container{
    width: 100%
}

.pool_card:hover,
.pool_card:focus-visible {
    box-shadow: none;
}

}