.container{
    width: 100%;
    height: calc(100svh - 154px);

    display: flex;
padding: 8px 16px;
flex-direction: column;
gap: 8px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: "Fira Mono";
justify-content: space-between;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.content h2{
color: var(--text1, #CEFFFF);
font-size: 36px;
text-transform: uppercase;
}


.claimAllContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;

    bottom: 0;
}

.claimAllContainer h3{
    color: var(--text1, #CEFFFF);
font-size: 20px;
}
.claimAllContainer p{
    color: var(--text2);
    font-size: 12px;
    padding: 0 16px;
    text-align: center;
}

.extraFeeContainer{
    width: 100%;
    border: 1px solid var(--dark3, #1E1E24);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:  8px;
}

.alignCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.claimButton{
    display: flex;
padding: 2px 8px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
background: var(--accent1, #0CCDFF);
outline: none;
border: 1px solid var(--accent1);
cursor: pointer;
transition: all var(--animation-speed) ease-in-out;
}
.claimButton:hover{
    background: transparent;
    color: var(--accent1)
}

/* desktop */
.desktopContainer {
    display: grid;
    grid-template-columns: auto 390px;
    padding: 8px 16px;
    height: calc(100vh - 56px);
    gap: 16px;
}

.rightLayout{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 3.5rem;
    
}






