/* top-level element returned by `Account.tsx` file */
.main, .main_full {
    display: flex;
    flex-direction: row;
    height: calc(100% - 19px);
    padding: 0px 8px;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 8px;
/* 
    display: grid;
    grid-template-columns: auto 390px; */
}

.searchable_ticker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    align-items: flex-start;
    justify-content: flex-start;
    --width-for-scrollbar: 8px;
    border: var(--futa-box-border);
}

/* left side of `Account.tsx` (contains ticker table and chart) */
.tickers_and_chart {
    flex-grow: 1;
    height: 100%;
}

/* in-page 'ACCOUNT' title (only on mobile devices) */
.tickers_and_chart h2 {
    color: var(--text1, #ceffff);
    font-size: 24px;
    text-transform: uppercase;
}


.connectWalletContent {
    width: 100%;
    height: calc(100vh - 56px);
    gap: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connectWalletContent button,
.connectWalletContent a {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    text-transform: uppercase;
    background: var(--accent1, #0ccdff);
    color: var(--dark1);
    border: none;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    outline: none;

    margin: 0 auto;
}

.connectWalletContent a {
    color: var(--dark1);
}

.connectWalletContent button:hover,
.connectWalletContent a:hover {
    background: var(--accent2);
    color: var(--dark1);
}
@media screen and (min-width: 1367px) {
    .main{

        display: grid;
        grid-template-columns: auto 390px
    }
    .main_full{
        grid-template-columns: auto;
    }



}
/* tablets and cellphones */
@media screen and (max-width: 1024px) {
    .main, .main_full {
        flex-direction: column;
        height: calc(100% - 90px);
        display: grid;
        grid-template-rows: 1fr 344px;
        
    }
    .searchable_ticker{
        border: none;
    }

}

@media screen and (max-width: 768px) {

    .main, .main_full{
        height: 100%;
        overflow: scroll;
    }
    .tickers_and_chart{

        width: calc(100vw - 16px) !important;

       
    }

  
}

