.removal_pending {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    gap: 1rem;
    padding: 0 1rem;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
