.currency_converter_switch {
    display: flex;
    flex-direction: column-reverse;
    transition: all 1s ease-in-out;
}

.currency_converter {
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    padding: 0 1rem;
}

.arrow_container {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_container_disabled {
    cursor: wait;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_container img {
    cursor: pointer;
}

.arrow_container img:hover > path {
    transition: box-shadow var(--animation-speed) ease-in-out;
    display: none;
}
