.currency_converter {
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
}

.currency_converter_switch {
    flex-direction: column-reverse;
}

.arrow_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.arrow_container_disabled svg:hover {
    cursor: wait !important;
}

.arrow_container img {
    cursor: pointer;
}

.arrow_container img:hover > path {
    transition: box-shadow var(--animation-speed) ease-in-out;
    display: none;
}
