.arrow_container {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_container img {
    cursor: pointer;
}

.arrow_container img:hover > path {
    transition: box-shadow var(--animation-speed) ease-in-out;
    display: none;
}
/* .arrow{
  cursor: pointer;
    height: 1.3rem;
  width: 1.3rem;
  border-style: solid;
  border-width: 0px 4px 4px 0px;
  border-image-slice: 1;

  border-image-source: linear-gradient(90deg, #7371FC 0%, #CDC1FF 49.48%, #7371FC 100%);
  transform: rotate(45deg);
  transition: border-width var(--animation-speed) ease-in-out;
}

.arrow:hover{
  transition: box-shadow  var(--animation-speed) ease-in-out;
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2), 0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #CDC1FF, 0px 0px 2px rgba(205, 193, 255, 0.2);
} */
