.main_container{
    display: flex;
    flex-direction: column;
}

.wallet_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 33px;
}

.wallet_container_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}