/* SIDEBAR FOOTER */

.sidebar_footer {
    z-index: 999;
   width: 100vw !important;
    bottom: 0;
    transition: width var(--animation-speed) ease;

    background-color: var(--body-bg);
    height: 64px;
    display: none;

   background: var(--body-bg)
}
.sidebar_footer button{
    background-color: transparent;
    outline: none;
    border: none;
   
}

.position_sticky {
    position: sticky;
}

.position_absolute {
    position: absolute;
}
.sidebar_footer a, .sidebar_footer p {
    cursor: pointer;
    display: flex;
    flex: 1 0;
    flex-flow: column;
    align-items: center;
    padding:  3px;
    font-size: 11px;
}
.sidebar_footer a img,
.sidebar_footer a svg {
    width: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
}

@media only screen and (min-width: 500px) {
    .sidebar_footer a, .sidebar_footer p {
        flex: 1 0;
        padding: 6px 5px;
        font-size: 12px;
    }
    .sidebar_footer a img,
    .sidebar_footer a svg {
        width: 20px;
    }
}

/* Small screens */
@media only screen and (max-width: 1020px) {
    .sidebar {
        display: none;

        bottom: 0;
        width: 100vw;
        height: 5rem;
        background: var(--dark2);
        z-index: 2;
    }
    .sidebar_footer {
        display: flex;
      
    }
}
