:root {
 
    --nav-size: 60px;
 
  }

/* <li> */
.nav_item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Icon Button */
  .icon_button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon_button:hover {
    filter: brightness(1.2);
  }
  
  .icon_button svg { 
    fill: #dadce1;
    width: 20px;
    height: 20px;
  }
  