.token_arrow {
    cursor: default;
    background-color: transparent;
}
/* .token_arrow:hover {
    transition: all var(--animation-speed) ease-in-out;

    filter: drop-shadow(0 -0.5mm 0.8mm #7371fc);
    transform: scale(1.08);
} */
