.container {
    display: flex;
    transition: all var(--animation-speed) ease-in-out;
    /* background: var(--dark2); */
    border-radius: 50%;
    /* width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%; */

    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    outline: none;
    border: none;
    background: transparent;
}

.container:hover {
    /* background: var(--dark2); */
    width: 30px;
    height: 30px;
    border-radius: 50%;

    /* cursor: pointer; */
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); */
}

.container:hover .token_arrow,
.container:focus-visible .token_arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.display_container:hover .token_arrow,
.display_container:focus-visible .token_arrow {
    transform: none;
}

/* .clicked{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.container svg:first-of-type{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container svg:nth-of-type(2){

    margin-top: 10px;
}
 */

.token_arrow {
    background-color: transparent;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    /* cursor: pointer; */
}

/* .token_arrow:hover{


    margin-bottom: 6px;
    cursor: pointer;

} */

/* .token_arrow:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
} */
