.container {
    display: flex;
    transition: all var(--animation-speed) ease-in-out;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    outline: none;
    border: none;
    background: transparent;

    cursor: pointer;
}

.container:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container:hover .token_arrow,
.container:focus-visible .token_arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.display_container {
    cursor: default;
}

.display_container:hover .token_arrow,
.display_container:focus-visible .token_arrow {
    transform: none;
    cursor: unset !important;
}

.token_arrow {
    background-color: transparent;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.disabled, .disabled * {
    cursor: wait !important;
}

