/* ProgressBar.module.css */
.progressBarContainer {
    display: flex;
    gap: 2px;
}

.progressBar {
    width: 27.9px;
    height: 12px;
    background: var(--accent1);
}

@media screen and (max-width: 420px) {
    .progressBar {
        width: 22px;
    }
}
