.scroll_container {
    background: var(--dark2);
    padding: 0 1rem;
    height: 80px;
    overflow-y: scroll;
}

.scroll_container::-webkit-scrollbar {
    display: none;
}
.container,
.scroll_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 10px;
    line-height: 12px;
}

.row p {
    font-weight: 300;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.option_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    height: 23px;
    padding: 5px 8px;
    text-decoration: none;

    background: var(--dark1);
    border: 1px solid var(--dark3);
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;
    cursor: pointer;
}
