.tabs_container {
    width: 100%;
    height: 100%;

    border-radius: var(--border-radius);
    background: var(--dark1);

    align-items: stretch;
}
.table_container {
    display: grid;
    grid-template-columns: 80px auto;
}
.table_container .token_images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.table_container .token_images img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .tabs_container {
        margin: 0 auto;
        width: 90%;
        margin-left: 30px;

      padding: 0 1rem;
    }
}
