.tabs_container {
    /* width: 100%; */
    height: 100%;
    margin-top: 1rem;
    border-radius: var(--border-radius);
    background: var(--dark1);
    align-items: stretch;

}
.table_container{
    display: grid;
    grid-template-columns: 80px auto ;
}
.table_container .token_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.table_container .token_images img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}