.container{
    width: 100svw;
    height: calc(100svh - 60px);
    scroll-behavior: smooth;
    
    /* background: url('../../../../../assets/futa/home/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    
   
}



.content{
    width: 100%;
    height: calc(100svh - 60px);
    display: grid;
    grid-template-rows: 1fr 135px;

    background: var(--dark1);

   

    
}



