.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 16px;
    background: url('../../../../../assets/futa/home/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}



.container h3{
    color: var(--base-text1, #AACFD1);
font-family: "Fira Mono";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: start;
width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
   
    gap: 48px;
}

.list{
    
    gap: 1rem;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}
.number{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
gap: var(--fontSizes-fontSize_extraSmall, 10px);
border-radius: 50%;
border: 1px solid var(--borders, #5C6F72);

color: var(--borders, #5C6F72);

/* Mono 18 */
font-family: "Fira Mono";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
}
.list p{
    color: var(--base-text2, #939C9E);
font-family: "Fira Mono";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
@media only screen and (max-width: 500px) {
    .container{
        gap: 1rem;
    }

    .list{
        flex-direction: column;
        align-items: center;
    }

    .content p{
        font-size: 18px !important;
    }
    
    }

@media only screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        align-items: center;
        padding:0  130px;
        height: 100svh;
        padding-bottom: 130px;
     }
     .imgContainer{
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         height: 100%;
     }
     .imgContainer img{
         width: 460px;
     }

 
 .content p{
     font-size: 20px;
 }


}
@media (min-width: 376px) and (max-width: 1028px) {
    .container{
        padding: 1rem ;
    }
    .content p{
        font-size: 22px;
    }

   
}

@media only screen and (min-width: 1280px) {
    .container{
        /* background-color: yellow; */
        padding-left: 192px;
        padding-right: 192px;

        grid-template-columns: auto 1fr;
      
      
    }

    .container h3{
        font-size: 48px;
        font-weight: 400;
    }
    
    
    }