.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 16px;
    background: url('../../../../../assets/futa/home/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.container h3{
    color: var(--base-text1, #AACFD1);
font-family: "Fira Mono";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: start;
width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: flex-start;

}

.content a{
    text-decoration: none;
    color: var(--borders, #5C6F72);
font-family: "Fira Mono";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        align-items: center;
        padding:0  130px;
        height: 100svh;
        padding-bottom: 130px;
     }
     .imgContainer{
         display: flex;
         justify-content: flex-end;
         align-items: flex-end;
         height: 100%;
     }
     .imgContainer img{
         width: 460px;
     }
 .container h3{
     font-size: 48px;
     font-weight: 400;
 }
 
 .content a{
     font-size: 20px;
 }


}

@media (min-width: 376px) and (max-width: 1028px) {
    .container{
        padding: 1rem ;
    }
    .content p{
        font-size: 22px;
    }

    .videoContainer{
        align-items: center;
    }
}
@media only screen and (min-width: 1280px) {
    .container{
        /* background-color: yellow; */
        padding-left: 162px;
        /* padding-right: 192px;
        grid-template-columns: auto 0.6fr;
        gap: 10rem; */

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       width: 1200px;
       gap: 256px;
        
       margin: 0 auto;
    }
    
    
    }

    @media only screen and (min-width: 1600px) {
        .container{
    
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
           width: 1570px;
           gap: 256px;
            
           margin: 0 auto;
        }
    }