.container{
    width: 100svw;
    height: calc(100svh - 60px);
    scroll-behavior: smooth;
    

    
   
}



.content{
    width: 100%;
    height: calc(100svh - 60px);
    display: grid;
    grid-template-rows: 1fr 185px;

    background: var(--dark1);

   

    
}



