.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 0 16px;
   
}



.container h3{
    color: var(--base-text1, #AACFD1);
font-family: "Fira Mono";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: start;
width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
   
    gap: 48px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.number{
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
gap: var(--fontSizes-fontSize_extraSmall, 10px);
border-radius: 50%;
border: 1px solid var(--borders, #5C6F72);

color: var(--borders, #5C6F72);

/* Mono 18 */
font-family: "Fira Mono";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.36px;
}
.list p{
    color: var(--base-text2, #939C9E);
font-family: "Fira Mono";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
@media only screen and (max-width: 375px) {
.container{
    gap: 1rem;
}

}