.container {
    height: 100%;
    
    display: flex;
    flex-direction: column;

    white-space: nowrap;
    overflow: hidden;
}

.header, .range_header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
    padding: 5px 0;

    border-bottom: 1px solid var(--dark2);
}

.range_header {
    grid-template-columns: 1fr 2fr 1fr 20px;
    text-align: center;
}

.view_more {
    display: flex;
    justify-content: center;
    font-size: var(--body-size);
    /* line-height: var(--body-lh); */
    line-height: 12px;
    color: var(--accent4);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}
.view_more:hover {
    color: var(--accent1);
    transition: all var(--animation-speed) ease-in-out;
}

.header div {
    display: flex;

    justify-content: center;
    align-items: center;
}

.content {
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 81px, 100% 81px, 100% 27px, 100% 27px;

    overflow-y: auto;
    overflow-x: hidden;
    transition: all var(--animation-speed)
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content::-webkit-scrollbar {
    display: none;
}
