.chart_overlay_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
}

.main_time_frame_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.active_selected_button,
.non_active_selected_button {
    background: transparent;
    transition: var(--transition);
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    text-align: center;
    outline: none;
    border: none;
    padding: 1px 8px;
    position: relative;
}

.active_selected_button:hover,
.non_active_selected_button:hover {
    background-color: var(--dark3);
    color: var(--text1);
}

.active_selected_button {
    width: 100%;
    height: 100%;
    color: var(--text1);
}
.non_active_selected_button {
    color: var(--text2);
}

.main_time_frame_container button:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}

.mobile_container {
    display: flex;
}
