.no_token_icon {
    padding: 1.5px;

    background: var(--title-gradient);

    border-radius: 50%;
}
.no_token_icon p {
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
    color: var(--text1);
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.sub_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
}

.sub_container span {
    font-size: 14px;
}

.sub_container sub {
    vertical-align: sub;
    font-size: 8px;
    align-items: flex-end;
    display: flex;
    margin-top: 4px;
    height: 100%;
}
