.deposit_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}

.hex_address {
    user-select: all;
}

/* toggle */
.toggle_container {
    margin-bottom: 12px;
    margin-left: 10px;
}

.surplus_toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.info_text_non_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.info_text_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
}

.gas_pump {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* padding: 0 1rem; */
    gap: 1rem;
}

.svg_container {
    background: var(--dark2);
    width: 25px;
    height: 25px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
