.deposit_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.info_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-dark);
}
