.deposit_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.hex_address {
    user-select: all;
}

/* toggle */
.toggle_container {
    margin-bottom: 12px;
    margin-left: 10px;
}

.surplus_toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.info_text_non_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}
.info_text_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    cursor: pointer;
}
