.token_info_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price_info .price {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text2);
    font-weight: 200;
    letter-spacing: -0.02em;
}
.price_info .price_change_positive {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--positive);
}
.price_info .price_change_negative {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--negative);
}
.apr_green {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    letter-spacing: -0.02em;
    background: var(--apr-gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}
.apr_red {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    letter-spacing: -0.02em;
    background: var(--red-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75);
}
