.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
}

.actions_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.option_button {
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--animation-speed) ease-in-out;
    white-space: nowrap;
    height: 23px;
    padding: 5px 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--body-size);
    /* line-height: var(--body-lh); */
    color: var(--text1);

    background: var(--dark1);
    border: 1px solid var(--dark3);
    border-radius: 50px;
}

.option_button:hover {
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.reposition_button {
    cursor: pointer;
    height: 23px;
    width: 100%;

    line-height: var(--body-lh);
    font-size: var(--body-size);
    white-space: nowrap;
    padding: 5px 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--accent1);
    background: linear-gradient(90deg, rgba(115, 113, 252, 0) 0%, rgba(115, 113, 252, 0) 71.21%, var(--accent1) 100%);
    border: 1px solid var(--accent1);
    border-radius: 50px;

    transition: all var(--animation-speed) ease-in-out;
    z-index: 2;
}

.reposition_button:hover {
    color: var(--dark1);
    background: var(--accent1);
}
.dropdown_menu {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
   

}

.dropdown_menu button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    background: transparent;
    outline: none;
    border: none;
}

.dropdown_menu button:hover {
    color: var(--text1);
}

.actions_menu {
    display: flex;
    justify-content: flex-end;
}

.menu_column {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 4px;
}

.example_menu {
    position: relative;
}

.dropdown_button{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.dropdown_button:focus-visible {
    border: 1px solid var(--text1)
}
.dropdown_button path {
    color: var(--dark3);
}
.dropdown_wrapper,
.dropdown_wrapper_active {
    padding: 8px;

    position: absolute;
    background: var(--dark2);

    border-radius: 4px;
    box-shadow: 10px 35px 20px rgba(0, 0, 0, 0.5);
    /* transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    right: 30px;
    z-index: 5;
}
.dropdown_wrapper_active:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 98%;
    top: 0;
    border: 10px solid transparent;
    border-left: 10px solid var(--dark2);
}

.dropdown_wrapper {
    top: 3px;

    opacity: 0;
    pointer-events: none;
}

.dropdown_wrapper_active {
    opacity: 1;
    top: 0;
    pointer-events: auto;
}
