.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
}

.actions_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.option_button {
    background: var(--dark2);
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--dark3); */
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: all var(--animation-speed) ease-in-out;
    white-space: nowrap;
    height: 23px;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 10px;
    /* line-height: var(--body-lh); */
    color: var(--text2);
}

.reposition_button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    height: 23px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgba(115, 113, 252, 0) 0%,
        rgba(115, 113, 252, 0) 71.21%,
        var(--accent1) 100%
    );
    border: 1px solid var(--accent1);
    border-radius: 50px;

    transition: background var(--animation-speed) ease-in-out;
    z-index: 2;
}

.reposition_button:hover {
    box-shadow: none;

    border: 1px solid rgba(223, 190, 106, 0);
    color: rgb(0, 0, 0);
    background: var(--title-gradient);
}
.dropdown_menu {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}

.dropdown_menu button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    background: transparent;
    outline: none;
    border: none;
}

.dropdown_menu button:hover {
    color: var(--text1);
}

.actions_menu {
    display: flex;
    justify-content: flex-end;
}

.menu_column {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 4px;
}

.example_menu {
    position: relative;
}

.dropdown_button{
    background: transparent;
    outline: none;
    border: none;

}
.dropdown_button:focus-visible, .option_button:focus-visible{
    border: 1px solid var(--text1)
}
.dropdown_wrapper,
.dropdown_wrapper_active {
    padding: 8px;

    position: absolute;
    background: var(--dark2);

    border-radius: 4px;
    box-shadow: 10px 35px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 30px;
    z-index: 2;
}
.dropdown_wrapper_active:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    left: 98%;
    top: 0;
    border: 10px solid transparent;
    border-left: 10px solid var(--dark2);
}

.dropdown_wrapper {
    top: 3px;

    opacity: 0;
    pointer-events: none;
}

.dropdown_wrapper_active {
    opacity: 1;
    top: 10px;
    pointer-events: auto;
}
