.main_container,
.main_container_close {
    padding: 1rem;
    height: calc(100svh - 7.5rem);
}

.left_container {
    background: var(--dark1);
    /* background: red; */
    padding: 4px 1rem;

    display: none;
}

.right_container {
    background: var(--dark2);
    padding: 4px 1rem;
}
.user_wallet {
    /* padding: 1rem 4px; */
    height: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    border-bottom: 1px solid var(--text3);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.right_container_header {
    height: 50px;
    border-bottom: 1px solid var(--text3);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text2);
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem 0;
}

.options header {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options header h3 {
    text-transform: uppercase;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.options span {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    text-transform: capitalize;
}

.options header svg {
    display: none;
}

.options .option_item {
    padding: 8px 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.user_wallet div {
    cursor: pointer;
}

.user_wallet a {
    text-transform: capitalize;
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.chat_main_container {
    display: flex;
    flex-direction: column;
    height: calc(100svh - 12rem);

    /* min-height: 500px;
   max-height: 600px; */
}

.pool_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 1rem;
    gap: 8px;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.pool_display:hover,
.option_item:hover {
    background: var(--dark2);
    transition: var(--transition);
    cursor: pointer;
}

.current_pool {
    font-size: var(--mini-size);
    background: var(--dark2);
    padding: 0 4px;
    color: var(--text3);
}

.active_room {
    background: var(--dark2);
}

.pool_display img {
    width: 20px;
}

.main_container_close .option_item,
.main_container_close .pool_display {
    padding: 0;
}

.favorite_button {
    margin-left: 3px;
    margin-top: -3px;
    margin-bottom: 6px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.favorite_button svg {
    transition: var(--transition);
}

.other_room_icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    opacity: 0.5;
}

/* .chat_scrollable{
    padding: 1rem;
    overflow-y: scroll;
    box-shadow: 0px 15px 10px -15px #111;    
   
   
}
.chat_container_divider{
    height: 30px;
}
.chat_input{
    padding: 1rem;
    background: green;
    border-radius: var(--border-radius);
    background: var(--dark1);
    height: 100px;
} */

.main_container_close .options span,
.main_container_close .user_wallet a,
.main_container_close .options header h3,
.main_container_close .current_pool {
    display: none;
}

.main_container_close .options header svg {
    display: block;
}
.channels_dropdown {
    position: relative;
}

.channels_dropdown .active_channel_dropdown {
    background: var(--dark2);
    outline: none;
    border: none;
    color: var(--text2);
    padding: 4px;
    width: 100%;
    cursor: pointer;
    transition: var(--transition);
    margin: 8px 0;
    border-radius: var(--border-radius);
}

.channel_dropdown_items_containers,
.active_channel_dropdown_items_containers {
    position: absolute;
    background: var(--dark2);
    width: 100%;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: var(--border-radius);
}
.channel_dropdown_items_containers {
    top: 0;
}

.active_channel_dropdown_items_containers {
    top: 2.2rem;
    opacity: 1;
    pointer-events: auto;
}
@media only screen and (min-width: 600px) {
    .channels_dropdown {
        display: none;
    }
    .main_container {
        transition: var(--transition);
        display: grid;
        grid-template-columns: 296px auto;
    }
    .main_container_close {
        transition: var(--transition);

        display: grid;
        grid-template-columns: 60px auto;
    }

    .left_container,
    .right_container_header {
        display: block;
    }
    .chat_main_container {
        height: 80svh;
    }
}

@keyframes yellowFlash {
    0%,
    100% {
        box-shadow: 0px 0px 28px #f3bc4144;
        border: 1px solid #f3bc4188;
        color: #f3bc41cc;
        background: transparent;
    }
    50% {
        box-shadow: 0px 0px 28px #f3bc4188;
        border: 1px solid #f3bc41aa;
        color: white;
        background: #f3bc41cc;
    }
}

.verify_button {
    transition: all 0.2s ease-in-out;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    font-size: 0.82rem;
    box-shadow: 0px 0px 28px #f3bc4122;
    border: 1px solid #f3bc4188;
    color: #f3bc41cc;
    padding: 0 0.6rem;
    z-index: 3;
}

.verify_button:not(.verified) svg {
    color: #f3bc41cc;
}

.verify_button:not(.verified):hover {
    box-shadow: 0px 0px 28px #f3bc4188;
    border: 1px solid #f3bc41aa;
    color: white;
    background: #f3bc41cc;
}

.verify_button.flashed {
    animation: yellowFlash 0.5s 3 ease-in-out;
}

.verify_button.verified {
    border-color: rgba(21, 190, 111, 0.75);
    cursor: default;
    box-shadow: 0px 0px 28px rgba(21, 190, 111, 0.35);
    color: var(--positive);
}

.verify_button_icon {
    margin: 0 0.2rem;
}
.verify_button_mod_icon {
    margin-top: 0.1rem;
}

@keyframes emojiPickerAnim {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .main_container {
        padding: 0;
        position: relative;
        overflow: hidden;
    }

    .right_container {
        padding: 0;
    }

    .channel_dropdown_items_containers,
    .active_channel_dropdown_items_containers {
        background: #242f3f;
        z-index: 10;
        margin-top: 0.6rem;
    }

    .reaction_picker_close {
        display: block;
        font-size: 1rem;
        color: white;
        padding: 0.5rem;
        margin-right: 1rem;
        float: right;
        cursor: pointer;
        padding-bottom: 0;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .reaction_picker_close:hover {
        opacity: 1;
    }

    .reaction_picker_wrapper {
        position: fixed;
        bottom: 7rem;
        left: 5%;
        width: 90%;
        animation: emojiPickerAnim 0.2s ease-in-out forwards;

        box-shadow: 0px 0px 40px #7371fc55;
        /* border: 1px solid #7371fcaa; */
        overflow: hidden;
        border-radius: 0.5rem;
        z-index: 99;
    }

    .reaction_picker_wrapper ul li button img {
        margin: 0.4rem !important;
        height: 2rem !important;
        width: 2rem !important;
    }
}

.dropdown_icon {
    display: inline-block;
    margin-left: 0.5rem;
    opacity: 0.5;
}
.dropdown_icon svg {
    vertical-align: middle;
}
