.main_container,
.main_container_close {
    padding: 1rem;
    height: calc(100vh - 7.5rem);
}

.left_container {
    background: var(--dark1);
    /* background: red; */
    padding: 4px 1rem;

    display: none;
}

.right_container {
    background: var(--dark2);
    padding: 4px 1rem;
}
.user_wallet {
    /* padding: 1rem 4px; */
    height: 50px;
    /* justify-content: center; */
    /* align-items: center; */
    border-bottom: 1px solid var(--text3);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
}

.right_container_header {
    height: 50px;
    border-bottom: 1px solid var(--text3);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text2);
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem 0;
}

.options header {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.options header h3 {
    text-transform: uppercase;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.options span {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    text-transform: capitalize;
}

.options header svg {
    display: none;
}

.options .option_item {
    padding: 8px 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.user_wallet div {
    cursor: pointer;
}

.user_wallet a {
    text-transform: capitalize;
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.chat_main_container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 12rem);

    /* min-height: 500px;
   max-height: 600px; */
}

.pool_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 1rem;
    gap: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.pool_display:hover,
.option_item:hover {
    background: var(--dark2);
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
}

.current_pool {
    font-size: 10px;
    background: var(--dark2);
    padding: 0 4px;
    color: var(--text3);
}

.active_room {
    background: var(--dark2);
}

.pool_display img {
    width: 20px;
}

.main_container_close .option_item,
.main_container_close .pool_display {
    padding: 0;
}

.favorite_button {
    margin-left: 3px;
    margin-top: -3px;
    margin-bottom: 6px;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.favorite_button svg {
    transition: all var(--animation-speed) ease-in-out;
}

/* .chat_scrollable{
    padding: 1rem;
    overflow-y: scroll;
    box-shadow: 0px 15px 10px -15px #111;    
   
   
}
.chat_container_divider{
    height: 30px;
}
.chat_input{
    padding: 1rem;
    background: green;
    border-radius: var(--border-radius);
    background: var(--dark1);
    height: 100px;
} */

.main_container_close .options span,
.main_container_close .user_wallet a,
.main_container_close .options header h3,
.main_container_close .current_pool {
    display: none;
}

.main_container_close .options header svg {
    display: block;
}
.channels_dropdown {
    position: relative;
}

.channels_dropdown .active_channel_dropdown {
    background: var(--dark2);
    outline: none;
    border: none;
    color: var(--text2);
    padding: 4px;
    width: 100%;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    margin: 8px 0;
    border-radius: var(--border-radius);
}

.channel_dropdown_items_containers,
.active_channel_dropdown_items_containers {
    position: absolute;
    background: var(--dark2);
    width: 100%;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: var(--border-radius);
}
.channel_dropdown_items_containers {
    top: 0;
}

.active_channel_dropdown_items_containers {
    top: 2.2rem;
    opacity: 1;
    pointer-events: auto;
}
@media only screen and (min-width: 600px) {
    .channels_dropdown {
        display: none;
    }
    .main_container {
        transition: all var(--animation-speed) ease-in-out;
        display: grid;
        grid-template-columns: 296px auto;
    }
    .main_container_close {
        transition: all var(--animation-speed) ease-in-out;

        display: grid;
        grid-template-columns: 60px auto;
    }

    .left_container,
    .right_container_header {
        display: block;
    }
    .chat_main_container {
        height: 80vh;
    }
}
