.mainContainer{
    background: url('../../../assets/futa/home/background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100dvh - 65px);
}

.create_token {
    background: var(--dark1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 400px;
    height: calc(100svh - 420px);
    z-index: 99 !important;

  
}

.create_token_top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.create_token_top h3 {
    font-size: 36px;
    color: var(--text1);
}

.description {
    color: var(--text2, #3d565b);
    font-size: 18px;
}

.nav_path {
    font-size: 10px;
}


.extraInfoContainer {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid var(--dark3, #1e1e24);
    margin-bottom: 8px;
}
.extraRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alignCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: var(--text2);
}
.create_button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 24px;
}

.create_button,
.create_button_disabled {
    background: var(--accent1, #0ccdff);
    color: var(--dark1);
    border: none;
    transition: all var(--animation-speed) ease-in-out;
    height: 32PX;
    overflow: hidden;
}

.create_button_disabled {
    background-color: var(--dark4);
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid transparent;
    color: var(--text2);
}

.create_button:hover {
    background: var(--accent2);
    color: var(--dark1);
}
.footerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.justifyRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@keyframes pulse {
    0% {
      transform: scale(1.3);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1.3);
      opacity: 1;
    }
  }
  
  .errorText {
    display: inline-block;
    animation: pulse 1s infinite;
  }
  
@media only screen and (min-width: 768px) {
    .mainContainer {
        transition: all var(--animation-speed) ease-in-out;
        overflow: hidden;
    }

    .create_token {
        margin-top: 5rem;
        min-height: 500px;
        max-height: 600px;
        border: 1px solid var(--border);
        background: var(--dark1);
        padding: 16px;
    }
}
