
.create_token_middle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    justify-content: center;
}

.ticker_input_fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticker_input_fields > label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ticker_input_fields > label > h4 {
    font-size: 24px;
    color: var(--text1);
    text-transform: uppercase;
}

.ticker_input_fields > input:focus {
    outline: none;
}

.inputContainer {
    padding: 2px 8px;
    background-color: var(--dark2);
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    caret-color: var(--text1);
}

.inputWrapper {
    position: relative;
}

.hiddenInput {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0;
    caret-color: var(--text1);
}

.textOverlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    white-space: pre;
}

.normalText {
    color: var(--text1);
}

.overflowText {
    color: var(--negative);
}

.errorInput {
    border: 1px solid var(--negative);
}

.errorText {
    color: var(--negative);
    font-weight: bold;
}