.price_info_container{
    background: var(--dark2);
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 24px;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);


}

.current{
    margin-left: 170px;
}