.price_info_container {
    transition: all var(--animation-speed) ease-in-out;
    /* background: var(--dark2); */
  
    padding: 0 48px;
    border-radius: var(--border-radius);
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}
.price_info_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    /* padding: 0.2rem 0; */
}

.apr_display_in_range {
    display: flex;
    justify-content: center;
   
    font-size: var(--body-size);
    line-height: var(--body-lh);

    color: var(--other-green);
}

.apr_display_out_of_range {
    display: flex;
    justify-content: center;
    
    font-size: var(--body-size);
    line-height: var(--body-lh);

    color: var(--other-green);
}

.row_label{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    
    color: var(--text1);
}

.current_price {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    
    color: var(--text2);
}
