.container {
    width: 100%;
    height: 100%;
    background: var(--dark2);
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    height: 100%;
}

.scrollableContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    height: calc(100% - 74px);
}

.vault_page_header > h3 {
    padding: 8px 0;
    color: var(--text1, #ebebff);
    /* large */
    font-family: 'Lexend Deca';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.48px;
}

.vault_page_header > p {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 1px;
}

@media only screen and (max-width: 428px) {
    .scrollableContainer {
        height: calc(100% - 134px);
    }
}

/* vaults header */

.vaultHeader {
    width: 100%;
    padding: 0px;
    padding-top: 4px;
    display: grid;
    grid-template-columns: 120px repeat(4, 1fr) 100px;
    align-items: center;

    border-bottom: 3px solid var(--dark3);
}

.vaultHeader span {
    text-align: end;
    color: var(--text2, #8b98a5);
    text-align: right;

    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.poolName {
    text-align: end;
}

.depositContainer,
.aprDisplay {
    padding-right: 12px;
}

.aprDisplay {
    padding-right: 17px;
}
.tvl {
    padding-right: 8px;
}

@media only screen and (max-width: 768px) {
    .mainContent,
    .vaultHeader {
        grid-template-columns: 100px repeat(2, 1fr) 150px 100px;
    }
    .poolName {
        display: none;
    }

    .tvlDisplay,
    .aprDisplay,
    .depositContainer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .mainContent,
    .vaultHeader {
        grid-template-columns: 80px repeat(2, 1fr) 80px;
    }

    .tempestDisplay {
        display: none;
    }

    .depositContainer,
    .aprDisplay {
        word-wrap: break-word;
        padding-right: 10px;
    }
    .aprDisplay {
        display: none;
    }

    .scrollableContainer {
        margin-bottom: 56px;
    }

    /* Hide deposit container when user is not connected */
    .hideDepositOnMobile {
        display: none;
    }

    /* Show APR when deposit is hidden */
    .showAprOnMobile {
        display: block;
    }
}
