/* timeframe */
.time_frame_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-grey-light)
}

.time_frame_container .title{
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    font-weight: 300;
    color: var(--text-grey-white);
}
.time_frame_container .right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}


.right_side button{
    outline: none;
    border: none;
    background: var(--dark1);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    padding: 4px;
    border-radius: 100px;
}

/* graph data */

.graph_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    transition: all var(--animation-speed)ease-in-out;

    display: grid;
    grid-gap: 4px;
}

.graph_container{
    background: var(--dark1);
    padding: 1rem;
    /* width: 49%; */
}
.graph_container .title{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
    color: var(--text-grey-white);
}

/* Analytics Info */
.info_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
   width: 80%;
   margin: 0 auto;
}
.info_content{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--text-grey-white);
    gap: 0.5rem;
}

.info_content .info_title{
    font-weight: 100;
font-size: 30px;
line-height: 38px;

}


.info_content .info_value{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
   

}
@media only screen and (min-width: 768px) {
    .graph_data{
        grid-template-columns: 1fr 1fr;
    }
}