
.GraphContainers{
    transition: all var(--animation-speed) ease-in-out
}

/* timeframe */
.time_frame_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-grey-light);
}

.time_frame_container .title {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    font-weight: 300;
    color: var(--text-grey-white);
}
.time_frame_container .right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


/* graph data */

.graph_data {
    align-items: center;
    margin: 1rem 0;
    transition: all var(--animation-speed) ease-in-out;

    display: grid;
    grid-gap: 4px;
}

.graph_container {
    background: var(--dark1);
    padding: 1rem;
}
.graph_container .title {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
    color: var(--text-grey-white);
}

/* Analytics Info */
.info_container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    gap: 3rem;
    /* width: 80%;
   margin: 0 auto; */

    display: grid;

    grid-gap: 8px;
}
.info_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 349.33px;
    height: 100px;
    background: #0d1117;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.info_content .info_title {
    font-weight: 100;
    font-size: 30px;
    line-height: 38px;
}

.info_content .info_value {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.active_button2 {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text-grey-light);
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5px 8px;
    position: relative;
    background: var(--dark3);
}

.non_active_button2 {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text-grey-light);
    outline: none;
    border-radius: 50px;
    padding: 5px 8px;
    position: relative;
    background: var(--dark1);
    border: 1px solid #242f3f;
}


.outline2 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 50px;
    content: '';
    inset: 0;
    padding: 1px;
    /* control the border thickness */
    background: var(--title-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
@media only screen and (min-width: 768px) {
    .graph_data {
        grid-template-columns: 1fr 1fr;
    }
    .info_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        margin: 0 auto;
    }
    .info_content {
        padding: 0;
    }
}

.animatedImg {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


