.tab_window {
    width: 100%;
    /* width: 100%; */
    height: 100%;
    border-radius: 4px;
    background: #0d1117;
    color: white;
    overflow: hidden;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
    outline: 3px solid orange !important;
}

.tab_nav {
    /* background: #1f2834; */
    padding: 5px 5px 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* border-bottom: 1px solid #171d27; */
    /* height: 30px; */
}
.main_tab_content {
    flex-grow: 1;
    user-select: none;
    margin-top: 6px;
    height: 100%;
}

.tab_ul,
.tab_ul li,
.tab_ul_left {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.tab_ul {
    display: flex;
    width: 100%;
}

.tab_ul li,
.menu_content li,
.tab_ul_left li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 0;

    /* background: white; */
    cursor: pointer;
    /* height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
    list-style: none;
    color: var(--text-grey-dark);
    font-weight: 500;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.tab_ul li.selected,
.menu_content li.selected,
.tab_ul_left li.selected {
    background: #171d27;
    color: #7371fc;
}

.tab_ul li:hover, .tab_ul_left li:hover, .menu_content li:hover{
    color: #7371fc;
    transition: all var(--animation-speed) ease-in-out 
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #7371fc;
}

.tab_with_option_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tab_ul_left {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tap_option_right {
    display: none;
}

.tab_icon {
    display: flex;
}

.item_label {
    display: none;
}
/* dropdown */

/* .dropdown_menu_container{
    width: 100%;
    padding: 0 1rem;
  }
  .mobile_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu_content{
    background: black;
  }
  .dropdown_menu_container{
    min-width: 100px;
    position: relative;
  }
   */

@media (min-width: 500px) {
    .item_label {
        display: flex;
    }

    .tab_icon {
        display: none;
    }

    .tab_ul li,
    .menu_content li,
    .tab_ul_left li {
        padding: 10px 15px;
        justify-content: flex-start;
    }

    .tab_ul_left {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tap_option_right {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-height: 44px;
    }
}
