.tab_window {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: var(--dark1);
    overflow: hidden;
    margin: 0 -5px;
    display: flex;
    flex-direction: column;
}

.tab_nav {
    padding: 5px 5px 0;
    border-radius: 4px;
    /* border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}
.main_tab_content {
    flex-grow: 1;
    user-select: none;
    margin-top: 6px;
    height: 100%;
}

.tab_ul,
.tab_ul li,
.tab_ul_left {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.tab_ul {
    display: flex;
    width: 100%;
}

.tab_ul li,
.menu_content li,
.tab_ul_left li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 0;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
    list-style: none;
    color: #a8a5a5;
    font-weight: 500;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.tab_ul li.selected,
.menu_content li.selected,
.tab_ul_left li.selected {
    color: #7371fc;
}

.tab_ul_left li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tab_ul li:hover,
.tab_ul_left li:hover,
.menu_content li:hover,
.selected {
    color: #7371fc;
    transition: all var(--animation-speed) ease-in-out;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #7371fc;
}
.tab_with_option_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tab_ul_left {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tap_option_right {
    display: none;
}

.tab_icon {
    display: flex;
}

.item_label {
    display: none;
}

.item_label:focus-visible {
    border-bottom: 1px solid var(--text-grey-white);
}

@media (min-width: 500px) {
    .item_label {
        display: flex;

        background: transparent;
        outline: none;
        border: none;

        color: var(--text-grey-dark);
        cursor: pointer;
    }

    .selected {
        color: #7371fc;
    }

    .tab_icon {
        display: none;
    }

    .tab_ul li,
    .menu_content li,
    .tab_ul_left li {
        padding: 10px 15px;
        justify-content: flex-start;
    }

    .tab_ul_left {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tap_option_right {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-items: baseline;
        max-height: 44px;
    }
}
