.account_container {
    display: flex;
    justify-content: flex-end;

    align-items: center;
    background: transparent;
    border-radius: var(--border-radius);
    gap: var(--gap, 0.5rem);
}
.account_container div {
    font-size: var(--body-size);
}

.ethereum_icon {
    padding: 0 10px;
}
.account_container p,
.account_container div {
    color: var(--text-grey-light);
    font-family: var(--font-deca);
    font-weight: 300;
    font-size: var(--header-size);
    line-height: var(--body-lh);
    text-align: center;
    cursor: pointer;
}

.white {
    white-space: nowrap;
    font-family: var(--font-deca);
    font-weight: 300;
    font-size: var(--header-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);
}

.title_gradient {
    background: var(--dark3);
    padding: 7.5px 12px 7.5px 6px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.title_gradient p {
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: lowercase;

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.more {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.more span {
    font-size: 18px;
    /* font-weight: 800; */
    margin: 0 1.5px;
}

.popperContent {
    width: 100%;
    min-width: 196px;
    max-height: 450px;

    background-color: var(--dark1);
    box-shadow: rgba(80, 70, 114, 0.01) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
        rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
    /* border: 1px solid rgb(25, 27, 31); */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 16px;

    color: var(--text-grey-light);
}

.more_row {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(195, 197, 203);
}

.authenticate_button {
    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark3);
    font-weight: 200;

    border-radius: var(--border-radius);
    width: 155px;
    height: 25px;
}

.wallet_display{
    position: relative;
   
}

.wallet_wrapper, .wallet_wrapper_active{
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0px 45px 30px rgba(0, 0, 0, 0.5);
    background: var(--dark2);
    position: absolute;
    top: 50px;
    width: 350px;
    height: 300px;
   right: -40px;
   z-index: 9;
   padding: 1rem;

   display: flex;
   flex-direction: column;
   gap: 1rem;
   border-radius: var(--border-radius);
}

.wallet_wrapper {
    bottom: 0px;

    opacity: 0;
    pointer-events: none;
}

.wallet_wrapper_active {
    opacity: 1;
    bottom: 85px;
    pointer-events: auto;
}

.ambient_card_container{
    margin-top: 1rem;
    background: var(--dark1);
    border-radius: var(--border-radius);
    width: 100%;
    height: 100px;
    position: relative;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ambient_card_content{
position: absolute;
background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, var(--text-highlight-dark), var(--dark1));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, var(--text-highlight-dark), var(--dark1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-bottom: 1px dotted var(--text-grey-light);
width: 90%;
height: 100px;
top: -20px;
}

.name_display_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_display_container .name_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.name_display_container .name_display h2{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
}
.name_display_container .wallet_display{
    display: flex;
    flex-direction: row;
   gap: 1rem;
    align-items: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.wallet_display p{
    font-size: var(--body-size);
    line-height: var(--body-lh); 
}

.token_qty_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    border-bottom: 1px solid var(--border);
}
.token_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_display img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.token_display h2, .value_display h2{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
}
.value_display{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.value_display p{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light)
}

.actions_container{
    width: 100%;
    /* position: absolute; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    bottom: 0;
    z-index: 9;
}
.actions_container button, .actions_container a{
    cursor: pointer;
    background: transparent;
    background: var(--dark3);
    border: none;
    outline: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: var(--text-grey-light)
}
.actions_container button:first-of-type{
    color: var(--negative);
}


@media screen and (max-width: 550px) {
    .account_container {
        display: none;
    }
}
