.main {
    height: calc(100vh - 4rem);

    background: url('../../assets/images/backgrounds/background.png') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: default;

    width: 100vw;

    display: flex;
    justify-content: center;
}



.gradient_container{
    background: var(--title-gradient);
    padding: 1px;
    border-radius: var(--border-radius);
   
}

.main_container{
    background: var(--dark1);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.main_container header{
    height: 41px;

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

font-size: var(--header1-size);
line-height: var(--header1-lh);
font-weight: 200;
color: var(--text1);
}
.outer_container{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.left_container, .right_container{
    
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    display: grid;
   grid-template-rows: 100px 100px 1fr ;
}

.right_container{
    padding-bottom: 8px;

    display: grid;
    grid-template-rows: 20px 20px 180px 84px 50px;
}
.local_token_container, .range_width_container{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.label_title{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    gap: 8px;
}
.pool_price_container, .collateral_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.currency_quantity {
    width: 100%;

    font-weight: 300;
    height: 31px;
    padding: 4px 16px;

    font-size: 18px;
    line-height: 22px;
    color: var(--text1);
    text-align: start;

    border: none;
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--dark2);
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;
}

.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.gen_link{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    background: transparent;
    outline: none;
    border: none;
    color: var(--accent1);
    text-align: left;
    height: 10px;
    cursor: pointer;
}


.content_disabled{
    pointer-events: none;
    opacity: 0.2;
    filter: blur(2px);
}

.circular_progress {
   height: 31px;
   background: var(--dark2);
   display: flex;
  align-items: center;
  padding: 0 1rem;
  
}
  
@media only screen and (min-width: 768px) {

    .gradient_container{
        margin-top: 64px;
    }
.inner_container{
  
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 772px;
  
}

}