.main {
    height: calc(100vh - 4rem);

    background: url('../../assets/images/backgrounds/background.png') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.back_button {
    display: flex;
    justify-content: flex-end;
}

.back_button svg {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark2);
    padding: 8px;
    border-radius: 50%;
}

.init_pool_container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.top_content header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.top_content header h1 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem;
}
.top_content header p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
}
.top_content footer {
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

.pool_display_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pool_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pool_display div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pool_display h3 {
    color: var(--text1);
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.pool_display img {
    width: 30px;
}
.pool_display p {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text3);
}
.pool_price_container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    justify-content: center;
    /* align-items: center; */
}

.pool_price_container span {
    padding: 0.4.5px 0;
    margin: 4px 0;
    text-align: center;

    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
}

.currency_quantity {
    width: 100%;
    padding: 0px 32px;
    font-weight: 200;
    height: 35px;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-align: start;

    border: none;
    border-radius: 0.25rem;
    outline: 0;
    background-color: transparent;
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

    border: 1px solid var(--accent2);
}

.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}

.padding_center {
    width: 100%;
    padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
    .top_content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
