.main {
    height: calc(100vh - 4rem);

    background: url('../../assets/images/backgrounds/background.png') no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    width: 100vw;


    display: flex;
    justify-content: center;
  
}



.init_pool_container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);

    /* gap: 1rem; */

   

  
}

.top_content {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    /* gap: 1rem; */
}
.top_content header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 41px;
    /* gap: 4px; */
}
.top_content header h1 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
    color: var(--text1);
    text-transform: capitalize;
    text-align: center;
    /* padding: 0.5rem; */
}
.top_content header p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
}
.top_content footer {
    padding: 0 1rem;
  
}

.pool_display_container {
    display: flex;
    flex-direction: column;

    height: 100%;
   justify-content: space-between;
 
}

.pool_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.pool_display div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.pool_display h3 {
    color: var(--text1);
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
}

.pool_display p {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text3);
    font-weight: 200;
}
.pool_price_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    

    justify-content: center;
    padding: 16px 0;
    /* align-items: center; */
}

.pool_price_container span {
   
   

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.currency_quantity {
    width: 100%;
   
    font-weight: 200;
    height: 31px;
    padding: 4px 16px;

    font-size: 18px;
    line-height: 22px;
    color: var(--text1);
    text-align: start;

    border: none;
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--dark2);
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

   
}

.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}

.padding_center {
    width: 100%;
    padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
    .top_content {
        /* display: flex;
        justify-content: center;
        align-items: center; */

background-color: var(--dark1);


}

.init_pool_container{
    background: var(--title-gradient);
    width: 375px;
    height: 376px;
    padding: 1px;
}

.top_content{
        padding: 8px 16px 16px;
        width: 100%;
        height: 100%;
    }
}
