.avatar_image {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: middle;
    margin: 10px;

}

.avatar_image_position {
    max-width: 13px;
    max-height: 13px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: end;
    margin: 0;

}

.message_date {
    width: 50px;
    height: 14px;

    /* extra small */

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: calc(1vw - 8px);
    line-height: 12px;
    align-self: flex-end;

    /* text/grey dark */

    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;

}

.message {

    width: 80%;
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: calc(1vw - 2px);
    line-height: 15px;
    flex-grow: 5px !important;
    margin: 10px;
    width: 85%;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #EBEBFF;
    white-space: pre-line;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
}

.right_image_box {
    display: flex;
    right: 0%;
    float: left;
    vertical-align: middle;
    margin-left: 301px;
    

    
}

.sent_message_body {
flex-grow: 5 !important;
display: flex;
flex-direction: row;
align-items: flex-end;
gap: 0px;

height: 100%;
width:  100%;
height: auto;
 min-height: 53%;
padding: 0px 4px 8px;

box-sizing: border-box;
flex: none;
order: 4;
align-self: stretch;
}

.message_item {
    cursor: default;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

p {
    word-break: break-all;
}