.avatar_image {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: middle;
    margin: 10px;
}

.avatar_jazzicons {
    display: flex;
    margin-top: 0.5rem;
    cursor: pointer;
    position: relative;
}

.avatar_jazzicons canvas {
    border-radius: 50%;
    border: 1px solid var(--accent1);
}
.nft_container {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: middle;
    margin: 10px;
}

.avatar_image_position {
    max-width: 13px;
    max-height: 13px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: end;
    margin: 0;
}

.message_date {
    width: 50px;
    height: 14px;

    /* extra small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--mini-size);
    line-height: 10px;
    align-self: flex-end;

    /* text/grey dark */
    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;
    margin-top: 8px;
}

.reply_message {
    display: flex;
    flex-direction: row;
}

.separator {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--mini-size);
    line-height: var(--mini-lh);
    text-align: center;

    /* text/grey dark */
    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;
    cursor: default;
}

.message {
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    flex-grow: 5px !important;
    margin-left: 10px;
    width: 85%;
    color: var(--text1);
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    display: flex;
    flex-direction: row;
}

.deletedMessage {
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin-left: 10px;
    width: 85%;
    color: red;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    display: flex;
    flex-direction: row;
    color: rgb(255, 163, 179);
    opacity: 0.3;
}

.message_without_avatar {
    width: 80%;
    height: 80%;

    bottom: -100%;
    padding: 0px 25px;
    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    flex-grow: 5px !important;
    margin: 2px 10px;
    width: 85%;
    color: var(--text1);
    white-space: pre-line;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
}

.deletedMessage_without_avatar {
    width: 80%;
    height: 80%;

    bottom: -100%;
    padding: 0px 25px;
    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin: 2px 10px;
    width: 85%;
    white-space: pre-line;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    color: rgb(255, 163, 179);
    opacity: 0.3;
}

.message_without_avatar_admin_room {
    width: 80%;
    height: 80%;

    bottom: -100%;
    padding: 0px 25px;
    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin: 2px 10px;
    width: 85%;
    color: var(--text1);
    white-space: pre-line;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    display: flex;
    flex-direction: row;
}

.mention_message {
    color: var(--accent1);
    width: 80%;
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    flex-grow: 5px !important;
    margin: 10px;
    width: 85%;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    margin-left: 0px;
    margin-right: 0px;
}

.mention_message_block {
    margin-left: 6px;
    width: 80%;
    height: 80%;
}

.mention_message_block_without_avatar {
    margin-left: 30px;
    width: 80%;
    height: 80%;
}

.right_image_box {
    display: flex;
    right: 0%;
    float: left;
    vertical-align: middle;
    margin-left: 301px;
}

.sent_message_body {
    flex-grow: 5 !important;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;
    height: 100%;
    width: 100%;
    min-height: 53%;
    box-sizing: border-box;
    order: 4;
    align-self: stretch;
    cursor: default;
    /* padding: 0px 4px 4px;
    padding-top: 10px; */
    padding: 0.2rem 0;
}

.sent_message_body_with_mention {
    flex-grow: 5 !important;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;

    height: 100%;
    width: 100%;
    height: auto;
    min-height: 53%;
    padding: 4px 0px;
    box-sizing: border-box;
    flex: none;
    order: 4;
    align-self: stretch;
    /* background: var(--dark3); */
}

.name_default {
    width: 82px;
    height: 14px;

    /* small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: 16px;
    display: flex;
    align-items: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    margin-left: 10px;
}

.name_default_label {
    cursor: pointer;
}

.name {
    color: var(--accent2);
    /* accent/secondary */
}

.current_user_name {
    width: 82px;
    height: 14px;
    cursor: pointer;

    /* small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: 16px;
    display: flex;
    align-items: center;

    /* accent/secondary */
    color: var(--accent1);
}

.message_item {
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.message_item p {
    word-break: break-word;
}

.main img,
.main picture {
    max-width: 100%;
}

.dropdown_item {
    background: var(--dark3);
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    grid-gap: 4px;
    grid-gap: 4px;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    position: absolute;
    top: 0rem;
    right: 1rem;
    flex-direction: column;
}

@keyframes msgBubbleAnim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.msg_bubble_container {
    /* animation: msgBubbleAnim 0.1s 1 ease-in-out forwards; */
    transition:
        background 0.1s ease-in-out,
        padding-bottom 0.2s ease-in-out;
    width: 100%;
    position: relative;
    padding-bottom: 0;
    /* border: 1px solid rgba(255,0,0, .3); */
}

.rise_to_bottom_wrapper {
    padding-bottom: 6rem;
    padding-bottom: 2rem; /* 3rem will be removed after other chat panel features opened in sentMessagePanel context menu*/
}

.msg_bubble_container.flipped .msg_bubble_content {
    transform: rotateY(180deg);
    padding: 0.5rem 0;

    /* border: 1px solid  var(--accent1); */
    /* box-shadow: 0px 0px 5px var(--accent1); */
}

.replied_message_container {
    /* background: red; */
    /* padding-top: 1.2rem; */
    padding-top: 3.2rem;
}

.replied_message_container.has_day_separator {
    padding-top: 5.2rem;
}

.msg_bubble_front {
    transition: all 0.2s ease-in-out;
}
.msg_bubble_container.flipped .msg_bubble_front {
    /* background: rgba(255,255,255, .1); */
}

.msg_bubble_content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
    transform-style: preserve-3d;
    padding: 0 1rem;
    /* border: 1px solid  transparent; */
}

.msg_bubble_front {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.msg_bubble_back {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);

    border-radius: 0.4rem;
}

.msg_bubble_back_content {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.like_btn_base {
    vertical-align: top;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    margin: 0 0.2rem;

    border: 1px solid rgba(75, 216, 134, 0.26);
    box-shadow: 0px 0px 1px var(--accent1);

    /* font-weight: bold; */
    border-radius: 0.2rem;
    cursor: pointer;
}

.like_btn_base:not(.active):not(.disabled):hover {
    box-shadow: 0px 0px 12px var(--accent1);
    background: var(--accent1);
    color: white;
}

.active.like_btn_base {
    background: rgba(75, 216, 134, 0.46);
}

.dislike_btn {
    border-color: rgba(224, 77, 77, 0.274);
}

.like_btn_base.disabled {
    opacity: 0.5;
    cursor: default;
    background: transparent !important;
}

.active.like_btn_base.dislike_btn {
    background: rgba(224, 77, 77, 0.474);
}

.flip_trigger {
    /* background: rgba(255,0,0,.4); */
    cursor: pointer;
    position: absolute;
    width: 4rem;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.flip_trigger_lefted {
    /* background: rgba(0, 255, 55, 0.4); */
    cursor: pointer;
    position: absolute;
    width: 4rem;
    top: 50%;
    bottom: 0;
    margin: auto;
    right: auto;
    left: 0;
    opacity: 0.5;
    transform: translateY(-50%);
}

.like_dislike_bar_wrapper {
    display: block;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 200px;
}

.like_dislike_node_wrapper {
    display: inline-block;
}

@keyframes widthAnim {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.like_dislike_node {
    height: 2px;
    width: 0%;
    background: rgb(75, 216, 134);
    box-shadow: 0px 0px 12px rgb(75, 216, 134);
}

.flipped .like_dislike_node {
    animation: widthAnim 0.5s 0.2s ease-in-out forwards;
}

.dislike_node {
    background: rgb(224, 77, 77);
    box-shadow: 0px 0px 12px rgb(224, 77, 77);
    float: right;
}

.flip_read {
}

.flipped .msg_bubble_front {
    opacity: 0;
    transition:
        transform 0s,
        opacity 0.2s ease-in-out,
        top 0.2s ease-in-out;
}
.flip_read .msg_bubble_front {
    transform: rotateY(180deg);
    top: calc(-100% - 0.5rem);
    background: #99bff721;
    backdrop-filter: blur(10px);
    border-radius: 0.4rem 0.4rem 0 0;
    opacity: 1;
}

.replied_message_container.flip_read .replied_box {
    top: 0rem;
}

.verified_icon {
    display: inline-block;
    margin-left: 0.4rem;
    cursor: default;
}
.verified_icon svg {
    cursor: default !important;
}

.chain_logo {
    display: inline-block;
    margin-left: 0.2rem;
    cursor: default;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    padding: 0.1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.2s ease-in-out;
    transform: translateX(-75%);
    z-index: 10;
    cursor: pointer;
}

.chain_logo.testnet {
    opacity: 0.3;
}

.chain_info {
    display: inline-block;
    margin-left: 0.4rem;
    cursor: default;
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.68rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.update_verify_date_icon {
    display: inline-block;
    cursor: pointer;
    border-radius: 0.2rem;
    height: 16px;
    line-height: 16px;
    margin-left: 0.5rem;
}
.update_verify_date_icon:hover {
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.2);
}

.has_day_separator .update_verify_date_icon {
    margin-top: 0.4rem;
}

.container {
    position: relative;
    display: inline-block;
}

.roomInfo {
    position: absolute;
    left: 13rem;
    color: pink;
    font-size: 10px;
    top: 0.7rem;
    width: 2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.roomInfo_with_mention {
    position: absolute;
    left: 13rem;
    color: pink;
    font-size: 10px;
    top: 1.5rem;
    width: 2.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thread_top_msg .roomInfo {
    top: 1.5rem;
}

.deleted_msg {
    opacity: 0.5;
}

.options_button {
    /* cursor: pointer; */
    position: absolute;
    top: 100%;
    transition: all 0.2s ease-in-out;
    left: 100%;
    /* right: -14rem; */
    /* transform: translateX(-50%) translateY(-1.6rem);  */
    opacity: 0;
    /* border: 1px solid var(--accent1); */
    /* border: 1px solid rgba(255,255,255,.2); */
    /* box-shadow: 0px 0px 4px var(--accent1); */
    display: block;
    width: 30%;
    height: calc(100% - 2px);
    top: 0;
    z-index: 3;

    /*     
    left: 70%; 
    opacity: 1; */
}

.msg_bubble_container:hover .options_button {
    display: block;
    /* right: -10rem; */
    left: 70%;
    opacity: 1;
}

.msg_bubble_container:hover .chain_info {
    opacity: 1;
}

.has_separator .options_button {
    transform: translateY(0rem);
}

.has_day_separator .options_button {
    transform: translateY(-0.5rem);
}

.roomInfo {
    position: absolute;
    left: 13rem;
    color: pink;
}

.msg_bubble_container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.flip_read .options_button,
.flip_read .menu {
    display: none !important;
}

.has_separator .msg_bubble_front {
    padding-bottom: 0.5rem;
}

.msg_bubble_front {
    /* overflow: hidden; */
}

.separator {
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
}

.reactions_wrapper {
    padding: 0rem 0.5rem;
    width: auto;
    display: inline;
    background: #0000001f;
    border-radius: 0.6rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 2rem;
}

.reaction_node {
    transition: all 0.2s ease-in-out;
    display: inline-block;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.9rem;
    /* padding: 0.05rem; */
}

.user_reacted {
    background: var(--accent1);
    box-shadow: 0px 0px 17px 3px
        color-mix(in srgb, var(--accent1) 50%, transparent);
}

.user_reaction_label {
    color: var(--accent1);
    font-weight: bold;
}

.reaction_users_tooltip div {
    margin: 0.2rem 0;
}
.reaction_users_tooltip {
    background: var(--dark1);
    padding: 0.2rem 0.5rem;
    margin-top: -0.5rem;
    border-radius: 0.5rem;
    font-size: 0.72rem;
    box-shadow: 0px 0px 30px var(--accent1);
}

.reader_mentioned {
    box-shadow: 0px 0px 2px var(--accent1);
    background: color-mix(in srgb, var(--accent1) 15%, transparent);
    /* background: #7371fc26; */
}
.reader_mentioned:hover {
    box-shadow: 0px 0px 2px var(--accent1);
    /* background: #7371fc26; */
}

.reader_mentioned .options_button {
    background: transparent;
}

.message_block_wrapper {
    width: 95%;
    height: 80%;
    margin-left: 10px;
    font-size: 12px;
}

.admin_room_msg .message_block_wrapper {
    width: 80%;
}

.without_avatar {
    margin-left: 34px;
}

.message_block {
    width: 80%;
    height: 80%;
    bottom: -100%;
    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    width: 85%;
    /* color: var(--text1); */
    align-self: stretch;
    word-break: break-word;
}

.message_block.only_emoji {
    line-height: normal !important;
    text-shadow: 1.1px 2px rgba(255, 255, 255, 0.3);
}

.message_token {
    margin-right: 1px;
}

.only_emoji {
    font-size: 2rem;
}

.link_token {
    color: var(--accent1);
    text-decoration: underline;
    cursor: pointer;
}

.mentioned_name_token {
    font-weight: bold;
    cursor: pointer;
    color: var(--accent1);
    padding: 0.15rem 0.2rem;
    transition: all 0.2s ease-in-out;
}

.mentioned_name_token:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px 0 color-mix(in srgb, var(--accent1) 20%, transparent);
    color: color-mix(in srgb, var(--accent1) 50%, white);
    border-radius: 0.4rem;
}

.vrf_msg_dbg {
    /* color: green; */
}

.replied_box {
    position: absolute;
    top: -2rem;
    left: 2rem;
    border-radius: 0.4rem;
    padding: 0.1rem 0.8rem;
    background: rgba(0, 0, 0, 0.2);
    /* border: 1px solid rgba(255,255,255, .1); */
    font-size: 0.63rem;
}

.replied_message_arrow {
    position: absolute;
    top: -0.3rem;
    left: 0.6rem;
    /* transform: scaleY(-1); */
}

.replied_message_arrow.has_avatar {
    position: absolute;
    top: -0.3rem;
    left: 0.6rem;
    transform: scaleY(1);
}

.has_day_separator .replied_message_arrow {
    top: -0.7rem;
}

.has_day_separator .replied_message_arrow.has_avatar {
    top: -2rem;
}

.has_day_separator.thread_top_msg .replied_box {
    top: -3rem;
}
.has_day_separator.thread_top_msg .msg_bubble_front {
    padding-top: 0.8rem;
}

.replied_message_container .day_separator {
    margin-top: -1rem;
}

.thread_top_msg.replied_message_container .sent_message_body {
    padding-top: 0.7rem;
}

.has_day_separator.thread_top_msg .options_button {
    transform: translateY(0rem);
}

.replied_message_container .options_button {
    transform: translateY(-2.3rem);
}

.replied_message_container .sent_message_body {
    /* margin-top: 2rem; */
}

.has_day_separator.thread_top_msg.replied_message_container .sent_message_body {
    margin-top: 2.4rem;
}

.has_day_separator.thread_top_msg.replied_message_container .msg_bubble_front {
    position: relative;
    padding-top: 2rem;
}
.has_day_separator.thread_top_msg.replied_message_container .day_separator {
    margin-top: -6rem;
}

.has_day_separator.thread_top_msg.replied_message_container .sent_message_body_with_mention {
    padding-top: 3.4rem;
}


/* .replied_msg_wrapper{
    background: red;
} */

@media only screen and (max-width: 600px) {
    .roomInfo {
        left: auto;
        right: 4.4rem;
    }

    .sent_message_body {
        padding: 0.6rem 0;
    }

    .like_btn_base {
        border-radius: 2rem;
        width: 2rem;
        height: 2rem;
        line-height: 1.6rem;
        font-size: 1rem;
        border-width: 0.15rem;
    }
}
