.avatar_image {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: middle;
    margin: 10px;
}

.avatar_jazzicons {
    display: flex;
    margin-top: 1rem;
}

.avatar_jazzicons canvas {
    border-radius: 50%;
    border: 1px solid var(--accent1);
}
.nft_container {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: middle;
    margin: 10px;
}

.avatar_image_position {
    max-width: 13px;
    max-height: 13px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: end;
    vertical-align: end;
    margin: 0;
}

.message_date {
    width: 50px;
    height: 14px;

    /* extra small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    align-self: flex-end;

    /* text/grey dark */
    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;
    margin-top: 8px;
}

.reply_message {
    display: flex;
    flex-direction: row;
}

.separator {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    /* text/grey dark */
    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;
    cursor: default;
    
}

.message {
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin-left: 10px;
    width: 85%;
    color: var(--text1);
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    display: flex;
    flex-direction: row;
}

.message_without_avatar {
    width: 80%;
    height: 80%;

    bottom: -100%;
    padding: 0px 25px;
    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin: 2px 10px;
    width: 85%;
    color: var(--text1);
    white-space: pre-line;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    display: flex;
    flex-direction: row;
}

.mention_message {
    color: var(--accent1);
    width: 80%;
    height: 80%;

    bottom: -100%;

    white-space: pre-line;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    flex-grow: 5px !important;
    margin: 10px;
    width: 85%;
    align-self: stretch;
    word-break: break-word;
    white-space: normal;
    margin-left: 0px;
    margin-right: 0px;
}

.mention_message_block {
    margin-left: 6px;
    width: 80%;
    height: 80%;
}

.mention_message_block_without_avatar {
    margin-left: 30px;
    width: 80%;
    height: 80%;
}

.right_image_box {
    display: flex;
    right: 0%;
    float: left;
    vertical-align: middle;
    margin-left: 301px;
}

.sent_message_body {
    flex-grow: 5 !important;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;
    height: 100%;
    width: 100%;
    min-height: 53%;
    box-sizing: border-box;
    order: 4;
    align-self: stretch;
    cursor: default;
    /* padding: 0px 4px 4px;
    padding-top: 10px; */
    padding: .2rem 0;
    
}

.sent_message_body_with_mention {
    flex-grow: 5 !important;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;

    height: 100%;
    width: 100%;
    height: auto;
    min-height: 53%;
    padding: 0px 4px 8px;
    box-sizing: border-box;
    flex: none;
    order: 4;
    align-self: stretch;
    background: var(--dark3);
}

.name {
    width: 82px;
    height: 14px;
    cursor: pointer;

    /* small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    /* accent/secondary */
    color: var(--accent2);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    margin-left: 10px;
}

.current_user_name {
    width: 82px;
    height: 14px;
    cursor: pointer;

    /* small */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    /* accent/secondary */
    color: var(--accent1);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 5px;
}

.replied_box{
    position: absolute;
    top: -0.5rem;
    left: 1.5rem;
}

.message_item {
    cursor: default;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.message_item p {
    word-break: break-word;
}

.main img,
.main picture {
    max-width: 100%;
}

.dropdown_item{
    background: var(--dark3);
    border-radius: 4px;
    padding-left: 4px;
    padding-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    grid-gap: 4px;
    grid-gap: 4px;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    position: absolute;
    top: 0rem;
    right: 1rem;
    flex-direction: column;
    }



@keyframes msgBubbleAnim{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.msg_bubble_container{
    animation: msgBubbleAnim 0.1s ease-in-out forwards;
    transition: background .1s ease-in-out;
    width: 90%;
    /* border: 1px solid rgba(255,0,0, .3); */
}

.msg_bubble_container.flipped .msg_bubble_content{
    transform: rotateY(180deg);
    padding: .5rem 0;
    
    /* border: 1px solid  var(--accent1); */
    /* box-shadow: 0px 0px 5px var(--accent1); */
}

.replied_message_container{
    /* background: red; */
    padding-top: 1rem;
}


.msg_bubble_front{
    transition: all .2s ease-in-out;
}
.msg_bubble_container.flipped .msg_bubble_front{
    /* background: rgba(255,255,255, .1); */
}


.msg_bubble_content{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
    transform-style: preserve-3d;
    /* border: 1px solid  transparent; */
}

.msg_bubble_front{
    
    /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.msg_bubble_back{

    top: 0;
    left: 0;
    position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  /* background: rgba(0,0,0,.2); */

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.msg_bubble_back_content{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.like_btn_base{
    vertical-align: top;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    margin: 0 .2rem;
    
    border: 1px solid  rgba(75, 216, 134, 0.26);
    box-shadow: 0px 0px 1px var(--accent1);
    
    /* font-weight: bold; */
    border-radius: .2rem;
    cursor: pointer;


}

.like_btn_base:not(.active):not(.disabled):hover{
    box-shadow: 0px 0px 12px var(--accent1);
    background: var(--accent1);
    color: white;
}


.active.like_btn_base{
    background: rgba(75, 216, 134, 0.46);
}

.dislike_btn{
    
    border-color: rgba(224, 77, 77, 0.274);
}

.like_btn_base.disabled{
    opacity: .5;
    cursor: default;
    background: transparent !important;
}


.active.like_btn_base.dislike_btn{
        
    background: rgba(224, 77, 77, 0.474);

}


.flip_trigger{
    /* background: rgba(255,0,0,.4); */
    cursor: pointer;
    position: absolute;
    width: 4rem;
    top: 0;
    bottom:  0;
    margin: auto;
    right: 0;
}
.flip_trigger_lefted{
    /* background: rgba(0, 255, 55, 0.4); */
    cursor: pointer;
    position: absolute;
    width: 4rem;
    top: 50%;
    bottom:  0;
    margin: auto;
    right: auto;
    left: 0;
    opacity: .5;
    transform: translateY(-50%);
}

.like_dislike_bar_wrapper{
    display: block;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 200px;
}

.like_dislike_node_wrapper{
    display: inline-block;
}



@keyframes widthAnim {
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}

.like_dislike_node{
    height: 2px;
    width: 0%;
    background: rgb(75, 216, 134);
    box-shadow: 0px 0px 12px rgb(75, 216, 134);
    
}

.flipped .like_dislike_node{
    
    animation: widthAnim .5s .2s ease-in-out forwards;
}

.dislike_node{
    background: rgb(224, 77, 77);
    box-shadow: 0px 0px 12px rgb(224, 77, 77);
    float: right;
}



.flip_read{

}

.flipped  .msg_bubble_front{
    opacity: 0;
    transition: transform 0s, opacity .2s ease-in-out, top .2s ease-in-out;
}
.flip_read  .msg_bubble_front{
    transform: rotateY(180deg);
    top: calc(-100% - .5rem);
    background: #99bff721;
    backdrop-filter: blur(10px);
    border-radius: .4rem .4rem 0 0;
    opacity: 1;
}

.replied_message_container.flip_read .replied_box{
    top: 0rem;
}



.verified_icon{
    display: inline-block;
    margin-left: .2rem;
}

.update_verify_date_icon{
    
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 90px;
    margin-top: 0.4rem;
    cursor: pointer;
    border-radius: .2rem;
    height: 16px;
    line-height: 16px;
}
.update_verify_date_icon:hover{
    transform: scale(1.2);
    background: rgba(255,255,255,.2);
}

.container {
    position: relative;
    display: inline-block; 
  }

 
  .roomInfo {
    position:absolute;
    left: 13rem; 
    color: pink;
    font-size: 10px;
  }
  .roomInfo_with_mention{
    position:absolute;
    left: 13rem; 
    color: pink;
    font-size: 10px;
    top: 1.5rem;
  }

  .options_button {
    cursor: pointer;
    position: absolute;
    top: 100%;
    transition: all .2s ease-in-out;
    left: 100%; 
    /* right: -14rem; */
    /* transform: translateX(-50%) translateY(-1.6rem);  */
    opacity: 0;
    background: var(--dark1);
    /* border: 1px solid var(--accent1); */
    /* border: 1px solid rgba(255,255,255,.2); */
    /* box-shadow: 0px 0px 4px var(--accent1); */
    display: block;
    width: 30%;
    height: 100%;
    top: 0;

/*     
    left: 70%; 
    opacity: 1; */
}


.has_separator .options_button {
    transform: translateY(0rem); 
}


.msg_bubble_container:hover .options_button {
    display: block; 
    /* right: -10rem; */
    left: 70%;
    opacity: 1;
  }

  .msg_bubble_container:hover{
    background-color: rgba(0,0,0,.2);
  }

  .flip_read .options_button{
    display: none !important;
    
}



.has_separator .msg_bubble_front{
    padding-bottom: .5rem;
}


.msg_bubble_front{
    /* overflow: hidden; */
}

.separator{
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
    margin-bottom: -.5rem;
    margin-top: .5rem;
}
