.container {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
    padding: 5px;
    border-radius: var(--border-radius);
}

.container:hover{
    transition: all var(--animation-speed) ease-in-out;
    background: var(--dark2);
    cursor: pointer;
    
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_container {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */

    border-radius: 50%;
}

.token_container img {
    width: 12.68px;
}
