.nameDisplayContainer {
    margin: 0 auto;
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 4px;
}

.nameDisplayContainer .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--title-gradient);
}
.walletDisplay,
.nameDisplay {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nameDisplay h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-weight: 100;
}

.walletDisplay p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.copyButton {
    cursor: pointer;
    background: transparent;
    border: none;
}

.mobileDropdown {
    width: 100%;
    justify-content: center;
}
