.main_content {
    width: 400px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background: var(--dark1);
}

.remove_range_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.settings_button {
    cursor: pointer;
}

.remove_range_settings_container {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 40px;
}
.header_container {
    display: grid;
    grid-template-columns: auto 50px;
    gap: 10px;
    align-items: center;
}

.settings_icon {
    cursor: pointer;

    animation: all 500ms ease-in-out;
    display: flex;
    justify-content: flex-end;
}

.confirmation_container {
    width: 400px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--dark1);

    /* align-items: center; */
}

.button {
    cursor: pointer;
}

.confirmation_content {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.gas_pump {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}
.gas_pump svg {
    margin-right: 5px;
}
