nav[aria-label='breadcrumb'] {
    display: flex;
    gap: 5px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--text2, #8b98a5);
    text-transform: uppercase;
    font-size: 12px;
}

nav[aria-label='breadcrumb'] ol {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav[aria-label='breadcrumb'] li {
    margin-right: 5px;
}

nav[aria-label='breadcrumb'] li::after {
    content: '/';
    margin-left: 5px;
}

nav[aria-label='breadcrumb'] li:last-child::after {
    content: '';
    margin-left: 0;
}
