.container{
    display: grid;
    gap: 1em;
    -webkit-box-align: center;
    align-items: center;
    grid-template-columns: 20px 3fr repeat(6, 1fr) repeat(2, 40px);
    /* background: rgb(49, 49, 49); */
    color: var(--text-grey-light);
    border-bottom: 1px solid rgb(45, 43, 43);
    padding: 1rem 0;
   
}
.container > *:not(:first-child, :nth-child(2)){
    text-align: end;
}

.container:first-child{
    text-align: start;
}


@media screen and (max-width: 900px){
.container{
    
    grid-template-columns: 20px 3fr repeat(4, 1fr) repeat(2, 40px);
}
/* base and quote quantity */
.container >:nth-child(7), .container >:nth-child(8){
    display: none;
}


}
@media screen and (max-width: 800px){
.container{
    grid-template-columns: 20px 3fr repeat(2, 1fr) repeat(2, 40px);

}

/* range min and range max */
.container >:nth-child(5), .container >:nth-child(6){
    display: none;
}
}
@media screen and (max-width: 670px){
/* number, ID, Wallet */
    .container >:nth-child(1),   .container >:nth-child(3),   .container >:nth-child(4){
        display: none;
    }
.container{
    grid-template-columns: 2fr repeat(2, 1fr) ;
}



}
