.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    min-height: 20px;
    transition: var(--animation-speed) ease-in-out;
}

.options_toggles {
    display: flex;
    max-width: 20%;
    width: 20%;
    height: 100%;

    cursor: pointer;
}

.options_toggle p {
    color: var(--text2);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    list-style: none;
}
.options_toggle {
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    margin-right: 0.5rem;
    flex-direction: row;
    align-items: center;
}

.icon {
    cursor: pointer;

    display: flex;
    align-items: flex-start;
}

.disable_right {
    filter: blur(7px);
    pointer-events: none;
    display: none;
    transition: var(--animation-speed) ease-in-out;
}

.leader {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-family: var(--font-logo);
    transition: all var(--animation-speed) ease-in-out;
}

.leader h3 {
    /* background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; */

    font-size: 14px;
    line-height: 12px;

    color: var(--accent5);
}

.option_button {
    background: var(--dark2);
    width: 40px;
    border: none;
    outline: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid var(--dark3); */
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;

    height: 23px;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 10px;
    /* line-height: var(--body-lh); */
    color: var(--text2);
}

.graph_indicaor {
    color: white;

    height: 1px;
    width: 1px;
    background-color: var(--text2);
    border-radius: 50%;
    display: inline-block;

    background-color: white;
    box-shadow: 0 0 1px 0.5px white, 0 0 1.5px 1px #3ca6e4, 0 0 2px 1.5px #3ca6e4;

    margin: 2px 2px 0 3px;
}
