.main_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background: var(--dark1);
    padding: 0 1rem;
    vertical-align: middle;
}

.link{
 
    height: 100%;
    display: flex;
    align-items: center;
}
.right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.authenticate_button{
    background: var(--dark2);
    outline: none;
    border: none;
    border-radius: 4px;
   
    font-size: var(--body-size);
    line-height:var(--line-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 5px 8px;
    border-radius: 4px;
    color: var(--text1)
}
.username{
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: var(--body-size);
    line-height:var(--line-height);
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
   
}