.primary_header_container{
    background: blue;
    width: 100%;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.primary_header {
    width: 100%;
    height: 56px;
    background: var(--dark1);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--navbar-border);
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 3;
}

.primary_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap, 2rem);
}
.branch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.branch_name {
    font-size: 12px;
    color: orange;
}

.right_side {
    margin-left: auto;
}

.active,
.inactive {
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    letter-spacing: -0.02em;
    color: var(--text2);
}

.active,
.inactive:hover,
.active:focus-visible,
.inactive:focus-visible {
    color: var(--text1);
    transition: opacity var(--animation-speed) ease-in-out;
    outline: 1px solid transparent;
}
.active:focus-visible,
.inactive:focus-visible {
    border: 1px solid var(--text2);
}

.inactive:hover:after,
.inactive:focus-visible:after {
    opacity: 1;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--text1);
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.logo_container {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.logo {
    height: 100%;
    margin-left: 18px;
}

.logo_text {
    height: 80%;
    margin-left: 10px;
}

.logo_container:focus-visible img {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.mobile_nav_toggle {
    display: none;
}

.account {
    display: flex;
    align-items: center;
    gap: 8px;
}

.authenticate_button {
    cursor: pointer;
    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark2);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    border-radius: var(--border-radius);
    min-width: 120px;
    max-width: 180px;
    height: 28px;
    transition: box-shadow var(--animation-speed) ease-in-out;
}

.authenticate_button:hover,
.authenticate_button:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.not_conncected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 800px) {
    .header_gradient {
        display: none;
    }
    .primary_navigation {
        display: none;
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform var(--animation-speed) ease-in-out;
        flex-direction: column;
        backdrop-filter: blur(1rem);
        background: rgba(23, 29, 39, 0.5);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 10px;
        font-size: calc(var(--header2-size) + 0.5rem);
        line-height: calc(var(--header2-lh) + 0.5rem);
    }
    .primary_navigation[data-visible='true'] {
        transform: translateX(0%);
    }
    .mobile_nav_toggle {
        display: block;
        z-index: 99999;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}

@media only screen and (min-width: 400px) {
    .primary_header {
        justify-content: space-between;

       
    }
    .logo_container img:nth-of-type(1) {
        margin: 0 4px;
    }
}
@media (max-width: 1200px) {
    .logo_container img:nth-of-type(2) {
        display: block;
        margin: 0 4px;
    }
}


@media only screen and (min-width: 1180px) {
.logo_container, .right_side, .primary_navigation{
    /* background: blue; */
    width: calc(100%/3);
    vertical-align: middle;
}

.logo_container{
    justify-content: flex-start;
}

.right_side{
    display: flex;
    justify-content: flex-end;
}

.primary_navigation{
    justify-content: center;
}
}