.primary_header {
    background: var(--dark1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 56px;

    border-bottom: 1px solid var(--navbar-border);
}
/* .header_gradient{
    position: absolute;
    width: 1440px;
    height: 873px;
    left: 0px;
    top: -490px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(205, 193, 255, 0.2) 0.01%, rgba(205, 193, 255, 0.116) 19.79%, rgba(205, 193, 255, 0.02) 59.38%, rgba(205, 193, 255, 0) 100%);
    pointer-events: none;
    
} */

.primary_navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap, 2rem);

    /* display: none; */
}

.active,
.inactive {
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    letter-spacing: -0.02em;
    color: var(--text-grey-light);
}

.active,
.inactive:hover {
    color: var(--text-grey-white);
    transition: opacity var(--animation-speed) ease-in-out;
}

/* .inactive::after, .active::after{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    background: white;
    bottom: -.10em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform: scale(1, 1);
    transition: opacity  var(--animation-speed) ease-in-out ;
    opacity: 0;
    
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2), 0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #CDC1FF, 0px 0px 2px rgba(205, 193, 255, 0.2);  
}

.active::after{
    opacity: 1;
} */

.inactive:hover:after {
    opacity: 1;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--text-grey-white);
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2),
        0px 0px 4px #cdc1ff, 0px 0px 2px rgba(205, 193, 255, 0.2);
}

/* .active_link{
    font-size: 30px;
} */

.logo_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* gap: var(--gap, 1rem); */
    /* margin-left: 2rem; */
}

/* .logo_container h1 {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 2.25rem;
    font-weight: 100;
    line-height: 2.81rem;
    background-size: 200% auto;
    animation: shine 3s linear infinite;

} */

.mobile_nav_toggle {
    display: none;
}

.account {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.authenticate_button {
    cursor: pointer;
    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark3);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    border-radius: var(--border-radius);
    width: 155px;
    height: 25px;
    transition: box-shadow var(--animation-speed) ease-in-out;
}

.authenticate_button:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2),
        0px 0px 4px #cdc1ff, 0px 0px 2px rgba(205, 193, 255, 0.2);
}

.not_conncected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/* @media only screen and (min-width: 768px) {
    .primary_navigation{
        display: flex;
    }

} */
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@media (min-width: 580px) and (max-width: 1000px) {
    .primary_navigation {
        display: none;
    }
}

@media (max-width: 35em) {
    .account,
    .header_gradient {
        display: none;
    }
    .primary_navigation {
        display: none;
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform var(--animation-speed) ease-in-out;

        flex-direction: column;
        /* background: hsl(0 0% 100% / 0.1); */

        backdrop-filter: blur(1rem);
        background: rgba(23, 29, 39, 0.5);
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        border-radius: 10px;

        font-size: calc(var(--header2-size) + 0.5rem);
        line-height: calc(var(--header2-lh) + 0.5rem);
    }
    .primary_navigation[data-visible='true'] {
        transform: translateX(0%);
    }
    .mobile_nav_toggle {
        display: block;
        /* position: absolute; */
        z-index: 99999;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
}
