/* Input */


.currency_quantity {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: #fffefd;
    text-align: center;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 0.25rem;
    outline: 0;
    background-color: transparent;
    background-clip: padding-box;
  
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    
  
  }
  .currency_quantity::placeholder {
    color: var(--text-grey-dark);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
  }
  


  /* swapbox */
  .swapbox {
    display: flex;
    overflow: auto;
    flex-direction: column;
    overflow-y: hidden;
    color: white;

    border-radius: 10px;
    background: rgba( 18, 23, 31, 0.5 );
    /* box-shadow: 0 1px 32px 0 rgba(13, 17, 70, 0.37); */
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    
  }
  
  /* .modalSwapbox {
    background-color: var(--dark2); 

    

    
  } */

  .direction{
      padding: 12px;
  }
  .direction, .swapbox_bottom{

    display: flex;
    justify-content: center;

      font-size: var(--body-size);
      line-height: var(--body-lh);
      color: var(--text-grey-light);
  }
  
  .swapbox_top {
    border-radius: var(--border-radius);
    background-color: var(--dark2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    max-height: 3rem;
  }

  .swap_input{
width: 100%;

  }
  .token_select {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 30%;
   cursor: pointer;
  }

  .token_select img {
    max-width: 100%;
 
  }

  .token_list_text{
      font-size: var(--header2-size);
      line-height: var(--header2-lh);
      color: var(--text-grey-white);
      font-weight: 200;
  }
  
  /* bottom info */
  .swapbox_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .token_select_button {
    cursor: pointer;
  }
  
  .buy_token {
    display: none;
  }
  

  .toggle_container{
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .surplus_toggle{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
