/* Input */

.currency_quantity {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: var(--text1);
    text-align: start;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0;
    max-height: 23px;
    margin: 8.5px 0;
    margin-left: 32px;
    border: none;
    border-radius: 0.25rem;
    outline: 0;
    background-color: transparent;
    background-clip: padding-box;

    transition: border-color var(--animation-speed) ease-in-out,
        box-shadow var(--animation-speed) ease-in-out;

    font-family: var(--mono);
}
.currency_quantity::placeholder {
    color: var(--text3);
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}

/* swapbox */
.swapbox {
    display: flex;
    flex-direction: column;
    color: white;
}

.direction {
    margin-bottom: 8px;
}
.direction,
.swapbox_bottom {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.swapbox_top {
    border-radius: var(--border-radius);
    background-color: var(--dark2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0;
    max-height: 3rem;
}

.token_amount {
    width: 100%;
    background: var(--dark2);
    /* background-image: linear-gradient(rgba(23, 29, 39, 1), rgba(23, 29, 39, 1)),
        linear-gradient(101deg, var(--accent1), var(--accent5), var(--accent1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--dark2) inset; */
    /* max-height: 35px; */
    border-radius: var(--border-radius);
}

.swap_input {
    width: 100%;
    /* max-height: 35px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    gap: 4px;
}
.token_select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    cursor: pointer;
}
.button_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark2);
    border-radius: var(--border-radius);
    gap: 4px;
    height: 40px;
}

.button_controls button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 20px;
    height: 20px;
}

.button_controls button:hover > svg{
    color: var(--accent1)
}
.button_controls button:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}
.token_select img {
    max-width: 100%;
}

.token_list_text {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-weight: 200;
}

/* bottom info */
.swapbox_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.token_select_button {
    cursor: pointer;
}

.buy_token {
    display: none;
}

.toggle_container {
    margin-bottom: 10px;
    margin-left: 10px;
}

.surplus_toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reset_limit_button {
    cursor: pointer;
    background: var(--dark2);
    min-width: 1.5rem;
    /* padding: 0.1rem; */
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text2);
    outline: none;
    border: solid 0.2px transparent;
    border-radius: 50px;
    padding: 3px 8px;
    transition: all var(--animation-speed) ease-in-out;
    border: 1px solid var(--accent1);
}

.reset_limit_button:hover {
    color: var(--text1);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(131, 119, 220, 0.8);
        border-radius: var(--border-radius);
    }
    /* 50% {
    box-shadow: 0 0 0 6px rgba(131, 119, 220, 0.5);
    border-radius: var(--border-radius);
  } */
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
        border-radius: var(--border-radius);
    }
}

.pulse_animation {
    animation: shadow-pulse 1s 6;
}
