.auction_card {
    display: flex;
    flex-direction: row;
    height: 120px;
    outline: 3px solid green;
}

.auction_image_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 110px;
}

.auction_maker {
    font-size: 10px;
    color: var(--text3);
}

.auction_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 290px;
    outline: 1px solid orange;
}

.info_header, .info_sub_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.description {
    font-size: 10px;
    color: var(--text3);
}