.form_item {
    display: flex;
    flex-direction: column;

    /* outline: 1px solid orange; */
}

.form_item_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* outline: 2px solid red; */
}

.form_item_top label {
    padding: 0;
    color: var(--text2);
    font-size: 12px;
    /* outline: 1px solid green; */
}

.counter {
    color: var(--text3);
    font-size: 10px;
    outline: none;
}

.text_input, .text_input_disabled {
    padding: 2px 6px;
    width: 100%;
    border-radius: 4px;
    letter-spacing: 1px;
    resize: none;
    color: var(--text1);
    background-color: var(--dark3);
    outline: none;
    border: 1px solid var(--text3);
}

.text_input_disabled:hover {
    cursor: pointer;
}