.form_item {
    display: flex;
    flex-direction: column;

    /* outline: 1px solid orange; */
}

.form_item textarea {
    resize: none;
}

.form_item_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_item_input {

}