.create {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* width: 100%; */
    height: 100%;

    /* outline: 3px solid yellow; */
}

.go_back {
    outline: 2px solid salmon;
}

.create_form {
    display: flex;
    flex-direction: row;

    outline: 8px sold green;
}

.form_left,.form_right {
    display: flex;
    flex-direction: column;
}

.form_left {
    width: 200px;
    /* outline: 2px solid red; */
}

.form_right {
    width: 400px;
    gap: 8px;

    /* outline: 2px solid aqua; */
}

.submit_btn {
    background: cyan;
}