.menu {
    z-index: 999;
    position: relative;
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: 22px;
    color: var(--text1);
    width: 222px;
}

.menu ul,
.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--dark3);
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
}

.menu ul.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.main_container {
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    overflow: hidden;
}

.main_container li {
    display: flex;
    color: var(--text1);
    transition: background-color 0.2s ease;
    padding: 8px 12px;
    border-radius: 4px;
}

.main_container li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.main_button {
    -webkit-appearance: button;
    color: var(--text1);
    width: 100%;
    padding: 8px 12px;
    height: 40px;
    border-radius: var(--border-radius);
    background: var(--dark3);
    border: 1px solid var(--dark2);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s ease;
}

.main_button:hover {
    background-color: var(--dark2);
}

.main_button.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid transparent;
}

.main_button path {
    fill: var(--text1);
}

.theme_item_container {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-weight: 300;
    font-size: var(--header2-size);
    line-height: 22px;
    color: var(--text1);
    transition: all 0.2s ease;
}

.theme_item_container.selected {
    font-weight: 500;
    color: var(--accent1);
}

.dropdown_arrow {
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
}

.dropdown_arrow.rotated {
    transform: rotate(180deg);
}

.dropdown_arrow svg {
    width: 15px;
    height: 15px;
}

.dropdown_arrow path {
    fill: currentColor;
}

.theme_color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
