.menu{
    z-index: 999;
    position: relative;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-grey-white);
   
}

.menu ul, .menu li{
    list-style: none;
    margin: 0;
    padding: 10px;
   
}


.menu ul{
    display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--dark2)
}
.main_container{
    position: absolute;
    top: 60px;
    right: 0;
    
}

.main_container li{
  
       
        display: flex;
        
        color: var(--text-grey-white);
      
}

.main_button{
    -webkit-appearance: button;
  color: var(--text-grey-white);
  width: 222px;
  padding: 2px 10px 2px 4px; 
  height: 40px;
  border-radius: 4px;
  background: #242F3F;
  border: none;

  cursor: pointer;
 
  /* text-align: left; */
  display: flex;
 justify-content: flex-end;
  align-items: center;
  gap: 8px;
  
 
}

.main_button path {
    fill: var(--text-grey-white);
  }

  .network_item_container{
    
    /* padding: 10px 1.3rem; */
    cursor: pointer;
    padding: 10px 0;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* background: darkblue; */
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-grey-white)

}

.network_color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.outline {
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 3px solid white;
    border-radius: 50%;
  }
