.arrow_container {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_container_disabled {
    cursor: wait;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    height: 1.3rem;
    width: 1.3rem;
    border-style: solid;
    border-width: 0px 4px 4px 0px;
    border-image-slice: 1;

    border-image-source: linear-gradient(90deg, #7371fc 0%, #cdc1ff 49.48%, #7371fc 100%);
    transform: rotate(45deg);
    transition: border-width var(--animation-speed) ease-in-out;
}
