.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark1);
    border-radius: 4px;
    padding-left: 5px;
}

.main_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    /* height: calc(100vh - 17rem); */
    /* justify-content: center; */
    /* align-items: center; */

    /* height: 100%; */

    /* position: relative; */
    /* height: calc(100% / 3); */
}

.control_container {
    height: 100%;
    padding: 12px 5px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    display: none;
}
.control_container p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--text2);
}

.tabs_container {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
    background: var(--dark1);
    display: flex;
    flex-direction: row;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tab_navs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.tab_navs {
    color: var(--text2);
    font-weight: 500;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    list-style: none;
    cursor: pointer;
}

.toggle_container {
    margin-left: 10px;
    margin-bottom: 14px;
}

.options_toggle {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    flex-direction: row;
    align-items: center;
}
.info_text {
    font-size: var(--body-size);
    line-height: 22.5px;
    color: var(--text2);
    background: var(--dark1);
    font-weight: 200;
    text-align: center;
    padding: 8px;
    margin: 0 0 0 -5px;
    
    /* prevents the exchange balance sidebar from expanding downward on open */
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.info_text-grey-light {
    font-size: var(--body-size);
    line-height: 22.5px;
    color: var(--text2);
    background: var(--dark1);
    font-weight: 200;
    text-align: center;
    padding: 8px;
    margin: 0 0 0 -5px;
    border-radius: 0 0 4px 4px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    transition: all var(--animation-speed) ease-in-out;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .option_toggles {
        display: none;
    }

    .container {
        padding-left: 30px;
    }

    /* .info_text {
        display: none;
    } */
}

@media only screen and (min-width: 1200px) {
    .container {
        /* height: calc(100vh - 16rem); */
        height: 100%;
        max-width: 400px;
    }

    .main_container {
        height: 100%;
        /* height: calc(100vh - 17rem); */
        /* width: 100%; */
    }

    .control_container {
        display: flex;
        border-radius: 4px;
    }
}
