.grow {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../../../assets/images/logos/ambient_logo.png') no-repeat
        center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.grow1 {
    background-color: var(--accent1);
    width: 200px;
    height: 200px;
    margin-top: -120px;
    margin-left: -120px;
    animation: scale1 2s infinite;
    transition: all 0.2s ease-out;
    opacity: 0.2;
}
.grow2 {
    background-color: var(--accent1);
    width: 140px;
    height: 140px;
    margin-top: -85px;
    margin-left: -85px;
    animation: scale2 2.4s infinite;
    transition: all 0.2s ease-out;
    opacity: 0.4;
}
.grow3 {
    background-color: var(--accent1);
    width: 70px;
    height: 70px;
    margin-top: -50px;
    margin-left: -50px;
    animation: scale3 2.8s infinite;
    transition: all 0.2s ease-out;
    opacity: 1;
}
.grow4 {
    background-color: #9f88d6;
    width: 20px;
    height: 20px;
    margin-top: -25px;
    margin-left: -25px;
    animation: scale3 3s infinite;
    transition: all 0.2s ease-out;
}
@keyframes scale1 {
    0% {
        transform: scale(1.3);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
    50% {
        transform: scale(2);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scale(1.3);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
}
@keyframes scale2 {
    0% {
        transform: scale(1.3);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
    50% {
        transform: scale(2);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scale(1.3);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
}
@keyframes scale3 {
    0% {
        transform: scale(1.3);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
    50% {
        transform: scale(2);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scale(2);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.4);
    }
}
