.switch {
    width: 36px;
    height: 20px;
    background: var(--dark3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--accent1);
    cursor: pointer;
}

.switch:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}

.switch[data-isOn='true'] {
    justify-content: flex-end;
    background-color: var(--accent1);
}
.switch[data-isOn='true'] .handle {
    background: var(--text1);
}

.handle {
    /* width: 36px; */
    width: 18px;
    height: 18px;
    background: var(--text1);
    border-radius: 40px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
