.switch_checkbox {
    visibility: hidden;

    width: 0;
    height: 0;
}

.switch_label {
    position: relative;

    display: flex;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    border-radius: 100px;
    /* width: 50px;
    height: 25px; */
    background: transparent;

    align-items: center;
    justify-content: space-between;
}

.switch_label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    padding: 1.5px;
    background: var(--title-gradient);
    -webkit-mask: linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.switch_button {
    position: absolute;
    top: 2px;
    left: 2px;

    content: '';
    transition: all var(--animation-speed) ease-in-out;
    /* width: 20px;
      height: 20px; */

    border-radius: 45px;
    background: white;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch_checkbox:checked + .switch_label .switch_button {
    left: calc(100% - 2px);

    transform: translateX(-100%);
}

.switch_label:active .switch_button {
    width: 60px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
