.switch {
    width: 36px;
    height: 20px;
    background: var(--dark3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--accent1);
    cursor: pointer;
}

.switch:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.switch[data-isOn='true'] {
    justify-content: flex-end;
    background-color: var(--accent1);
}
.switch[data-isOn='true'] .handle {
    background: var(--text1);
}

.handle {
    /* width: 36px; */
    width: 18px;
    height: 18px;
    background: var(--text1);
    border-radius: 40px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}
