
.comment_input_wrapper{
    background-color: var(--dark2);
    position: absolute;
    width: calc(100% - 1rem);
    width: 100%;
    bottom: 0;
    }

    .comment_input_wrapper input{
        
        background: transparent;
        border: none;
        outline: none;
        color: white;
        padding: .5rem 1rem;
        width: 90%;
    }
    .comment_input_wrapper input.about_filled{
        width: 75%;
        margin-left: 15%;
    }



    .progress_wrapper{
        position: absolute;    
        left: .5rem;
        top: .5rem;

    }
    .circular_progress{
        top: .3rem;
        left: .5rem;
        display: inline-block;
    }
    
    .character_limit{
        display: inline-block;
        font-size: .6rem;
        opacity: .5;
        margin-left: .3rem;
        vertical-align: middle;
        margin-top: -.1rem;
    }

    .connect_to_chat_placeholder{
        color: rgba(255,255,255, .3);
        background-color: var(--dark3);
        color: black;
        background: var(--accent1   );
        padding: .5rem;
        text-align: center;
        cursor: pointer;
    }

    .connect_btn{
        position: absolute;
        right: 0;
        padding: .5rem;
        top: 0;
        background: var(--accent1);
        color: black;
    }

    .send_icon{
        transform: rotate(-45deg) scale(1.2);
    }