/* I do not want to change the classnames of the file to CSS modules since I am aware those classnames are being used for the pgrah data */

.chart-fee,
.chart-tvl,
#chart-volume {
    transition: all 600ms ease-in-out;
}

.main_layout {
    transition: all 600ms ease-in-out;
    width: 100%;
    color: #bdbdbd;
}

.domain,
.tick > path,
.gridline-y,
.gridline-x {
    stroke: #bdbdbd;
    stroke-opacity: 0.1;
}

.candlestick .down {
    background-color: #7371fc;
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid #242F3F;
}

label {
    color: rgba(204, 204, 204, 0.63);
    padding-top: 3px;
    padding-left: 7px;
    font-size: 14px;
}

.crosshair {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;
    stroke-dasharray: 0.3 0.3;
    stroke-opacity: 1;
}

