/* .gradient_top{

  
    background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
    width: 100%;
    height:150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
} */
.main_container_chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding: 1rem; */
}

.graph_style {
    z-index: 2;
}

.token_info_container,
.time_frame_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    padding: 0.3rem 0.7rem 0 0;
}

.tokens_info {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
}

.tokens_images {
    display: flex;
    flex-direction: row;
    gap: 7px;
    cursor: pointer;
}

.favorite_button {
    margin-left: 3px;
    margin-top: 3px;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.favorite_button svg {
    transition: all var(--animation-speed) ease-in-out;
}

.tokens_images img {
    width: 20px;
}
.tokens_name {
    letter-spacing: -0.02em;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.tokens_images,
.tokens_name,
.fav_button,
.settings_container button {
    transition: all var(--animation-speed) ease-out;
}

.tokens_name:hover,
.fav_button:hover,
.settings_container button:hover {
    filter: brightness(75%);
}

.settings_container,
.time_frame_container .right_side,
.time_frame_container .left_side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart_overlay_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.outline {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 50px;
    content: '';
    inset: 0;
    padding: 1px;
    /* control the border thickness */
    background: var(--title-gradient);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.outline2 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border-radius: 50px;
    content: '';
    inset: 0;
    padding: 1px;
    /* control the border thickness */
    background: var(--text-highlight-dark);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.active_selected_button,
.non_active_selected_button {
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;

    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5px 8px;
    position: relative;
}

.active_selected_button:hover,
.non_active_selected_button:hover {
    /* background: var(--title-gradient); */
    color: var(--text-grey-light);
    background: var(--dark1);

    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2),
        0px 0px 4px #cdc1ff, 0px 0px 2px rgba(205, 193, 255, 0.2);
}

.active_selected_button {
    position: relative;
    background: var(--dark1);
    width: 100%;
    height: 100%;
    color: var(--text-grey-light);
}

.active_selected_button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 1px;
    background: var(--text-highlight-dark);
    -webkit-mask: linear-gradient(rgb(0, 0, 0) 0 0) content-box, linear-gradient(rgb(0, 0, 0) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.non_active_selected_button {
    background: var(--dark1);
    color: var(--text-grey-light);
}

.active_button2 {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text-grey-light);
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5px 8px;
    position: relative;
    background: var(--dark3);
}

.non_active_button2 {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text-grey-light);
    outline: none;

    border-radius: 50px;
    padding: 5px 8px;
    position: relative;
    background: var(--dark1);
    border: 1px solid #242f3f;
}

.time_frame_container {
    color: var(--text-grey-light);
}

.token_info_container .amount {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-light);
}

.token_info_container .change_positive {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--positive);
}

.token_info_container .change_negative {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--negative);
}

.token_info_container .tvl_display {
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.graph_settings_container {
    width: 100%;
    /* max-height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*     gap: 1rem;; */
}

.save_image_container,
.chart_settings {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 1rem 2rem;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.save_image_container div {
    cursor: pointer;
}

.save_image_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    transition: all var(--animation-speed) ease-in-out;
}

.save_image_content:hover {
    color: var(--text-grey-white);
}

.chart_item_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.chart_item_container {
    padding: 1rem;
}

.chart_ite_container input[type='checkbox'] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.chart_item_container input[type='checkbox'] {
    display: none;
}

.chart_item_container input[type='checkbox'] + label:before {
    content: '\2714';
    border: 0.1em solid var(--text-grey-light);
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin: 0 10px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

.chart_item_container input[type='checkbox'] + label:active:before {
    transform: scale(0);
}

.chart_item_container input[type='checkbox']:checked + label:before {
    background: var(--title-gradient);
    border-color: #7371fc;
    color: #fff;
}

.liquidity_type_container {
    background: darkblue;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.liquidity_type_content {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.liquidity_type_content span {
    width: 50%;

    text-align: flex-start;
}

/* .chart_item_container input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #7371FC;
  }
  
  .chart_item_container input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background: var(--title-gradient);

    border-color: #7371FC;
  }
   */

.current_data_info {
    padding: 0.3rem 0 0 0.3rem;

    /* extra small */

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;

    /* text/grey light */

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    color: rgba(235, 235, 255, 0.4);
}
.main_settings_container, .main_settings_container_active{
    max-width: 700px;
  padding: 20px 0;
  width: 100%;
  height: 80%;
  position: absolute;
  background: var(--dark3);
  border-radius: 15px;
  box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  right: 30px;

  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 1rem;
}

.main_settings_container{
    bottom: 0px;

    opacity: 0;
    pointer-events: none;
}
.main_settings_container_active{
    opacity: 1;
width: 100%;
   top: 30px;
   right: 10px;
    pointer-events: auto;
    z-index: 5;
}

.chart_settings_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
    border-right: 1px solid var(--text-grey-light);
    transition: all var(--animation-speed) ease-in-out

}
.chart_settings_nav li{
    cursor: pointer;
 padding: 1rem;
}

.setting_active{
    background: var(--dark2)
}

.main_chart_settings_content{
    width: 100%;
    display: flex;
    flex-direction: column;
   /* justify-content: center; */
   align-items: center;
    
}
@media only screen and (min-device-width: 200px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        /* display: none; */
        margin-bottom: 15px;
    }

    .chart_image,
    .time_frame_container,
    .token_info_container {
        display: none;
    }
}

@media (min-width: 680px) {
    .tokens_name {
        font-weight: 300;
        font-size: var(--header1-size);
        line-height: var(--header1-lh);
        color: var(--text-grey-white);
    }
    .tokens_images img {
        width: 25px;
    }
    .middle_content_style {
        display: flex;
        flex-direction: column;
    }

    .graph_style {
        width: 100%;
    }
    /* .full_screen_gradient{

    background: red;
} */

    /* .trade_style {
        height: 30%;
    } */

    .hide_graph {
        display: none;
    }

    .expand_table {
        height: 100%;
    }
}

@media (min-width: 680px) {
    .graph_settings_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .graph_settings_container div {
        cursor: pointer;
    }

    /* .chart_full_screen{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      background: var(--dark2);
        position:absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        z-index: 2; 
    }
  */
}

.chart_tooltips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0;
}
