.main_container_chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding: 1rem; */
}

.graph_style {
    z-index: 2;
}
.tutorial_button_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 8px;
}
.tutorial_button {
    outline: none;
    background: var(--dark2);
    border: 1px solid var(--text-highlight-dark);
    color: var(--text-grey-light);
    border-radius: 4px;
    padding: 0 4px;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;

    box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #0ba9ca,
        0 0 50px #0ba9ca, 0 0 80px #0ba9ca;
}
.tutorial_button:hover {
    color: var(--text-grey-white);
}
.token_info_container,
.time_frame_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    padding: 0.3rem 0.7rem 0 0;
}

.curve_depth_container,
.volume_tvl_container,
.main_time_frame_container,
.chart_overlay_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.curve_depth_container:not(:last-child),
.volume_tvl_container:not(:last-child),
.main_time_frame_container:not(:last-child) {
    border-right: 1px solid var(--text-grey-light);
}

.active_selected_button,
.non_active_selected_button {
    background: transparent;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    text-align: center;

    outline: none;
    border: none;
    padding: 1px 8px;
    position: relative;
}

.settings_container:last-of-type {
    border-right: 1px solid transparent;
}

.active_selected_button:hover,
.non_active_selected_button:hover {
    /* background: var(--title-gradient); */
    color: var(--text-grey-white);

    /* box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2),
    0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2),
    0px 0px 4px #cdc1ff, 0px 0px 2px rgba(205, 193, 255, 0.2); */
}
.fullscreen_button {
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_selected_button {
    width: 100%;
    height: 100%;
    color: var(--text-grey-white);
}

.non_active_selected_button {
    color: var(--text-grey-light);
}

.token_info_container .amount {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-light);
}

.token_info_container .change_positive {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--positive);
}

.token_info_container .change_negative {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--negative);
}

.token_info_container .tvl_display {
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.graph_settings_container {
    width: 100%;
    /* max-height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4px; /*     gap: 1rem;; */

    display: none;
    display: none;
}

.save_image_content,
.chart_settings {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    cursor: pointer;
    padding: 1rem 2rem;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.save_image_content div {
    cursor: pointer;
}

.save_image_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    transition: all var(--animation-speed) ease-in-out;
}

.save_image_content:hover {
    color: var(--text-grey-white);
}

.chart_item_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.chart_item_container {
    padding: 1rem;
}

.chart_ite_container input[type='checkbox'] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

.chart_item_container input[type='checkbox'] {
    display: none;
}

.chart_item_container input[type='checkbox'] + label:before {
    content: '\2714';
    border: 0.1em solid var(--text-grey-light);
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin: 0 10px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

.chart_item_container input[type='checkbox'] + label:active:before {
    transform: scale(0);
}

.chart_item_container input[type='checkbox']:checked + label:before {
    background: var(--title-gradient);
    border-color: #7371fc;
    color: #fff;
}

.liquidity_type_container {
    background: darkblue;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.liquidity_type_content {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.liquidity_type_content span {
    width: 50%;

    text-align: flex-start;
}

/* .chart_item_container input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #7371FC;
  }
  
  .chart_item_container input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background: var(--title-gradient);

    border-color: #7371FC;
  }
   */

.main_settings_container,
.main_settings_container_active {
    max-width: 700px;
    padding: 20px 0;
    width: 100%;
    height: auto;
    position: absolute;
    background: var(--dark1);
    border-radius: 4px;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 10px;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main_settings_container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    border-bottom: 1px solid var(--text-grey-dark);
}
.main_settings_container header div {
    cursor: pointer;
}
.main_settings_container header h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-light);
}
.chart_settings_inner {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 1rem;
}

.main_settings_container {
    bottom: 0px;

    opacity: 0;
}
.main_settings_container_active {
    opacity: 1;
    width: 100%;
    max-height: 90%;
    top: 30px;
    right: 10px;
    width: 100%;
    max-height: 90%;
    top: 30px;
    right: 10px;

    z-index: 5;
}

.chart_settings_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    list-style: none;
    border-right: 1px solid var(--text-grey-dark);
    transition: all var(--animation-speed) ease-in-out;
}
.chart_settings_nav li {
    cursor: pointer;
    padding: 1rem;
    padding: 1rem;
}

.setting_active {
    background: var(--dark2);
}

.main_chart_settings_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    transition: all var(--animation-speed) ease-in-out;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        /* display: none; */
        margin-bottom: 15px;
    }

    .main_container_chart {
        height: 75vh;
        overflow: hidden;
    }

    /* .chart_image,
    .time_frame_container,
    .token_info_container {
        display: none;
    } */
}

@media (min-width: 680px) {
    .middle_content_style {
        display: flex;
        flex-direction: column;
    }

    .graph_style {
        width: 100%;
    }

    /* .full_screen_gradient{

    background: red;
} */

    /* .trade_style {
        height: 30%;
    } */

    .hide_graph {
        display: none;
    }

    .expand_table {
        height: 100%;
    }

    .graph_settings_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    .graph_settings_container svg {
        cursor: pointer;
    }
}
