* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.current_pool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 4px;
    gap: 10px;

    width: 95px;
    height: 26px;

    /* Dark/Tertiary */
    background: var(--dark3);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.bgsalmon {
    width: 58px;
    height: 13px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* text/grey light */
    color: var(--accent1);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.current_pool_text {
    width: 58px;
    height: 13px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 12px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* text/grey light */
    color: var(--text2);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.dropdown {
    width: 92%;
    user-select: none;
    margin: -5px auto;
    position: relative;
    background: var(--dark3);
    padding: 1px;
    border-radius: 4px;
}

.dropdown_btn {
    padding: 2px 4px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 300;
    color: var(--text1);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row;
}

.dropdown .dropdown_content {
    position: absolute;
    top: 110%;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: var(--text2);
    width: 95%;
    text-align: center;
}

.star_icon {
    color: var(--text2);
    cursor: pointer;
}

.dropdown_btn_isActive {
    padding: 4px 4px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: var(--text2);
    border-radius: 4px;
}

.star_icon_selected_room {
    height: 20px;
    width: 20px;
    color: var(--text2);
    pointer-events: none;
}

.dropdown_item {
    padding-left: 4px;
    padding-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: var(--text2);

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.dropdown_item:hover {
    background: var(--dark3);
}

.dropdown_item_no_fav_pools {
    padding-left: 4px;
    padding-top: 5px;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: var(--text2);

    font-size: var(--body-size);
    line-height: var(--body-lh);
}
