* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
}

.current_pool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 4px;
    gap: 10px;

    width: 95px;
    height: 26px;

    /* Dark/Tertiary */
    background: var(--dark3);
    border-radius: 4px;

    /* Inside auto layout */
    flex: none;
    flex-grow: 0;
}

.bgsalmon {
    width: 58px;
    height: 13px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 12px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* text/grey light */
    color: var(--accent1);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.current_pool_text {
    width: 58px;
    height: 13px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 12px;

    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* text/grey light */
    color: rgba(235, 235, 255, 0.4);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.dropdown {
    width: 92%;
    user-select: none;
    margin: -5px auto;
    position: relative;
    background: var(--dark3);
    padding: 1px;
    border-radius: 4px;
}

.dropdown_btn {
    padding: 2px 4px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 300;
    color: var(--text1);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row;
}

.dropdown .dropdown_content {
    position: absolute;
    top: 110%;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: rgba(235, 235, 255, 0.4);
    width: 95%;
    text-align: center;
}

.star_icon {
    color: var(--text2);
    cursor: pointer;
}

.dropdown_btn_isActive {
    padding: 4px 4px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 300;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color: rgba(235, 235, 255, 0.4);
    border-radius: 4px;
}

.star_icon_selected_room {
    height: 20px;
    width: 20px;
    color: rgba(235, 235, 255, 0.4);
    pointer-events: none;
}

.dropdown_item {
    padding-left: 4px;
    padding-top: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.dropdown_item:hover {
    background: var(--dark3);
}

.dropdown_item_no_fav_pools {
    padding-left: 4px;
    padding-top: 5px;
    cursor: default;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s;
    color: rgba(235, 235, 255, 0.4);

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.only_mentions_toggle_wrapper{
    display: inline-block;
    vertical-align: bottom ;
    margin-left: .4rem;
}
.only_mentions_wrapper{
    /* background: #34327e; */
    opacity: 1;
    animation: opaAnim 0.3s .3s ease-in-out forwards;
    /* box-shadow: 0px 0px 12px rgba(205, 193, 255, 0.2); */
    border-top: 0.5px solid var(--accent1);
    /* border-left: 0.5px solid var(--accent1);
    border-right: 0.5px solid var(--accent1); */
    /* border-radius: .2rem .2rem 0 0; */
    padding: .4rem .3rem;
    font-size: .8rem;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(205, 193, 255, 0.2);
    font-size: .82rem;
    margin-top: .4rem;
    /* text-align: right; */
    border-top: none;
    padding-top: 0.5rem;
    box-shadow: inset 0px 4px 10px 6px rgba(0, 0, 0, 0.16);
    background: #242b3f;
    display: inline-block;
}

.only_mentions_text{
    transition: ease-in-out .3s;
    opacity: .5;
}

.only_mentions_text_active{
    opacity: 1;
}

.noti_dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 2rem;
    background: var(--accent1);
    margin-left: .1rem;
}

.ment_text_info_wrapper{
    float: right;
    text-align: right;
    margin-right: .4rem;
    display: inline-block;
    transition: all .2s ease-in-out;
    opacity: .5;
}

.opa_full{
    opacity: 1;
}