.range_width_container {
    width: 100%;
    /* margin-bottom: 1rem; */
    padding: 0 5px;

    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--content-bg);
    transition: all var(--animation-speed) ease-in-out;
}

.title {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.range_width_content {
    display: grid;

    grid-auto-rows: auto;
    row-gap: 12px;
}
.range_width_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12%;
}

.range_width_input span {
    /* font-weight: 600; */

    color: rgb(218, 214, 214);
}

.range_width_title {
    display: flex;
    justify-content: flex-start;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    margin-top: 10px;
}
.percentage_container {
    display: flex;

    width: 100%;
    padding: 0;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.percentage_amount {
    display: flex;
    justify-content: center;
    color: var(--text-grey-white);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    margin-right: 10px;

    width: 60px;
}
.percentage_options {
    display: flex;
    padding: 0 0rem;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.percentage_option_buttons {
    background: var(--dark1);
    font-size: var(--body-size);
    line-height: var(--body-lh);

    overflow: hidden;

    margin: 4px !important;
    background: var(--dark2);
    border-radius: var(--border-radius);

    padding: 5px 8px;

    cursor: pointer;
    border-radius: 50px;

    color: var(--text-grey-light);
    border: none;
    transition: all var(--animation-speed) ease-in-out;
}

.percentage_option_buttons:hover {
    color: var(--text-grey-white);
}
.percentage_input {
    /* padding: 15px 0px;  */
    /* appearance: none;  */
    width: 100%;

    cursor: pointer;

    background: transparent;
}
input[type='range'] {
    width: 100%; /* Specific width is required for Firefox. */
    height: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */

    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-ms-track {
    width: 100%;
    border-radius: 10px;

    cursor: pointer;

    color: transparent;
    border-color: transparent;
    outline: none;
    border: none;
    background: transparent;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    background: var(--dark2);
    width: 16px;
    height: 36px;
    margin-top: -14px;
    cursor: pointer;

    border: 1px solid #cdc1ff;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    -webkit-appearance: none;
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 36px;

    cursor: pointer;

    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
    width: 16px;
    height: 36px;

    cursor: pointer;

    border: 1px solid #000;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    border: 0.2px solid #010101;
    border-radius: 1.3px;
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */

    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    border: 0.2px solid #010101;
    border-radius: 1.3px;
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */

    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

input[type='range']::-ms-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    color: transparent;
    border-width: 16px 0;
    border-color: transparent;
    background: transparent;
}
input[type='range']::-ms-fill-lower {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */

    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-lower {
    background: var(--dark2);
}
input[type='range']::-ms-fill-upper {
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */

    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}
input[type='range']:focus::-ms-fill-upper {
    background: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    ); /* Otherwise white in Chrome */
}
