.container {
    position: relative;
}
.blur_background {
    position: absolute;
    top: 5.1em;
    right: 49.5em;
    bottom: auto;
    display: block;
    width: 30em;
    height: 30em;
    border-radius: 100vw;
    background-color: #07032f;
    /* background-image: linear-gradient(230deg,#9403ed 22%,#c51b1b); */
    background-image: linear-gradient(230deg, #9403ed 22%, #cdc1ff);
    opacity: 1;
    -webkit-filter: blur(180px);
    filter: blur(180px);
    opacity: 0.2;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 6rem;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);
    padding: 1rem;
}

.center,
.arthur {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.arthur {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 50px;

    /* text/white */

    color: #ffffff;
}

.tensai_text,
.naval_text {
    font-family: var(--logo-font);

    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 38px;
    color: #ffffff;
}

.zach_text {
    font-family: var(--logo-font);

    font-style: normal;
    font-weight: 100;
    font-size: 15.7606px;
    line-height: 20px;

    /* text/white */

    color: #ffffff;
}

.veratin_text {
    font-family: var(--logo-font);

    font-style: normal;
    font-weight: 100;
    font-size: 11.268px;
    line-height: 14px;

    /* text/white */

    color: #ffffff;
}
.susa_text {
    font-family: var(--logo-font);

    font-style: normal;
    font-weight: 200;
    font-size: 11.268px;
    line-height: 14px;

    /* text/white */

    color: #ffffff;
}
.susa_text span {
    font-weight: 400;
}
.hypotenuse_text {
    font-family: var(--logo-font);

    font-style: normal;
    font-weight: 100;
    font-size: 8.10069px;
    line-height: 10px;
}

.julian_text,
.llllvvuu_text,
.dogetoshi_text,
.afkbyte_text {
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;

    /* text/white */

    color: #ffffff;
}

.investor {
    --interval: 3s;
    display: block;
    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3),
        0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 3s infinite;
}

.investor {
    color: yellow;
    --color1: goldenrod;
    --color2: orangered;
    --color3: mediumblue;
    --color4: purple;
    font-family: Gruppo;
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}

.row1,
.row2,
.row5 {
    /* max-width: 1120px;
    margin: 0 auto;
    */

    display: grid;
    grid-gap: 1rem;
}

@media (min-width: 600px) {
    .row2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .row5 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .row5 {
        grid-template-columns: repeat(5, 1fr);
    }
}
