/* .posiitons_table_display table { 
	border-collapse: collapse;
    width: 100%; 
	}


    .posiitons_table_display th { 
	
	color: var(--text-grey-light); 
	font-size: var(--body-size); 
    line-height: var(--body-lh);
    font-weight: 500;

    text-align: center;
   

	}

    .posiitons_table_display td{
       
	font-size: var(--body-size); 
    line-height: var(--body-lh);
   

    }

    .posiitons_table_display td, .posiitons_table_display th { 
	padding: 10px; 
    text-align: center;
	

	
	}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.posiitons_table_display table { 
	  	width: 100%; 
	}

	.posiitons_table_display table, .posiitons_table_display thead, .posiitons_table_display tbody,.posiitons_table_display th, .posiitons_table_display td, .posiitons_table_display tr { 
		display: block; 
	}
	
	.posiitons_table_display thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	
	.posiitons_table_display td { 
		border: none;
		border-bottom: 1px solid rgb(160, 156, 156); 
		position: relative;
		padding-left: 50%; 
	}

	.posiitons_table_display td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);

		
		font-weight: bold;
	}

} */
