.gridContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    min-height: 40px;

    gap: 4px;

    white-space: nowrap;
    padding-left: 8px;
    cursor: pointer !important;
    /* padding: 0 8px; */
}

.gridContainer:hover {
    background: var(--dark2);
    transition: all var(--animation-speed) ease-in-out;
    border-radius: 4px;
}

.gridItem {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    /* background: var(--dark2); */
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
    align-items: stretch;
    font-size: 12px;
    width: 60px;
    justify-content: end;
}

.tokenIcon {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
}

.tradeButton {
    width: 25px;
}

.poolName {
    justify-content: flex-start !important;
}

.tradeIcon {
    width: 25px;
    height: 25px;
    background: var(--dark2);
    border: 1px solid var(--dark3);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

/* SKELETON */
@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
.skeletonItem {
    background: linear-gradient(
        to right,
        var(--dark2) 0%,
        var(--dark1) 20%,
        var(--dark2) 40%,
        var(--dark2) 100%
    );
    background-size: 200% 100%;
    animation: shimmer 2s infinite ease-in-out;
    border-radius: 4px;

    color: transparent;
    pointer-events: none !important;
}
/* END OF SKELETON */
@media only screen and (min-width: 768px) {
    .gridContainer {
        gap: 8px;
    }

    .gridItem {
        width: 70px;
        justify-content: flex-end;
    }
    .tradeButton {
        width: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .gridItem,
    .tradeButton,
    .tradeButton,
    .poolName {
        width: 100px;
    }

    .gridItem {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1280px) {
    .gridItem,
    .tradeButton,
    .tradeButton,
    .poolName {
        width: 133px;
    }
}



.vaultContainer{
    background-color: var(--dark1);
    height: 80px;
}