.token_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_logos img{
    width: 15px;
}

.min_max{
    display: flex;
    flex-direction: column;
    font-size: 10px;
line-height: 12px;
    color: #5FFFF2;
}
.min_max_range{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
    font-size: 10px;
    line-height: 12px;
        color: #5FFFF2;
}
.token_qty{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
    font-size: 10px;
    line-height: 12px;
    color: rgba(235, 235, 255, 0.4);
}


.token_qty img{
    width: 15px;
}

.token_qty_column, .account_column{
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 12px;
    color: rgba(235, 235, 255, 0.4);
}

.range_status{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.range_icon, .range_icon_2{
    width: 11px;
    height: 11px;
    background: green;
    border-radius: 50%;;
}

.account{
    margin: 0 4px;
}
.apy{
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;  

    background: linear-gradient(90deg, #15BE6F 32.38%, #8FE9BF 51.39%, #15BE6F 68.17%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}

.menu_buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

.menu_buttons button, .min_buttons button{
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius:6.25rem;
   cursor: pointer;
   font-size: 12px;
   line-height: 15px;
   color: #bdbdbd; 
   height: 23px;
   padding: 5px 8px;
   
  
   background: #0D1117;
   border: 1px solid #242F3F;
   box-shadow: 2px 1000px 1px #242f37 inset;
  
   cursor: pointer;
 }

 .min_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
 }
 .menu_icon{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;
    width: 38.51px;
    background: #0D1117;
    border: 1px solid #242F3F;
    border-radius: 50px;
    color: white;
   
    
    }
    .min_buttons{
        justify-content: center;
        /* justify-content: flex-end; */
       
    }

    .main_container{
        display: grid;
        grid-template-columns:50px auto 50px;
        font-size: 10px;
    }
    .row{
        display: grid;
    grid-template-columns: 1fr repeat(2, 50px) 40px 20px;
    grid-gap: 4px;
    
    align-items: center;
    }

    .menu_buttons,
 .account, 
 .range_status, 

 .pool_name, 
 .min_max_range, .min_buttons button {
    display: none;
}
    

/* Small screen devices (540px and above) */
@media only screen and (min-width: 540px) {
    .main_container{
        display: grid;
    grid-template-columns:50px auto 200px;

    }

    .row{
        display: grid;
    grid-template-columns: auto repeat(2, 75px) 80px 20px;
    grid-gap: 4px;
   
    align-items: center;
    }
    .min_buttons button{
        display: flex;
    }
  

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .token_logos img{
        width: 30px;
    }

    .pool_name{
        display: flex;
    }
    .main_container{
       
    grid-template-columns:100px auto 200px;
    }

    .row{
        grid-template-columns: 100px auto repeat(2, 95px) 80px 100px;

    }
    
}


/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {

    .range_icon_2{
        display: none;
    }
    .range_status{
        display: flex;
    }
    

    
}

@media only screen and (min-width: 1100px) {

    .account_column{
        display: none;
    }
  

    .account{
        display: flex;
    }

    .token_qty_column{
        display: none;
    }
    .token_qty{
        display: flex;
    }
    .row{
        grid-template-columns: 100px auto auto repeat(3, 95px) 80px 100px;

    }

}
