.button_container {
    padding: 8px 32px 0px;
    margin-top: 1rem;
}

.button_container .button_content{
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
border: none;
   height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;
	/* background: var(--text-highlight); */
	background: var(--dark3);
	color: var(--text-grey-white);

    border-radius: 4px;
    /* transition: all var(--animation-speed) ease-in-out;

    border: none;
    background: var(--text-highlight-dark);
    color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out; */


}

/* .button_container .button_content:hover{
    color: var(--text-grey-white);
    box-shadow: 4px 4px var( --text-highlight);
} */

.extra_info_container{
	background: var(--dark3);
	margin: 8px;
}
.loading_animation{
    width: 50px;
   

}

.button_content div{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.loading_animation svg{
    transition: all var(--animation-speed) ease-in-out
}



