.futa_footer_desktop {
    display: flex;
    flex-basis: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
    background-color: var(--dark1);
    /* background-color: #0D0F13; */
}

.futa_footer_desktop * {
    font-family: 'Fira Mono', monospace;

}

.futa_footer_desktop > div {
    display: flex;
    flex-basis: row nowrap;
}

