.container{
    background: var(--dark1, #06060C);
    display: flex;
width: 100%;
height: 64px;
justify-content: space-between;
align-items: center;
position:fixed;
bottom:0;
padding: 8px;

}

.footerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out
}

.footerItem:hover {
    color: var(--accent1)
}

@media (min-width: 768px) {
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:14rem
}
}