.container {
    background:  #0D0F13;
    width: 100%;
    height: 56px;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--text2);
    font-family: 'Fira Mono' !important;
}

.footerContainer {
    width: 100%;
}

.footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    text-transform: uppercase;
    font-size: var(--body-size);
    font-family: 'Fira Mono' !important;

}

.footerItem:hover {
    color: #62ebf1;
}

.desktopContainer {
    background: var(--dark1);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 6px;
    border-top: 1px solid #424649;
    font-size: 12px;
    color: var(--text2);
    font-family: var(--font-family) !important;
    cursor: default;
}

.network {
    border-right: 1px solid #424649;
}
.leftContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #424649;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
}
.status,
.blockNumber {
    border-left: 1px solid #424649;
    padding: 0 8px;
}

.price,
.network,
.rpc_container {
    padding: 0 8px;
}

.statusDisplay {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.rpc_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-left: 1px solid #424649;
}
.rpc_status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.active_status {
    background: var(--green);
    border: 1px solid var(--green);
}
.inactive_status {
    background: var(--red);
    border: 1px solid var(--red);
}
.unknown_status {
    border: 1px solid var(--text2);
    background-color: transparent;
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 14rem;
        display: none;
    }
}
