
.filled, .non_filled{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
}
.non_filled {
  
    border: 1px solid var(--text-grey-light);
}
.filled {
  
    border: 1px solid #41d18e;  
}

/* Desktop screen Sizes */
@media only screen and (min-width: 992px) {
    .filled,
    .non_filled {
        width: 21px;
        height: 21px;
    }
}
