.home_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 14rem)
}

.ambient_image{
    width: 600px;
    height: 600px;
    aspect-ratio: 1;
}

.ambient_image img{
    width: 100%;
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.sign {
    position: relative;
    background: none;
    color: #303030;
    font-size: 12rem;
    display: inline-block;
    font-family: var(--font-logo);
    letter-spacing: -0.1em;
    text-transform: lowercase;

    
}



.light {

    /* animation: color-change 20s infinite forwards; */
    color: white;
    text-shadow: 0 0 0.125em rgba(248, 74, 167, 1);
}

.non_light{
         animation: color-change 30s infinite forwards; 
         
}


.light::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7371FC;
    border-radius: 50%;
    filter: blur(2em);
    opacity: 0;

    animation: color-change 30s infinite linear;
    /* animation: change-op 50s infinite linear; */
}


 .sign::after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 1em;
    background: linear-gradient(80deg, #21204a 0%, #343141 49.48%, #272658 100%);

    background: radial-gradient(#0D1117 30%, #0D1117, #CDC1FF
    );
    transform: perspective(1em) rotateX(80deg) translateY(100%);
    filter: blur(4px);
    animation: change-op 0s infinite linear;
    opacity: 0.4;


}














@keyframes change-op {

    0%,
    4%,
    6%,
    9%,
    11%,
    29%,
    41%,
    54%,
    56%,
    76%,
    78%,
    89%,
    91%,
    93%,
    95%,
    100% {
        opacity: 0;
    }


    5%,
    10%,
    30%,
    40%,
    55%,
    77%,
    90%,
    92%,
    94% {
        opacity: 1;

    }


}

@keyframes color-change {

    0%,
    4%,
    6%,
    9%,
    11%,
    29%,
    41%,
    54%,
    56%,
    76%,
    78%,
    89%,
    91%,
    93%,
    95%,
    100% {
        color: #303030;
        text-shadow: none;
    }



    5%,
    10%,
    30%,
    40%,
    55%,
    77%,
    90%,
    92%,
    94% {
        color: white;
        text-shadow: 0 0 0.125em rgba(248, 74, 167, 1);

    }








}