/* .background_container{
    padding: 1rem 0;
    background: url('../../assets/images/home/ambient_logo2.png') 
     no-repeat
      top center;
  
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
} */

.home_container {
    background: var(--body-bg);
}

.pools_container {
    /* position: relative;

    background: -moz-radial-gradient(circle at 3% 25%, rgb(0, 26, 47) 0%, var(--body-bg) 25%);

    background: -webkit-radial-gradient(circle at 3% 25%, rgb(0, 26, 47) 0%, var(--body-bg) 25%);

    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, var(--body-bg) 25%);

    background: -ms-radial-gradient(circle at 3% 25%, rgb(0, 26, 47) 0%, var(--body-bg) 25%);

    background: radial-gradient(circle at 3% 25%, rgb(0, 26, 47) 0%, var(--body-bg) 25%); */
}
.blur_background {
    position: absolute;
    /* top: 5.1em; */
    right: 0;
    bottom: auto;
    display: block;
    width: 30em;
    height: 30em;
    border-radius: 100vw;
    background-color: var(--dark1);
    background-image: linear-gradient(230deg, #03395d 22%, #0e131a);
    opacity: 1;
    -webkit-filter: blur(180px);
    filter: blur(180px);
    opacity: 0.2;
}
.blur_background2 {
    position: absolute;
    /* top: 5.1em; */
    left: 0;
    bottom: auto;
    display: block;
    width: 30em;
    height: 30em;
    border-radius: 100vw;
    background-color: var(--dark1);
    background-image: linear-gradient(230deg, #3814c9 22%, #0e131a);
    opacity: 1;
    -webkit-filter: blur(180px);
    filter: blur(180px);
    opacity: 0.2;
}

.progress_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: red;
    transform-origin: 0%;
}
