/* .points_banner {
    position: relative;
    width: 100%;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        url('../../../assets/images/backgrounds/pointSystemBg.png');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100px;
    margin-top: 5px;
    border-radius: 16px;
    border: 1px solid var(--accent1, #7371fc);
} */

/* .points_banner_small {
    position: relative;
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url('../../../assets/images/backgrounds/pointSystemBg.png'),
        lightgray 50% / cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 300px;
    width: 350px;
    border-radius: 16px;
    border: 1px solid var(--accent1, #7371fc);

    border-radius: 16px;
    position: absolute;
    right: 14px;

    bottom: 65px;
    z-index: 0;
} */

.points_banner_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px 0px 32px;
}

.left_side {
    font-size: 50px;
    font-family: 'Lexend Exa';
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    background: linear-gradient(
        90deg,
        #7371fc 0.01%,
        #cdc1ff 49.48%,
        #7371fc 99.99%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right_side {
    display: flex;
    flex-direction: row;
}

.right_side p {
    font-family: 'Lexend Deca';
    font-size: var(--header2-size);
    font-weight: 300;
    line-height: var(--header2-lh);
    letter-spacing: -0.36px;
    text-align: center;
}

.right_side_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.right_side_buttons {
    gap: 32px;
    display: flex;
    flex-direction: row;
}
.connect_button,
.leaderboard_link {
    display: flex;
    padding: 5px 16px;
    border-radius: 50px;

    text-align: center;
    font-family: 'Lexend Deca';
    font-size: var(--body-size);
    font-weight: 300;
    line-height: var(--body-lh);
    letter-spacing: -0.48px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: all var(--animation-speed) ease-in-out;
}

.connect_button {
    background: var(--accent1, #7371fc);
    color: var(--dark1, #0d1117);
}

.connect_button:hover {
    background: var(--dark1, #0d1117);
    color: var(--accent1, #7371fc);
    border: 1px solid var(--accent1, #7371fc);
}
.leaderboard_link {
    background: var(--dark1, #0d1117);
    color: var(--accent1, #7371fc);
    border: 1px solid var(--accent1, #7371fc);
}
.leaderboard_link:hover {
    background: var(--accent1, #7371fc);
    color: var(--dark1, #0d1117);
}

.close_icon {
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    right: 17px;

    top: 10px;
}
