.mobile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mobile_tabs_container {
    padding: 1rem;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 30px;
    background-color: var(--dark1);
}

.mobile_tabs_container button {
    width: 100%;
    background: var(--dark2);
    outline: none;
    border: 1px solid transparent;
    color: var(--text2);
    padding: 2px 0;
    border-radius: 25px;
    font-size: 12px;
}

.activeTab {
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.mobile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 1rem;
    background: var(--dark1);
}

.mobile_token_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: var(--header1-size);
}

.conv_rate {
    font-size: var(--header2-size);
    line-height: var(--body-lh);
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
    .mobile_container {
        padding: 1rem;

        margin: 0 auto;
        margin-top: 1rem;
    }

    .mobile_tabs_container button {
        padding: 5px 0;
    }
}
