.outside_modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(1, 0, 16, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: all var(--animation-speed) ease-in-out;
}

.modal_container {
    padding: 2px;
    background: var(--title-gradient);
    min-height: 223px;
    min-width: 347px;
}
.modal {
    position: relative;

    display: flex;
    flex-direction: column;
    /* width: 450px; */

    /* min-height: 350px; */
    padding: 0 0 3rem;

    color: white;
    /* border-radius: 4px; */
    background-color: var(--dark2);

    align-items: center;
}

.modal_header {
    font-size: 14px;
    font-weight: 500;

    display: flex;
    gap: 8px;

    width: 100%;
    padding: 10px 20px;
    height: 56px;
    /* padding: 10px 20px; */

    letter-spacing: 1px;
    text-transform: capitalize;

    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */

    color: var(--dark2);
    background: var(--title-gradient);

    align-items: center;
    justify-content: center;
}

.modal_header img {
    max-width: 100%;
    margin: 0 10px;
}

.close_button {
    width: 15px;

    cursor: pointer;

    color: white;
}

.modal_content {
    width: 100%;
    padding: 1rem;
}

.content_title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 22.5px;
    font-weight: 200;
    text-align: center;
}
