.mainSection {
    display: grid;
    gap: 4px;
    grid-template-columns: auto 0px 390px;
    padding: 0 8px;
    height: 100%;
    height: calc(100dvh - 75px);
}

.mobileMainSection {
    display: grid;
    gap: 8px;
    padding: 0 8px;
    height: 100%;
    background: black;
    padding-top: 15px;
    /* height: calc(100dvh - 75px);  */
}

.chartSection {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: calc(100dvh - 75px);

    background: var(--dark3);

    background: linear-gradient(
        90deg,
        rgba(7, 7, 7, 0.1) 25%,
        rgba(52, 45, 45, 0.2) 50%,
        rgba(55, 53, 53, 0.1) 75%
    );
    background-size: 200% 100%;
}

.chartSection img {
    max-width: 100%;
    max-height: 100%;
}

.chart_mobile_container .mobile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.mobile_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

.mobile_tabs_container {
    padding: 0 1rem;
    display: grid;
    align-items: center;
    gap: 8px;
}

.mobile_tabs_container button {
    width: 100%;
    background: var(--dark3);
    outline: none;
    border: 1px solid transparent;
    color: var(--text2);
    padding: 2px 0;
    border-radius: 25px;
    font-size: 12px;
}

.activeTab {
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.label{
    font-size: var(--body-size);
    color: #5C6F72;
    text-transform: uppercase;
    padding: 0 8px;
}

@media (min-width: 768px) {
.chartSection{
    border: 2px solid var(--borders, #5C6F72);
    padding: 0 8px;
}
}
@media (max-width: 600px) {
    .mainSection {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .chartSection {
        height: 130px;
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.comments_wrapper {
    /* position: absolute; */
    width: 100%;
    display: block;
}
