.mainSection {
    display: flex;
    gap: 4px;
    padding: 0 8px;
    height: 100%;
    height: calc(100dvh - 75px);
    /* background-color: blueviolet; */
}

.swapContainer {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    width: 100%;
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mobileMainSection {
    display: grid;
    gap: 8px;
    padding: 0 8px;
    height: 100%;
    background: black;
    padding-top: 15px;
    /* height: calc(100dvh - 75px);  */
}

.chartSection {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: calc(100dvh - 75px);

    background: var(--dark3);

    background: linear-gradient(
        90deg,
        rgba(7, 7, 7, 0.1) 25%,
        rgba(52, 45, 45, 0.2) 50%,
        rgba(55, 53, 53, 0.1) 75%
    );
    background-size: 200% 100%;
}

.chartSection img {
    max-width: 100%;
    max-height: 100%;
}

.chart_mobile_container .mobile_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}

.mobile_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 8px;
}

.mobile_tabs_container {
    display: grid;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
}

.mobile_tabs_container button {
    width: 100%;
    background: var(--dark3);
    outline: none;
    border: 1px solid transparent;
    color: var(--text2);
    padding: 2px 0;
    color: var(--base-text1, #aacfd1);
    text-align: center;

    /* Mono 18 */
    font-family: 'Fira Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.activeTab {
    color: var(--dark1);
    background: var(--accent1);
}

.label {
    font-size: var(--body-size);
    color: #5c6f72;
    text-transform: uppercase;
    padding: 0 8px;
}

@media (min-width: 768px) {
    .chartSection {
        border: 2px solid var(--borders, #5c6f72);
        padding: 0 8px;
    }
}
@media (min-width: 1280px) {
    .mainSection {
        display: grid;
        grid-template-columns: auto 390px;
    }
}
@media (max-width: 599px) {
    /* .chart_mobile_container{
        padding: 0 8px
    }
    .mainSection {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .chartSection {
        height: 130px;
    } */

    .mobile_container,
    .chart_mobile_container {
        overflow: hidden !important;
        height: calc(100svh - 56px) !important;
        padding: 0 8px;
    }

    .chart_mobile_container .activeTabDataContainer {
        width: calc(100% + 16px);
        margin-left: -8px;
    }

    .breadcrumbMobileTabs {
        flex-shrink: 0; /* Prevent shrinking */
        width: 100%;
        background-color: var(
            --dark1
        ); /* Or whatever your background color is */
        z-index: 1; /* Ensure it stays on top */
    }

    .activeTabDataContainer {
        flex: 1; /* Take remaining space */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Prevent horizontal scrolling */
        position: relative;
        height: auto; /* Let flex control the height */
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .mobile_container,
    .chart_mobile_container {
        overflow: hidden !important;
        height: calc(100svh) !important;
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.comments_wrapper {
    /* position: absolute; */
    width: 100%;
    display: block;
}
