.annotation-line > .priceLine {
    stroke: rgba(97, 71, 247, 0.8);
    stroke-width: 1.5;
    stroke-dasharray: 4 3;
    border: 2px dashed rgba(19, 19, 134, 0.8);
}

.transaction_details_graph_placeholder {
    background: url(../../../../assets/images/home/shot4Low.jpg) no-repeat
        center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
}
