.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.ambient_title{
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 2.81rem;
}