.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    cursor: default;

    height: 60px;
}
.logo_container{
    width: 233px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_container img:nth-of-type(2){
    display: none;
}
.settings_control {
    display: flex;
    flex-direction: row;

    gap: 8px;
    justify-content: center;
}



.settings_control div {
    cursor: pointer;
}

.info_button {
    outline: none;
    border: none;
    background: var(--accent1);
    border-radius: var(--border-radius);
    width: 70px;
    height: 25px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {


    .logo_container{
        width: 233px;
}
.logo_container img:nth-of-type(2){
    display:block;
}

}