.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    cursor: default;

    height: 60px;
}

.logo_container,
.settings_control {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */

    gap: 8px;
}

.settings_control {
    justify-content: center;
}

.ambient_title {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: none;
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 2.81rem;
    display: none;
}

.ambient_text {
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-logo);
    color: var(--text2);
}

.settings_control div {
    cursor: pointer;
}

.info_button {
    outline: none;
    border: none;
    background: var(--accent1);
    border-radius: var(--border-radius);
    width: 70px;
    height: 25px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .ambient_title {
        display: block;
    }
}
