.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.container section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ambient_title {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: none;
    font-size: 2.25rem;
    font-weight: 100;
    line-height: 2.81rem;
}

.ambient_text{
    font-weight: 100;
font-size: 18px;
line-height: 22px;
font-family: var(--font-logo);
color: var(--text-grey-light)
}



.settings_control div{
    cursor: pointer;
}