.btn {
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: block;

   height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;
}

.btn_gradient{
    color: var(--text-highlight);
    background: linear-gradient(
        270deg,
        #7371fc,
        #cdc1ff,
        #7371fc,
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid #7371fc;

}
.btn_flat{
    border: none;
    background: var(--text-highlight-dark);
    color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out;


}

.btn_gradient:hover {
    color: var(--text-grey-white);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;

    
}

.btn_flat:hover{
    color: var(--text-grey-white);
    box-shadow: 4px 4px var( --text-highlight);
    /* box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca */
}

.disabled_btn {
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 24px;
    color: var(--text-grey-light);

    display: block;

    width: 100%;
    padding: 12px 16px;
    border: none;

    cursor: pointer;
    transition: color var(--animation-speed) ease-in-out;
    text-align: center;

    border-radius: var(--border-radius);

    background-color: var(--dark2);
}

.disabled_btn {
    color: var(--text-grey-light);
    pointer-events: none;
}
