.btn {
    width: 100%;
    outline: none;

    padding: 12px 16px;
    font-size: 16px;

    line-height: 24px;

    display: block;

    height: auto;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;
}

.btn_gradient {
    color: var(--accent5);
    background: var(--title-gradient);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid var(--accent1);
}
.btn_flat {
    border: none;
    background: var(--accent1);
    color: var(--text1);
    transition: all var(--animation-speed) ease-in-out;
}

.btn_gradient:hover, .btn_gradient:focus-visible {
    color: var(--text1);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}

.btn_flat:hover, .btn_flat:focus-visible {
    color: var(--text1);
    box-shadow: 4px 4px var(--accent5);
}

.disabled_btn {
    font-size: 18px;
    /* font-weight: 400; */
    line-height: 24px;
    color: var(--text2);

    display: block;

    width: 100%;
    padding: 12px 16px;
    border: none;

    cursor: pointer;
    transition: color var(--animation-speed) ease-in-out;
    text-align: center;

    border-radius: var(--border-radius);

    background-color: var(--dark2);
}

.disabled_btn {
    color: var(--text2);
    pointer-events: none;
}
