.option_button {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--animation-speed) ease-in-out;
    white-space: nowrap;
    height: 23px;
    padding: 5px 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--body-size);
    /* line-height: var(--body-lh); */
    color: var(--text1);

    background: var(--dark1);
    border: 1px solid var(--dark3);
    border-radius: 50px;
}

.option_button:hover {
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.option_button:hover svg {
    color: var(--accent1) !important;
}
