.container {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.container h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-light);
}
.container p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.container button {
    outline: none;
    border: none;
    background: #7371fc;
    color: var(--text-grey-white);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    transition: all var(--animation-speed) ease-in-out;
}
.container button:hover {
    background: #cdc1ff;
    color: var(--text-grey-dark);
}
