.trade_tab_container {
    position: relative;
    height: 100%;
    padding: 8px;
}

.show_tx_message {
    width: 100%;
    background: var(--dark1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 4px 0;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.option_button {
    background: var(--dark2);
    width: 40px;
    border: none;
    outline: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid var(--dark3); */
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: all var(--animation-speed) ease-in-out;

    height: 23px;
    padding: 5px 8px;
    text-decoration: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 10px;
    /* line-height: var(--body-lh); */
    color: var(--text2);
}

.option_button:hover {
    opacity: 0.8;
}

.round_container {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
    height: 100%;
}