.tabs_container{
    width: 100%;
    height: auto;
    margin-top: 1rem;
  min-height: 260px;
  border-radius: 4px;
  background: var(--dark1);
  /* padding: 0 4px; */
  padding: 4px 8px;

}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.tab_navs{
   
    max-width: 80%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.tab_navs{
    color: var(--text-grey-dark);
    font-weight: 500;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    list-style: none;
    cursor: pointer;
}



.option_toggles{
    max-width: 20%;
    width: 20%;
    height: 100%;
    color: var(--text-grey-light);
    font-weight: 500;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    list-style: none;
    cursor: pointer;

    
    
}

/* .tab_navs li:nth-child(2){
    display: none;
} */



  .options_toggle{
      
    display: flex;
    gap: 6px;
    justify-content: flex-end;
    margin-right: 0.5rem;
    flex-direction: row;
    align-items: center;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
   .option_toggles{
       display: none;
   }

   .tab_navs{
    width: 100%;
   }
}