.main_container{
    padding: 0 25px 0 32px;
}
.extra_details_container{
    padding: 8px 0;
}

.extra_info_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    min-height: 33px;

    background: transparent;
    outline: none;
    border: none;
    border-radius: var(--border-radius);

    padding: 0 8px;


}


.extra_info_content:hover,
.extra_info_content:focus-visible {
    border-radius: var(--border-radius);
    background: var(--dark2) !important;
}

.extra_info_content_active:focus-visible {
    border: 1px solid var(--text1);
}

.gas_pump,
.token_amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gas_pump svg {
    margin-right: 5px;
}

.token_amount svg {
    margin-left: 1rem;
}

.extra_details {
    /* background-color: var(--dark2); */
    padding: 8px;
    border: 1px solid var(--dark3);
  

    border-radius: var(--border-radius);

    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.price_impact {
    /* background-color: var(--dark2); */
    border: 1px solid var(--dark3);
    margin: 5px 5px;

    border-radius: var(--border-radius);

    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.extra_row {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.align_center {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 5px;
}

@media only screen and (min-width: 700px) {
    .align_center {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        text-align: start;
    }
  
    .data {
        text-align: end;
    }



    .extra_row {
        flex-direction: row;
    }
}
