.extra_info_container{
    display: flex;
    flex-direction: column;
}

.extra_info_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 1.2rem;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.gas_pump, .token_amount{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gas_pump svg{
    margin-right: 1rem;
}

.token_amount svg{
    margin-left: 1rem;
}

.extra_details{
    background-color: var(--dark2);
    margin-top: 10px;
    border-radius: 4px;

    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.extra_row{
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}



.align_center{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    gap: 5px;
}

@media only screen and (min-width: 700px)  {
    .extra_info_content{
        padding: 0 10%;
        
    }

    .extra_details{
        padding: 1rem;
    }

    .extra_row{
        flex-direction: row;
     
    }

}