.container {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background: var(--dark1);
    transition: all 600ms ease-out;
    display: none;
}

.container_open {
    backdrop-filter: blur(1rem);
    background: rgba(23, 29, 39, 0.5);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    transition: background 400ms ease-out;

    background: var(--dark2);
}
.content {
    margin-top: 2rem;
    padding: 0 1rem;
}

.toggle_button {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 30px;
    height: 30px;
    /* border-radius: 50%; */
    background: transparent;
    z-index: 1000;

    display: none;
}
.toggle_button_close {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: var(--dark1);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    /* display: none; */
}

/* logo container */

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid rgb(55, 54, 54);
    /* margin-top: 1rem; */
    padding: 1rem 0;
}

.logo_container h1 {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 2rem;
    font-weight: 100;
    line-height: 2.81rem;
}

.logo_container img {
    margin-left: 1rem;
}

/* end of logo container */

/* social container */
.social_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social_container a {
    width: 40px;
    height: 40px;
    background: rgba(39, 48, 62, 0.3);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent5);
}

/* end of social container */

/* ecosystem */
.ecosystem_container {
    display: flex;
    flex-direction: column;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    gap: 4px;
}
.simple_data {
    color: var(--text1);
}

.ecosystem_container p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--text1);
}
.ecosystem_container p svg {
    cursor: pointer;
}
/* end of ecosystem */

/* theme toggler */

.theme_toggler_content {
    width: 100%;
    background: var(--dark2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 8px 4px;
    border-radius: 4px;

    background: rgba(39, 48, 62, 0.3);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    cursor: pointer;

    font-size: 14px;
    line-height: var(--body-lh);
}

.theme_toggler_light {
    background: var(--text1);
    color: var(--dark2);
}
/* end of theme toggler */

/* page block sign */
.block_number_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: var(--text2);
    font-size: 10px;
}
.page_block_sign {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, yellow),
        linear-gradient(#262626, #141414);
    animation: rotate 9.5s linear infinite;
    color: var(--text1);
}
.page_block_sign:before,
.page_block_sign:after {
    content: ' ';
    position: absolute;

    background: linear-gradient(var(--dark2), var(--dark2));
    border-radius: inherit;
}
.page_block_sign:before {
    background: linear-gradient(
        45deg,
        transparent,
        transparent 40%,
        rgb(40, 2, 2)
    );
    filter: blur(32px);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
/* end of page block sign */

/* team display */
.team_display,
.version_display {
    font-size: 10px;
    color: var(--text2);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
/* end of team display */

@media (max-width: 35em) {
    .container,
    .toggle_button {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* padding: 4rem 0; */
        padding-bottom: 5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
