.walletWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    border-radius: var(--border-radius);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    pointer-events: auto;
    padding: 8px 1rem;
    opacity: 1;
}
.walletContent {
    background: var(--dark3);
    padding: 8px 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: hidden;
}

.walletContent::-webkit-scrollbar {
    display: none;
}

.actionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    bottom: 0;
    z-index: 9;
}
.actionsContainer a:hover,
.actionsContainer a:focus-visible {
    color: var(--text-grey-white);
}

.accountLink {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: var(--border-radius);

    background: var(--dark3);
    text-decoration: none;
    color: var(--text2);
}
.tokenContainer {
    font-size: var(--header2-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
}

.tokenContainer:not(:last-of-type) {
    border-bottom: 1px solid var(--dark1);
}

.logoName {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoName img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tokenAmount {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tokenAmount h3 {
    color: var(--text1);
    text-align: right;
}

.tokenAmount h6 {
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .walletWrapper {
        position: absolute;
        top: 50px;
        width: 347px;
        height: 280px;
        right: 0px;
        z-index: 9999;
        padding: 8px 1rem;
        bottom: 85px;
        width: 347px;
        height: 280px;
        border: 1px solid var(--accent1);
        box-shadow: 0px 45px 30px rgba(0, 0, 0, 0.5);
        background: var(--dark2);
    }
}
