.content_header{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: var(--header1-size);
      line-height: var(--header1-lh);
     
      color: #C4C4C4;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  
    padding: 10px 20px;
}

.content_header svg{
    color: var(--text-grey-light);
    height: 25px;
    width: 25px;
}
