.tx_details_container {
    width: auto;
    max-width: 1000px;

    transition: var(--transition);

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 1rem;
}

.main_outer_container {
    background: url(../../../assets/images/backgrounds/detailsCard.png)
        no-repeat;
    background-position: center bottom 40px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.main_content {
    cursor: default;
    padding: 1rem 2rem;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 244px auto;
    gap: 1rem;

    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}
.control_display_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 0;
}

.left_container {
    background: rgba(23, 29, 39, 0.3);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    margin-top: auto;
    margin-bottom: auto;
}

.right_container {
    /* width: 450px; */
    background: rgba(23, 29, 39, 0.3);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
}

.outer_container {
    min-height: 562px;
    height: auto;
    width: 1000px;

    display: grid;
    grid-template-rows: 60px auto;
    gap: 1rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 1200px) {
    .outer_container {
        width: 95vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* MOBILE DETAILS MODALS */

.transaction_details_mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    width: 100%;
    height: 84svh;
    overflow: hidden;

    padding: 16px;
}
.mobile_price_graph_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.graph_section_mobile {
    width: 100%;
    height: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.graph_section_mobile canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

/* Responsive adjustments for super small screens */
@media (max-width: 375px) {
    .transaction_details_mobile {
        padding: 12px;
        height: 99svh;
    }
}
