.container {
    background: var(--dark1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 38px;
    padding: 8px 16px 0px 16px;
    position: relative;
    font-family: 'Roboto Mono';
}

.moreContainer {
    display: flex;
    width: 30px;
    height: 25px;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border-radius: 100px; */
    background: var(--dark2, #12121a);
}

.rightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.dropdownMenu {
    position: absolute;
    z-index: 22;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: var(--dark1, #0d1117);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.linkContainer {
    color: var(--text1, #f0f0f8);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    text-align: center;
}

.linkContainer:hover {
    color: var(--text1);
}

.skipAnimationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    color: var(--text1, #f0f0f8);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-transform: uppercase;
    text-align: center;
}

.version {
    color: var(--text2, #8b98a5);
    font-size: 12px;
    text-transform: uppercase;
}

.connectButton {
    width: 100%;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    text-transform: uppercase;
    background: var(--accent1, #0ccdff);
    color: var(--dark1);
    border: none;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    outline: none;
}

.connectButton:hover {
    background: var(--accent2);
    color: var(--dark1);
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.logoContainer h3 {
    color: var(--text1, #aacfd1);
    text-align: center;
    font-family: 'Fira Mono';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desktopLinksContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.desktopLink {
    color: var(--text2, #8b98a5);
    font-size: 20px;
    text-transform: uppercase;
    transition: all var(--animation-speed) ease-in-out;
}
.desktopLink:hover {
    color: var(--text1);
}

.tutorialBtn {
    cursor: pointer;
    display: flex;
    height: var(--buttonHeightSmall, 25px);
    padding: 4px 16px 4px 12px;
    align-items: center;
    gap: 8px;

    border: 1px solid var(--dark3, #1b1e22);
    background: var(--dark2, #14161a);

    color: var(--text2, #939c9e);
    text-align: center;

    /* Mono 14 */
    font-family: 'Fira Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        padding: 0px;
    }

    .slantedText {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .fixedPositioned {
        position: fixed;
        top: 0;
    }

    .container {
        width: 100%;
        z-index: 99;
    }
    .connectButton {
        max-width: 300px;
    }

    .dropdownMenu {
        width: 300px;
        left: auto;
        right: 16px;
    }
}

/* Slanted Tabs Styles */
.navTabs {
    list-style: none;

    padding: 0;
    text-align: center;
    display: flex;
    gap: 0px;
    height: 32px;
}

.navItem {
    display: inline-block;
}

.navLink {
    background: transparent;
    color: var(--text1);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    border: 2px solid #5c6f72;
    display: block;
    line-height: 1;
    padding: 0.2em 1.5em;
    position: relative;
    text-decoration: none;
    transform: skewX(25deg);
    display: inline-block;
    border-radius: 0;
    transition:
        background 0.3s,
        color 0.3s;
}

.navTabs .navItem:first-child .navLink,
.navTabs .navItem:first-child .navLink::before {
    transition: all 0s ease-in-out;
}

.navTabs .navItem:first-child .navLink {
    border-left: none;
}

.navTabs .navItem:first-child .navLink::before {
    position: absolute;
    left: -6%;
    top: -2px;
    width: 10%;
    height: calc(100% + 4px);
    transform: skewX(-25deg);
    content: '';
    background: transparent;
    display: block;
    border: 2px solid #5c6f72;
    border-right: none;
}
.navTabs .navItem:first-child .navLink.active::before,
.navTabs .navItem:first-child:hover .navLink::before {
    background: var(--text1);
}

.slantedText {
    transform: skewX(-27deg);
    display: inline-block;
}

.navLink:hover,
.navLink:focus {
    background: var(--text1);
    color: var(--dark1);
    cursor: pointer;
}

.active {
    background: var(--text1);
    color: var(--dark1);
}
