.action_button {
    width: 100%;
    z-index: 2;
    border-radius: var(--border-radius);

    max-width: 16rem;
    max-height: 3rem;
    /* width: 238px; */
    height: 54px;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 16px;

    line-height: 24px; */

    cursor: pointer;
    text-align: center;

    transition: all var(--animation-speed) ease-in-out;
    background: var(--highlight-gradient);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid var(--dark3);
    /* animation: shine 8s linear infinite; */
    /* color: var(--accent5); */
}

.nav_action_button{

    max-width: 10rem;
    max-height: 2rem;
    /* width: 238px; */
    height: 54px;
    padding: 4px 16px;
}

.button_text {
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: 30px;
    line-height: 38px;

    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.nav_button_text{
    font-size: 20px;
    line-height: 28px;
}

.action_button:hover, .action_button:focus-visible {
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
    /* color: black; */
    animation-play-state: paused;
}

.action_button:hover .button_text, .action_button:focus-visible .button_text {
    /* color: var(--dark2) !important; */
    background: var(--dark2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* .action_button p {
    color: var(--accent5);
    font-weight: 100 !important;
    font-size: 30px !important;
    line-height: 38px !important;
} */
