.action_button {
    width: 100%;
    z-index: 2;
    border-radius: var(--border-radius);
    background: #171D27;
    max-width: 16rem;
    max-height: 3rem;
    /* width: 238px; */
    height: 54px;
    padding: 8px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 16px;

    line-height: 24px; */

    cursor: pointer;
    text-align: center;

    text-decoration: none;
    border: 1px solid var(--dark3);

    position: relative;
}
.action_button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);

    padding: 0.5px; 
    background:linear-gradient(90deg, #7371FC 0%, #CDC1FF 49.48%, #7371FC 100%); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

.nav_action_button {
    max-width: 10rem;
    max-height: 2rem;
    /* width: 238px; */
    height: 54px;
    padding: 4px 16px;
}

.button_text {
    font-family: var(--font-logo);
    font-weight: 100;
    font-size: 30px;
    line-height: 38px;

    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.nav_button_text {
    font-size: 20px;
    line-height: 28px;
}

.action_button:hover,
.action_button:focus-visible {
    background: var(--dark2);
    border-radius: 4px;
    box-shadow: var(--glow-box-shadow);
}

/* .action_button p {
    color: var(--accent5);
    font-weight: 100 !important;
    font-size: 30px !important;
    line-height: 38px !important;
} */
