/* ------------------------------------------- */

/* ----------------------------------- */
.mainContainer {
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1500px; */
    margin: auto;
    /* border: 1px solid var(--dark3); */
    border-radius: 4px;
    /* padding: 8px; */
    overflow-x: auto;
    position: relative;

    height: calc(100vh - 64px);
    overflow-y: hidden;
    background: var(--dark1);
    border: 1px solid var(--dark3);
    border-radius: 4px;
}

.headerContainer {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 100%;
    height: 40px;

    gap: 4px;

    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--dark3);
    position: sticky;
    top: 0;
    padding-left: 8px;
}

.headerItems {
    color: var(--text2);
    font-size: var(--body-size);
}
.gridHeaderItem {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    /* background: var(--dark2); */
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
    align-items: center;
    gap: 2px;
    font-size: var(--body-size);
    width: 60px;
    justify-content: end;
}
.contentContainer {
    height: calc(
        100% - 64px
    ); /* Adjust this value based on your header's height */
    overflow-y: auto; /* Make only the content scrollable */
    scrollbar-gutter: stable; /* This will keep the layout stable when the scrollbar appears */

    padding-right: 1rem;
    padding-bottom: 1rem;
}

.borderRight {
    height: 100%;
    width: 2px;
    position: absolute;
    background-color: var(--dark3);
    right: 18px;
}

.tokens {
    display: flex;
    justify-content: flex-start !important;
    padding-left: 8px;
}

.tradeButton {
    width: 25px;
}

.poolName {
    justify-content: flex-start !important;
}
.no_results {
    width: 100%;
    height: 200px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 8px;
}

.no_results button {
    width: 100%;
    max-width: 200px;

    height: auto;
    outline: none;
    padding: 4px 8px;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    display: block;
    cursor: pointer;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    border-radius: var(--border-radius);
    transition: var(--transition);
    border: 1px solid var(--accent1);
    background: var(--accent1);
    color: var(--text1);
}

.no_results button:hover {
    color: var(--text2);
}

.spinner_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .mainContainer {
        border: none;
    }
    .no_results {
        height: 70%;
    }

    .headerContainer {
        gap: 8px;
    }

    .gridHeaderItem {
        width: 70px;
        justify-content: flex-end;
    }

    .tradeButton {
        width: 70px;
    }
}

@media only screen and (min-width: 1024px) {
    .headerItems,
    .gridHeaderItem {
        font-size: 14px;
    }
    .gridHeaderItem,
    .tradeButton,
    .tradeButton,
    .poolName {
        width: 100px;
    }
}
@media only screen and (min-width: 1280px) {
    .gridHeaderItem,
    .tradeButton,
    .tradeButton,
    .poolName {
        width: 133px;
    }
}
