.main_layout_chart  {
    transition: all 600ms ease-in-out;
    width: 100%;
    height: 100%;
    color: #bdbdbd;
}

text {
    fill: #bdbdbd;
}

.domain,
.tick > path,
.gridline-y,
.gridline-x {
    stroke: #bdbdbd;
    stroke-opacity: 0.1;
}

.annotation-line > .redline {
    stroke: red;
    stroke-width: 3;
    stroke-dasharray: 6 6;
    stroke-opacity: 0.6;
}

.candlestick .down {
    background-color: #7371fc;
}

div.popup {
    position: absolute;
    text-align: center;
    pointer-events: none;

    background: rgba(10, 10, 19, 0.47);
    padding: 6px;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.47);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);

}

div.tooltip {
    position: absolute;
    pointer-events: none;
    background: rgba(10, 10, 19, 0.35);
    padding: 8px;
    width:15%;
    box-shadow: 0 8px 24px 0 rgba(31, 38, 135, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
    -webkit-transition: 2s all ease-in-out;
    -moz-transition: 2s all ease-in-out;
    -o-transition: 2s all ease-in-out;
    transition: 0.8s all ease-in-out;

}

@keyframes hideAnimation {
    to {
      visibility: hidden;
    }
  }

.crosshair {
    stroke: rgb(238, 238, 238);
    stroke-width: 1px;
    stroke-dasharray: 3 3;
    stroke-opacity: 0.8;
}

.kHKQUR {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 6px;
}

.eJnjNO {
    box-sizing: border-box;
    margin: 1px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
}

.block {
    display: flex;
    flex-direction: row;
}

.value_title {
    flex-grow: 8!important;
    font-weight: 500;
    font-size: 12px
}

.value {
    font-weight: 500;
    font-size: 12px
}
