.main_layout_chart {
    transition: all 600ms ease-in-out;
    width: 100%;
    height: 100%;
    color: #bdbdbd;
}

text {
    fill: #bdbdbd;
}

text.market {
    font-size: 13px;
    font-weight: bold;
    fill: black;
}

d3fc-canvas,
d3fc-svg {
    overflow: hidden;
    grid-column: 2;
    grid-row: 3;
}

/* .plot-area {
    overflow: hidden;
    grid-column: 3;
    grid-row: 3;
} */

.chart_grid {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr auto minmax(1em, max-content);
    grid-template-rows: minmax(1em, max-content) auto 1fr auto;
}

text.crossHairText {
    font-size: 13px;
    font-weight: bold;
}

text.blur {
    filter: blur(7px);
}

text.startDate {
    font-size: 13px;
    font-weight: bolder;
}

text.y_axis {
    font-size: 13px;
    font-weight: bold;
}
.domain,
.tick > path,
.gridline-y,
.gridline-x {
    stroke: #bdbdbd;
    stroke-opacity: 0.1;
}

.annotation-line > .line {
    stroke: rgba(235, 235, 255, 0.4);
    stroke-width: 3;
    stroke-dasharray: 16 16;
    border: 2px dashed rgba(235, 235, 255, 0.4);
}

.annotation-line > .order_sell {
    stroke: var(--accent-secondary);
    stroke-width: 3;
    stroke-dasharray: 16 16;
    border: 2px dashed var(--accent-secondary);
}

.annotation-line > .order_buy {
    stroke: #7371fc;
    stroke-width: 3;
    stroke-dasharray: 16 16;
    border: 2px dashed #7371fc;
}
.annotation-line > .marketLine {
    stroke: rgba(235, 235, 255, 0.4);
    stroke-width: 1;
    stroke-dasharray: 4 2;
    stroke-opacity: 0.4;
    border: 2px dashed rgba(235, 235, 255, 0.4);
}

.annotation-line > .ghostline {
    stroke: rgba(235, 235, 255, 0.4);
    stroke-width: 1;
    stroke-opacity: 0.5;
    border: 1px rgba(235, 235, 255, 0.4);
}

.candlestick .down {
    background-color: #7371fc;
}

.popup {
    position: absolute;
    text-align: center;
    cursor: pointer;
    /* pointer-events: none; */

    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(10, 10, 19, 0.47);
    padding: 6px;
    font-size: large;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.47);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
}

div.liqTooltip {
    position: absolute;
    text-align: center;
    align-items: center;

    background: rgba(10, 10, 19, 0.47);
    padding: 3px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
}

.liqTooltip {
    position: absolute;
    text-align: center;
    align-items: center;

    background: rgba(10, 10, 19, 0.47);
    padding: 3px;
    font-size: small;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
}

div.tooltip {
    position: absolute;
    pointer-events: none;
    background: rgba(10, 10, 19, 0.35);
    padding: 8px;
    width: 15%;
    box-shadow: 0 8px 24px 0 rgba(31, 38, 135, 0.35);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: var(--border-radius);
    -webkit-transition: 2s all ease-in-out;
    -moz-transition: 2s all ease-in-out;
    -o-transition: 2s all ease-in-out;
    transition: 0.8s all ease-in-out;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
    }
}

.kHKQUR {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 6px;
}

.eJnjNO {
    box-sizing: border-box;
    margin: 1px;
    min-width: 0px;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: fit-content;
}

.block {
    display: flex;
    flex-direction: row;
}

.value_title {
    flex-grow: 8 !important;
    font-weight: 500;
    font-size: 12px;
}

.value {
    font-weight: 500;
    font-size: 12px;
}

.crosshair {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;
    stroke-dasharray: 0.6 0.6;
    stroke-opacity: 1;
}

.indicatorLine {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;
    stroke-dasharray: 0.6 0.6;
    stroke-opacity: 1;
}

.highlightedPrice {
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

label {
    color: rgba(204, 204, 204, 0.63);
    padding-left: 7px;
    padding-top: 2px;
    font-size: 12px;
}

/* #d3fc_group {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
} */

.scroll {
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.47);
}

@media (max-width: 1280px) and (min-width: 700px) {
    #d3fc_group {
        height: 90%;
        padding: 1%;
    }

    .popup {
        top: 50% !important;
        padding: 5px;
        font-size: large;
    }
}

/* @media  (max-width: 1320px) and (min-width: 1320px) {
    .popup {
        font-size: medium;
        top: 50%;
    } 
    

} */

@media only screen and (max-width: 1325px) {
    .popup {
        font-size: medium;
        top: 66%;
    }
}

@media only screen and (max-width: 700px) {
    #d3fc_group {
        height: 85%;
        padding: 0px 5% 0px 0px;
    }
    .popup {
        font-size: medium;
        width: 80%;
        top: 49%;
    }
}

@media only screen and (max-width: 580px) {
    #d3fc_group {
        height: 85%;
        padding: 0px 5% 0px 0px;
    }
}

.xAxis {
    height: 5%;
}

@media (max-width: 1700px) and (min-width: 1500px) {
    .xAxis {
        height: 10% !important;
    }
}

@media (max-height: 900px) {
    .chart_grid {
        height: 95%;
    }
}

@media (max-height: 900px) and (min-width: 1200px) {
    .chart_grid {
        height: 80%;
    }
}

@media (max-width: 1500px) and (min-width: 1270px) {
    .xAxis {
        height: 10% !important;
    }
}

@media (max-width: 1270px) {
    .xAxis {
        height: 10% !important;
    }
}
