.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);
}

.content {
    --auto-grid-min-size: 300px;
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
}

.divider{
    width: 100%;
    height: 1px;
    background: var(--border);
 
 }
@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(4, 1fr);
    }
}
