.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--text1);
    font-weight: 400;
}

.title:focus-visible {
    text-decoration: underline;
    text-decoration-color: var(--text1);
    border: none;
    outline: none;
}

.content {
    max-width: 1200px;
    margin: 0 auto;

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.view_more {
    color: var(--accent1);
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 400;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 1rem 0;
    }
}
