.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
    padding: 5px 0;

    border-bottom: 1px solid var(--dark2);
}

.header div {
    display: flex;

    justify-content: center;
    align-items: center;
}

.content {
    /* background-color: yellow; */

    /* background-color: var(--dark2); */
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 81px, 100% 81px, 100% 27px, 100% 27px;

    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all var(--animation-speed)
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.view_more {
    display: flex;
    justify-content: center;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: #71b5fc;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
}
.view_more:hover {
    color: #7371fc;
}

.content::-webkit-scrollbar {
    display: none;
}
