.main_layout{
    transition: all 600ms ease-in-out;

    
}

.middle_col, .right_col{
    transition: all 600ms ease-in-out;
    
    width: 100%;
}
/* .left_col{
    background-color: #151d27;
    padding-bottom: 40rem;
    display: flex;
    justify-content: flex-end;
} */

.navigation_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

.nav_container{
    background: var(--title-gradient);
    padding: 1px;
    
    width: 116.67px;
    height: 25px;
    
    /* dark/tertiary */
    
    
    border-radius: 4px;
}



.navigation_menu a{
    transition: background 600ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark3);
    border-radius: 4px;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text-grey-white)
}
.navigation_menu a[class="active"] {
    background: var(--title-gradient);
    color: var(--dark3)
}

 

/* .middle_col{
    background-color:#171f2b;
    


} */
.right_col{
    display: flex;
    flex-direction: column;
    background-color: var(--dark1);
  
}



@media (min-width: 940px){

    .main_layout {
      
        display: grid;
        grid-template-columns: auto 380px;
        grid-gap: 1em;
    }

  

    .middle_col, .right_col{
        min-height: calc(100vh - 3rem);

    }
    
    .middle_col{
        /* display: flex;
        justify-content: center;
        align-items: center; */
       

    }

   
}



/* tokenInfo */


.graph_container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
}

.token_info_container, .time_frame_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    
}

.tokens_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.tokens_images{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.token_names{
    letter-spacing: -0.02em;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: white;
}


.settings_container, .time_frame_container .right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.left_side{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.settings_container button, .right_side button{
    outline: none;
    border: none;
    background: var(--dark1);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    padding: 4px;
    border-radius: 100px;
}



.settings_container span, .right_side span{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light)
}

.time_frame_container{
    color: var(--text-grey-light)
}
.time_frame_container .amount{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.time_frame_container .change{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: #15BE6F;
}

.chart_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.chart_image img{
    min-width: 100%;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
    .graph_container{
       /* display: none; */
       margin-bottom: 35px;
    }

    .chart_image, .time_frame_container, .token_info_container{
        display: none;
    }
}