.main_layout {
    transition: all var(--animation-speed) ease-in-out;
    border-top: 1px solid var(--dark2);
}

.middle_col,
.right_col {
    transition: all var(--animation-speed) ease-in-out;
    width: 100%;
}

.middle_col {
    display: flex;
    flex-direction: column;
}

.navigation_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: var(--border-radius);
}

.nav_container {
    color: var(--text1);
    width: 116.67px;
    height: 25px;
    background: var(--dark2);

    border-radius: var(--border-radius);
}

.navigation_menu a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text1);

    transition: all var(--animation-speed) ease-in-out;
}

.navigation_menu a[class='active'],
.navigation_menu a:hover {
    background: var(--accent1);
    color: var(--text1);
}

.right_col {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../../assets/images/backgrounds/background.png) no-repeat
        center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.graph_container {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
}

.right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.left_side {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

/* Switch buttons */
.mobile_toggle_container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--dark2);
    border-radius: 4px;
    outline: 1px solid var(--text3);

    margin: 10px auto;
}
.mobile_toggle_container button {
    padding: 4px 1.5rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.mobile_toggle_container button:hover {
    color: var(--text1);
}
.active_button_mobile_toggle {
    color: rgb(0, 0, 0);
    background: var(--accent1);
}

.non_active_button_mobile_toggle {
    color: var(--text1);
    background-color: transparent;
}

/* pool not initialized */

.pool_not_initialialized_container {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    margin-top: 3rem;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.pool_init_bg{
    width: 430px;
    height: 204px;
    background: var(--title-gradient);
    border-radius: var(--border-radius);
    padding: 1px;
}

.pool_not_initialialized_content {
  

  

padding-top: 8px;
    border-radius: var(--border-radius);
   
  

   
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
  

   width: 100%;
   height: 100%;
    background: var(--dark1)
}
.pool_not_init_inner{

    border-radius: var(--border-radius);
   
  

   
    display: flex;
    flex-direction: column;
    gap: 8px;

   justify-content: center;
    align-items: center;
    padding: 0 2rem;

   width: 100%;
   height: 100%;
  
}


.pool_not_initialialized_content h2 {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text1);
    font-weight: 200;
}
.pool_not_initialialized_content h3 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text3);
    font-weight: 200;
}

.initialize_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px 3rem;
    font-size: 16px;
    line-height: 24px;

   height: 48px;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    color: var(--text1);
    border-radius: 4px;
    transition: all var(--animation-speed) ease-out;


    background: linear-gradient(
        90deg,
        rgba(115, 113, 252, 0) 0%,
        rgba(115, 113, 252, 0) 71.21%,
        var(--accent1) 100%
    );
    text-decoration: none;
    border: 1px solid var(--accent1);
}

.initialize_link:hover {
    

    color: var(--dark1);
 
    background: linear-gradient(to left, var(--accent1) 34%, var(--accent5) 65%) right;
background-size: 300% 100%;
}

.close_init {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    padding: 0 1rem;
   
 
  
   
}

.no_thanks {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--accent1);

    font-size: var(--header2-size);
    line-height: var(--header2-lh);
   
    font-weight: 200;
}

/* trade tabs dropdown */
.mobile_trades_dropdown {
    width: 100%;
    position: relative;
    z-index: 99;
    width: 370px;
    text-align: end;
    border-radius: var(--border-radius);
    text-transform: capitalize;
    margin: 0 auto;
}

.mobile_trades_dropdown .active_mobile_trade_dropdown {
    background: var(--dark2);
    outline: none;
    border: none;
    color: var(--text2);
    padding: 4px 8px;
    width: 100%;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    margin: 8px 0;
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mobile_trades_dropdown .active_mobile_trade_dropdown:hover {
    color: var(--text1);
}

.mobile_trade_dropdown_items_containers,
.active_mobile_trade_dropdown_items_containers {
    position: absolute;
    background: var(--dark2);
    width: 100%;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile_trade_dropdown_items_containers button,
.active_mobile_trade_dropdown_items_containers button {
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: var(--text2);
    padding: 8px;
    text-align: start;
}
.mobile_trade_dropdown_items_containers {
    top: 0;
}

.active_mobile_trade_dropdown_items_containers {
    top: 3rem;
    opacity: 1;
    pointer-events: auto;
}

/* end of pool not initialized */

@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        margin-bottom: 35px;
    }
    .mobile_toggle_container {
        display: flex;
    }

    .hide {
        display: none;
    }

    .main_layout {
        height: calc(100vh - 7.5rem);
    }

    .right_col {
        padding-left: 30px;
    }
}
@media (min-width: 320px) {
    .middle_content_style {
        display: flex;
        flex-direction: column;
    }
    .main_layout {
        display: grid;
    }

    .main__chart {
        flex: 1 0;
        min-height: 350px;
    }
    .main__chart_container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .graph_style {
        width: 100%;
    }

    .hide_graph {
        display: none;
    }

    .expand_table {
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .main_layout {
        display: grid;
        grid-template-columns: auto 380px;
    }
    .middle_col {
        height: 100%;
        background: var(--dark2);

        display: grid;
        grid-template-rows: auto 300px;

        position: relative;
    }

    .right_col {
        background: var(--dark1);
    }

    .middle_col,
    .right_col {
        height: calc(100vh - 56px);
    }

    .flex_column {
        display: flex;
        flex-flow: column;
    }
    @-moz-document url-prefix() {
        .middle_col {
            display: flex;
        }
    }

    .main__chart {
        flex: 1 0;
        min-height: 350px;
    }
    .main__chart_container {
        background: var(--dark2);
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 8px;
    }
    .main__chart_container::-webkit-scrollbar {
        display: none;
    }

    .chart_full_screen {
        transition: all var(--animation-speed) ease-in-out;
        background: var(--dark2);
        position: fixed;
        width: 100%;
        height: calc(100% - 56px);
        left: 0;
        top: 56px;
        z-index: 10;

        background: var(--dark2);
    }
}

@media only screen and (max-width: 1280px) {
    .middle_col {
        padding-left: 30px;
    }
}
