.main_layout {
    transition: all var(--animation-speed) ease-in-out;
    border-top: 1px solid var(--dark2);
}

.middle_col,
.right_col {
    transition: all var(--animation-speed) ease-in-out;
    width: 100%;
}

.middle_col {
    display: flex;
    flex-direction: column;
}

.navigation_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    border-radius: var(--border-radius);
    margin-bottom: 16px;
}

.nav_container {
    color: var(--text1);
    width: 116.67px;
    height: 25px;
    background: var(--dark2);

    border-radius: var(--border-radius);
}

.navigation_menu a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text1);

    transition: all var(--animation-speed) ease-in-out;
}

.navigation_menu a[class='active'],
.navigation_menu a:hover {
    background: var(--accent1);
    color: var(--text1);
}

.right_col {
    display: flex;
    flex-direction: column;
    position: relative;
    background: url(../../assets/images/backgrounds/background.png) no-repeat
        center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.graph_container {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
}

.right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.left_side {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

/* Switch buttons */
.mobile_toggle_container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--dark2);
    border-radius: 4px;
    outline: 1px solid var(--text3);

    margin: 10px auto;
}
.mobile_toggle_container button {
    padding: 4px 1.5rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.mobile_toggle_container button:hover {
    color: var(--text1);
}
.active_button_mobile_toggle {
    color: rgb(0, 0, 0);
    background: var(--accent1);
}

.non_active_button_mobile_toggle {
    color: var(--text1);
    background-color: transparent;
}

/* trade tabs dropdown */
.mobile_trades_dropdown {
    width: 100%;
    position: relative;
    z-index: 999;
    width: 370px;
    text-align: end;
    border-radius: var(--border-radius);
    text-transform: capitalize;
    margin: 0 auto;
}

.mobile_trades_dropdown .active_mobile_trade_dropdown {
    background: var(--dark2);
    outline: none;
    border: none;
    color: var(--text2);
    padding: 4px 8px;
    width: 100%;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    margin: 8px 0;
    border-radius: var(--border-radius);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mobile_trades_dropdown .active_mobile_trade_dropdown:hover {
    color: var(--text1);
}

.mobile_trade_dropdown_items_containers,
.active_mobile_trade_dropdown_items_containers {
    position: absolute;
    background: var(--dark2);
    width: 100%;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile_trade_dropdown_items_containers button,
.active_mobile_trade_dropdown_items_containers button {
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    color: var(--text2);
    padding: 8px;
    text-align: start;
}
.mobile_trade_dropdown_items_containers {
    top: 0;
}

.active_mobile_trade_dropdown_items_containers {
    top: 3rem;
    opacity: 1;
    pointer-events: auto;
}

/* end of pool not initialized */

@media only screen and (min-device-width: 320px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        margin-bottom: 35px;
    }
    .mobile_toggle_container {
        display: flex;
    }

    .hide {
        display: none;
    }

    .main_layout {
        height: calc(100vh - 7.5rem);
    }

    .right_col {
        padding-left: 30px;
    }
}
@media (min-width: 320px) {
    .middle_content_style {
        display: flex;
        flex-direction: column;
    }
    .main_layout {
        display: grid;
    }

    .main__chart {
        flex: 1 0;
        min-height: 200px;
        padding-bottom: 80px;
    }
    .main__chart_container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .graph_style {
        width: 100%;
    }

    .resizableParent {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .chartBox,
    .tableBox {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .chartBox {
        /* background-color: rgb(0, 255, 0); */
        max-height: calc(100% - 54px);
        min-height: 0px;
    }

    .tableBox {
        /* background-color: rgb(255, 0, 0); */
        flex: 1;
        min-height: 54px;
    }

    .resizableBox {
        background-color: var(--dark3);
        z-index: 99;
    }

    .expand_table {
        height: 100%;
    }
}

@media ((min-width: 801px) and (max-width:1200px)) {
    .main__chart {
        flex: 1 0;
        min-height: 200px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .main_layout {
        display: grid;
        grid-template-columns: auto 380px;
    }
    .middle_col {
        height: 100%;
        background: var(--dark2);

        display: flex;
        gap: 8px;

        position: relative;
    }

    .right_col {
        background: var(--dark1);
    }

    .middle_col,
    .right_col {
        height: calc(100vh - 56px);
    }

    .flex_column {
        display: flex;
        flex-flow: column;
    }
    @-moz-document url-prefix() {
        .middle_col {
            display: flex;
        }
    }

    .main__chart {
        flex: 1 0;
        min-height: 200px;
        height: 100%;
        padding: 0px;
    }
    .main__chart_container {
        background: var(--dark2);
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 8px 8px 3px 8px;
    }
    .main__chart_container::-webkit-scrollbar {
        display: none;
    }

    .chart_full_screen {
        transition: all var(--animation-speed) ease-in-out;
        background: var(--dark2);
        position: fixed;
        width: 100%;
        height: calc(100% - 56px);
        left: 0;
        top: 56px;
        z-index: 10;

        background: var(--dark2);
    }
}

@media only screen and (max-width: 1280px) {
    .middle_col {
        padding-left: 30px;
    }
}
