.main_layout{
    transition: all var(--animation-speed) ease-in-out;
    border-top: 1px solid var(--dark3);

    
}

.middle_col, .right_col{
    transition: all var(--animation-speed) ease-in-out;
    
    width: 100%;
}
/* .left_col{
    background-color: #151d27;
    padding-bottom: 40rem;
    display: flex;
    justify-content: flex-end;
} */

.navigation_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;


   
    /* background: var(--dark3); */
    border-radius: var(--border-radius);
}



.nav_container{
   
    padding: 1px;
    
    color: var(--text-grey-white);
    width: 116.67px;
    height: 25px;
    background: var(--dark3);
    
   
    
    
    border-radius: var(--border-radius);

    
}



.navigation_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
   
    border-radius: var(--border-radius);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);

    

   
    transition: all var(--animation-speed) ease-in-out;
}


.navigation_menu a[class="active"], .navigation_menu a:hover {
    background: var(--title-gradient);
    color: var(--dark3);
   
}

 

/* .middle_col{
    background-color:#171f2b;
    


} */
.right_col{
    display: flex;
    flex-direction: column;
    /* background-color: var(--dark1); */
    position: relative;
  
}



.graph_container{
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
  
    
    
}

.token_info_container, .time_frame_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    
}

.tokens_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.tokens_images{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.token_names{
    letter-spacing: -0.02em;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: white;
}


.settings_container, .time_frame_container .right_side{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
}

.left_side{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.settings_container button, .right_side button{
cursor: pointer;
outline: none;
border: none;
background: var(--dark1);
font-size: var(--body-size);
line-height: var(--body-lh);
color: var(--text-grey-light);
padding: 5px 8px;
border-radius: 50px;

}



.settings_container span, .right_side span{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light)
}

.time_frame_container{
    color: var(--text-grey-light)
}
.time_frame_container .amount{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.time_frame_container .change{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: #15BE6F;
}

.chart_image{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.chart_image img{
    /* width: 100%;
    object-fit: contain;
    max-height: 100%; */
    object-fit: contain;
    /* width: 100%; */
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    
  
    .chart_image, .time_frame_container, .token_info_container{
        display: none;
    }
}
@media (min-width:720px){
    .middle_content_style{
        background: blue;
        display: flex;
        flex-direction: column;
     
    }
  .main_layout{
    height: 100%;
    /* background: brown; */
    overflow-y: hidden;

  }

  .graph_style{
    height: 70%;
    width: 100%;
    /* background: red; */
  }

  .trade_style{
    height: 30%;
   
  }

  .hide_graph{
    display: none;
  }
  .expand_table{
    height: 100%;
  }
}


@media (min-width: 940px){

    .main_layout {
      
        display: grid;
        grid-template-columns: auto 380px;
        /* grid-gap: 1em; */
    }
    .middle_col{
  
        padding: 1rem ;
        
        
    }

  

    .middle_col, .right_col{
        height: calc(100vh - 4rem);

    }
    
    .middle_col{
  
       background: var(--dark3);


    }

   
}

