.left_col{
    background-color: #151d27;
    padding: 20rem 0;
}

.middle_col{
    background-color:#171f2b;
    padding: 20rem 0;
}
.right_col{
    background-color: #151d27;
    padding: 20rem 0;
}