.main_layout {
    transition: all var(--animation-speed) ease-in-out;
    border-top: 1px solid var(--dark3);
}

.middle_col,
.right_col {
    transition: all var(--animation-speed) ease-in-out;

    width: 100%;
}

.middle_col {
    display: flex;
    flex-direction: column;
}
/* .left_col{
    background-color: #151d27;
    padding-bottom: 40rem;
    display: flex;
    justify-content: flex-end;
} */

.navigation_menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    /* background: var(--dark3); */
    border-radius: var(--border-radius);
}

.nav_container {
    padding: 1px;

    color: var(--text-grey-white);
    width: 116.67px;
    height: 25px;
    background: var(--dark3);

    border-radius: var(--border-radius);
}

.navigation_menu a {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text-grey-white);

    transition: all var(--animation-speed) ease-in-out;
}

.navigation_menu a[class='active'],
.navigation_menu a:hover {
    background: var(--title-gradient);
    color: var(--dark3);
}

/* .middle_col{
    background-color:#171f2b;
    


} */
.right_col {
    display: flex;
    flex-direction: column;
    background-color: var(--dark1);
    position: relative;
}

.graph_container {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
}

.right_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.left_side {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

/* Switch buttons */
.mobile_toggle_container {
    /* width: 100%; */

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--dark2);
    border-radius: 4px;
    outline: 1px solid var(--text-grey-dark);
    /* max-width: 200px; */
    margin: 10px auto;
}
.mobile_toggle_container button {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 4px 1.5rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.mobile_toggle_container button:hover {
    color: var(--text-grey-white);
}
.active_button_mobile_toggle {
    color: rgb(0, 0, 0);
    background: var(--title-gradient);
}

.non_active_button_mobile_toggle {
    color: var(--text-grey-white);
    background-color: transparent;
}

/* pool not initialized */
.pool_not_initialialized_container {
    background: url('../../assets/images/backgrounds/initialize_pool_background.png') no-repeat
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: calc(100vh - 4rem);
}

.pool_not_initialialized_content {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.pool_not_initialialized_content h2 {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    color: var(--text-grey-white);
}
.pool_not_initialialized_content h3 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.initialize_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 24px;

    max-height: 3rem;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: uppercase;

    color: #cdc1ff;
    border-radius: 4px;
    transition: all var(--animation-speed) ease-out;
    background: linear-gradient(
        270deg,
        #7371fc,
        #cdc1ff,
        #7371fc,
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid #7371fc;
}

.initialize_link:hover {
    color: black;
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}
.initialize_link img {
    width: 20px;
    height: 20px;
}

/* .initialiaze_token_img img::before{
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    content: '';

  } */

/* end of pool not initialized */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        /* display: none; */
        margin-bottom: 35px;
    }
    .mobile_toggle_container {
        display: flex;
    }

    .hide {
        display: none;
    }
    /* .chart_image,
    .time_frame_container,
    .token_info_container {
        display: none;
    } */
}
@media (min-width: 720px) {
    .middle_content_style {
        background: blue;
        display: flex;
        flex-direction: column;
    }
    .main_layout {
        /* height: 100%; */
        /* background: brown; */
        /* overflow-y: hidden; */
    }

    .graph_style {
        /* height: 70%; */
        width: 100%;
        /* background: red; */
    }

    .trade_style {
        height: 30%;
    }

    .hide_graph {
        display: none;
    }

    .expand_table {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .main_layout {
        display: grid;
        grid-template-columns: auto 380px;
        /* grid-gap: 1em; */
    }
    .middle_col {
        padding: 1rem;
        background: var(--dark3);
        display: grid;
        grid-template-rows: auto 300px;
        /* background: red; */
        grid-gap: 8px;
    }

    .middle_col,
    .right_col {
        height: calc(100vh - 4rem);
    }

    .middle_col {
        align-items: stretch;
        display: flex;
        flex-flow: column;
        gap: 40px;
        height: 100%;
        justify-content: flex-start;
        position: relative;
    }

    .main__chart {
        flex: 1 0;
        min-height: 350px;
    }
    .main__chart_container {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .main__chart_container::-webkit-scrollbar {
        display: none;
    }

    .chart_full_screen {
        transition: all var(--animation-speed) ease-in-out;
        background: var(--dark2);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        /* background: rgba(51,51,51,0.7); */
        z-index: 10;
    }
}
