.wallet_content {
    background: var(--dark3);
    padding: 8px 1rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow-y: hidden;
}
.wallet_content::-webkit-scrollbar {
    display: none;
}
.name_display_container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.name_display_container .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--title-gradient);
}
.name_display_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_display_content .name_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.name_display_content .name_display h2 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-weight: 100;
}
.name_display_content .wallet_display {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.name_display button {
    cursor: pointer;
}

.wallet_display p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.copy_button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.actions_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    bottom: 0;
    z-index: 9;
}
.account_button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: var(--border-radius);

    background: var(--dark3);
    text-decoration: none;
    color: var(--text2);
}

.actions_container a:hover,
.actions_container a:focus-visible {
    color: var(--text-grey-white);
}

.copy_button:focus-visible {
    color: var(--text1);
    cursor: pointer;
}

.token_container {
    font-size: var(--header2-size);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 4px 10px;
}
.token_container:not(:last-of-type) {
    border-bottom: 1px solid var(--dark1);
}
.logo_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.logo_name img {
    width: 25px;
    height: 25px;
}
.token_amount {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.token_amount h3 {
    color: var(--text1);
}

.token_amount h3,
.token_amount h6 {
    text-align: right;
}

.jazzicon_container {
    border-radius: 50%;
}
.jazzicon_container canvas {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}
