.wallet_row{
    display: grid; 
    color: white;
   grid-template-columns: 2fr 1fr 1fr;
   align-items: center;
   border-bottom: 1px solid red;
}



.wallet_row p{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
    text-align: right;
    height: 16px;


}