.header_container {
    padding: 0.4rem 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}
.accordion_content {
    background: rgba(37, 46, 62, 0.5);

    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);

    padding: 0 1rem;

    overflow-y: scroll;
}

.main_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* wallet display */
.wallet_display {
    width: 150px;
}
.wallet_display span {
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.wallet_display,
.base_display,
.quote_display,
.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.base_display,
.quote_display {
    width: 80px;
}

.status {
    width: 30px;
}

.value_display {
    display: none;
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 12px;
    line-height: 12px;
    color: var(--accent3);
}

.min_display,
.max_display,
.apr_display {
    display: none;
}

@media only screen and (min-width: 768px) {
    .value_display {
        display: block;
        width: 60px;
    }
}

@media only screen and (min-width: 968px) {
    .min_display,
    .max_display {
        display: block;
        width: 60px;
        word-wrap: break-word;
    }
}
@media only screen and (min-width: 1200px) {
    .apr_display {
        display: block;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;

        width: 50px;

        background: var(--apr-gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
    }
}
