.gridContainer {
    display: grid;
    grid-template-columns: auto 390px;
    padding: 8px 16px;
    height: calc(100vh - 100px);
    gap: 1rem;
}

.container {
    height: calc(100svh - 100px);
    padding: 0px 16px;
}
