.container {
    position: relative;
    bottom: 0;

    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 64px);
    padding: 8px;
    overflow: hidden;
}

.content {
    position: absolute;
    bottom: 3%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.content a,
.content button {
    display: flex;
    width: 180px;
    height: 57px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid transparent;

    font-family: 'Roboto Mono';
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

    transition: all var(--animation-speed) ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

.exploreButton {
    background: var(--accent1, #0ccdff);
    color: var(--dark1, #06060c);
}

.exploreButton:hover {
    background: transparent;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.learnButton {
    background: var(--accent2, #073749);
    color: var(--accent1, #0ccdff);
}

.learnButton:hover {
    background: transparent;
    border: 1px solid var(--accent1);
}

@media (max-width: 500px) {
    .content {
        bottom: 28%;
    }
}
@media (max-width: 768px) {
    .content {
        flex-direction: row;

        bottom: 25%;
    }
}

@media (min-width: 768px) {
    .container {
        height: 100vh;
    }
    .content {
        position: absolute;
    }
    .skipIcon {
        position: absolute;
        right: 6rem;
        top: 3.5rem;
    }
    .skipTextContainer {
        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: 9999999;
        background: var(--dark2);
        padding: 8px;
        margin: 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        max-width: 420px;
        text-align: center;
    }

    .skipText {
        color: var(--accent1);
        cursor: pointer;
        transition: all var(--animation-speed) ease-in-out;
    }

    .skipCloseIcon {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .skipText:hover {
        color: var(--accent2);
    }
}
