.main_container {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;

    font-size: 10px;

    padding-bottom: 4px;
    border-bottom: 1px solid var(--dark2);
}
.row_container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
}

.row_container p {
    flex: 0.4 0;
    /* flex-flow: column; */
    align-items: center;

    padding: 2px 8px;
    /* font-size: var(--body-size);
    line-height: var(--body-lh); */
    color: rgba(235, 235, 255, 0.4);
}

.wallet,
.side,
.token {
    display: none;
}

/* mobile header display */
.mobile_header_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: rgba(235, 235, 255, 0.4);
    padding: 0 1rem;
}
.mobile_header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.mobile_header_content p:first-child {
    width: 150px;
}
.mobile_header_content p:nth-child(2),
.mobile_header_content p:nth-child(3) {
    width: 110px;
}

.main_container {
    display: none;
}

/* end of mobile header display */

/* Mobile Landscape Screen Sizes */
/* @media only screen and (min-width: 580px) {
    .main_container {
        grid-template-columns: auto 100px;
    }
} */

@media only screen and (min-width: 568px) {
    .mobile_header_display {
        display: none;
    }
    .main_container {
        grid-template-columns: auto 100px;
        display: grid;

        align-items: center;

        font-size: 10px;

        padding-bottom: 4px;
        border-bottom: 1px solid var(--dark2);
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .wallet {
        display: flex;
    }

    /* }
    .price{
        text-align: start;
    } */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container {
        grid-template-columns: auto 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tokens {
        display: none;
    }

    .token,
    .side {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .main_container {
        grid-template-columns: auto 250px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .main_container {
        grid-template-columns: 1fr 0.6fr;
    }
}
