.container {
    /* padding: 0 8px; */
}

.item_container {
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px;
    height: 170px;
}

.expand_height{
    /* background: red; */
    height: calc(100vh - 15rem);
}

.item_container::-webkit-scrollbar {
    width: 1px;
    display: none;
}

.no_data{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}