.transactions_table_display table {
    /* width: 950px;  */
    border-collapse: collapse;
    width: 75%;
    /* margin:50px auto; */
}

/* Zebra striping */

.transactions_table_display th {
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 500;

    text-align: center;
}

.transactions_table_display td {
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.transactions_table_display td,
.transactions_table_display th {
    padding: 10px;
    text-align: center;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    .transactions_table_display table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    .transactions_table_display table,
    .transactions_table_display thead,
    .transactions_table_display tbody,
    .transactions_table_display th,
    .transactions_table_display td,
    .transactions_table_display tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .transactions_table_display thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .transactions_table_display td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid rgb(160, 156, 156);
        position: relative;
        padding-left: 50%;
    }

    .transactions_table_display td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        font-weight: bold;
    }
}
