.active_position_style,
.active_transaction_style {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 50%,
        var(--dark2) 50%
    );
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;

    background-position: -99.99% 0;
}

.border_left {
    border-left: 2px solid var(--text1);
}

.main_list_container {
    width: 100%;
  height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.main_list_container{


display: grid;
grid-template-rows: 40px 1fr ;
overflow-y: hidden;
}


.main_list_expanded{
    display: grid;
    grid-template-rows: 40px 1fr 70px;
    overflow-y: hidden;

}

.header {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    
}

.table_content{
    flex-grow: 1; /* Allow the content to grow and occupy remaining space */
    overflow: auto; /* Enable scrolling for the content */

  
}

.footer {
    background: var(--dark1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  /* position: sticky;
    bottom: 0; */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    
    
}

.footer_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 auto;
    width: 60%;

  }
/* width */
.main_list_container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
.main_list_container::-webkit-scrollbar-track {
    border-radius: 100vh;
}

/* Handle */
.main_list_container::-webkit-scrollbar-thumb {
    background: var(--title-gradient);
}

@-moz-document url-prefix() {
    .main_list_container::-webkit-scrollbar-thumb {
        background: blue;
    }
}

.header {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */

    background: var(--dark1);
    border-bottom: 1px solid var(--dark2);
}

.header li {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;

    color: var(--text2);
}
.row_container {
    width: 100%;
    min-height: 35px;
    transition: all var(--animation-speed) ease-in-out;

}


.row_container li {
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-transform: capitalize;

}
.row_container li:not(:last-child){
    cursor: pointer;
}

.main_list_container .row_container , .main_list_container .header{
    width: 100%;
    /* table row was living space at end so I changed it to table and added a fixed table layout*/
    display: table-row;
    table-layout: fixed;
    display: table;
}

.main_list_container .row_container > li, .main_list_container .header > li {
    display: table-cell;

    /* I commented this out to make the header align center with arrow */
    width: 100%;
    vertical-align: middle;
    padding: 0.2em 0.5em;
}
.base_color {
    color: var(--text2);
}
.hover_style:hover {
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        black 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 1.5s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.main_list_container > ul:nth-child(1) {
    z-index: 2;
}

.align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_images_account {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token_qty {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.token_images_account img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 2px;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}

.positive_value {
    color: var(--positive);
}

.negative_value {
    color: var(--negative);
}

.light_grey {
    color: var(--text2);
}

.mono_font {
    font-family: var(--roboto);
}

.tooltip_style {
    padding: 9px;
    background: var(--dark2);
}

.menu {
  
    transition: all var(--animation-speed) ease-in-out;
}

.view_wallet_link {
    background: var(--dark2);
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: all var(--animation-speed) ease-in-out;
    white-space: nowrap;
    height: 23px;
    margin: 0 2px;
    /* padding: 5px ; */
    text-decoration: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 10px;
    color: var(--text2);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.view_wallet_link:hover,
.view_wallet_link:hover .view_wallet_link svg {
    color: var(--text1);
}

.view_wallet_link p {
    display: flex;
}

.view_wallet_link svg:first-of-type {
    display: none;
}
.row_container:hover .menu {
    opacity: 1;
}

.row_container:focus-visible,
.row_container li:focus-visible,
.row_container div:focus-visible {
    border: 1px solid var(--text1);
}

.view_more_container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view_more_button {
    background: var(--dark2);
    border: none;
    outline: none;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: all var(--animation-speed) ease-in-out;
    white-space: nowrap;
    height: 23px;
    padding: 1px 12px;
    text-decoration: none;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: 11px;
    color: var(--text2);
}

.view_more_button:hover {
    color: var(--text1);
}

.id_tooltip_style {
    margin-left: -60px;
    background: var(--dark3);
    color: var(--text1);
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--roboto);
    white-space: nowrap;
    width: 460px;
}

.showing_text{
    font-size: 10px;
    color: var(--text2);
    white-space: nowrap;
}
@media only screen and (max-width: 768px) {
    .view_wallet_link p {
        display: none;
    }
    .view_wallet_link svg:first-of-type {
        display: flex;
    }

    .header li {
        font-weight: 300;
        font-size: 8px;
        line-height: 10px;
    }

    .row_container li {
        font-size: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .main_list_expanded{
        display: grid;
        grid-template-rows: 40px 1fr 150px;
        overflow-y: hidden;
    
    }

   
    .footer_content {
       width: 95%;
       flex-direction: column;
       gap: 4px;
    }

    .showing_text{
        display: none;
    }
}
