.logoContainer {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    max-width: 100%;
    max-height: 100%;
}

.flashingSvgtext {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #62ebf1;
    font-size: 18px;

    text-align: center;
    text-shadow:
        0px 0px 27.833px #62ebf1,
        0px 0px 7.952px #62ebf1;
    opacity: 0;
    transition: opacity 0.1s;
    z-index: 5;
}

.flashingSvgFlash {
    animation: flash 1s infinite;
}

.flashingSvgAppear {
    animation: appear 0.1s forwards;
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 1280px) {
    .terminalTextContainer {
        padding: 0 8px;
    }
    .terminalContainer,
    .output {
        padding: 2px !important;
        font-size: 15px !important;

        max-width: 100%;
        max-height: 100%;
    }

    .flashingSvgtext {
        max-width: 50%;
    }

    .logoContainer {
        max-width: 350px;
    }
}

@media (max-width: 760px) {
    .actionButtonContent {
        flex-direction: row;
    }

    .terminalContainer,
    .output {
        font-size: 12px !important;
    }
    .terminalStyle {
        position: absolute;
        top: 100px;
    }
    .logoContainer {
        width: 200px;
    }

    .flashingSvgtext {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .terminalContainer {
        margin-top: 100px;
    }
}

/* ---------EXPLORE AND LEARN BUTTON---------- */

.actionButtonContent {
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.actionButtonContent a,
.actionButtonContent button {
    display: flex;
    width: 180px !important;
    height: 57px !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid transparent;

    font-family: 'Roboto Mono';
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

    transition: all var(--animation-speed) ease-in-out;
    outline: none;
    border: none;
    cursor: pointer;
}

.exploreButton {
    background: var(--accent1, #0ccdff);
    color: var(--dark1, #06060c);
}

.exploreButton:hover {
    background: transparent;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.learnButton {
    background: var(--accent2, #073749);
    color: var(--accent1, #0ccdff);
}

.learnButton:hover {
    background: transparent;
    border: 1px solid var(--accent1);
}
