.fadingText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Fira Mono, monospace';
    transition: opacity ease-in-out;
}

@media (max-width: 768px) {
    .fadingText {
        font-size: 18px; /* Adjust font size for mobile */
    }
}

@media (max-width: 480px) {
    .fadingText {
        font-size: 16px; /* Further adjustment for smaller screens */
    }
}
