.min_max_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.min_max_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all var(--animation-speed) ease-in-out;
}
.disable_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    font-weight: 200;
    color: var(--negative);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(131, 119, 220, 0.8);
        border-radius: var(--border-radius);
    }
    /* 50% {
    box-shadow: 0 0 0 6px rgba(131, 119, 220, 0.5);
    border-radius: var(--border-radius);
  } */
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
        border-radius: var(--border-radius);
    }
}

.pulse_animation {
    animation: shadow-pulse 1s 6;
}
