@keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  .mainContainer{
    height: calc(100svh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .container {
    width: 100%;
    padding: 20px; 
  }
  
  .shimmer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(7, 7, 7, 0.1) 25%,
      rgba(52, 45, 45, 0.2) 50%,
      rgba(55, 53, 53, 0.1) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    margin-bottom: 10px;
  }
  

  .commentsWrapper{
    display: block;
    width: 100%;
    overflow-y: auto;
    max-height: calc(94svh - 170px);
    position: absolute;
    bottom: 4rem;
    }
    
  .comments_content{
    }



    @media only screen and (max-width: 600px){

      
  .mainContainer{
    height: calc(100svh - 250px);
  }

  
  .commentsWrapper{
    max-height: 65vh;
  }

    }