.modal_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10.5px 5px;
    border-radius: var(--border-radius);
    width: 100%;
    transition: all var(--animation-speed) ease-in-out;
}

.modal_content:hover {
    background: var(--dark2);

    cursor: pointer;
}

.modal_tokens_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    gap: 1rem;
}

.modal_tokens_info img {
    background: linear-gradient(
        90deg,
        #af99ff 0%,
        #46b7db 49.48%,
        #f13d70 100%
    );

    border-radius: 50%;
}

.modal_token_symbol,
.modal_tokens_amount {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    /* font-weight: 400; */
}
.modal_token_name {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    /* font-weight: 400; */
}
