/* portfolio_info_text.css */
.portfolio_info_text {
    font-size: var(--body-size);
    line-height: 22.5px;
    color: var(--text2);
    background: var(--dark1);
    font-weight: 300;
    text-align: center;
    padding: 8px;
    border-radius: var(--border-radius);
    margin-bottom: 8px;

    /* Prevents the exchange balance sidebar from expanding downward on open */
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.portfolio_motion_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--dark1);
    border-radius: var(--border-radius);
}

.portfolio_motion_sub_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    background: var(--background-color);
}

.portfolio_control_container {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: var(--border-radius);
}


.tab_component_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    background: var(--dark1);
}
@media only screen and (min-width: 1280px) {
    .portfolio_motion_container {
        max-width: 400px;
    }
   
}