/* portfolio_info_text.css */
.portfolio_info_text {
    font-size: var(--body-size);
    line-height: 22.5px;
    color: var(--text2);
    font-weight: 300;
    text-align: center;
    padding: 8px;
    border-radius: var(--border-radius);
    margin-bottom: 8px;

    /* Prevents the exchange balance sidebar from expanding downward on open */
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* parent component containing all Exchange Balance content */
.portfolio_motion_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: var(--border-radius);
}

/* just for testing */
/* .portfolio_motion_container * {
    background-color: transparent;
} */

.portfolio_motion_sub_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.portfolio_control_container {
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: var(--border-radius);
}

.tab_component_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 768px) {
    .portfolio_control_container {
        display: none;
    }
}
@media only screen and (min-width: 1280px) {
    .portfolio_motion_container {
        max-width: 400px;
    }
}
