@import url(../css/reset.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-weight: 200;
}

html{
  background: var(--body-bg);
  color: var(--text-grey-white);


  
}

svg{
  color: var(--text-grey-light);
  
}

body{
  
  overflow-x: hidden;
  padding: 0 1rem;

}
  
.content-container {
  min-height: calc(100vh - 4rem);
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
}
a {
  color: unset;
  text-decoration: none;
  position: relative;
  
}

.primary_apy{
  background: var(--apy-gradient-primary);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.secondary_apy{
  background: var(--apy-gradient-secondary);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sr-only{
  position: absolute;
  width: 1px;
  aspect-ratio: 1;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

}






@media only screen and (min-width: 768px) {
  body{
  

    padding: 0 4rem;
  
  }

	

}
