@import url(../css/reset.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-weight: 200;

  /* outline: 1px solid red; */
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  
 
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent; /* opacity: 0; should do the thing either */
}
body::-webkit-scrollbar-thumb {
  background:  linear-gradient(0deg, #7371FC 0%, #CDC1FF 49.48%,#7371FC   100%);

  box-shadow: 0px 0px 0px 100000vh black;
}

html{
  background: var(--body-bg);
  color: var(--text-grey-white); 
   
}

svg{
  color: var(--text-grey-light); 
}

svg:hover{
  color: var(--text-grey-white);
  transition: all var(--animation-speed) ease-in-out;
}

a {
  color: unset;
  text-decoration: none;
  /* position: relative;  */
}
 /* .active{

  transition: opacity ease-in-out var(--animation-speed);
  color: blue;
  font-size: 20px;
  position: relative;
} */

body{
  overflow-x: hidden;
  /* padding: 0 1rem; */
 

}
 

footer {
  /* To make page 100vh, turn off footer position sticky and turn on absolute then style the footer based on route. */
  position: absolute;
  position: sticky;
  right: 0;
 bottom: 0;
}




/* .main-layout{
  transition: all var(--animation-speed) ease-in-out;  
  
  margin-left: 1.938rem;



}

.no-sidebar{
  margin-left: 0;
}
.main-layout-2{
  transition: all var(--animation-speed) ease-in-out; 
 
 
  
} */
.swap-body{
  /* height: 100vh; */
  background: #171D27;
   height: calc(100vh - 3.5rem); 

   display: flex;
   justify-content: center;
   align-items: center;
 
}


.primary_apy{
  background: linear-gradient(90deg, #15BE6F 32.38%, #8FE9BF 51.39%, #15BE6F 68.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  
  /* glow/positive */
  
  text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);

}

.secondary_apy{
  background: var(--apy-gradient-secondary);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.sr-only{
  position: absolute;
  width: 1px;
  aspect-ratio: 1;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

}

/* CSSTransition classes  */
/* .menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--animation-speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--animation-speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--animation-speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--animation-speed) ease;
} */

.hide_sidebar{
 display: grid;
 grid-template-columns: 100%;
}


@media only screen and (max-width: 600px) {


  .main-layout {

    margin: 0;
    overflow: scroll;
   
  }

}


@media only screen and (min-width: 1080px) {
 
  .sidebar_content_layout{
    transition: all var(--animation-speed) ease-in-out;
   display: grid;
   grid-template-columns: 296px auto;
  }
  .sidebar_content_layout_close{
    transition: all var(--animation-speed) ease-in-out;

    display: grid;
    grid-template-columns: 31px auto;
  }



}
/* 
@media only screen and (min-width: 1280px) {
 
  .sidebar_content_layout{
    transition: all var(--animation-speed) ease-in-out;
   display: grid;
   grid-template-columns: 296px auto;
  }
  .sidebar_content_layout_close{
    transition: all var(--animation-speed) ease-in-out;

    display: grid;
    grid-template-columns: 31px auto;
  }



}



 */
