/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 60px;
    width: 240px;
    height: 376px;
    transform: translateX(-45%);
    border: none;
    padding: 1rem;
    overflow: hidden;
    transition: all var(--animation-speed) ease;
    z-index: 99;

    background: var(--dark2);
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    z-index: 999;
}
.menu {
    width: 100%;
    z-index: 999;
    outline: none;
    border: none;
    background: transparent;
}

.menu_item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--animation-speed);
    padding: 0.5rem;

    cursor: pointer;

    color: var(--text1);
    font-family: var(--font-deca);
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);

    outline: none;
    border: none;
    background: transparent;
}

.navbar_logout_container {
    display: flex;
    height: 50px;
    align-items: center;
}

.navbar_logout {
    cursor: pointer;
    width: 100%;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    border: none;
    outline: none;
    transition: all var(--animation-speed) ease-in-out;
    background: var(--accent1);
    padding: 6px 8px;
    gap: 4px;
    border-radius: var(--border-radius);
}

.navbar_logout:hover, .navbar_logout:focus-visible {
    color: var(--accent1);
    background: var(--dark2);
    border: solid;
    border-color: var(--accent1);
}

.topLevelContainer {
    transition: all var(--animation-speed) ease-out;
    background-position: 1% 50%;
    background-size: 400% 300%;
    text-decoration: none;
}

.menu_item:hover, .menu_item:focus-visible {
    filter: drop-shadow(0 0 5px var(--text1));
}

.menu_item .icon_button {
    margin-right: 0.5rem;
    background: var(--blur-bg);
    border-radius: 50%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.menu_item .icon_button:hover {
    filter: none;
}

.nonTopLevelContainer:hover,
.nonTopLevelContainer:focus-visible {
    background: var(--dark2);
}
.goBackStyle:hover,
.goBackStyle:focus-visible {
    background: var(--dark2);
}

.goBackStyle:hover .icon_button,
.goBackStyle:focus-visible .icon_button {
    background: var(--title-gradient);
}

.goBackStyle:hover .icon_button svg,
.goBackStyle:focus-visible .icon_button svg {
    color: black;
    transition: all var(--animation-speed) ease;
}
.icon_right {
    margin-left: auto;
}

.icon_right svg {
    color: var(--text1);
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
}
.authenticate_button {
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;

    border-radius: var(--border-radius);
    width: 100%;
    height: 30px;
    color: var(--accent5);
    border-radius: 0;
    transition: all var(--animation-speed) ease-out;
background: var(--dark3);
    text-decoration: none;
    border: 1px solid var(--accent1);

    border-radius: 4px;
    outline: none;

}

.authenticate_button:hover,
.authenticate_button:focus-visible {
    color: var(--text1);
    border: 1px solid rgba(223, 190, 106, 0);
    color: white;
    background-position: 99% 50%;
}

@media only screen and (max-width: 600px) {
    .dropdown {
       width: 250px;
    }

}