.advanced_toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    gap: 6px;
}

