.header_row {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: auto;
}

.col_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}