.headerContent{
    display: grid;
    grid-template-columns: 24px auto 24px;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
   
   

}

.headerLabel, .bidRowContainer p, .removeAllButton{
    font-family: "Roboto Mono";
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: -0.28px;
}
.headerLabel{
    color: var(--text2, #8B98A5);
}

.container{
    position: relative;
    background: var(--dark2, #12121A); 
    border: 1px solid var(--dark3, #1E1E24);
    width: 100%;
    display: inline-block;
}

.containerClose{
    border-radius: 8px;

}
.containerOpen{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.distributionContainer{
    position: absolute;
    width: 100%;
    bottom: 99%; 
    left: 0;
    right: 0;
    background-color: var(--dark2, #12121A);
    z-index: 1;
      gap: 8px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
}

.distributionContent{
    padding: 8px ;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 150px;
    overflow: scroll;
}
.distributionItemContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

}



.distributionItemContainer p{
    color: var(--text1, #F0F0F8);
    font-family: "Roboto Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
}

.distributionItemContainer p:first-of-type{
    text-align: start;
}
.distributionItemContainer p:last-of-type{
    text-align: end;
}
.detailText{
    margin-top: 8px;
    color: var(--text2, #8B98A5);
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
}