.accordionContainer {
    border-radius: 8px;
border: 1px solid var(--dark3, #1E1E24);
background: var(--dark2, #12121A);
position: relative;
padding: 8px;
gap: 8px;
  }
  
  .header {
    cursor: pointer;
    color: var(--text2, #8B98A5);
font-family: "Roboto Mono";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.28px;
  }
  
  .content {
    overflow: hidden;
    height: 200px;
 
    /* position: absolute;
    top: -100%; */

  }
  