 
  .menu_item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  

  

  .menu_item:hover {
    background-color: #525357;
  }

  