/* swapbox */
.swapbox {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow-y: hidden;
    color: white;
    padding: 5px;
}

.modalSwapbox {
    background-color: var(--dark2);
}

.direction {
    padding: 0.4.5px 0;
    margin: 10px 0;
}
.direction,
.swapbox_bottom {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.balance_with_pointer {
    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.swapbox_bottom {
    margin: 6px 10px;
    height: 33px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;

    padding: 0 2rem;
}
.wallet_container,
.surplus_container,
.surplus_toggle {
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* align-items: center; */
    /* flex: 1;; */
    gap: 4px;

    /* background: rgb(8, 21, 94); */
    /* width: calc(100%/3) */
}

.wallet_container {
    justify-content: flex-start;
    /* background: rgb(2, 2, 34); */
}
.surplus_container {
    /* justify-content: flex-start; */
    justify-content: flex-end;
    /* background: rgb(2, 2, 34); */
    /* text-align: end; */
}

/* .surplus_toggle { 
    justify-content: flex-end;
} */

.balance_column {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: var(--text-grey-white);
}

.wallet_logo {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-top: 1.5px;
}

.ambient_logo {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-left: 4px;
    padding-right: 5px;
    padding-top: 2.5px;
}

.swapbox_top {
    border-radius: var(--border-radius);
    background-color: var(--dark2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
    /* padding: 0.5rem 0; */
    min-height: 40px;

    display: grid;
    grid-template-columns: 1fr 120px;
    /* height: 40px; */
}

/* .swap_input {
    width: 65%;
} */
.token_select {
    /* background: var(--dark2); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 4px; */
    /* width: 35%; */
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;

    background: transparent;
    outline: none;
    border: none;
}

.token_select:hover {
    background: var(--dark2);
}

.token_select:focus-visible {
    border: 1px solid var(--text-grey-white);
}
.token_select:hover > .token_select svg {
    color: white;
}

.token_select img {
    padding: 1px;
    max-width: 100%;
}

.token_list_text {
    padding: 1px;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
    font-weight: 200;

    width: 53px;
    overflow-y: scroll;
}

.token_list_text::-webkit-scrollbar {
    display: none;
}

/* bottom info */

.token_select_button {
    cursor: pointer;
}

.buy_token {
    display: none;
}

.sellAllButton {
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;

    color: green;
}

.sellAllButton:hover {
    color: hotpink;
}

.grey_logo img {
    filter: grayscale(100%) contrast(0.3) brightness(0.8);
}

.enabled_logo img {
    filter: contrast(1) brightness(1) saturate(1);
}

/* modal */

.pool_modal {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all var(--animation-speed)
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pool_modal::-webkit-scrollbar {
    display: none;
}

.search_input input {
    width: 100%;
    background: var(--dark2);

    text-align: center;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 1rem 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

.manage_token_list_container {
    width: 100%;
    padding: 20px;
    background-color: var(--dark2);
    border-top: 1px solid rgb(44, 47, 54);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-highlight);
    gap: 10px;
}

.max_button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);
    outline: none;
    border: none;
    /* background: var(--dark2); */
    background: transparent;

    width: 25px;
    /* margin-right: 8px; */
    max-height: 20px;
    /* padding: 0 8px; */
    transition: all var(--animation-speed) ease-in-out;
}
.max_button_enable {
    border-radius: 4px;
    background: var(--dark2);
}

.max_button:hover {
    color: var(--text-highlight-dark);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(131, 119, 220, 0.8);
        border-radius: var(--border-radius);
    }

    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
        border-radius: var(--border-radius);
    }
}

.pulse_animation {
    animation: shadow-pulse 1s 6;
}
