.container {
    width: 100%;
    height: 60px;
    background: linear-gradient(
        90deg,
        #302f6e 0%,
        #4a455c 49.48%,
        #7371fc 100%
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: all var(--animation-speed) ease-in-out;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.content img {
    width: 3rem;
    filter: blur(4px);
}

.warning_container {
    background: var(--dark2);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    height: 80%;
    gap: 4px;
}

.warning_container span {
    color: #cdc1ff;
}

.warning_container h3 {
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 14px;
    color: #f6385b;
}

.warning_container p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
}
