.chart_overlay_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.futa_chart_overlay_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    gap: 10px;
}

.chart_tooltips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.current_data_info {
    /* extra small */

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--mini-lh);

    /* text/grey light */

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    color: var(--text2);
    height: 15px;
    padding-left: 4px;
}

.active_selected_button,
.non_active_selected_button {
    background: transparent;
    transition: var(--transition);
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    text-align: center;

    outline: none;
    border: none;
    padding: 1px 8px;
    position: relative;
}
.active_selected_button:hover,
.non_active_selected_button:hover {
    background-color: var(--dark3);
}


.settings_container button:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}

@media screen and (min-width: 768px) {
    .active_selected_button:hover,
    .non_active_selected_button:hover {
        /* background: var(--title-gradient); */
        color: var(--text1);
    }
}

.active_selected_button {
    width: 100%;
    height: 100%;
    color: var(--text1);
}

.non_active_selected_button {
    color: var(--text2);
}

.futa_active_selected_button,
.futa_non_active_selected_button {
    background: var(--dark2);
    transition: var(--transition);
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    text-align: center;
    outline: none;
    position: relative;

    width: 49px;
    height: 25px;
    padding: 4px 16px 4px 16px;

    border: none;
    padding: 1px 8px;
    position: relative;
}

.futa_active_selected_button:hover,
.futa_non_active_selected_button:hover {
    background-color: var(--dark3);
    color: var(--accent1);
}

.futa_active_selected_button {
    color: var(--accent1);
    border: 1px solid var(--accent1);
}
