/* I do not want to change the classnames of the file to CSS modules since I am aware those classnames are being used for the graph data */

.chart-fee,
.chart-tvl,
#chart-volume {
    transition: all 600ms ease-in-out;
}

.main_layout {
    transition: all 600ms ease-in-out;
    width: 100%;
    color: var(--text2);
}

.domain,
.tick > path,
.gridline-y,
.gridline-x {
    stroke: var(--text2);
    stroke-opacity: 0.1;
}

.candlestick .down {
    background-color: var(--accent1);
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid var(--dark3);
}

.img_shimmer {
    display: inline-block;
    -webkit-mask: linear-gradient(
            -60deg,
            black 30%,
            rgba(119, 117, 117, 0.333),
            black 70%
        )
        right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.2s infinite;
    filter: blur(8px);
}
@keyframes shimmer {
    100% {
        -webkit-mask-position: left;
    }
}

.animatedImg_container {
    width: 100%;
    height: 100%;
    cursor: progress;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animatedImg_container img {
    object-fit: contain;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 200%;
    }

    to {
        -webkit-mask-position: -100%;
    }
}
.fetching_text {
    z-index: 9;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: var(--header-size);
    line-height: var(--header1-lh);
    color: var(--text1);
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.6) 30%,
        black 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-size: 200%;
    animation: shine 1.5s infinite;
}

.animatedImg_container img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.skeleton {
    background: linear-gradient(
        90deg,
        rgba(7, 7, 7, 0.1) 25%,
        rgba(52, 45, 45, 0.2) 50%,
        rgba(55, 53, 53, 0.1) 75%
    );
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    grid-area: 1 / 1 / 3 / 1;
}

@keyframes loading {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}
