.dots {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translate3d(0, -50%, 0);
    right: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.dots .dot {
    cursor: pointer;
    background-color: var(--text3);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    display: block;
}

.dots .dot.activeDot {
    width: 10px;
    height: 20px;
    border-radius: 20%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.show_arrow {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.disable_arrow {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 500px) {
    .dots {
        display: none;
    }
}
