

/* ------------------------ */
.price_info_content{
    /* background: rgb(19, 2, 2); */
    padding: 8px 16px;
}
.apr_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apr_display p:first-of-type{
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.apr_display p:nth-of-type(2){
    font-size: var(--body-size);
    line-height: var(--body-lh);

    background: linear-gradient(90deg, #15BE6F 32.38%, #8FE9BF 51.39%, #15BE6F 68.17%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

/* glow/positive */

text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);

}

.row_display{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    font-size: var(--body-size);
    line-height: var(--body-lh);

    height: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.row_display p:first-of-type, .row_display p:nth-of-type(3){
    color: var(--text-grey-white);
    /* background: red; */
}

.row_display p:first-of-type{
    text-align: start;
}
.row_display p:nth-of-type(3){
    text-align: end;
}
.row_display p:nth-of-type(2){
    color: var(--text-grey-light);
    text-align: center;
}

.divider{
    width: 100%;
    background: #242F3F;
    height: 1px;
    margin: 6px 8px;
    border-radius: 9999;
    color: red;
    /* padding: 0 8px; */
}

.gas_pump_dropdown{
    background: transparent;
    outline: none;
    border: none
}
.gas_pump_dropdown button{
    background: transparent;
    outline: none;
    border: none;
width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);

    cursor: pointer;
}
.gas_pump_dropdown button:hover{
    color: var(--text-grey-white);
    cursor: pointer;
}
.gas_pump_dropdown button:focus-visible{
    border: 1px solid var(--text-grey-white)
}
.dropdown_content{
    border: 1px solid #242F3F;
border-radius: 4px;
padding: 8px;

transition: all var(--animation-speed) ease-in-out;
}

.gas_pump_dropdown p{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.extra_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.align_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    vertical-align: center;
}

.extra_row p{
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}