.main_container{
    position: relative;
    background: #0d1117;
margin: 1rem 0;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 16px;
    border-radius: 4px;
    
    padding: 1rem ;
   
 
}

.item_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}