.portfolio_banner_account {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: rgba(18, 18, 26, 0.3);
    padding: 4px;
    backdrop-filter: blur(2px);
}

.jazzicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    outline: 3px solid green;
}

.wallet_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.address_or_ens {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    font-weight: 300;
    cursor: pointer;
    color: var(--text1);
    letter-spacing: -0.02em;
}

.address_detail {
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    gap: 8px;
    cursor: pointer;
    color: var(--text1);
}

.deposit_button {
    font-size: 12px;
    outline: none;
    background: transparent;
    border: 1px solid var(--accent1);
    color: var(--accent1);
    padding: 4px;
    border-radius: 20px;
    min-width: 120px;
}

@media only screen and (max-width: 768px) {
    .address_or_ens {
        font-size: var(--body-size);
    }
}

@media only screen and (min-width: 768px) {
    .portfolio_banner_main_container{
        width: 380.16px;
        border-radius: 50px 4px 4px 50px;
    }

    .portfolio_settings_container{
        height: 65px;
        width: 65px;
    }
}