
.account_container {
    display: flex;
    flex-direction: row;
    gap: 1.375em;
    z-index: 2;
}

.avatar_image {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
}
.account_container img {
    max-width: 100%;

    border-radius: 50%;
}

.account_names {
    display: flex;
    flex-direction: column;
}

.account_names img {
    max-width: 100%;
    width: 56px;
    aspect-ratio: 1;
}

.name {
    font-weight: 300;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);

    letter-spacing: -0.02em;
    color: var(--text-grey-white);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.name div {
    cursor: pointer;
}

.hash {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    /* text/grey light */

    color: #bdbdbd;
}
