.main_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* z-index: 5; */
    position: absolute;
    top: 5px;
    padding: 3px 1rem;
}
.account_container {
    display: flex;
    flex-direction: row;
    gap: 1.375em;
    z-index: 2;
}

.avatar_image {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;

    display: flex;
    justify-content: center;
}

.ambi_logo {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    aspect-ratio: 1;
}
.account_container img {
    max-width: 100%;

    border-radius: 50%;
    object-fit: contain;
}

.account_names {
    display: flex;
    flex-direction: column;
}

.account_names img {
    max-width: 100%;
    width: 56px;
    aspect-ratio: 1;
}

.name {
    font-weight: 300;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    cursor: pointer;

    letter-spacing: -0.02em;
    color: var(--text1);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.name div {
    cursor: pointer;
}

.hash {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    /* identical to box height */

    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    /* text/grey light */

    color: var(--text2);
}
