.main_container{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.import_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.import_button button{
    position: absolute;
    bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
    outline: none;

    padding: 4px 2rem;
    font-size: 16px;

    line-height: 24px;

   

  
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: capitalize;

    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;

    border: none;
    background: var(--text-highlight-dark);
    color: var(--dark1)
}

.import_button button:hover{
    color: var(--dark2);
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca
}

.main_container p{
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}


.token_display, .token_display div:first-of-type{
    
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.token_display{
    justify-content: space-between;
}


.token_display h2{
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white)
}

.token_display h6{
    text-align: right;
}

.token_not_found{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}