.container {
    height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: var(--border-radius);
}

.container::-webkit-scrollbar {
    display: none;
}

.container h2 {
    font-size: var(--body-size);
    line-height: var(--header2-lh);
    color: var(--text2);
}
.scrollContainer {
    height: 100%;
    overflow-y: auto;
}

.scrollable_container {
    max-height: 70vh;
    overflow-y: scroll;
}

.scrollable_container::-webkit-scrollbar {
    width: 3px;
}

.token_not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* holds the search <input> field and CLEAR button */
.input_control_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

/* search input field */
.input_control_container > input {
    width: 100%;
    height: 30px;
    background: var(--dark2);
    outline: none;
    border: none;
    padding: 0 4px;
    margin-bottom: 8px;
    border-radius: var(--border-radius);
}

.input_control_container > input::placeholder {
    text-align: center;
    font-size: 12px;
}

/* button to clear input from field */
.input_control_container > button {
    background: transparent;
    padding: 6px 0;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--transition);
}

.clearButton {
    transform: translateY(-16%);
}

.input_control_container button:hover {
    color: var(--text1);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weth_warning {
    display: flex;
    flex-direction: row;
}

.weth_warning > button {
    min-width: 20%;
    font-size: 30px;
}

.weth_text {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text1);
    padding: 1rem;
}

.header {
    height: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    font-weight: 200;
    color: var(--text1);
}

@media only screen and (min-width: 768px) {
    .container {
        width: 448px;
    }
}
