/* search input */

.search_input{
 margin-bottom: 4px;
}
.search_input input{
    width: 100%;
    background: var(--dark2);
    
    text-align: center;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    /* padding: 1rem 0; */
    height: 30px;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    

  }

  .token_select_container{
    max-height: 400px;
    overflow-y: scroll;
  overflow-x: hidden;
  transition: all var(--animation-speed) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .token_select_container::-webkit-scrollbar {
    display: none;
  }