
.title{
  font-size: var(--header2-size);
  line-height: var(--header2-lh);
  color: var(--text-grey-light);
  margin: 4px ;

}
.tokens_container{
  /* background: yellow; */
  max-height: 303px;
  /* min-height: 50px; */
    overflow-y: scroll;
  overflow-x: hidden;
  transition: all var(--animation-speed) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.manage_token_list_container{
  width: 100%;
    padding: 20px;
    background-color: var(--dark3);
    border-top: 1px solid rgb(44, 47, 54);
}

/* .token_select_container{
  background: yellow;
} */

.tokens_container::-webkit-scrollbar {
  display: none;
}

/* .tokens_container:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 3.7em;
  background:linear-gradient(
  to bottom,
  rgba(0,0,0,0),
  rgba(13, 17, 23, 0.90) 50%
);
} */

/* search input */

.search_input{
 margin-bottom: 4px;
}
.search_input input{
    width: 100%;
    background: var(--dark2);
    
    text-align: center;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    /* padding: 1rem 0; */
    height: 30px;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    

  }

  .token_select_container{
    max-height: 400px;
    padding-bottom: 11rem;
    
 
  transition: all var(--animation-speed) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

