.order_card_header {
    display: flex;
    flex-direction: row;
}

.main_container {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;

    font-size: 10px;

    padding-bottom: 4px;
    border-bottom: 1px solid var(--dark2);
}
.row_container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 8px;
}

.row_container section {
    flex: 0.4 0;
    /* flex-flow: column; */
    align-items: center;

    padding: 2px 8px;
    /* font-size: var(--body-size);
    line-height: var(--body-lh); */
    color: rgba(235, 235, 255, 0.4);
}

.wallet,
.sortable_container {
    cursor: pointer;
    display: flex;

    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.side,
.token {
    display: none;
}

.arrow_placeholder {
    opacity: 0;
}

/* .type{
    text-align: end;
} */

/* .price{
    background: rgb(30, 30, 2);
    text-align: center;
} */
/* ------------------------------------------MOBILE ACCORDION RELATED----------------- */

/* mobile header display */
.mobile_header_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: rgba(235, 235, 255, 0.4);
    padding: 0 0.5rem;
}
.mobile_header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
/* wallet and id */
.mobile_header_content p:first-child {
    width: 150px;
}
/* base and quote token */
.mobile_header_content p:nth-child(6),
.mobile_header_content p:nth-child(7) {
    width: 110px;
}
/* status */
.mobile_header_content p:nth-child(8) {
    width: 25px;
}

/* value */
.mobile_header_content p:nth-child(5) {
    display: none;
}
/* type and side */
.mobile_header_content p:nth-child(3),
.mobile_header_content p:nth-child(4) {
    display: none;
}
/* price */
.mobile_header_content p:nth-child(2) {
    display: none;
}
@media only screen and (min-width: 768px) {
    /* value */
    .mobile_header_content p:nth-child(5) {
        display: block;
        width: 60px;
    }
}
@media only screen and (min-width: 968px) {
    /* type and side */
    .mobile_header_content p:nth-child(3),
    .mobile_header_content p:nth-child(4) {
        display: block;
        width: 40px;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 1200px) {
    /* price */
    .mobile_header_content p:nth-child(2) {
        display: block;
        width: 100px;
    }
}
/* ----------------------------------------END OF MOBILE ACCORDION RELATED----------------- */

.main_container {
    display: none;
}

/* Mobile Landscape Screen Sizes */
/* @media only screen and (min-width: 580px) {
    .main_container {
        grid-template-columns: auto 100px;
    }
} */
@media only screen and (min-width: 568px) {
    .mobile_header_display {
        display: none;
    }
    .main_container {
        display: grid;
        grid-template-columns: auto 100px;
        align-items: center;

        font-size: 10px;

        padding-bottom: 4px;
        border-bottom: 1px solid var(--dark2);
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .wallet {
        display: flex;
    }

    /* }
    .price{
        text-align: start;
    } */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container {
        grid-template-columns: auto 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tokens {
        display: none;
    }

    .token,
    .side {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .main_container {
        grid-template-columns: auto 250px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .main_container {
        grid-template-columns: 1fr 0.6fr;
    }
}
