.active_position_style,
.active_transaction_style {
    /* background: var(--dark3); */

    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #171d27 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;

    background-position: -99.99% 0;
}

.border_left {
    border-left: 1px solid var(--text-grey-white);
}

.main_list_container {
    /* width: 100%;
    overflow: auto;
    overflow-y: scroll;
  max-height: 90%; */
    width: 100%;
    max-height: 90%;
    overflow-y:scroll;
    overflow-x: hidden;
    /* padding: 0 8px; */
    position: relative;
}

.header {
    position: sticky;
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
      position: absolute;
      bottom: 0;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      margin: 0 auto;
  }
/* width */
.main_list_container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
.main_list_container::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: #1f2937; */
}

/* Handle */
.main_list_container::-webkit-scrollbar-thumb {
    background: var(--title-gradient);
}

.header {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */

    background: var(--dark1);
    border-bottom: 1px solid var(--dark3);
}

.header li {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;

    color: var(--text-grey-light);
}
.row_container{
    width: 100%;
    transition: all var(--animation-speed) ease-in-out
   
}



.row_container li {
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-transform: capitalize;
}

.main_list_container ul {
    width: 100%;
    /* table row was living space at end so I changed it to table and added a fixed table layout*/
    display: table-row;
    table-layout: fixed;
    display: table;
}

.main_list_container ul > li {
    display: table-cell;

    /* I commented this out to make the header align center with arrow */
    width: 100%;

    padding: 0.2em 0.5em;
    vertical-align: middle;
}
.base_color {
  color: var(--text-grey-light);
  
}
.gradient_text {
  background: var(--title-gradient);
  font-family: var(--font-logo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.owned_tx_contrast {
  color: var(--accent-secondary);
}
.hover_style:hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.5s infinite;
}

/* .row_container li:nth-of-type(2):hover, .row_container li:nth-of-type(3):hover{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1.5s infinite;
} */

  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }


/* } */

.main_list_container > ul:nth-child(1) {
    z-index: 2;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}
/* .token_images_account{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
} */
.token_images_account {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token_images_account img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 2px;
}

/* .trade_header li:nth-of-type(3), .trade_header li:nth-of-type(6), .trade_header li:nth-of-type(7), .trade_header li:nth-of-type(8){

  text-align: right;
 
} */

/* .trade_header li:nth-of-type(4){
  text-align: center;
  
}
.trade_header li:nth-of-type(9){
  text-align: center;
} */

/* .portfolio_header li:nth-of-type(4),
 .portfolio_header li:nth-of-type(7),
  .portfolio_header li:nth-of-type(8){

  text-align: right;
 
} */

/* .portfolio_header li:nth-of-type(5){
  text-align: center;
  
}
.portfolio_header li:nth-of-type(9){
  text-align: center;
} */

.token_qty {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


@media only screen and (max-width: 768px) {
    .header li {
        font-weight: 300;
        font-size: 8px;
        line-height: 10px;
    
    }

    .row_container li{
        font-size: 10px;
        
    }
  }

  @media only screen and (max-width: 1200px){
    .footer{
      display: none;
    }
    
    }