.container > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item_container {
    max-height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px;
}

.item_container::-webkit-scrollbar {
    width: 1px;
    display: none;
}
/* 
.accordion_display_container{
    display: block;
}
.desktop_transaction_display_container{
    display: none;
}

@media only screen and (min-width: 568px) {
.accordion_display_container{
    display: none;
}
.desktop_transaction_display_container{
    display: block;
}

} */