.main_container{
    /* margin: 3rem 0; */
    display: grid;
    grid-template-columns:  auto 50px;
    align-items: center;
    height: 40px;
}

.row_container{
    display: flex;
    align-items: center;
    width: 100%;
}

.row_container section{
    flex: 0.4 0;
    /* flex-flow: column; */
    align-items: center;
    padding: 2px 8px;
    /* font-size: 10px; */
}
 .type_column, .column_qty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_qty div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
   
}
.qty_sing{
  
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column_qty img, .qty_sing img{
    width: 15px;
}
.menu_container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  
}

 .side_sing, .type_sing, .qty_sing{
    display: none;
}


 .type_column p, .column_qty p, .price{
    font-size: 10px;
line-height: 13px;
}



.type_column p{
    color: #7371FC;
}

.price, .side_sing, .type_sing{

    color: #7371FC;
}

.column_qty, .qty_sing, .column_qty p{
    color: rgba(235, 235, 255, 0.4);
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

    .main_container{
        grid-template-columns:  auto 100px;
    }
    

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

   



.qty_sing{
    font-size: 12px;
    line-height: 16px;  
}
.qty_sing{
    font-size: 11px;
}

.price, .side_sing, .type_sing{
    font-size: 12px;
    line-height: 15px; 
  
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container{
        grid-template-columns:  auto 50px;
      
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .column_qty, .type_column{
        display: none;
    }

    .qty_sing, .side_sing, .type_sing{
        display: flex;
    }

  .qty_sing{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {

    .main_container{
        grid-template-columns:  auto 250px;
    }


}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {

    .main_container{
        grid-template-columns: 1fr 0.6fr;
    }
    


}