


.active_position_style, .active_transaction_style{
  /* background: var(--dark3); */

  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #171d27 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;

  background-position: -99.99% 0;
}

.border_left{
  border-left: 1px solid var(--text-grey-white);
}

.main_list_container{
    /* width: 100%;
    overflow: auto;
    overflow-y: scroll;
  max-height: 90%; */
  width: 100%;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* padding: 0 8px; */
    position: relative;

    
   

  }



  .header{
    background: #012B39;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  
  .footer{
      position: sticky;
      bottom: 0;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
/* width */
.main_list_container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  .main_list_container::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1f2937;
  }
  
  /* Handle */
  .main_list_container::-webkit-scrollbar-thumb {
    background: var(--title-gradient)
  }


.header{
 
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    /* box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); */

    background: var(--dark1);
    border-bottom: 1px solid var(--dark3);
}

.header li{
    font-weight: 300;
font-size: 10px;
line-height: 13px;

color: rgba(235, 235, 255, 0.4);
}
.row_container:hover{
  background: var(--dark2)
}
.row_container li{
    font-weight: 300;
font-size: var(--body-size);
line-height: var(--body-lh);
text-transform: capitalize;




}


    

   
    .main_list_container ul {
      width: 100%;
      /* table row was living space at end so I changed it to table and added a fixed table layout*/
      display:table-row;
      table-layout: fixed;
      display: table;
    
    }
    

    
    .main_list_container ul > li {
      display:table-cell;
 
      /* I commented this out to make the header align center with arrow */
      width: 100%;
 
      padding:.2em 1em;
      
   
    }
    
  /* } */
  
 


.align_center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}