.main_container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
}

.dropdown_container {
    position: absolute;
    display: flex;
    padding: 4px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--dark3, #1e1e24);
    background: var(--dark4, #0e0e14);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
    gap: 8px;
    top: 40px;
    left: 0;
    z-index: 9999;
}

.dropdown_content {
    display: flex;
    width: 340px;
    overflow-y: auto;

    flex-direction: column;

    gap: 8px;
}

.dropdown_content::-webkit-scrollbar {
    display: none;
}

.option_button {
    display: flex;
    padding: 5px 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--dark3, #1e1e24);
    background: var(--dark2, #12121a);
    color: var(--text-text2, #8b98a5);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    cursor: pointer;
}

.option_button:hover {
    border: 1px solid var(--accent1);
    color: var(--accent1);
    transition: all var(--animation-speed) ease-in-out;
}

.active_option {
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.arrow_icon {
    display: inline-block;
    padding: 4px 0 0 4px;
    transform: 0.3s;
    cursor: pointer;
}

@media (min-width: 780px) {
    .dropdown_container {
        left: 30px;
    }
}
@media (min-width: 500px) {
    .dropdown_container {
        padding: 16px;
    }
    .dropdown_content {
        width: 515px;
    }
}
