.main_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.price_info_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.token_pair_details_container {
    display: flex;
    width: 100%;
    justify-content: center;

    font-family: var(--font-logo);

    font-weight: 100;
    font-size: 24px;
    line-height: 30px;

    color: var(--text-grey-light);
}

.earned_container,
.price_status_content,
.value_content {
    background: rgba(23, 29, 39, 0.3);
    backdrop-filter: blur(10px);
    padding: 8px;
}
.value_content,
.earned_container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.earned_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.earned_container,
.earned_container section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.earned_container p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.earned_container img {
    width: 15px;
}

.price_status_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.price_status_content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.price_status_content p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.price_status_content h2 {
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.low_range {
    color: var(--text-accent);
}

.high_range {
    color: var(--text-highlight-dark);
}

.ambi_info_text {
    text-align: center;
    background: var(--dark2);
    padding: 4px;
    border-radius: 4px;
    text-transform: none;
}
/* .order_type{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light)
} */

@media only screen and (min-width: 768px) {
    .price_info_container,
    .value_content,
    .buy_content,
    .sell_content,
    .price_status_content {
        gap: 1rem;
    }
}
