.main_container {
    display: flex;
    flex-direction: column;
}

/* .price_info_container {
    display: flex;
    flex-direction: column;
  
} */

.info_container {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: var(--border-radius);
    padding: 1rem;

    font-weight: 300;
    color: var(--text-grey-white);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}
.info_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.125em;
}

.info_text img {
    width: 15px;
}
.graph_image_container {
    width: 48%;
}
.graph_image_container img {
    width: 100%;
}
.min_max_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.min_max_content {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white);
}
.min_price,
.max_price {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    font-weight: 200;
    letter-spacing: -0.02em;
}

.max_price {
    color: #7371fc;
}
.min_price {
    color: #cdc1ff;
}


/* TOKEN PAIR DETAILS */
.token_pair_details_container{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    flex-direction: row;
    align-items: center;
    /* gap: 8px; */
}
.token_pair_details_container p{
    font-family: var(--font-logo);
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
    font-weight: 100;

}

.token_pair_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.token_pair_images img{
width: 30px;
}