.container{
    display: grid;
    gap: 1em;
    -webkit-box-align: center;
    align-items: center;
    grid-template-columns: 20px 3fr repeat(5, 1fr);
    /* background: rgb(49, 49, 49); */
    color: var(--text-grey-white);
    
    padding: 0.5rem 0;
    transition: all var(--animation-speed) ease-in-out
   
}

.container:hover{
    background: var(--dark2)
}
.container > *:not(:first-child, :nth-child(2)){
    text-align: end;
}

.container:first-child{
    text-align: start;
}

.token_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.token_info > :nth-child(3){
    background: #12171f;
    padding: 4px;
    border-radius: 4px;

}

@media screen and (max-width: 900px){
.container{
    grid-template-columns: 20px 1.5fr repeat(4, 1fr);
}

/* price change */
.container >:nth-child(4){
    display: none;
}
}
@media screen and (max-width: 800px){
.container{
    grid-template-columns: 20px 1.5fr repeat(3, 1fr);
}

/* tvl */
.container >:nth-child(6){
    display: none;
}
}
@media screen and (max-width: 670px){
.container{
    grid-template-columns: repeat(2, 1fr);
}

/* number */
.container >:first-child{
    display: none;
}
/* price */
.container >:nth-child(3){
    display: none;
}

.container >:nth-child(7){
    display: none;
    background: red;
}
}
