.token_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.token_logos img{
    width: 15px;
}



.token_qty{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}
.token_qty img{
    width: 15px;
}

.token_qty_column, .account_column, .buy_limit_column{
    flex-direction: column;
    align-items: center;
}



.account{
    margin: 0 4px;
}

.menu_buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 4px;
   
}

.token_qty, .token_qty_column, .account_column, .account, .pool_name{
    color: rgba(235, 235, 255, 0.4);

}
.price, .buy, .limit, .buy_limit_column p, .price_normal{
    color: #7371FC;
}
.buy{
    color: #E480FF;
}

.option_button{
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius:6.25rem;
   cursor: pointer;
   font-size: 12px;
   line-height: 15px;
   color: #bdbdbd; 
   height: 23px;
   padding: 5px 8px;
   
  
   background: #0D1117;
   border: 1px solid #242F3F;
   box-shadow: 2px 1000px 1px #242f37 inset;
  
   cursor: pointer;
 }


.reposition_button{
   


    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-white); 
    height: 23px;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;




background: linear-gradient(90deg, rgba(115, 113, 252, 0) 0%, rgba(115, 113, 252, 0) 71.21%, #7371FC 100%);

border: 1px solid #7371FC;
border-radius: 50px;


transition: background var(--animation-speed) ease-in-out;



  }





  .reposition_button:hover{
    box-shadow: none;
   
    border: 1px solid rgba(223,190,106,0);
    color: rgb(0, 0, 0);
    background: var(--title-gradient);
  }


 .min_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px
 }
 .menu_icon{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;
    width: 38.51px;
    background: #0D1117;
    border: 1px solid #242F3F;
    border-radius: 50px;
    color: white;
   
    
    }
    .min_buttons{
        justify-content: center;
        /* justify-content: flex-end; */
       
    }

.main_container{
    font-size: 10px;
line-height: 12px;
}

    .main_container{
        display: grid;
        grid-template-columns:50px auto 50px;
        font-size: 10px;
    }
    .row{
        display: grid;
    grid-template-columns: 1fr repeat(2, 50px) 40px 50px;
    grid-gap: 4px;
    
    align-items: center;
    height: 48px;
    }
    
    
    .menu_buttons,
     .account, 
     .buy,
     .limit,
     .pool_name, 
     .min_buttons button {
        display: none;
    }


/* Small screen devices (540px and above) */
@media only screen and (min-width: 540px) {
    .main_container{
        display: grid;
    grid-template-columns:50px auto 120px;

    font-size: 12px;
    line-height: 15px;

    }

    .account{
        line-height: 16px;
    }

    .row{
        display: grid;
    grid-template-columns: auto repeat(2, 75px) 70px 20px;
    grid-gap: 4px;
   
   
    align-items: center;
    }

    .min_buttons{
      justify-content: flex-end;
    }
    .min_buttons button{
        display: flex;
    }
  

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .token_logos img{
        width: 30px;
    }

    .pool_name{
        display: flex;
    }
    .buy_limit_column{
        display: none;
    }
    .buy, .limit{
        display: flex;
    }
    .main_container{
       
    grid-template-columns:100px auto 130px;
    }

    .row{
        grid-template-columns: 70px auto repeat(3, 50px) 70px 50px;

    }
    
}


/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .token_qty_column{
        display: none;
    }
    .token_qty{
        display: flex;
    }
    .row{
        grid-template-columns: 100px auto repeat(5, 70px) 50px;

    }
    

    
}

@media only screen and (min-width: 1100px) {

    .account_column{
        display: none;
    }
  

    .account{
        display: flex;
    }

   
    .row{
        grid-template-columns: 80px auto auto repeat(5, 95px) 50px;
       

    }

}
/* Extra big screen devices(MONITORS) (1200px and above) */
@media only screen and (min-width: 1200px) {

    .main_container{
       
       
        grid-template-columns:100px auto  minmax(200px, auto);

        }
    
  
    .menu_buttons{
        display: flex;
        justify-content: flex-end;
        
    }
    .min_buttons{
        display: none;
    }

    .row{
        grid-template-columns: 80px auto auto repeat(5, 75px) 50px;
    }


}
