.container {
    /* width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    cursor: default;
    height: 60px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 1rem;
}

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    max-width: 300px;
}

.logo {
    height: 35px;
}

.logo_text {
    width: 176px;
}

.settings_control {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.settings_control div,
.settings_control svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_button {
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--accent1);
    border-radius: var(--border-radius);
    width: 70px;
    height: 23px;
}

@media only screen and (max-width: 600px) {
    .container {
        height: 40px;
    }

    .info_button {
        background: transparent;
        width: auto;
        height: auto;
    }

    .logo_text,
    .logo {
        margin-left: none;
    }
    .logo_text {
        width: 110px;
    }
}
