.buy_style {
    color: #7371fc;
}
.sell_style {
    color: #3480ff;
}
.add_style {
    color: #5ffff2;
}
.min_max {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.price {
    white-space: nowrap;
    font-size: 10px;
    line-height: 13px;
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .price {
        font-size: 12px;
        line-height: 15px;
    }
}
