.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.result {
    width: 100%;
    height: 20px;
    background: var(--dark-gradient);
}

.container div {
    animation: skeleton 0.6s ease-in-out forwards infinite;
    animation-direction: alternate;
}

.container div:first-child {
    animation-delay: 200ms;
}
.container div:nth-child(2) {
    animation-delay: 400ms;
}
.container div:nth-child(3) {
    animation-delay: 300ms;
}
.container div:nth-child(4) {
    animation-delay: 200ms;
}

@keyframes skeleton {
    0% {
        opacity: 0.2;
        transform: translateY(6px) scale(0.98);
    }
    40% {
        opacity: 0.5;
        transform: translateY(4px) scale(0.68);
    }
    85%,
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
