.type_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side_sing,
.type_sing {
    display: none;
}

.remove_style,
.range_style {
    color: var(--accent4);
}
.buy_style,
.market_style {
    color: var(--accent1);
}
.add_style,
.range_style2 {
    color: var(--accent3);
}
.sell_style,
.limit_style {
    color: var(--accent2);
}
.add_style,
.range_style,
.buy_style,
.market_style,
.remove_style,
.range_style2,
.sell_style,
.limit_style {
    font-size: 10px;
    line-height: 13px;
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .add_style,
    .range_style,
    .buy_style,
    .market_style,
    .remove_style,
    .range_style2,
    .sell_style,
    .limit_style {
        font-size: 12px;
        line-height: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .type_column {
        display: none;
    }

    .side_sing,
    .type_sing {
        display: flex;
    }
}
