.range_width_container {
    width: 100%;
    /* margin-bottom: 1rem; */
    padding: 0 5px;

    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--content-bg);
    transition: all var(--animation-speed) ease-in-out;
}

.range_width_content {
    display: grid;

    grid-auto-rows: auto;
    row-gap: 12px;
}
.range_width_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12%;
}

.range_width_input span {
    /* font-weight: 600; */

    color: rgb(218, 214, 214);
}

.range_width_title {
    display: flex;
    justify-content: flex-start;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    margin-top: 10px;
}
.percentage_container {
    display: flex;

    width: 100%;
    padding: 0;

    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.percentage_amount {
    display: flex;
    justify-content: center;
    color: var(--text1);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
}
.percentage_options {
    display: flex;
    padding: 0 0rem;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add_minus_icons {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.add_minus_icons svg:nth-of-type(2) {
    margin-top: -5px;
}
.percentage_option_buttons {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);

    overflow: hidden;

    margin: 4px !important;
    background: var(--dark2);
    padding: 0.5rem 1%;

    cursor: pointer;

    color: var(--text2);
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: all var(--animation-speed) ease-in-out;
}

.percentage_option_buttons:hover{
    color: var(--text1)
}
.percentage_option_buttons:focus-visible, .percentage_input:focus-visible{
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
    0px 0px 21px rgba(205, 193, 255, 0.2),
    0px 0px 12px rgba(205, 193, 255, 0.2),
    0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
    0px 0px 2px rgba(205, 193, 255, 0.2);  
}
.percentage_input {
    /* padding: 15px 0px;  */
    /* appearance: none;  */
    width: 100%;

    cursor: pointer;

    background: transparent;
}
input[type='range'] {
    width: 100%; /* Specific width is required for Firefox. */
    height: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: var(--title-gradient); /* Otherwise white in Chrome */

    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

.explanation_button{
    background: transparent;
    outline: none;
    border: none;
}

.explanation_button:focus-visible{
    outline: 1px solid var(--text1)
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-ms-track {
    width: 100%;
    border-radius: 10px;

    cursor: pointer;

    color: transparent;
    border-color: transparent;
    outline: none;
    border: none;
    background: transparent;
    border-radius: 10px;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
    background: var(--dark2);
    width: 20px;
    height: 35px;
    margin-top: -14px;
    cursor: pointer;

    border: 1px solid var(--accent5);
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    -webkit-appearance: none;
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 36px;

    cursor: pointer;

    border: 1px solid black;
    border-radius: 3px;
    background: white;
    box-shadow: var(--dark-box-shadow);
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
    width: 16px;
    height: 36px;

    cursor: pointer;

    border: 1px solid black;
    border-radius: 3px;
    background: white;
    box-shadow: var(--dark-box-shadow);
}

input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    border: var(--dark-border);
    border-radius: 10px;

    background: var(--title-gradient); /* Otherwise white in Chrome */

    box-shadow: var(--dark-box-shadow);
}

input[type='range']:focus::-webkit-slider-runnable-track {
    background: var(--title-gradient); /* Otherwise white in Chrome */
    border-radius: 10px;
}

input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    border: var(--dark-border);
    border-radius: 1.3px;
    background: var(--title-gradient); /* Otherwise white in Chrome */

    box-shadow: var(--dark-box-shadow);
}

input[type='range']::-ms-track {
    width: 100%;
    height: 8.4px;

    cursor: pointer;

    color: transparent;
    border-width: 16px 0;
    border-color: transparent;
    background: transparent;
}
input[type='range']::-ms-fill-lower {
    border: var(--dark-border);
    border-radius: 10px;

    background: var(--title-gradient); /* Otherwise white in Chrome */

    box-shadow: var(--dark-box-shadow);
}
input[type='range']:focus::-ms-fill-lower {
    background: var(--dark2);
}
input[type='range']::-ms-fill-upper {
    /* border: var(--dark-border); */
    border-radius: 10px;

    background: var(--title-gradient); /* Otherwise white in Chrome */

    box-shadow: var(--dark-box-shadow);
}
input[type='range']:focus::-ms-fill-upper {
    background: var(--title-gradient); /* Otherwise white in Chrome */
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(131, 119, 220, 0.3);
        border-radius: var(--border-radius);
    }
    /* 50% {
    box-shadow: 0 0 0 6px rgba(131, 119, 220, 0.5);
    border-radius: var(--border-radius);
  } */
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
        border-radius: var(--border-radius);
    }
}
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 7px rgb(144, 132, 216), 0 0 10px rgb(86, 153, 212),
            0 0 21px rgb(83, 157, 222), 0 0 42px rgb(40, 160, 179),
            0 0 82px rgb(84, 91, 220), 0 0 92px rgb(67, 99, 175),
            0 0 102px rgb(75, 67, 213), 0 0 151px rgb(61, 108, 207);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.pulse_animation {
    animation: flicker 2s 3 alternate;
    text-shadow: 0 0 7px rgb(144, 132, 216), 0 0 10px rgb(86, 153, 212),
        0 0 21px rgb(83, 157, 222), 0 0 42px rgb(40, 160, 179),
        0 0 82px rgb(84, 91, 220), 0 0 92px rgb(67, 99, 175),
        0 0 102px rgb(75, 67, 213), 0 0 151px rgb(61, 108, 207);
}
