

.mainContainer {
    width: 100%;
    background: var(--dark2);
    box-shadow: 100px 100px 100px 50px rgba(0, 0, 0, 0.25);

    align-items: center;
    flex-direction: column;

    position: fixed;
    bottom: 56px;

    z-index: 9999999999999999999;

    font-size: 12px;
    border-top: 1px solid var(--text3);
    word-break: break-word;
    overflow-wrap: break-word;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.closeButton {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mainContent {
    padding: 1rem 8px;
}
