
.token_container{
   
    border: 1px solid var(--dark3);
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.token_container_active{
    background: var(--dark3);

}
.token_container img{
width: 25px;
height: 25px;
border-radius: 50%;
}

/* token row container */
.token_rows_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
   
} 