.gradient_text {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* order table */

.color_white {
    color: var(--text-grey-white);
}

.base_color {
    color: var(--text-grey-light);
}
.order_sell {
    color: var(--accent-secondary);
}

.order_buy {
    color: #7371fc;
}

/* transactions */
.add_style {
    color: var(--accent-5);
}
.claim_style,
.remove_style {
    color: #5fa2ff;
}
.buy_style {
    color: var(--text-highlight);
}
.sell_style {
    color: var(--accent-secondary);
}

/* apy */

.apy_positive {
    /* apr/green */

    /* background: linear-gradient(90deg, #15be6f 32.38%, #8fe9bf 51.39%, #15be6f 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75); */

    color: var(--text-grey-light);
    font-family: monospace;
}

.apy_negative {
    /* apr/green */

    /* background: linear-gradient(90deg, #be4515 32.38%, #de5a2e 51.39%, #be5315 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75); */

    color: var(--text-grey-light);
    font-family: monospace;
}

/* sort */

.active_sort {
    background: var(--dark2);
}
