.gradient_text {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* order table */

.color_white {
    color: var(--text1);
}

.base_color {
    color: var(--text1);
}

.username_base_color {
    color: var(--text1);
    font-family: monospace;
}

.order_sell {
    color: var(--accent2);
}
.owned_tx_contrast {
    color: var(--accent2);
}

.order_buy {
    color: var(--accent1);
}

/* transactions */
.add_style {
    color: var(--accent3);
    border-color: var(--accent3) !important;
}
.claim_style,
.remove_style {
    color: var(--accent4);
    border-color: var(--accent4) !important;
}
.buy_style {
    color: var(--accent1);
    border-color: var(--accent1) !important;
}
.sell_style {
    color: var(--accent2);
    border-color: var(--accent2) !important;
}

/* apy */

.apy_positive {
    color: var(--text1);
}

.apy_negative {
    color: var(--text1);
}

/* sort */

.active_sort {
    background: var(--dark2);
}

.emoji-picker-react .emoji-group:before,
.emoji-picker-react input.emoji-search {
    color: var(--text2) !important;
    background: var(--dark2) !important;
}

aside.emoji-picker-react {
    background: var(--dark2) !important;
    box-shadow: 0 5px 10px var(--dark1) !important;
    border: 1px solid var(--border) !important;
}

.emoji-picker-react .emoji-categories button {
    filter: invert(100%);
}

.MuiTooltip-popper {
    z-index: 9999999 !important;
}

.introjs-tooltip {
    background: var(--dark2) !important;
    /* background: white !important; */
}
.introjs-tooltip-header {
    color: var(--text1);
    /* color: black; */
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
}
.introjs-tooltip-title {
    color: var(--text2) !important;
    /* color: black !important; */
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}
.introjs-button {
    background: var(--dark2) !important;

    outline: none !important;
    border: none !important;
    color: var(--text2) !important;
    text-shadow: none !important;
    transition: all var(--animation-speed) ease-in-out !important;
    padding: 0 1rem !important;
}
.introjs-tooltipbuttons a {
    /* font-size: 1.2rem; */
    color: var(--accent5);
    /* font-weight: 700; */
}

.introjs-button:hover {
    color: var(--text1) !important;
    border: none !important;
    outline: none !important;
}
.introjs-tooltipbuttons {
    position: fixed;
    right: 51.14px;
    bottom: 48px;
    padding: 4px 16px !important;

    box-shadow: 0px 0px 100px rgba(205, 193, 255, 0.3),
        0px 0px 60px rgba(205, 193, 255, 0.3),
        0px 0px 20px rgba(205, 193, 255, 0.3),
        0px 0px 12px rgba(205, 193, 255, 0.3),
        0px 0px 6px rgba(205, 193, 255, 0.3),
        0px 0px 3px rgba(205, 193, 255, 0.3);
    border-radius: 4px;
}


.MuiPaginationItem-root{
    color: var(--text2) !important;
    outline: 1px solid transparent !important
}

.Mui-selected.MuiPaginationItem-root {
    color: var(--text1) !important;
    background: var(--dark3) !important
   
}
