.gradient_text{
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* order table */

.color_white{
  color: var(--text-grey-white)
}

.base_color {
  color: rgba(235, 235, 255, 0.4);
}
.order_sell{
   color:  #E480FF
}

.order_buy{
  color:  #7371FC  
}

/* transactions */
.add_style{
 color: #5FFFF2
}
.remove_style{
  color: #5FA2FF;
}
.buy_style{
  color: #7371FC
}
.sell_style{
  color: #E480FF;
}

/* apy */

.apy_positive {
  /* apr/green */

  background: linear-gradient(90deg, #15be6f 32.38%, #8fe9bf 51.39%, #15be6f 68.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}

.apy_negative {
  /* apr/green */

  background: linear-gradient(90deg, #be4515 32.38%, #de5a2e 51.39%, #be5315 68.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75);
}

/* sort */

.active_sort{
  background: #12171f;
}