


.comment_card_wrapper{
    margin-top: .6rem;
    padding-top: .6rem;
    position: relative;
    border-top: 1px solid rgba(255,255,255, .1);
    }
    
  

    .comment_card_wrapper:first-child{
        border-top: none;
    }

    .comment_card_wrapper.basic_card{
        border: none;
        margin: 0;
        padding: .2rem 0;
    }
    .comment_card_wrapper:last-child{
        border-bottom: 1px solid rgba(255,255,255, .1);
        padding-bottom: .4rem;
    }


.comment_top_info{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: .5rem;
    text-align: center;
    opacity: .3;
    
}
.comment_sender_info{
    color: var(--accent1);
    margin-bottom: .3rem;
}

.comment_sender_info.is_user{

    color: var(--orange);
}

.comment_text{
    
    max-width: 80%;
    overflow-wrap: break-word;
    white-space: normal;
}

.comment_bottom_info{
    position: absolute;
    bottom: .3rem;
    right: .5rem;
    font-size: .8rem;
    opacity: .3;
}

.comment_content_token{
    margin-right: .2rem;
}

.link_token{
    color: var(--accent1);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}