@keyframes kf_comment_card_anim {
    from {
        opacity: 0;
        /* margin-left: 100%; */
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes kf_comment_bottom_info_anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.comment_card_wrapper {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    opacity: 0;
    animation: kf_comment_card_anim 0.5s ease-in-out 1 forwards;
    width: 100%;
}

.comment_card_wrapper.unread {
    background: color-mix(in srgb, var(--accent1) 5%, transparent);
}

.comment_card_wrapper:first-child {
    border-top: none;
}

.comment_card_wrapper.basic_card {
    border: none;
    margin: 0;
    padding: 0;
}
.comment_card_wrapper:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 0.4rem;
}

.comment_top_info {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
    color: var(--text3);
}
.comment_sender_info {
    color: var(--accent1);
    margin-bottom: 0rem;
    cursor: pointer;
}

.comment_sender_info.is_user {
    color: var(--orange);
}

.comment_text {
    max-width: 80%;
    overflow-wrap: break-word;
    white-space: normal;
    color: var(--text2);
}

.comment_bottom_info {
    position: absolute;
    bottom: 0.25rem;
    right: 0.5rem;
    font-size: 0.8rem;
    color: var(--text3);
    animation: kf_comment_bottom_info_anim 0.9s ease-in-out 1 forwards;
}

.comment_content_token {
    margin-right: 0.2rem;
}

.link_token {
    color: var(--accent1);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
