
    .bottom {
        border-top: 1px solid var(--dark3, #1E1E24);
        background: var(--dark1, #06060C);
        min-height: 300px;
        position: absolute;
        bottom: -300px; 
        display: flex;
        width: 100%;
        padding: 8px 16px 16px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
     
