.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.container svg:hover {
    cursor: default;
}
.label{
    font-size: var(--body-size);
    color: #5C6F72;
    text-transform: uppercase;
    padding: 0 8px;
    padding-top: 4px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(
        90deg,
        rgba(7, 7, 7, 0.1) 25%,
        rgba(52, 45, 45, 0.2) 50%,
        rgba(55, 53, 53, 0.1) 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite; */
}

.scatterAxis :hover {
    color: var(--accent1);
}

.chartHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    overflow: hidden;
}
.content svg {
    width: 100%;
    height: 100%;
}
@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
