/* follow card  */

.follow_card_container {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: 50px auto auto;
    gap: 4px;
}

.follow_card_container .name_display {
    display: flex;
    flex-direction: column;
}

.follow_card_container .name_display h3 {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text-grey-white);
}

.follow_card_container .name_display h3 span {
    font-size: 12px;
    color: var(--text-grey-dark);
    background: var(--dark2);
    padding: 4px;
    border-radius: 4px;
}
.follow_card_container .name_display p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
}

.follow_card_container .button_container {
    display: flex;
    justify-content: flex-end;
    padding: 0 8px;
}

.follow_card_container button {
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    padding: 0 8px;

    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    outline: none;
    border: none;

    /* padding: 5px 8px; */
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;

    border-radius: 50px;
    transition: all var(--animation-speed) ease-in-out;
}

.button_following {
    background: var(--title-gradient);
}

.button_following:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #cdc1ff,
        0px 0px 2px rgba(205, 193, 255, 0.2);

    box-shadow: 0px 15px 20px rgba(77, 6, 112, 0.4);
    transform: translateY(-3px);
}

.button_not_following {
    background: transparent;

    color: var(--text-grey-dark);

    transition: all var(--animation-speed) ease-in-out;
    background: linear-gradient(
        270deg,
        #7371fc,
        #cdc1ff,
        #7371fc,
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 100% 300%;
    text-decoration: none;
    border: 1px solid var(--text-highlight);
}

.button_not_following:hover {
    color: var(--text-grey-dark);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
    box-shadow: 0px 15px 20px rgba(77, 6, 112, 0.4);
}

/* ----------------------- */

.main_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.followers_display_container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab_header ul {
    display: flex;
    width: 100%;
}

.tab_header ul li {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 12px 15px;
    position: relative;
    background: var(--dark2);
    color: var(--text-grey-white);
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--text-highlight);
}

.header_active {
    background: var(--dark2);
}
