.container {
    padding: 8px;

    position: absolute;
    top: 56px;
    z-index: 999;
    background: var(--dark1);
    border-radius: 16px;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    /* justify-content: space-between; */

    height: calc(100dvh - 114px);

    background: rgba(18, 18, 26, 0.88);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.18);

    /* trial*/
}

.navigationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.navIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 8px;
}

.navIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--dark3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.userContentContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.linksContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actionsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    bottom: 0;
    z-index: 9;
}
.actionsContainer a:hover,
.actionsContainer a:focus-visible {
    color: var(--text-grey-white);
}

.accountLink {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: var(--border-radius);

    background: var(--dark3);
    text-decoration: none;
    color: var(--text2);
}
