.income_message {
    /* Type=Tagged */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-end;
padding: 8px 14px 8px;
gap: 7px;

width: 100%;
height: 100%;

/* dark/tertiary */

/* background: #242F3F; */
/* accent/primary */

/* border-left: 1px solid #7371FC; */
border-radius: 0px 0px 4px 4px;

/* Inside auto layout */



flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.avatar_image {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
    flex-grow: 1;
    align-self: flex-end;
    margin-bottom: 8px;
    flex-grow: 2;


}

.message {

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #EBEBFF;
    white-space: pre-line;
    align-self: stretch;
    padding: 9px 4px 0px;
    margin-left: 5px;
    word-break: break-word;
    white-space: normal;


}


.mention_message {

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #7371FC;
    white-space: pre-line;
    align-self: stretch;
    padding: 9px 4px 0px;
    margin-left: 5px;
    word-break: break-word;
    white-space: normal;


}

.name {
    width: 82px;
    height: 14px;

    /* small */

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: calc(1vw - 5px);
    line-height: 16px;
    display: flex;
    align-items: center;

    /* accent/secondary */

    color: #E480FF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 5px
}

.message_body {
    flex-grow: 5 !important;
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 53%;
    padding: -2px 0px 27px;
}

.message_message {
    
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 53%;
    flex-grow: 3;
    
}

.message_date {
    width: 50px;
    height: 14px;

    /* extra small */

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: calc(1vw - 8px);
    line-height: 12px;
    align-self: flex-end;

    /* text/grey dark */

    color: rgba(235, 235, 255, 0.25);

    /* Inside auto layout */
    order: 0;
    display: flex;
    flex-direction: row;
    

}

.income_message p {
    word-break: break-all;
}

.message_row{
    display: flex;
    flex-direction: row;
}
img,
picture {
    max-width: 100%;
} 