.container {
    /* background: var(--dark1); */
    margin-top: 3rem;
    background: var(--dark1);

    border-radius: 4px;
    width: 100%;
    padding: 8px 0;
    margin: 0 8px;
    height: 100%;

    overflow-y: hidden;
}

.container::-webkit-scrollbar,
.main_result_container::-webkit-scrollbar {
    display: none;
}

.search_input_container {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

/* individual search results */

.main_result_container {
    margin: 10px 0;

    max-height: 100px;
    overflow-y: scroll;
}
.card_container,
.header {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
    padding: 5px;
}

.card_container div,
.header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 5px 0;

    border-bottom: 1px solid var(--dark2);
    color: var(--text3);
}

.card_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--accent5);
}

.search_result_title {
    margin: 10px 0;
    color: var(--accent5);
    color: var(--text3);
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: center;
}

.not_found_text {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text2);
    padding: 0 2rem;
}
