.mainContainer{
    background: var(--dark1)
}
.mainContent {
    width: 100%;
    padding: 8px;
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) 100px;
    align-items: center;
}

.tempestDisplay {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark2);
}

.tempestDisplay img {
    max-width: 100%;
    max-height: 100%;
}
.poolName {
    color: var(--text1, #f0f0f8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* large */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.48px;
    text-align: end;
}
.tvlDisplay {
    color: var(--text1, #f0f0f8);
    text-align: end;

    /* medium */
    font-family: 'Lexend Deca';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.36px;
}

.apyDisplay {
    text-align: right;

    /* medium */
    font-family: 'Lexend Deca';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.36px;
}

.actionButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
   
}
.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 50px;
    border: 1px solid var(--accent1, #7371fc);
    background: var(--dark1, #06060c);
    color: var(--accent-accent1, #7371FC);
text-align: center;

/* small */
font-family: "Lexend Deca";
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
height: 25px;
}


@media only screen and (max-width: 768px) {

.mainContent{
    grid-template-columns: auto repeat(2, 1fr)  50px 100px;
}
.poolName{
    display: none;
}

.tvlDisplay, .apyDisplay, .depositContainer{
    font-size: 14px;
}
}

@media only screen and (max-width: 428px) {
.mainContent{
    grid-template-columns: auto repeat(2, 1fr)  50px 70px;
}

.tempestDisplay{
    display: none;
}


}