.main_container {
    /* margin: 3rem 0; */
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    height: 40px;
    outline: 3px solid aquamarine;
}

.row_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.row_container section {
    flex: 0.4 0;
    /* flex-flow: column; */
    align-items: center;
    padding: 2px 8px;
    /* font-size: 10px; */
}

.menu_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.active_position_style {
    background: rgba(32, 7, 7, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    animation: all var(--animation-speed) ease-in-out;
}
/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
    .main_container {
        grid-template-columns: auto 100px;
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container {
        grid-template-columns: auto 50px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .main_container {
        grid-template-columns: auto 250px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .main_container {
        grid-template-columns: 1fr 0.6fr;
    }
}
