.main_container {
    /* margin: 3rem 0; */
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    height: 40px;
    cursor: pointer;
}
.tokens_container {
    display: none;
}
.row_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.feeTierHide {
    color: rgba(235, 235, 255, 0.4);

    display: none;
}

.row_container section {
    flex: 0.17 0;
    /* flex-flow: column; */
    align-items: center;
    padding: 2px 8px;
    /* font-size: 10px; */
}

.menu_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.display {
    color: rgba(235, 235, 255, 0.4);
}

.trade_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.25rem;
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    height: 23px;
    padding: 5px 8px;
    text-decoration: none;

    z-index: 1;
    background: #0d1117;
    border: 1px solid #242f3f;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;
    cursor: pointer;
}

.star_svg {
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
}

.star_svg:hover {
    fill: var(--text-grey-light);
    cursor: pointer;
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .display {
        font-size: 10px;
        line-height: 13px;
    }

    .feeTierHide {
        display: none;
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 1200px) {
    .display {
        display: flex;
        font-size: 12px;
        line-height: 16px;
    }
    .feeTierHide {
        display: flex;
        font-size: 12px;
        line-height: 16px;
    }
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 580px) {
    .tokens_container {
        display: flex;
    }
    .main_container {
        grid-template-columns: 50px 50px auto;
        /* background: red; */
    }
    .fav_button svg {
        width: 15px;
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container {
        grid-template-columns: 50px 100px auto;
        /* background: blue; */
    }

    .fav_button svg {
        width: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
    .main_container {
        grid-template-columns: 100px 100px auto;
    }
    .fav_button svg {
        width: 20px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    .main_container {
        grid-template-columns: 100px 100px 0.99fr;
    }
    .fav_button svg {
        width: 20px;
    }
}
