.tab_active {
    color: #7371fc;
    position: relative;
    border-bottom: 1px solid #7371fc;
    transition: all var(--animation-speed) ease-in-out;
    font-size: 14px;
    line-height: 18px;
    /* background: var(--dark2); */
}

.tab_list {
    position: relative;
    min-width: 6.875rem;
    min-height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    position: relative;

    /* gradient/start */
}
.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #7371fc;
}

.tab_list:hover {
    color: #7371fc;
}
.tab_list::after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    background: #7371fc;
    bottom: -0.1px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform: scale(1, 1);
    transition: opacity var(--animation-speed) ease-in-out;
    opacity: 0;
}
/* 
.active::after{
    opacity: 1;
} */

.tab_list:hover:after {
    opacity: 1;
}
