/* .analytics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.analytics_container {
    /* min-height: 86vh; */
    padding: 2rem;
    background: var(--dark3);

    height: calc(100vh - 4rem);
    overflow-y: scroll;
    

}
