/* .analytics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.analytics_container{
    /* min-height: 86vh; */
 height: calc(100vh - 3.5rem); 
    padding: 2rem;
    background: var(--dark3);
}

