/* .analytics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.analytics_container {
    padding: 2rem;
    background: var(--dark3);
  

}
