.minMax_container {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.sign {
    cursor: pointer;

    outline: none;
    border: none;
    background: transparent;
}

.sign:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.title,
.percentage {
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 5px;
}

.percentage {
    color: var(--accent5);
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.price_input_container {
    display: grid;
    grid-template-columns: 18px 1fr 18px;
    color: var(--text1);
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    background: var(--dark2);
    border-radius: var(--border-radius);
    padding: 0.8rem 5px;
}

.price_quantity {
    /* position: relative; */
    overflow: hidden;
    width: 100%;
    padding: 0;
    color: var(--text1);
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1 1 auto;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.currency_quantity::placeholder {
    color: var(--text3);
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(131, 119, 220, 0.8);
        border-radius: var(--border-radius);
    }
    /* 50% {
    box-shadow: 0 0 0 6px rgba(131, 119, 220, 0.5);
    border-radius: var(--border-radius);
  } */
    100% {
        box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
        border-radius: var(--border-radius);
    }
}

.pulse_animation {
    animation: shadow-pulse 1s 6;
}
