.main_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.optimize_liquidity_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 0 1rem;
}

.total_display {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.total_display .row {
    font-size: var(--body-size);
    line-height: var(--body-lh);
}
.total_display .row span {
    color: var(--text1);
}
.total_display .row .p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.total_display .row button {
    outline: none;
    border: none;
    color: var(--accent5);
    background: transparent;
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* TOKEN AND liquidity */
.token_liquidity_container {
    padding: 1rem;
    background: var(--dark2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.token_liquidity_content {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
}
.token_liquidity_content .token {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--dark2);
    padding: 0.3rem;
    border-radius: 4px;
}
.token_liquidity_content .token img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.token_liquidity_content .token p {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}
.token_liquidity_content .liquidity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem;
    gap: 4px;
}
.token_liquidity_content .liquidity input {
    outline: none;
    border: none;
    text-align: end;
    background: transparent;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
}

.balance {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
