.row_container section{
    flex: 0.4 0;
    /* flex-flow: column; */
    align-items: center;
    padding: 2px 8px;
    /* font-size: 10px; */
}
.column_account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account_sing{
    display: none;
}
.column_account p, .account_sing{
    font-family: var(--roboto);
    color: rgba(235, 235, 255, 0.4);
 
  
}
.column_account p{
    font-size: 10px;
line-height: 13px;
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

   
    .column_account{
        display: none;
        /* background: red; */
    }
    
    .account_sing{
        display: flex;
    }
    .account_sing{
        font-size: 12px;
        line-height: 16px;  
    }

    
    
    }
