.container {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text-grey-light);
    cursor: pointer;
    padding: 5px;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--animation-speed) ease-in-out
}

.container:hover, .container:focus-visible{
    background: var(--dark3);
}

.container:focus-visible{
    border-left: 1px solid var(--text-grey-white);
    border-right: 1px solid var(--text-grey-white);

}
