.skeleton {
    background: var(--dark2);
    margin: 10px 0;
    border-radius: 4px;
}

.skeleton.text {
    width: 100%;
    height: 30px;
}
.skeleton.full {
    width: 100%;
    height: 100%;
}
.skeleton.title {
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}
.skeleton.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skeleton_circle_style {
    border-radius: 50%;
}
.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}
.skeleton-wrapper {
    margin: 20px auto;
    padding: 10px 15px;
    position: relative;
    overflow: hidden;
}

/* shimmer animation effects */

.shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
}
.shimmer {
    width: 50%;
    height: 100%;
    background: var(--shimmer);

    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(150%);
    }
}
