.sidebar {
    position: fixed;
    background-color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out;

    overflow: scroll;
    padding: 0 4px;

    z-index: 9999;
}

.sidebar::-webkit-scrollbar {
    width: 0.25rem;
}
.sidebar_link_search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sidebar::-webkit-scrollbar-track {
    background: var(--dark2);
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--accent1);
}

.sidebar_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: center;
    /* height: calc(100% - 4rem); */
}

.sidebar_item {
    width: 100%;
}

.close_icon {
    display: flex;
}
.bottom_elements {
    margin-top: auto;
    width: 100%;
    border-top: 1px solid var(--border);
}

.sidebar_link {
    display: flex;

    align-items: center;
    height: 28px;
    border-bottom: 1px solid var(--border);
    /* padding: 4px 0; */

    cursor: pointer;
}

.align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}
.sidebar_link:first-of-type {
    margin-top: 4px;
}

.open_link {
    color: var(--text2);
    width: 20px;

    transform: rotate(90deg);
    transition: var(--animation-speed);
}

.sidebar_link:hover svg {
    color: white;
    cursor: pointer;
    max-width: 15px;
}

.sidebar_item {
    transition: all var(--animation-speed) ease-in-out;
}

.sidebar_item:hover {
    background: var(--dark1);
    color: var(--text1);
}

.toggle_sidebar_icon {
    padding: 0;
    max-height: 2rem;
    transition: all var(--animation-speed) ease-out;
}

.search_result {
    width: 100%;
    background: var(--dark1);
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: px 0;
}

.link_text {
    color: var(--accent5);
    transition: all var(--animation-speed) ease-in-out;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    display: none;
    margin-left: 1rem;
}

.sidebar_link:hover > .link_text {
    color: var(--text1);
}

.sidebar_link svg {
    width: 2rem;
    min-width: 2rem;
}

.accordion_container {
    width: 100%;
}

.open_all_button {
    cursor: pointer;
    background: var(--dark1);
    border: none;
    outline: none;
    color: var(--text1);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.connect_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.connect_button p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.connect_button button {
    cursor: pointer;
    background: var(--title-gradient);
    border: none;
    outline: none;
    color: var(--dark2);
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    border-radius: var(--border-radius);
    width: 155px;
    height: 25px;
    transition: box-shadow var(--animation-speed) ease-in-out;
}

.connect_button button:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

/* SEARCH CONTAINER */

.search_container {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;

    padding: 10px;
}

.search_container input:-webkit-autofill {
    background: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--dark2) inset !important;
    -webkit-text-fill-color: var(--text1) !important;
}
.search__box {
    width: 0;
    background: transparent;
    color: white;
    outline: none;
    border: none;
    opacity: 1;
    transition: all var(--animation-speed) ease-in;
    cursor: pointer;
}

.search__icon {
    box-sizing: border-box;

    margin-top: 0;
    cursor: pointer;
    color: #fa983a;
    transition: all var(--animation-speed) ease-in;
}

/* END OF SEARCH CONTAINER */

/* Large screens */
/* THIS CODE WAS ORIGINALLY FOR DESKTOP DEVICES ONLY */
/* @media only screen and (min-width: 500px) { */
.sidebar {
    top: 0;
    width: 1.938rem;
    height: 100vh;
    margin-top: 56px;
    border-top: 1px solid var(--dark2);
    padding-top: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
}

.sidebar_active {
    width: 296px;
    padding-top: 4px;
    border-top: 1px solid var(--dark2);
}

.sidebar_active .search_container {
    background-color: var(--dark2);
    border-radius: var(--border-radius);
    height: 28px;
}
.sidebar_active .search__box {
    width: 100%;
    padding: 0 1rem;
}

.sidebar_active .search__icon {
    display: flex;

    justify-content: center;
    align-items: center;
}

.sidebar_active .link_text {
    display: inline;
}

.sidebar:hover .search_container {
    background-color: var(--dark2);
}

.search_container:hover .search__icon {
    /* transform: scale(1.03); */
    transition: all var(--animation-speed) ease-in-out;
}

.sidebar_nav {
    height: calc(100% - 56px);
}
.main_search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.sidebar_active .search_container {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sidebar_item_content {
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    .sidebar_active {
        box-shadow: 20px 20px 65px #0b0e13, -20px -20px 65px #0f141b;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar_nav {
        height: auto;
    }
}
