.sidebar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 
}

.sidebar {
    background-color: var(--dark1);
    transition: all var(--animation-speed) ease-in-out;

    overflow: hidden;
    padding: 0 4px;
    z-index: 9999;
}

.sidebar::-webkit-scrollbar {
    width: 0.25rem;
}
.sidebar_link_search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sidebar_link_search_closed {
    padding-bottom: 4px;
    border-bottom: 1px solid var(--dark3);
}
.sidebar::-webkit-scrollbar-track {
    background: var(--dark2);
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--accent1);
}

.sidebar_nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar_content_container {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.sidebar_content_container > div {
    flex-shrink: 1;
    overflow: hidden;
}

.sidebar_item {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid var(--dark3);
}

.close_icon {
    display: flex;
    cursor: pointer;
}
.bottom_elements {
    margin: auto;
    width: 100%;
    flex: 1;
    border-top: 1px solid var(--dark3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom_elements > div {
    flex: 1;
    flex-basis: 0;
}

.sidebar_link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.align_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.open_link {
    color: var(--text2);
    width: 20px;

    transform: rotate(90deg);
    transition: var(--animation-speed);
}

.sidebar_link:hover svg {
    color: white;
    cursor: pointer;
    max-width: 15px;
}

.sidebar_item {
    transition: all var(--animation-speed) ease-in-out;
}

.sidebar_item:hover {
    background: var(--dark1);
    color: var(--text1);
}

.toggle_sidebar_icon {
    padding: 0;
    max-height: 2rem;
    transition: all var(--animation-speed) ease-out;
}

.search_result {
    width: 100%;
    background: var(--dark1);
    display: flex;
    flex-direction: column;
    gap: 4px;

    margin: px 0;
}

.link_text {
    color: var(--accent5);
    transition: all var(--animation-speed) ease-in-out;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    display: none;
    margin-left: 10px;

    white-space: nowrap;
    overflow: hidden;
}

.sidebar_link:hover > .link_text {
    color: var(--text1);
}

.sidebar_link svg {
    width: 2rem;
    min-width: 2rem;
}

.accordion_container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.accordion_content {
    overflow: hidden;
}

.open_all_button {
    cursor: pointer;
    background: var(--dark3);
    border: none;
    outline: none;
    color: var(--text1);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.connect_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    padding: 6px 0;
    max-height: 60px;
    overflow: hidden;
    white-space: nowrap;
}

.connect_button p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

/* SEARCH CONTAINER */

.search_container {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;

    padding: 10px;
}

.search_container input:-webkit-autofill {
    background: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--dark2) inset !important;
    -webkit-text-fill-color: var(--text1) !important;
}
.search__box {
    width: 0;
    background: transparent;
    color: var(--text1);
    outline: none;
    border: none;
    opacity: 1;
    transition: all var(--animation-speed) ease-in;
    cursor: normal;
}

.search__icon {
    box-sizing: border-box;

    margin-top: 0;
    cursor: default;
    color: #fa983a;
    transition: all var(--animation-speed) ease-in;
}

/* END OF SEARCH CONTAINER */

/* Large screens */
/* THIS CODE WAS ORIGINALLY FOR DESKTOP DEVICES ONLY */
/* @media only screen and (min-width: 500px) { */
.sidebar {
    width: 32px;
    height: calc(100vh - 56px);
    border-top: 1px solid var(--dark2);
    padding-top: 4px;
    padding-bottom: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: transparent;
}

.sidebar_active {
    width: 296px;
    padding-top: 4px;
    border-top: 1px solid var(--dark2);
}

.sidebar_active .search_container {
    background-color: var(--dark2);
    border-radius: var(--border-radius);
    height: 28px;
}
.sidebar_active .search__box {
    width: 100%;
    padding: 0 1rem;
}

.sidebar_active .search__icon {
    display: flex;

    justify-content: center;
    align-items: center;
}

.sidebar_active .link_text {
    display: inline;
}

.sidebar:hover .search_container {
    background-color: var(--dark2);
}

.search_container:hover .search__icon {
    /* transform: scale(1.03); */
    transition: all var(--animation-speed) ease-in-out;
}

.sidebar_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main_search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.sidebar_active .search_container {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 4px;
}

@media only screen and (max-width: 1279px) {
    .sidebar_active {
        box-shadow: 20px 20px 65px #0b0e13, -20px -20px 65px #0f141b;
    }

    .sidebar {
        position: fixed;
        top: 56px;
        left: 0;
    }
}

@media only screen and (max-width: 600px) {
    .sidebar_content_container {
        overflow: auto;
    }
    .sidebar_content_container > div {
        flex-shrink: 0;
        overflow-y: auto;
    }
}
