.main_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 0 4px;
    margin: 4px 0;

 
}