.resizable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    --width-for-scrollbar: 8px;
    border: var(--futa-box-border);
}
.searchable_ticker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 8px 8px 8px;
    gap: 8px;
}

.mobileContainer {
    padding: 8px 16px;
    height: var(--content-height-mobile);
}

.desktopContainer {
    padding: 0px 16px;
    color: var(--accent1);
}

.consoleChartComponent {
    display: flex;
    flex: 1;
}

.auctionChartContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.auctionsTickerContainer {
    height: 100%;
    display: grid;
    gap: 1rem;
}
.label{
    font-size: var(--body-size);
    color: #5C6F72;
    text-transform: uppercase;
    padding: 0 8px;
}
@media screen and (max-width: 768px) {
    /* .resizable {
        
        border: none;
        
    } */

}



.tabletPortraitColumn{
  height: calc(100svh - 64px);  
  width: calc(100% - 16px);
  gap: 16px;
  display: grid;
  grid-template-rows: 76% 24%;
  margin: 0 auto;
}

.tabletPortraitColumn .flexColumn{
    overflow-y: scroll;
}


.tabletPortraitRow{
    display: grid;
    grid-template-columns: 55% 45%;
    /* width: calc(100svw - 64px) !important; */
    gap: 16px;
    padding: 0 8px;
    width: 100%;
    overflow-x: hidden;

 

    overflow-y: scroll;
    margin: 0 auto;
    
}

.auctions_search_wrapper{
    height: 100%;
}
