.notification_bell{
    display: flex;
    position: relative;
}
.bell_icon{
}

 .number{
font-size: 10px;
background: red;
position: absolute;

width: 15px;
height: 15px;

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
left: 10px;
}