/* wrapper to turn exchange balance element into dropdown*/
.exchange_balance_dropdown {
    border: none;
    transition: all var(--animation-speed) ease;
    z-index: 999;
    text-align: start;
}

@media only screen and (min-width: 768px) {
    .exchange_balance_dropdown {
        min-height: 510px;
        border-radius: var(--border-radius);
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
        background: var(--dark1);
        position: absolute;
        top: 68px;
        right: 5px;
        border: 1px solid var(--accent1);
    }
}
