

.apy p{
    font-size: 10px;
    line-height: 13px;
    font-weight: 200;
    letter-spacing: -0.02em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.apy_green p{
    background: linear-gradient(90deg, #15BE6F 32.38%, #8FE9BF 51.39%, #15BE6F 68.17%);

    text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75);
}

.apy_red p{
    background: linear-gradient(90deg, #be5e15 32.38%, #d58c1f 51.39%, #b55b11 68.17%);

    text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75);
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

.apy p{
    font-size: 12px;
        line-height: 16px; 
}
    
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

 .apy p{
    font-size: 18px;
line-height: 22px;
 }
  

}