.apr{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    
}

.align_center{
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.apr p {
    /* font-weight: 200; */

    font-weight: 100;
    letter-spacing: -0.02em;

   
}

.apr_green p {
    /* apr/green */

    background: linear-gradient(90deg, #15be6f 32.38%, #8fe9bf 51.39%, #15be6f 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* text-shadow: 0px 0px 10px rgba(21, 190, 111, 0.75); */
}

.apr_red p {
    /* apr/green */

    background: linear-gradient(90deg, #be4515 32.38%, #de5a2e 51.39%, #be5315 68.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    /* text-shadow: 0px 0px 10px rgba(190, 100, 21, 0.75); */
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .apr p {
        /* font-size: 12px;
        line-height: 16px; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .apr p {
        /* font-size: 18px;
        line-height: 22px; */
    }
}
