.dropdown_item{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: calc(50% - .5rem);
    transform: translateY(-100%);
    padding: 1rem;
}


@keyframes opaAnim {
    from   {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown_node{
    padding: .1rem .5rem;
    margin: .2rem 0;
    /* background-color: var(--accent1); */
    border-radius: .2rem;
    opacity: 0;
    animation: opaAnim .2s ease-in-out forwards;

    
   box-shadow: 0px 0px 0px 0px rgba(115,113,252,1);
   /* transform: scale(1.1); */
   font-weight: bold;
   background: rgb(56 77 106);
   transition: all .2s ease-in-out;
   cursor: pointer;
}

.dropdown_node:hover{
    
    box-shadow: 0px 0px 30px 0px rgba(115,113,252,1);
    background-color: var(--accent1);
}

.dropdown_node_label{
    font-size: .72rem;
    color: white;
    display: inline-block;
}

.dropdown_node_icon{
    display: inline-block;
    margin-right: .4rem;
}

.dropdown_node_icon svg{
    width: 1rem;
    height: 1rem;
    fill: white;
}