.separatorContainer {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 8px;
}
.dotsContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dot {
    width: 1px;
    height: 1px;
    background-color: rgb(66, 71, 74);
}
