.container,
.customWidthAuto {
    margin-right: auto;
    margin-left: auto;

    padding-right: 15 px;
    padding-left: 15 px;
}

.window {
    position: relative;
    /* margin-top: 50px; */

    color: var(--text2);
    border-radius: var(--border-radius);

    background-color: var(--dark1);
    background: var(--dark-gradient);
    /* background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
    /* box-shadow: 0px 0px 78px 4px rgba(4, 27, 49, 0.73); */

    padding: 1px;

    /* one line box shadow */
    /* transition: var(--animation-speed) ease;   */
}

.main_content {
    background-color: transparent;
    border-radius: var(--border-radius);
}

.swap_bg {
    background: var(--dark1);
}
.circle,
.circle2 {
    display: none;
}

.no_background {
    background: transparent;
    margin-top: 0;
}

/* .no_background:hover{
    -webkit-transform: scale(1);
    transform: scale(1)
  } */

.main_content:hover,
.main_content:focus-within {
    transition: all var(--animation-speed) ease-in-out;
}

.swap_route {
    background: var(--swap-border);
    padding: 1px;
    border-radius: var(--border-radius);
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */

    box-shadow: var(--swap-box-shadow);
}

/* media queries */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .customWidthAuto {
        max-width: 1240px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .customWidthAuto {
        max-width: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .customWidthAuto {
        max-width: auto;
    }


    .no_background:hover,
    .no_background:focus-within {
        /* -webkit-transform: scale(1, 1);
      transform: scale(1, 1); */
        box-shadow: none;
    }

  
}

@media (min-width: 1200px) {
    .container {
        max-width: 420px;
    }
    .swap_route {
        min-width: 430px;
        max-width: 440px;
    }
    .customWidth_container {
        max-width: 640px;
    }

    .customWidthAuto {
        max-width: auto;
    }
}

@media only screen and (max-width: 1200px) {
    .main_content {
        background-color: var(--dark1);

        /* width: 90%;
        margin: 0 auto; */
    }

    .swap_route,
    .no_background {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .main_content {
        overflow-y: scroll;

        max-height: 75vh;
    }

    .swap_route{
        background: transparent;
    }
    
    .swap_bg{
        background: var(--dark-gradient);

    }
}

