.color_toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 8px;
    padding: 4px;
    gap: 6px;
    outline: 1px solid yellow;
}

.toggle_area > header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.color_box {
    height: 100%;
    aspect-ratio: 1;
}
