.container {
    height: 100%;
    height: calc(100vh - 26.5rem);
}

.item_container {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px;
}

.item_container::-webkit-scrollbar {
    width: 1px;
    display: none;
}
