.rightLayout {
    padding: 0 8px;
}

.data_detail {
    display: flex;
    flex-direction: column;
    width: 390px;
    color: var(--text2);
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    gap: 8px;
}




.claimAllText {
    color: var(--text2, #939C9E);
text-align: center;

/* Mono 12 */
font-family: var(--mainFont, "Fira Mono");
font-size: var(--body-size, 12px);
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0 8px;
}

.extraFeeContainer {
    width: 100%;
    border: 1px solid var(--dark3, #1e1e24);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.justifyRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-size: var(--body-size);
    color: #5c6f72;
    text-transform: uppercase;
    padding: 0 8px;
    height: 23px;
    font-weight: 500;
}

.claim_btn {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--dark1);
    background-color: var(--accent1, #0ccdff);
    transition: all var(--animation-speed) ease-in-out;
    height: 32px;

    color: var(--dark1, #0D0F13);
text-align: center;

/* Mono 24 */
font-family: "Fira Mono";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.claim_btn:hover {
    background: var(--accent2);
    color: var(--dark1);
}

.claim_btn:disabled {
    background: var(--dark4);
    color: var(--text2);
    pointer-events: none;
}

@media (max-width: 780px) {
    .claimButton {
        margin: 5px 0;
    }
}
