.custom_tokens {
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom_tokens_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.query_error_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f6385b;
    font-style: italic;
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.custom_tokens_footer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    padding: 1rem 0;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.search_input {
    margin: 1rem 0;
    padding: 0 1rem;
}

.search_input input {
    width: 100%;
    background: var(--dark2);

    text-align: center;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 0.6rem 0;
    border-radius: var(--border-radius);
    border: none;

    outline: none;
}
.token_result_container,
.imported_token_container {
    margin: 1rem 0;
}

.imported_token_container {
    background: linear-gradient(var(--dark1) 33%, rgba(13, 17, 23, 0)),
        linear-gradient(rgba(13, 17, 23, 0), var(--dark1) 66%) 0 100%,
        radial-gradient(
            farthest-side at 50% 0,
            rgba(255, 255, 255, 0.5),
            rgba(0, 0, 0, 0)
        ),
        radial-gradient(
                farthest-side at 50% 100%,
                rgba(255, 255, 255, 0.5),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background-color: var(--dark1);
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 150px, 100% 150px, 100% 50px, 100% 50px;

    /* height: 400px; */
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px 0;
}

.imported_token_container::-webkit-scrollbar {
    display: none;
}
.token_result {
    padding: 0 2.3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.token_result button {
    cursor: pointer;
    text-align: center;

    background: transparent;
    padding: 2px 14px;

    color: #cdc1ff;
    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;
    background: linear-gradient(
        270deg,
        #7371fc,
        #cdc1ff,
        #7371fc,
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid #7371fc;

    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.token_result button:hover {
    color: var(--text-grey-white);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}
.token_info {
    display: grid;
    align-items: center;
    grid-template-columns: 100px auto;
}
.token_icon_key {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_name {
    color: rgba(235, 235, 255, 0.4);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    /* margin: 0 1rem; */
    /* display: flex;
    justify-content: flex-end; */
    text-align: end;
}

.symbol {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #ebebff;
}
.action_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.action_menu svg {
    color: #555555;

    color: #bdbdbd;
}
.action_menu svg:hover {
    color: #ffffff;
}
