.custom_tokens {
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom_tokens_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}

.query_error_text {
    color: red;
    font-style: italic;
}

.custom_tokens_footer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    padding: 1rem 0;
    color: var(--text-grey-light);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}