.token_list_container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.token_list_content {
    /* background: 
    linear-gradient(#0d1117 33%, rgba(13,17,23, 0)),
    linear-gradient(rgba(13,17,23, 0), #0d1117 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(13, 2, 134, 0.5), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(2, 2, 173, 0.5), rgba(0,0,0,0)) 0 100%; */
    background-color: var(--dark1);
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 81px, 100% 81px, 100% 27px, 100% 27px;
    /* height: 400px; */
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all var(--animation-speed)
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}
.token_list_content_container {
    position: relative;
}

.token_list_content::-webkit-scrollbar {
    display: none;
}

.search_input input {
    width: 100%;
    background: var(--dark2);

    text-align: center;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 1rem 0;
    border-radius: var(--border-radius);
    border: none;

    outline: none;
}
.search_input button {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark2);
    color: var(--text2);
    border: none;
    outline: none;
    transition: all var(--animation-speed) ease-in-out;
}
.search_input button:hover {
    color: var(--text1);
}

.header_container {
    width: 100%;

    margin-top: 1rem;
    padding: 0 2rem;
}
.header_content {
    background: var(--dark2);
    padding: 0.3rem 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: var(--border-radius);
}

.header_content div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    /* padding: 10px; */
    border-radius: var(--border-radius);

    transition: all var(--animation-speed) ease-in-out;
}

.active_button {
    background: var(--title-gradient);
    color: var(--text3);
}

.inactive_button {
    background: transparent;
}

.clear_all_button {
    color: var(--text2);
    cursor: pointer;
    background: linear-gradient(var(--accent1) 0 0) var(--p, 0) / var(--p, 0)
        no-repeat;
    transition: all var(--animation-speed) ease-in-out;
    padding: 0 5px;
}
.clear_all_button:hover {
    cursor: pointer;

    --p: 100%;
    color: var(--text1);
}
