.token_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.token_icon {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.token_card {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    align-items: center;
    height: 48px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
}

.token_card > * {
    /* outline: 2px solid red; */
}

.token_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.token_name > div {
    display: flex;
    flex-direction: column;
}

.token_key,
.amount {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text1);

    /* text-align: right; */
}

.value,
.amount {
    display: flex;
    justify-content: flex-end;
}

.address {
    font-family: var(--mono);
}
