
.account_pool_display {
    display: none;
    color: rgba(235, 235, 255, 0.4);
  
}



/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .account_pool_display {
        display: flex;
    
        font-size: 10px;
line-height: 13px; 
    }
    
    
    }

/* Desktop screen Sizes */
@media only screen and (min-width: 1200px) {
    .account_pool_display {
        display: flex;
    
        font-size: 12px;
        line-height: 16px;  
    }
    
    
    }
