.token_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.token_icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
}

.wallet_row {
    display: grid;
    color: white;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    height: 48px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
    padding: 0 4px;
    border-radius: var(--border-radius);
}

.wallet_row:hover{
    transition: all var(--animation-speed) ease-in-out;
    background: var(--dark2);
    cursor: pointer;
    
}

.token_key,
.amount {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text1);

    /* text-align: right; */
}

.value,
.amount {
    display: flex;
    justify-content: flex-end;
}
