.token_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    color: var(--text1);
}

.token_icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.wallet_row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    height: 48px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: rgba(235, 235, 255, 0.4);
    padding: 0 4px;
    border-radius: var(--border-radius);
}

.wallet_row:hover {
    transition: all var(--animation-speed) ease-in-out;
    background: var(--dark2);
    cursor: default;
}

.token_key,
.amount {
    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text1);
}

.value,
.amount {
    display: flex;
    justify-content: flex-end;
    color: var(--text1);
}

@media only screen and (min-width: 768px) {
    .token_info {
        width: 50%;
    }
}
