@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');

/* For simple theme change(special occasion), change portfolio and swap background. No need for a different color scheme*/
:root {
    --font-logo: 'Lexend Exa', sans-serif;
    --font-family: 'Lexend Deca', sans-serif;
    --roboto: 'Roboto Mono', monospace;
    --mono: monospace, 'Lexend Deca' sans-serif;
    --portfolio-banner: url('./assets/images/backgrounds/account_image.png')
        no-repeat center center;

    --title-gradient: linear-gradient(
        90deg,
        #7371fc 0%,
        #cdc1ff 49.48%,
        #7371fc 100%
    );
    --chart-gradient: linear-gradient(to right, #0f1623, #152332);

    --swap-box-shadow: none;
    --swap-border: var(--title-gradient);
    --text-highlight: #cdc1ff;
    --text-highlight-dark: #7371fc;

    --apr-gradient-primary: linear-gradient(
        90deg,
        #15be6f 0%,
        #8fe9bf 49.48%,
        #15be6f 100%
    );

    --apr-gradient-secondary: linear-gradient(
        90deg,
        #c7d80c 0%,
        #e0ea74 49.48%,
        #c7d80c 100%
    );

    /* font */
    --title-ts: 0px 0px 150px rgba(70, 183, 219, 0.5),
        0px 0px 100px rgba(70, 183, 219, 0.5),
        0px 0px 30px rgba(70, 183, 219, 0.5),
        0px 0px 20px rgba(70, 183, 219, 0.5),
        0px 0px 10px rgba(70, 183, 219, 0.5),
        0px 0px 3px rgba(70, 183, 219, 0.5);

    --header1-size: 24px;
    --header1-lh: 25px;

    --header2-size: 18px;
    --header2-lh: 22px;

    --header-size: 16px;
    --body-size: 12px;
    --body-lh: 15px;

    /* colors */
    --shimmer: linear-gradient(to right, #141e30, #243b55);
    --blur-bg: rgba(14, 19, 26, 0.5);
    --body-bg: #0e131a;
    --dark1: #0D1117;
    --dark2: #171D27;
    --dark3: #242F3F;
    --dark4: #141922;
    --accent1: #7371FC;
    --border: #171d27;
    --navbar-border: transparent;

    --select: #242f3f;

    --positive: #15be67;
    --negative: #f6385b;

    --text-grey-light: #bdbdbd;
    --text-grey-dark: #555555;
    --text-grey-white: #ebebff;
    --text1: #CECEE1;
    --text2: #8B8D97;
    --text3: #61646F;
    --text-accent: #cdc1ff;
    --light-blue: #cdc1ff;

    --accent-5: #5ffff2;
    --accent-secondary: #e480ff;

    /* border */
    --border-radius: 4px;
    /* animations */
    --animation-speed: 300ms;
    /* sizes */
    --footer-height: 24px;
}

[data-theme='light'] {
    --portfolio-banner: linear-gradient(to right, #f0f2f0, #000c40);

    --shimmer: linear-gradient(to right, #ece9e6, #ffffff);
    --blur-bg: #ebebed;
    --swap-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    --swap-border: none;

    --chart-gradient: linear-gradient(to right, #d8d4d1, #ffffff);

    --navbar-border: #cacbcd;
    /* --body-bg: linear-gradient(to right, #ece9e6, #ffffff); */
    /* --body-bg: linear-gradient(to right, #cdd0d3, #dce2eb); */
    --body-bg: #e6eaf2;
    /* --dark1: linear-gradient(to right, #ece9e6, #ffffff); */
    --dark1: #e6eaf2;
    /* --dark2: rgb(226, 221, 221); */
    --dark2: #f6f6f7;
    /*  */
    /* --dark3: rgb(247, 251, 254);; */
    --dark3: #eff1f4;
    --text-grey-light: #19222d;
    --text-grey-dark: #0e131a;
    --border: #cacbcd;
    --text-grey-white: black;
    --select: #acb6c4;
    --text-accent: #625984;

    --accent-secondary: #347fe7;
    --accent-5: #15726a;
    --text-highlight-dark: #7371fc;

    --title-gradient: linear-gradient(
        90deg,
        #4f4db3 0%,
        #aa9fd4 49.48%,
        #4f4db3 100%
    );
}
