.main_container {
    z-index: 10;
    width: 380px;
    /* padding: 1rem; */

    height: calc(100vh - 9rem);
    position: absolute;

    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 0;
    top: 60px;
}

.container {
    z-index: 10;
    width: 100%;
    /* padding: 1rem; */

    height: 400px;
    position: absolute;
    background: var(--dark2);
    border-radius: 4px;
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    right: 0;
    /* top: 60px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .header,
.container .footer {
    padding: 1rem;
    background: var(--dark1);
    height: 50px;
}

.container .header {
    color: var(--text-grey-white);
}

.container .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 300px;
    overflow-y: scroll;
    padding: 8px;
}

.container .content::-webkit-scrollbar {
    width: 0.25rem;
}

.container .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    padding: 4px 16px;
    font-size: var(--body-size);

    line-height: var(--body-lh);

    display: block;

    max-height: 3rem;
    cursor: pointer;
    text-align: center;

    background: transparent;
    text-transform: uppercase;

    color: var(--text-accent);
    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;
    background: linear-gradient(
        270deg,
        #7371fc,
        #cdc1ff,
        #7371fc,
        rgba(34, 34, 34, 0),
        rgba(34, 34, 34, 0)
    );
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: 1px solid var(--text-highlight-dark);
}

.footer button:hover, .footer button:focus-visible {
    color: var(--body-bg);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
}


