.portfolio_banner_rectangle_container {
    position: relative;
    font-family: var(--font-family);
    width: 100%;
    height: 100px;
    margin-top: 4px;

    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;

    padding: 8px;
   

    display: flex;


   

    
    

 
}

.portfolio_banner_rectangle_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    z-index: 1;
}

.portfolio_banner_level_container {
    display: flex;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding: 4px 8px;
    height: auto;
    display: none;
    z-index: 2;
    background: rgba(18, 18, 26, 0.9);
   

    z-index: 3;
}

.header_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    gap: 8px;
    padding: 4px;
    z-index: 2;
}

.header_button:hover {
    background-color: var(--dark3);
}

.header_button:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}
@media only screen and (min-width: 568px) {
.portfolio_banner_level_container{
    display: flex;
}
}

@media only screen and (max-width: 768px) {
    .portfolio_banner_rectangle_content {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    
    .portfolio_banner_level_container {
        display: flex;
        flex-shrink: 0;
        justify-content: flex-end;
    }

    .portfolio_banner_rectangle_container {
        justify-content: space-between;
        border-radius: 24px 24px 0px 0px;
        height: 150px;
        margin-top: 0;
        background: var(--dark1);
        padding: 1rem;
        border: none;
        overflow: hidden;

      

        display: grid;
        grid-template-columns:  auto auto;
    }
    .portfolio_banner_rectangle_content {
        justify-content: flex-start;
        margin-bottom: 10px;
    }
}
