.portfolio_banner_rectangle_container {
    position: relative;
    font-family: var(--font-family);
    width: 100%;
    height: 100px;
    margin-top: 4px;

    background-size: cover;
    justify-content: space-between;
    align-items: flex-end;

    padding: 8px;
    position: relative;

    display: flex;

    background: radial-gradient(
            45.48% 70.71% at 0% 100%,
            rgba(115, 113, 252, 0.2) 0%,
            rgba(115, 113, 252, 0.2) 11.79%,
            rgba(115, 113, 252, 0.19) 21.38%,
            rgba(115, 113, 252, 0.19) 29.12%,
            rgba(115, 113, 252, 0.18) 35.34%,
            rgba(115, 113, 252, 0.16) 40.37%,
            rgba(115, 113, 252, 0.15) 44.56%,
            rgba(115, 113, 252, 0.13) 48.24%,
            rgba(115, 113, 252, 0.12) 51.76%,
            rgba(115, 113, 252, 0.1) 55.44%,
            rgba(115, 113, 252, 0.08) 59.63%,
            rgba(115, 113, 252, 0.07) 64.66%,
            rgba(115, 113, 252, 0.05) 70.88%,
            rgba(115, 113, 252, 0.03) 78.62%,
            rgba(115, 113, 252, 0.01) 88.21%,
            rgba(115, 113, 252, 0) 100%
        ),
        #06060c;
}

.portfolio_banner_rectangle_content {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
    z-index: 1;
}

.portfolio_banner_level_container {
    display: flex;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding: 4px 8px;
    height: auto;
    display: none;
    z-index: 2;
    background: rgba(18, 18, 26, 0.9);

    z-index: 3;
}

.header_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    gap: 8px;
    padding: 4px;
    z-index: 2;
}

.header_button:hover {
    background-color: var(--dark3);
}

.header_button:focus-visible {
    box-shadow: var(--glow-light-box-shadow);
}
@media only screen and (min-width: 768px) {
    .portfolio_banner_level_container {
        display: flex;
        flex-shrink: 0;
    }

    .portfolio_banner_rectangle_container {
        border-radius: 24px 24px 0px 0px;
        height: 150px;
        margin-top: 0;
        background: var(--dark1);
        padding: 1rem;
        border: none;
        overflow: hidden;
    }
    .portfolio_banner_rectangle_content {
        justify-content: flex-end;
        margin-bottom: 10px;
    }
}
