.rectangle_container {
    font-family: var(--font-family);
    width: 100%;
    height: calc(20%);
    /* height: 250px; */

    background: var(--portfolio-banner);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: none;
    justify-content: space-between;
    align-items: flex-end;

    border-radius: 24px;

    padding: 1rem;
    position: relative;
    display: none;
}

.settings_container {
    position: absolute;
    top: 10px;
    right: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.settings_container button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    gap: 4px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    border-radius: 50px;
    transition: all var(--animation-speed) ease-in-out;
}

/* .settings_container button:hover{
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2), 0px 0px 21px rgba(205, 193, 255, 0.2), 0px 0px 12px rgba(205, 193, 255, 0.2), 0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5), 0px 0px 2px rgba(205, 193, 255, 0.2);
} */

.button_following {
    background: var(--title-gradient);
    padding: 3px;
}

.button_following:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);

    box-shadow: 0px 15px 20px rgba(77, 6, 112, 0.4);
    transform: translateY(-3px);
}

.button_not_following {
    background: transparent;

    color: var(--accent5);

    transition: all var(--animation-speed) ease-in-out;
    background: var(--title-gradient);
    background-position: 1% 50%;
    background-size: 180% 300%;
    text-decoration: none;
    border: 1px solid var(--accent5);
}

.button_not_following:hover {
    color: var(--text3);
    border: 1px solid rgba(223, 190, 106, 0);
    background-position: 99% 50%;
    box-shadow: 0px 15px 20px rgba(77, 6, 112, 0.4);
}

/* .background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(180deg, rgba(23, 29, 39, 0) 0%, var(--dark1) 100%), url('../../../assets/images/waveform.svg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    



} */

.account_container {
    display: flex;
    flex-direction: row;
    gap: 1.375em;
    z-index: 2;
}

.avatar_image {
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background: var(--title-gradient);
    padding: 2px;
}
.account_container img {
    max-width: 100%;

    border-radius: 50%;
}

.account_names {
    display: flex;
    flex-direction: column;
}

.account_names img {
    max-width: 100%;
    width: 56px;
    aspect-ratio: 1;
}

.name {
    font-weight: 300;
    font-size: var(--header1-size);
    line-height: var(--header1-lh);

    letter-spacing: -0.02em;
    color: var(--text1);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.name div {
    cursor: pointer;
}

.hash {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    /* text/grey light */

    color: var(--text2);
}

.nft_container {
    /* position: relative;
    right: 0;
    bottom: 0; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 2;
    display: none;
}

.nft_container img {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 24px;
}

/* Desktop screen Sizes */
@media only screen and (min-width: 500px) {
    .nft_container img {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 4px;
    }
}
@media only screen and (min-width: 1200px) {
    .rectangle_container {
        display: flex;
        flex-shrink: 0;
    }

    .nft_container {
        display: flex;
    }
    .nft_container img {
        width: 60px;
    }
}
