.header_container {
    background: var(--dark1);
    padding: 10px 20px;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* background: red; */
}

.header_container svg {
    cursor: pointer;
    color: var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container h2 {
    font-weight: 300;
    font-size: var(--header1-size);
    line-height: 30px;
    display: flex;
    /* align-items: center;
text-align: center; */
    letter-spacing: -0.02em;

    color: var(--text1);
}
