.modal_container {
    width: 400px;
    padding: 1rem;
    background: var(--dark1);
}

/* Transaction details */

.confSwap_detail_note {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    font-weight: 300;

    /* padding: 1.5rem 0; */

    text-align: center;
}

/* arrow */

.arrow_container {
    width: 100%;
    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.main_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main_container section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.currency_row_container {
    width: 100%;
    background: var(--dark2);
    display: grid;
    grid-template-columns: auto 140px;
    align-items: center;

    border-radius: var(--border-radius);
    padding: 0 2rem;
    height: 40px;
}

.currency_row_container h2,
.limit_row_container h2 {
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    letter-spacing: -0.02em;
}

.logo_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}

.logo_display img {
    width: 32px;
}

.limit_row_container {
    width: 100%;
    background: var(--dark2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    letter-spacing: -0.02em;
    border-radius: var(--border-radius);
    padding: 0 2rem;
    height: 35px;
}
.extra_info_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 4px;
}
.extra_info_container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.extra_info_container .row p {
    font-weight: 300;
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.warning_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-top: 1rem;
    border: solid 1px var(--other-red);
    border-radius: 4px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(231, 86, 112, 0.1) 0%,
        rgba(231, 86, 112, 0.1) 100%
    );
    color: var(--other-red);

    font-weight: 200;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.warning_box div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warning_box p {
    color: var(--text2);
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding-top: 6px;
}

.warning_box button {
    cursor: pointer;
    background: var(--other-red);
    color: var(--dark1);
    outline: none;
    border: none;
    border-radius: var(--border-radius);

    padding: 6px 8px;
}
