.main_container{
    position: relative;
    background: var(--dark1);
    /* width: 100%;
    height: 100%; */
    display: grid;
    grid-auto-rows: auto;
    row-gap: 16px;
    border-radius: 4px;
    margin: 1rem 0;
    
    padding: 1rem ;
   
 
}

.item_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}