.tokens_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.tokens_info_simplify {
    background: var(--dark1);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.tokens_info_simplify_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    grid-gap: 1rem;
    gap: 1rem;
    overflow: hidden;
}
.tokens_info_simplify section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.tokens_images {
    display: flex;
    flex-direction: row;
    gap: 7px;
    cursor: pointer;
}

.favorite_button {
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.amount:focus-visible {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px var(--accent5),
        0px 0px 2px rgba(205, 193, 255, 0.2);
}
.favorite_button svg {
    transition: all var(--animation-speed) ease-in-out;
}

.tokens_images img {
    width: 18px;
}

.denom_toggle_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background: transparent;
    outline: none;
    border: none;
    padding: none;
}

.denom_toggle_button:focus-visible {
    border: 1px solid var(--text1);
}
.tokens_name {
    letter-spacing: -0.02em;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    font-weight: 400;
    color: var(--text1);
    cursor: pointer;
}

.mono_space_tooltip {
    color: var(--text1);
    border-radius: 4px;
    padding: 12px;
    white-space: nowrap;
    width: 350px;
    background: var(--dark3);
}

.mono_space_tooltip p {
    font-family: monospace !important;
}
.mono_space_tooltip svg {
    cursor: pointer;
}
.tokens_images,
.tokens_name,
.fav_button,
.settings_container button {
    transition: all var(--animation-speed) ease-out;
}

.tokens_name:hover,
.fav_button:hover,
.settings_container button:hover {
    color: var(--text1);
}

@media only screen and (min-device-width: 200px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .graph_container {
        /* display: none; */
        margin-bottom: 15px;
    }

    .chart_image,
    .time_frame_container,
    .token_info_container {
        display: none;
    }
}

@media (min-width: 968px) {
    .tokens_name {
        font-weight: 300;
        font-size: var(--header1-size);
        line-height: var(--header1-lh);
        color: var(--text1);
    }
    .tokens_images img {
        width: 25px;
    }

    .graph_style {
        width: 100%;
    }
}

.chart_tooltips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0;
}
