.steps_display_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    backdrop-filter: blur(3px);
    padding: 1rem;
    border-radius: 4px;
}

.step_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.step_active {
    width: 30px;
    height: 30px;
    background: var(--title-gradient);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 35px 20px rgba(121, 125, 199, 0.1);
}

.step_active div {
    background: var(--dark2);
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.step_non_active {
    box-shadow: 0px 35px 20px rgba(0, 0, 0, 0.3);
    width: 30px;
    height: 30px;
    background: var(--dark2);
    border-radius: 50%;
}
.step_completed {
    width: 30px;
    height: 30px;
    background: var(--title-gradient);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 35px 20px rgba(121, 125, 199, 0.1);
}

.step_completed div {
    background: var(--dark2);
    width: 90%;
    height: 90%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;

    animation: bounce 0.5s ease-in-out;
}

.step_content div {
    position: relative;
}

.step_content .step_completed::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 5px;
    background: #cdc1ff;
    width: 125px;
    left: 100%;
    top: calc(50% - 2px);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.9);
    }

    66% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@media only screen and (min-width: 768px) {
    .steps_display_container {
        display: flex;
        flex-direction: row;

        align-items: center;
        /* gap: 1rem; */
    }
}
