.container {
    display: flex;
    flex-direction: column;

    gap: 4px;
    width: 100%;

    max-height: 90%;
    overflow-y: scroll;

    background: url('../../../../assets/images/backgrounds/background.png')
        no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 0.5rem 1rem;
}

.container .content {
    display: grid;
    grid-template-columns: repeat(2, 215px) auto;
    gap: 8px;
}

.content section {
    width: 100%;
}
.right_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right_container_top {
    padding: 0 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 8px;
}

.card_container {
    background: rgba(23, 29, 39, 0.25);

    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);

    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.token_display_container {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 8px;
    background: rgba(23, 29, 39, 0.3);
    height: 237px;

    backdrop-filter: blur(10px);
    border-radius: 4px;
}
.token_display_container .token_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.token_display_container img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.token_display_container h3 {
    font-weight: 200;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-family: var(--mono);
}
.token_display_container p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.card_container .title {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.card_container .info {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    color: var(--text1);
    font-family: var(--mono);
}
.pool_composition_container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background: rgba(23, 29, 39, 0.25);

    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
}

.pool_composition_container .title {
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
}

.pool_composition {
    display: flex;
    flex-direction: column;
}

.composition_row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 4px 0;
}

.composition_row_header {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    font-weight: 500;
}

.composition_row .token_display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.composition_row .token_display img {
    width: 30px;
}
.composition_row:first-of-type {
    font-weight: 400;
}

.token_display p:nth-of-type(2) {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.right {
    text-align: end;
}

/* tab */
.time_tab_container {
    background: rgba(23, 29, 39, 0.3);

    gap: 8px;
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.time_tab_container nav {
    height: 23px;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.time_tab_container main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    user-select: none;
}

.time_tab_container ul,
.time_display {
    /* display: flex; */
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
}

.time_tab_container li {
    width: 100%;
    position: relative;

    cursor: pointer;
    /* height: 23px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    position: relative;
    user-select: none;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--accent5);
}

.selected {
    color: var(--accent5);
    position: relative;
}

/* time display */

/* .time_display{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
  } */

.time_display .time_display_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    height: 74px;
}

.time_display .time_display_content p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.time_display .time_display_content h6 {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text1);
    font-family: var(--mono);
}

.small_screen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.large_screen {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
}
/* @media only screen and (min-width: 900px) {

    .time_display, .time_tab_container  ul{

        grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
      }
  } */
