.deposit_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}

.hex_address {
    user-select: all;
}

.info_text_non_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}
.info_text_clickable {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
    cursor: pointer;
}

.gas_pump {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    color: var(--text1);
    font-size: var(--body-size);
    line-height: var(--body-lh);
}

.svg_container {
    background: var(--dark1);
    width: 20px;
    height: 20px;
    padding-right: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.additional_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.max_button {
    cursor: pointer;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    outline: none;
    border: none;
    background: var(--dark2);
    color: var(--text-highlight-dark);

    width: 25px;
    margin-left: 6px;
    max-height: 20px;
    transition: all var(--animation-speed) ease-in-out;
}
