.container,
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.header > h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.filter_options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.search_and_filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.text_search_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    height: 24px;
    padding: 0px 4px 0px 8px;
    gap: 4px;
    background-color: var(--dark4);
}

.text_search_box > input {
    width: 100%;
    padding: 0 8px;
    background: transparent;
    color: var(--text1);
    outline: none;
    border: none;
    opacity: 1;
    transition: all var(--animation-speed) ease-in;
    cursor: normal;
    font-size: 12px;
}

.searchInput::placeholder {
    color: var(--text2);
}

.sort_toggles {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.sort_toggles > button {
    width: 110px;
    height: 24px;
    border: 1px solid var(--dark3, #1e1e24);
    background: var(--dark4, #171f22);
    color: var(--text2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: all var(--animation-speed) ease-in-out;
}

.buttonOn:hover,
.buttonOff:hover {
    border: 1px solid var(--text1);
    color: var(--text1);
}

.buttonOn {
    color: var(--accent1) !important;
    border: 1px solid var(--accent1) !important;
}

.filters {
    width: 240px;
    position: relative;
}

.timeDropdownContent {
    width: 100%;
    display: grid;
    grid-template-columns: auto 25px;
    align-items: center;
}
.timeDropdownButton {
    border-left: 4px solid var(--accent1, #62ebf1);
    background: var(--dark4, #171f22);
    display: flex;
    padding: 4px 4px 4px 8px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 24px;
    width: 100%;
}
.timeDropdownButton p {
    font-size: 12px;
    color: var(--text1);
}

.sort_direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.hi:hover {
    color: var(--accent1);
    opacity: 50%;
}
.dropdown {
    height: auto;
    width: 155px;
    background-color: var(--dark4);
    position: absolute;
    top: 30px;
    overflow-y: scroll;
    padding: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 0.5px solid var(--accent1);
}
.timeItem {
    font-size: 12px;
    color: var(--text1);
}

.timeItem:hover {
    background: var(--dark2);
}

.tickerItemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    border-left: 4px solid var(--accent2);
    border-right: 4px solid var(--accent2);
    align-items: center;
 
    font-size: 18px;
    color: var(--text1);
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
    vertical-align: middle;

    
    height: 32px;
    
}

.tickerItemContainer:hover {
    background: var(--dark4);
}
.tickerItemContainer p:first-of-type {
    text-transform: uppercase;
}
.tickerItemContainer p {
    padding: 0 8px;
}

.tickerItemContainer p:nth-of-type(3),
.tickerHeader p:nth-of-type(3) {
    text-align: end;
}

.statusContainer {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tickerStatus {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  
}
.tickerTableContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tickerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    color: var(--text3);
    font-size: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    padding-left: 12px;
}

.tickerHeader span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text3);
}
.tickerTableContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
}
.active{ background: #28585D; }

.marketCap {
    text-align: end;
}

.marketCapHeader {
    text-align: end;
    padding: 0 12px;
}

.buttonOn,
.buttonOff {
    outline: 1px solid green;
}

@media (min-width: 780px) {
    .tickerTableContent {
     
       
        /* height: calc(100vh - 200px);
        overflow-y: scroll; */
        height: 100%;
        overflow-y: scroll;
    

       
    }

}

@media (min-width: 1280px) {
    .content {
        display: grid;
        align-items: center;
    }

    .content h2 {
        color: var(--text1, #ceffff);
        font-size: 36px;
        text-transform: uppercase;
    }
}
@media (max-width: 1280px) {
    .tickerTableContent{
    
        max-height: 60svh;
        overflow-y: scroll;
    }
}

@media (max-width: 780px) {
    .container {
        margin-bottom: 70px;
        
    }

}

@media (max-width: 600px) {
    .filter_options {
        flex-wrap: wrap;
    }

    .sort_toggles {
        width: 100%;
        justify-content: flex-start;
    }

}