/* top-level JSX parent component */
.ticker_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all var(--animation-speed) ease-in-out;
}

/* transparent ticker arrow in base state with transition */
.ticker_arrow {
    transition: all var(--animation-speed) ease-in-out;
    color: #f0f0f800;
}

/* add color to ticker arrow when parent elem is hovered */
.ticker_name:hover .ticker_arrow {
    color: var(--text2);
}

/* styles to apply universally to cells in the row */
/* will be overridden by lower CSS in this file */
.ticker_item > * {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
}

/* .ticker_arrow {
    visibility: hidden;
} */

.active {
    background-color: #28585d;
}

.active:hover {
    background-color: var(--dark3);
}

.inactive:hover {
    background-color: var(--dark2);
}

.ticker_name {
    flex: 1 10 auto;
}

.market_cap {
    flex: 1 10 auto;
}

.auction_status {
    flex: 1 10 auto;
}

.time_remaining {
    flex: 1 10 auto;
}

.native_tkn_committed {
    flex: 1 10 auto;
}

.native_tkn_reward {
    flex: 1 10 auto;
}