.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 8px;
    scrollbar-color: var(--dark2) var(--dark2);
}

.scrolling {
    scrollbar-color: var(--accent1) var(--dark2);
}
.justifyBetween {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    overflow-y: scroll;
}

.tickerContainer {
    display: flex;
    flex-direction: column;
    /* outline: 1px solid green; */
}

.openBidContainer {
    padding-top: 8px;
}

/* empty space between divider and begining of content */
.openBidContainer > *:first-child {
    margin-bottom: 8px;
}

.maxMarketContainer {
    padding-top: 8px;
}

/* empty space between divider and begining of content */
.maxMarketContainer > *:first-child {
    margin-bottom: 8px;
}

.tickerContainer h2 {
    color: var(--text1, #f0f0f8);

    font-size: 36px;
    text-transform: uppercase;

    height: 43px;
}

.tickerContainer h3 {
    color: var(--text1, #f0f0f8);
    font-size: 24px;
    text-transform: uppercase;
}

.tickerRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.maxRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}
.tickerLabel {
    color: var(--text2, #8b98a5);
    letter-spacing: -0.36px;
    text-transform: uppercase;
}

.tickerLabelTooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--text2, #8b98a5);
    letter-spacing: -0.36px;
    text-transform: uppercase;
    font-size: 20px;
}
.progressBar {
    width: 27.9px;
    height: 12px;
    opacity: 0.5;
    background: var(--accent1, #0ccdff);
}
.progressContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.progressContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.progressValue {
    color: var(--accent1, #0ccdff);
    font-size: 18px;
}
.maxDropdownContainer {
    position: relative;
}
.maxDropdownContent {
    height: 168px;
    width: 100%;
    background-color: var(--dark4);
    position: absolute;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px;
    z-index: 2;
}

.maxDropdownButton {
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    background: var(--dark2);
    display: flex;
    justify-content: space-between;
    height: 42px;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px;
    color: var(--text2);
}
.maxDropdownButton p {
    color: var(--text1);
}
.maxRow {
    height: 26px;
    cursor: pointer;
    color: var(--text2);
}
.maxRow p {
    color: var(--text1);
}
.maxRow:hover {
    background: var(--accent2);
    transition: all var(--animation-speed) ease-in-out;
}

.userQtyDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--text2);
    font-size: 10px;
}

.maxButtonContainer p {
    font-size: 18px;
}

.extraInfoContainer {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    /* border: 1px solid var(--dark3, #1e1e24); */
    margin-bottom: 8px;
}
.extraRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alignCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    color: var(--text2);
}

.extraRow p {
    font-size: 14px;
}
.buttonOn {
    color: var(--accent1) !important;
    border: 1px solid var(--accent1) !important;
}
.bidButton {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--accent1, #0ccdff);
    color: var(--dark1);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all var(--animation-speed) ease-in-out;
    font-size: 24px;
    text-transform: uppercase;
}

.bidButtonDisabled {
    pointer-events: none;
    background: var(--dark4);
    border: none;
    color: var(--text2);
}
.bidButtonDesktop:hover {
    background: var(--accent2);
    color: var(--dark1);
}
.create_button_disabled {
    border: none;
    background-color: var(--accent1);
}

.flexColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.allocationContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.allocationContainer h3 {
    color: var(--text1, #ceffff);
    font-size: 20px;
}

.allocationDisplay {
    background: var(--dark4, #171f22);
    font-size: 20px;
    color: var(--accent1, #62ebf1);
    padding: 8px;
    display: flex;
    align-items: center;
}

.tickerNameContainer {
    display: grid;
    grid-template-columns: auto 150px;
    gap: 8px;
    align-items: center;
}

.commentWatchlistContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commentButton {
    border: 1px solid var(--dark2, #111a1e);
    background: var(--dark2, #111a1e);
    padding: 4px 16px;
    color: var(--text2, #789090);
    font-size: 14px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
}

.commentButton:hover {
    transition: all var(--animation-speed) ease-in-out;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

.watchlistButtonInactive,
.watchlistButtonActive {
    padding: 4px;
    background: var(--dark2);
    border: 1px solid var(--dark2);
    height: 25px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlistButtonActive,
.watchlistButtonInactive:hover {
    transition: all var(--animation-speed) ease-in-out;
    border: 1px solid var(--accent1);
    color: var(--accent1);
}

@media (min-width: 968px) {
    .container {
        padding: 0;
        padding: 12px 0;
        /* border-left: 1px dashed var(--dark3); */
        position: relative;
        overflow: hidden;

        height: calc(100vh - 85px);
    }

    .bidButton {
        margin: 0 auto;
        width: 100%;
    }
}
