.denomination_switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    min-height: 33px;
    font-weight: 300;
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: right;
    color: var(--text-grey-light);
    padding: 0 1rem;
}

.denomination_switch button {
    cursor: pointer;
    background: var(--dark2);
    min-width: 2rem;
    /* padding: 0.1rem; */
    font-size: var(--body-size);
    line-height: var(--body-lh);
    text-align: center;
    color: var(--text-grey-light);
    outline: none;
    border: solid 0.2px transparent;
    border-radius: 50px;
    padding: 5px 8px;
    transition: all var(--animation-speed) ease-in-out;
}

/* .denomination_switch button:hover{
    background: var(--title-gradient);
    transition: all var(--animation-speed) ease-in-out;
   
} */
.denomination_switch .non_active_button:hover {
    box-shadow: 0px 0px 36px rgba(205, 193, 255, 0.2),
        0px 0px 21px rgba(205, 193, 255, 0.2),
        0px 0px 12px rgba(205, 193, 255, 0.2),
        0px 0px 7px rgba(205, 193, 255, 0.2), 0px 0px 4px #cdc1ff,
        0px 0px 2px rgba(205, 193, 255, 0.2);
}

.denomination_switch .active_button {
    border: solid 0.2px transparent;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, #7371fc, #cdc1ff, #7371fc);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--dark2) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;
}
