.container {
    width: 100%;
    background: var(--dark1);

    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.4rem 8px;
    display: grid;
    grid-template-columns: 40px auto;

    /* align-items: center; */
}

.container:focus-visible,
.row button:focus-visible,
.row a:focus-visible,
.info button:focus-visible,
.row svg:focus-visible {
    outline: 1px solid white;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}
.status {
    width: 50px;
}

/* .action{
cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */

.info {
    display: flex;
    flex-direction: column;
}

.info div {
    color: var(--text1);
}

.info p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}

.pending {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(
        45deg,
        transparent,
        transparent 40%,
        var(--accent1)
    );

    animation: animate 2s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row p {
    color: var(--text2);
}
.pending:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: var(--dark1);
    border-radius: 50%;
    z-index: 2;
}
.pending:after {
    background: linear-gradient(
        45deg,
        transparent,
        transparent 40%,
        var(--accent1)
    );

    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    border-radius: 50%;
    z-index: 1;
    filter: blur(60px);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(10deg);
    }
}
