
.ncontainer:focus-visible,
.info button:focus-visible,
.column button:focus-visible,
.column a:focus-visible {
    outline: 1px solid white;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
}
.status {
    display: flex;
    margin: auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.info div {
    color: var(--text1);
}

.info p {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    color: var(--text2);
}



.column p {
    color: var(--text2);
}


.nContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: var(--dark2);

    border-radius: 5px;
    padding: 0.4rem 8px;

    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 4px;
}

.leftSide{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    cursor: pointer;
}

.column{
    display: flex;
    flex-direction: column;
}
.alignEnd{
    display: flex;
    align-items: flex-end;
}