.portfolio_container{
    padding: 2rem;
}

.waveform > path{
    animation: move-forever 10s cubic-bezier(.55,.5,.45,.5)     infinite;

}

.waveform > path:nth-child(1){
    animation-delay: -2s;
    animation-duration: 7s;
}
.waveform > path:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .waveform > path:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .waveform > path:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  .waveform > path:nth-child(5) {
    animation-delay: -6s;
    animation-duration: 23s;
  }
  .waveform > path:nth-child(6) {
    animation-delay: -7s;
    animation-duration: 26s;
  }
  .waveform > path:nth-child(7) {
    animation-delay: -8s;
    animation-duration: 29s;
  }
  .waveform > path:nth-child(8) {
    animation-delay: -9s;
    animation-duration: 32s;
  }
  .waveform > path:nth-child(9) {
    animation-delay: -10s;
    animation-duration: 36s;
  }
  .waveform > path:nth-child(10) {
    animation-delay: -11s;
    animation-duration: 39s;
  }
  .waveform > path:nth-child(11) {
    animation-delay: -12s;
    animation-duration: 42s;
  }
  .waveform > path:nth-child(12) {
    animation-delay: -13s;
    animation-duration: 45s;
  }
  .waveform > path:nth-child(13) {
    animation-delay: -14s;
    animation-duration: 48s;
  }
  .waveform > path:nth-child(14) {
    animation-delay: -15s;
    animation-duration: 51s;
  }
  .waveform > path:nth-child(15) {
    animation-delay: -16s;
    animation-duration: 54s;
  }
  .waveform > path:nth-child(16) {
    animation-delay: -17s;
    animation-duration: 57s;
  }
  .waveform > path:nth-child(17) {
    animation-delay: -18s;
    animation-duration: 60s;
  }
  .waveform > path:nth-child(18) {
    animation-delay: -19s;
    animation-duration: 63s;
  }
  .waveform > path:nth-child(19) {
    animation-delay: -20s;
    animation-duration: 66s;
  }
  .waveform > path:nth-child(21) {
    animation-delay: -21s;
    animation-duration: 69s;
  }
  .waveform > path:nth-child(22) {
    animation-delay: -22s;
    animation-duration: 71s;
  }
  .waveform > path:nth-child(23) {
    animation-delay: -23s;
    animation-duration: 74s;
  }
  .waveform > path:nth-child(24) {
    animation-delay: -24s;
    animation-duration: 77s;
  }
  .waveform > path:nth-child(25) {
    animation-delay: -25s;
    animation-duration: 80s;
  }
  .waveform > path:nth-child(26) {
    animation-delay: -26s;
    animation-duration: 83s;
  }
  .waveform > path:nth-child(27) {
    animation-delay: -27s;
    animation-duration: 86s;
  }
  .waveform > path:nth-child(28) {
    animation-delay: -28s;
    animation-duration: 89s;
  }
  .waveform > path:nth-child(29) {
    animation-delay: -29s;
    animation-duration: 92s;
  }
  .waveform > path:nth-child(30) {
    animation-delay: -30s;
    animation-duration: 95s;
  }
  .waveform > path:nth-child(31) {
    animation-delay: -31s;
    animation-duration: 98s;
  }
  .waveform > path:nth-child(32) {
    animation-delay: -32s;
    animation-duration: 101s;
  }
  .waveform > path:nth-child(33) {
    animation-delay: -34s;
    animation-duration: 103s;
  }
  .waveform > path:nth-child(34) {
    animation-delay: -35s;
    animation-duration: 106s;
  }
  .waveform > path:nth-child(35) {
    animation-delay: -36s;
    animation-duration: 109s;
  }
  .waveform > path:nth-child(36) {
    animation-delay: -37s;
    animation-duration: 112s;
  }
  .waveform > path:nth-child(37) {
    animation-delay: -38s;
    animation-duration: 115s;
  }
  .waveform > path:nth-child(38) {
    animation-delay: -39s;
    animation-duration: 118s;
  }
  .waveform > path:nth-child(39) {
    animation-delay: -40s;
    animation-duration: 121s;
  }
  .waveform > path:nth-child(40) {
    animation-delay: -41s;
    animation-duration: 124s;
  }
  .waveform > path:nth-child(41) {
    animation-delay: -42s;
    animation-duration: 127s;
  }
  .waveform > path:nth-child(42) {
    animation-delay: -43s;
    animation-duration: 130s;
  }
  .waveform > path:nth-child(43) {
    animation-delay: -44s;
    animation-duration: 133s;
  }
  .waveform > path:nth-child(44) {
    animation-delay: -45s;
    animation-duration: 136s;
  }
  .waveform > path:nth-child(45) {
    animation-delay: -46s;
    animation-duration: 139s;
  }
  .waveform > path:nth-child(46) {
    animation-delay: -47s;
    animation-duration: 142s;
  }
  .waveform > path:nth-child(47) {
    animation-delay: -48s;
    animation-duration: 145s;
  }
  .waveform > path:nth-child(48) {
    animation-delay: -49s;
    animation-duration: 146s;
  }
  .waveform > path:nth-child(49) {
    animation-delay: -50s;
    animation-duration: 149s;
  }
  .waveform > path:nth-child(50) {
    animation-delay: -51s;
    animation-duration: 151s;
  }
  .waveform > path:nth-child(51) {
    animation-delay: -11s;
    animation-duration: 22s;
  }
  .waveform > path:nth-child(52) {
    animation-delay: -13s;
    animation-duration: 25s;
  }
  .waveform > path:nth-child(53) {
    animation-delay: -14s;
    animation-duration: 28s;
  }
  .waveform > path:nth-child(54) {
    animation-delay: -151s;
    animation-duration: 31s;
  }
  .waveform > path:nth-child(55) {
    animation-delay: -16s;
    animation-duration: 34s;
  }
  .waveform > path:nth-child(56) {
    animation-delay: -17s;
    animation-duration: 36s;
  }



@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }