.portfolio_container {
    padding: 2rem;

    /* background: var(--dark2); */
    transition: all var(--animation-speed) ease-in-out;
    background: var(--dark2);

    height: calc(100vh - 56px);

    display: flex;
    flex-direction: column;

    gap: 1rem;
    /* overflow-y: hidden; */
    /* height: 100%; */
}

/* layouts */

.right_tab_option {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: var(--dark2);
    padding: 4px;
    border-radius: 4px;
    transition: all var(--animation-speed) ease-in-out;
    cursor: pointer;
}

.right_tab_option section {
    cursor: pointer;
}
.full_layout_svg {
    width: 40px;
    height: 20px;
    border-radius: 4px;
    background: var(--dark2);

    transition: all var(--animation-speed) ease-in-out;
}

.half_layout_svg {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: var(--dark2);
}
.shared_layout_svg {
    display: flex;
    flex-direction: row;
    gap: 2px;
    position: relative;

    transition: all var(--animation-speed) ease-in-out;
}
.full_layout_svg_copied {
    width: 30px;
    height: 20px;
    border-radius: 4px;
    background: var(--dark2);
}
.active_layout_style {
    background: var(--title-gradient);
}

.non_connected_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.non_connected_content button {
    width: 30%;
}

/* Switch buttons */
.mobile_toggle_container {
    /* width: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--dark2);
    border-radius: 4px;
    outline: 1px solid var(--text2);
    /* max-width: 200px; */
    margin: 10px auto;
}
.mobile_toggle_container button {
    font-size: var(--body-size);
    line-height: var(--body-lh);
    padding: 4px 1.5rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.mobile_toggle_container button:hover {
    color: var(--text1);
}
.active_button_mobile_toggle {
    color: rgb(0, 0, 0);
    background: var(--accent1);
}

.non_active_button_mobile_toggle {
    color: var(--text1);
    background-color: transparent;
}

@media (min-width: 1200px) {
    .tabs_exchange_balance_container,
    .full_layout_container {
        /* I wish I had a logical answer to this calculation but it was through trial and error. The higher level containers of the app needs to be refactored to prevent this workflow */
        /* height: calc(100vh - 16rem); */
        /* height: 100%; */
        /* overflow-y: hidden; */
        width: 100%;
        display: grid;
        /* margin: 1rem 0; */
        /* max-height: 80%; */

        /* display: grid;
        grid-template-columns: auto auto; */
        /* grid-template-columns: auto 380px; */
        transition: all var(--animation-speed) ease-in-out;
    }

    .tabs_exchange_balance_container {
        width: 100%;
        flex: 1;
        grid-template-columns: auto auto;
        margin-left: 4px;
        /* grid-template-columns: auto 380px; */
        gap: 1rem;
        /* max-height: calc(100vh - 20rem); */
        /* padding: 1rem 0; */

        /* max-height: 80%; */
        /* overflow-y: hidden; */
    }
    .full_layout_container {
        display: grid;
        grid-template-columns: auto 50px;
    }

    .tabs_exchange_balance_container {
        grid-template-columns: auto 380px;
    }

    .mobile_toggle_container {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .portfolio_container {
        overflow-y: hidden;

        max-height: calc(100vh - 7.5rem);
    }
}
