.outside_modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;

    background: rgba(1, 0, 16, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: var(--border-radius);
    transition: all var(--animation-speed) ease-in-out;
}

.modal_body {
    border: solid 1px transparent;
    background-image: linear-gradient(
            rgba(189, 27, 27, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, var(--accent1), var(--accent5), var(--accent1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--dark1) inset;
    transition: box-shadow var(--animation-speed) ease-in-out;

    height: fit-content;
    /* min-height: 300px; */
    min-width: 300px;
    top: 1rem;
   
    position: relative;
    /* max-height: 80vh; */
    color: var(--text1);

    /* min-height: 80vh; */
}

.no_background_modal {
    background: transparent;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0;

    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--text1);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 1rem;
}

.modal_header h2 {
    font-size: var(--header1-size);
    line-height: var(--header1-lh);
    font-weight: 300;
    color: var(--text1);
}

.modal_content {
    background: var(--dark1);
 
    

    /* min-height: 300px; */
}
@media only screen and (min-width: 500px) {
    .modal_body {
        top: 10rem;

        min-width: 407px;
    }
}
