.home_wallpaper_mobile {
    background: linear-gradient(
            to bottom,
            rgba(13, 17, 23, 0),
            rgba(13, 17, 23, 0.1) 80%,
            rgba(13, 17, 23, 0.4) 85%,
            rgba(13, 17, 23, 0.7),
            rgba(13, 17, 23, 0.9),
            rgba(13, 17, 23, 1)
        ),
        url('/src/assets/images/home/home_wallpaper.png') no-repeat;
}

.home_wallpaper {
    background: linear-gradient(
            180deg,
            var(--dark1) 0%,
            var(--dark1) 0%,
            rgba(0, 0, 0, 0) 0%,
            var(--dark1) 100%
        ),
        url('/src/assets/images/home/home_wallpaper.png') no-repeat center
            center;
}
.home2 {
    background: url(/src/assets/images/home/home2.png) no-repeat;
}
.home3 {
    background: url(/src/assets/images/home/home3.png) no-repeat;
}
.home4 {
    background: url(/src/assets/images/home/home4.png) no-repeat;
}
