.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    flex-direction: column;
    height: 100%;

    border-radius: var(--border-radius);
    gap: 2rem;

    background:  linear-gradient(180deg, var(--body-bg) 0%, var(--body-bg) 0%, rgba(0, 0, 0, 0) 0%, var(--body-bg) 100%), url('../../../assets/images/home/home_wallpaper.png') no-repeat
        center center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.hero_container img {
    width: 250px;
    transition: all var(--animation-speed) ease-in-out;
}
.ambient_background {
    display: none;
}
.ambient {
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: clamp(3rem, 12vw + 1rem, 8rem);
    font-weight: 100;
}

@media only screen and (min-width: 768px) {
    .hero_container img {
        width: 500px;
    }
}

.mobile_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    
    height: calc(100dvh - 190px);
   margin-top: 5rem;
   gap: 1rem;
  margin-bottom: 3rem;


  padding: 0 2rem;

 
  }
  
  .mobile_container img {
    width: 100%;
    max-width: 70dvw; 
    height: auto;
  }

  .tagline{
    font-weight: 100;
    max-width: 780px;
    font-size: 24px;
    text-align: start;
    
  }


