.main_container{
    background: linear-gradient(180deg, rgba(13, 17, 23, 0) 0%, #0D1117 88.54%);
    background: darkblue;
    height: 500px;
}

.content_container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_container h1{

    font-family: var(--font-logo);
    color: var(--text-grey-white);
    font-weight: 200;
font-size: 36px;
line-height: 45px;
}