.container {
    border-bottom: 1px solid var(--border);
    padding: 1rem 0 3rem 0;
}

.container h3 {
    color: var(--text1);
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;

    text-align: center;
    margin: 1rem 0;
}

.content {
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    gap: 1rem;
}

.row5,
.row4,
.row2,
.row1,
.row3,
.row6,
.row7 {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    place-items: center;
}

@media only screen and (max-width:1020px) {
    .content{
       display: flex;
       justify-content: center;
       align-items: center;

       width: 100dvw;
      
      

    }

    .content img{
        width: 80px
    }
    
   

}

/* Desktop screen Sizes */
@media only screen and (min-width:1020px) {
    .content {
        max-width: 1020px;
    }

    .row1,
    .row6 {
        display: flex;
        justify-content: center;
    }

    .row2,
    .row3,
    .row4,
    .row5,
    .row6,
    .row7 {
        display: grid;
    }

    .row2,
    .row3,
    .row7 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .row4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .row5 {
        grid-template-columns: repeat(6, 1fr);
    }
    .row5 span {
        color: var(--text1);
        font-size: var(--header-2-size);
        line-height: var(--header-2-lh);
        font-family: var(--font-family);
    }

    /* .row7{ grid-template-columns: 1fr 1fr;} */
}
