.main_container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
  
    height: 100%;
    
    border-radius: var(--border-radius);
    
    
    background: url('../../../assets/images/home/ambient_logo.png') 
    no-repeat
    center center;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}
.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.ambient_background{

  display: none;

}
.ambient{
 
 
 
    background: var(--title-gradient);
    font-family: var(--font-logo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
   font-size: clamp(3rem, 12vw + 1rem, 8rem);
    font-weight: 100;
 
}

.button_container{
    background:red;
    padding: 1px;
    border-radius: var(--border-radius);
}

.action_button {
    width: 100%;
    z-index: 2;
 

    max-width: 16rem;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
      font-size: 16px;
   
      line-height: 24px;
    
    
      
      max-height: 3rem;
      cursor: pointer;
      text-align: center;
  

      
     
     
      color: #CDC1FF;
      transition: all 0.7s ease-out;
      background: linear-gradient(270deg, #5a58c7, #b2a8dd, #4947a1 , rgba(34,34,34,0), rgba(34,34,34,0));
      background-position: 1% 50%;
      background-size: 300% 300%;
      text-decoration: none;
      border: 1px solid #222157;
    
  
    }

    .action_button span{
        background: var(--title-gradient);
        font-family: var(--font-logo);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 100;
        font-size: 30px;
line-height: 38px;
    }
  
    .action_button:hover{
  
      border: 1px solid rgba(223,190,106,0);
      color: black;
      background-position: 99% 50%;
    }
    
   

    /* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

	/* .ambient_background{
    display: block;
    font-size: clamp(40px, 10vw, 15vw);
    font-weight: 700;
    position: relative;
    z-index: 1;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(162,147,255,.3)),to(rgba(22,16,59,.3)));
    background-image: linear-gradient(180deg,rgba(162,147,255,.3),rgba(22,16,59,.3));
    font-family: Averta,sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.19;
  
  }

  .ambient{
    position: absolute;
    z-index: 2;
  } */

}
