@keyframes leftToRight {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(100%);
    }
}

.skeleton_wrapper {
    background: var(--text1);
    height: 40px;
    width: 100%;
    overflow: hidden;
}

.skeleton_wrapper_circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.skeleton {
    height: 100%;
    transform: translate(100%);
    animation: 3s leftToRight linear infinite;
}

.skeleton_indicator {
    width: 5px;
    background: var(--text2);
    height: 100%;
    box-shadow: 0 0 5px 5px var(--text2);
}
