.circleContainer {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: var(--accent4);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    outline: none;
    border: none;
    padding: none;
}

.circleContainerFuta {
    width: 16.66px;
    height: 16.66px;
    background-color: var(--accent1);
    border-radius: 0;
}
.circleButton {
    outline: none;
    padding: none;
    border: none;
    background: transparent;
}
.ring {
    border: 3px solid var(--accent4);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50%;
    left: -50%;
    animation: pulsate 1s ease-out infinite;
    opacity: 0;
}

.ringFuta {
    border: 3px solid var(--accent1);
    border-radius: 0;
    width: 33.33px;
    height: 33.33px;
}

.activityIndicatorDiv {
    height: 30px;
    width: 30px;
    background: var(--dark2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.activityIndicatorDiv span {
    background: var(--title-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
