.main_container{
    margin: 3rem 0;
    display: grid;
    grid-template-columns:  auto 50px;
    align-items: center;
    height: 64px;
}

.row_container{
    display: flex;
    align-items: center;
    width: 100%;
}

.row_container p, .row_container div{
    flex: 1 0;
    flex-flow: column;
    align-items: center;
    padding: 3px 8px;
    font-size: 10px;
}
.column_account, .type_column, .column_qty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background: brown;
}

.account_sing, .side_sing, .type_sing, .qty_sing{
    display: none;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {

    .main_container{
        grid-template-columns:  auto 100px;
    }
    .row_container{
background: rgb(33, 33, 5);

    }

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
.column_account{
    display: none;
}

.account_sing{
    display: flex;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main_container{
        grid-template-columns:  auto 250px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .column_qty, .type_column, .type_sing{
        display: none;
    }

    .qty_sing, .side_sing{
        display: flex;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {

    .main_container{
        grid-template-columns:  auto 400px;
    }


}