.container {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .background_blur {
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);

        position: fixed;
        top: 56px;
        bottom: 64px;
        left: 0;
        right: 0;
        z-index: 99999999;
        pointer-events: none;
        background-color: black;

        /* display: none; */
    }
}
