
  /* chat button */
  
  .chat_button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 30px;
    width: 30px;
    background: #7371fc;
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  
  .chat_bubble {
    cursor: pointer;
    position: relative;
  }
  .bubble {
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.17, 0.61, 0.54, 0.9);
  }
  .line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2.75;
    stroke-linecap: round;
    transition: stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 90;
    stroke-dashoffset: -20;
  }
  .line2 {
    stroke-dasharray: 67 87;
    stroke-dashoffset: -18;
  }
  .circle {
    fill: #ffffff;
    stroke: none;
    transform-origin: 50%;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active .bubble {
    transform: translateX(24px) translateY(4px) rotate(45deg);
  }
  .active .line1 {
    stroke-dashoffset: 21;
  }
  .active .line2 {
    stroke-dashoffset: 30;
  }
  .active .circle {
    transform: scale(0);
  }

 .chat_button , .chat_wrapper,
 .chat_wrapper_active {
    display: none;
 }

 .chat_header{
    width: 100%;
display: flex;
justify-content: space-between;

font-weight: 200;
font-size: 18px;
line-height: 22px;

color: var(--text-grey-white);
 }

 .chat_header_right{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 8px;
 }

 .chat_header svg{
    cursor: pointer;
 }

 /* chat input */
 .input_container{
    background: #242F3F;
    padding: 0 8px;
    display: grid;
    grid-template-columns: auto 60px;
    align-items: center;
    height: 22px;
 }
 .input_container input::placeholder{
    color: var(--text-grey-dark);
 }

 .input_container input{
    background: transparent;
    border-radius: 4px;
    color: var(--text-grey-white);
    font-weight: 300;
font-size: 12px;
line-height: 15px;

outline: none;
border: none
 }

 .input_container .input_right{
    display: flex;
    justify-content: flex-end;
 }




 /* typing */
 .loader {
    text-align: center;
  }
  .loader span {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: var(--text-grey-light);
    border-radius: 20px;
    animation: loader 0.8s infinite alternate;
  }
  .loader span:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  .loader span:nth-of-type(3) {
    animation-delay: 0.6s;
  }
  @keyframes loader {
    0% {
      opacity: 0.9;
      transform: scale(0.5);
    }
    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }
  



 /* messages display */

 .messages_container{
   
    width: 100%;
   
    /* background: var(--dark2); */

    overflow-y: scroll;
 }
 .messages_container::-webkit-scrollbar {
   display: none;
}
  @media only screen and (min-width: 720px) {

 .chat_button , .chat_wrapper,
 .chat_wrapper_active,   .chat_wrapper_full {
    display: grid;
 }
      




  }