.container {
    width: 100%;
    height: 350px;
    background: var(--dark1);
    border-radius: 4px;
}

.container header {
    padding: 8px;
    font-size: var(--header2-size);
    line-height: var(--header2-lh);
    text-align: center;
    border-bottom: 1px solid var(--dark2);
    padding-bottom: 1rem;
}
